<div class="alert alert-secondary" *ngIf="visible">
  <div class="card card-body">
    <h3 class="text-center">From a Provider ({{providers.length}})</h3>
    <small class="text-left">Providers for which we currently support coupon scraping: Beyond Menu</small>
    <select class="form-control mr-4" [(ngModel)]="provider">
      <option *ngFor="let provider of providers" [ngValue]="provider">{{provider}}</option>
    </select>

    <div class="py-2">
      <button class="btn btn-default text-right" (click)="close.emit()">Cancel</button>
      <button class="btn btn-primary" (click)="crawl()">
        <i class="fas fa-hourglass-half"></i> Crawl
      </button>
    </div>
  </div>
  <div class="card card-body mt-4">
    <h3 class="text-center">or From a URL</h3>
    <input [(ngModel)]="provider" placeholder="crawl url">
    <div class="py-2">
      <button class="btn btn-default text-right" (click)="close.emit()">Cancel</button>
      <button class="btn btn-primary" (click)="crawl()" [qLoading]="loading">
        <i class="fas fa-hourglass-half"></i> Crawl
      </button>
    </div>
  </div>
</div>
<q-modal title="Coupon Import" class="import-modal" #importModal (close)="importModal.hide()">
  <div class="coupon-panel">
    <div class="coupon-title">Existed coupons</div>
    <div class="coupon-data">
      <ul class="coupon-list">
        <li *ngFor="let promotion of restaurant.promotions">
          <div>{{promotion.name}}</div>
          <div class="sub-text">{{promotion.excludedOrderTypes.join(', ')}}</div>
        </li>
      </ul>
    </div>
  </div>

  <div class="coupon-panel crawled">
    <div class="coupon-title">
      The following coupon information has been scraped from {{provider}}. Please review  the information below and make edits as desired before importing.
    </div>
    <div class="coupon-data">
      <div class="check-all">
        <label class="custom-checkbox">
          <input (click)="checkCoupon($event)" id="check-all-coupons" value="all" type="checkbox"
                 [checked]="checkedCoupons.length && checkedCoupons.length === coupons.length"/>
          Import All
        </label>
      </div>
      <ul class="coupon-list">
        <li *ngFor="let coupon of coupons">
          <div class="coupon-info">
            <label class="custom-checkbox">
              <input (click)="checkCoupon($event)" [checked]="checkedCoupons.includes(coupon.id)" type="checkbox" value="{{coupon.id}}" />
            </label>
            <div>{{coupon.name}}</div>
          </div>
          <div class="sub-text">{{coupon.excludedOrderTypes.join(', ')}}</div>
        </li>
      </ul>
    </div>
  </div>

  <div class="import-footer">
    <button class="btn btn-small btn-default" (click)='importModal.hide()'>Cancel</button>
    <button class="btn btn-small btn-primary ml-3" (click)='update()'>Import</button>
  </div>
</q-modal>
