<div class="alert alert-secondary" *ngIf="visible">
  <div class="card card-body">
    <h3 class="text-center">From a Provider ({{restaurant.providers?.length}})</h3>
    <small class="text-left">Providers for which we currently support coupon scraping: Beyond Menu, CMO(Chinese Menu Online)</small>
    <select class="form-control mr-4" [(ngModel)]="provider">
      <option *ngFor="let provider of getProviders()" [ngValue]="provider.url">{{provider.name || provider.url}}</option>
    </select>

    <div class="py-2">
      <button class="btn btn-default text-right" (click)="close.emit()">Cancel</button>
      <button class="btn btn-primary" (click)="crawl()">
        <i class="fas fa-hourglass-half"></i> Crawl
      </button>
    </div>
  </div>
</div>
<q-modal title="Coupon Import" class="import-modal" #importModal (close)="importModal.hide()">
  <div class="coupon-panel">
    <div class="coupon-title">Existing coupons</div>
    <div class="coupon-data">
      <ul class="coupon-list">
        <li *ngFor="let promotion of restaurant.promotions">
          <div>{{promotion.name}}</div>
          <div class="sub-text text-danger" *ngIf="promotion.excludedOrderTypes?.length > 0" >Excluded Order Types: {{promotion.excludedOrderTypes.join(', ')}}</div>
        </li>
      </ul>
    </div>
  </div>

  <div class="coupon-panel crawled">
    <div class="coupon-title">
      The following coupon information has been scraped from {{getProviderName()}}. Please review  the information below and make edits as desired before importing.
      <div class="sub-text" *ngIf="failedTypes.length > 0">
        Please note that menu scraping failed for the following service types: [{{failedTypes.join(', ')}}]. This means our knowledge of whether each coupon is usable for a given service type may be incomplete. Please confirm with the restaurant or try scraping coupons again later.
      </div>
    </div>
    <div class="coupon-data">
      <div class="check-all">
        <label class="custom-checkbox">
          <input (click)="checkCoupon($event)" id="check-all-coupons" value="all" type="checkbox"
                 [checked]="checkedCoupons.length && checkedCoupons.length === coupons.length"/>
          Import All
        </label>
      </div>
      <ul class="coupon-list">
        <li *ngFor="let coupon of coupons">
          <div class="coupon-info">
            <label class="custom-checkbox">
              <input (click)="checkCoupon($event)" [checked]="checkedCoupons.includes(coupon.id)" type="checkbox" value="{{coupon.id}}" />
            </label>
            <div>{{coupon.name}}</div>
          </div>
          <div class="sub-text" *ngIf="coupon.excludedOrderTypes?.length > 0">Excluded Order Types: {{coupon.excludedOrderTypes.join(', ')}}</div>
          <div class="sub-text" *ngIf="coupon.freeItemList?.length > 0">
            Free Items:
            <span *ngIf="coupon.freeItemList[0]?.menu">
              {{getFreeItem(coupon.freeItemList[0])}}
            </span>
            <span *ngIf="!coupon.freeItemList[0].menu" class="text-danger">
              Unable to find exact menu item match
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="import-footer">
    <button class="btn btn-small btn-default" (click)='importModal.hide()'>Cancel</button>
    <button class="btn btn-small btn-primary ml-3" (click)='update()'>Import</button>
  </div>
</q-modal>
