<div class="alert alert-secondary" *ngIf="visible">
  <div class="card card-body">
    <h3 class="text-center">From a Provider ({{providers.length}})</h3>
    <div class="text-center py-2">
      <button class="btn btn-primary" (click)="populateProviders()" [qLoading]="loading"><i
        class="fas fa-sync-alt"></i> Populate Providers</button>
    </div>
    <small class="text-left">Providers for which we currently support coupon scraping: Beyond Menu</small>
    <select class="form-control mr-4" [(ngModel)]="providerUrl">
      <option></option>
      <option *ngFor="let provider of providers" [ngValue]="provider.url">{{provider.name}}</option>
    </select>

    <div class="py-2">
      <button class="btn btn-default text-right" (click)="close.emit()">Cancel</button>
      <button class="btn btn-primary" (click)="crawl(true)">
        <i class="fas fa-hourglass-half"></i> Crawl Sync
      </button>
    </div>
  </div>
  <div class="card card-body mt-4">
    <h3 class="text-center">or From a URL</h3>
    <input [(ngModel)]="providerUrl" placeholder="crawl url">
    <div class="py-2">
      <button class="btn btn-default text-right" (click)="close.emit()">Cancel</button>
      <button class="btn btn-primary" (click)="crawl(true)" [qLoading]="loading">
        <i class="fas fa-hourglass-half"></i> Crawl Sync
      </button>
    </div>
  </div>
</div>
<q-modal title="Coupon Import" class="import-modal" #importModal (close)="doImport()">
  <div class="import-tip">
    The following coupon information has been scraped from xxx. Please review  the information below and make edits as desired before importing.
  </div>
  <div class="import-data">
    <div class="check-all"><label class="custom-checkbox"><input type="checkbox"/>Import All</label></div>
    <ul class="crawled-coupons">
      <li *ngFor="let coupon of coupons">
        <label class="custom-checkbox"><input type="checkbox" /></label>
        <div class="coupon-info">
          <div>{{coupon.name}}</div>
          <div></div>
        </div>
      </li>
    </ul>
  </div>
</q-modal>
