<div class="card mb-2" *ngIf="restaurant">
  <h3 class="card-title text-center pt-4 pb-2">
    <i class="far fa-address-card"></i>&nbsp;Contacts</h3>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <table class="table table-borderless table-sm">
        <thead>
          <tr *ngIf="restaurant.channels">
            <th scope="col">Channel</th>
            <th scope="col">Main #</th>
            <th scope="col">Type</th>
            <th scope="col">Notifications</th>
            <th scope="col">Language</th>
            <th scope="col">Provider</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let channel of restaurant.channels || []">
            <td>
              <ng-container *ngIf="channel.type === 'Email'">{{channel.value}}</ng-container>
              <ng-container *ngIf="channel.type !== 'Email'">{{channel.value | tel}}</ng-container>
            </td>
            <td>
              <i *ngIf="showIsMainBizPhone(channel)" class="fa fa-star text-primary"></i>
            </td>
            <td>
              <i class="{{channelTypeToFaClassMap[channel.type]}}"></i>
            </td>
            <td>{{showNotifications(channel.notifications)}}</td>
            <td>{{Languages[channel.language]}}</td>
            <td>{{getProvider(channel)}}</td>
            <td>
              <button class="btn btn-link p0" (click)="editChannel(channel)" *ngIf="!viewOnly">Edit</button>
            </td>
          </tr>
          <tr *ngIf="!viewOnly">
            <td colspan="3">
              <button class="btn btn-link px-0" (click)="editChannel()">+ Add A Channel</button>
            </td>
          </tr>
        </tbody>
      </table>
    </li>
    <li class="list-group-item">
      <table class="table table-borderless table-sm">
        <thead>
          <tr *ngIf="restaurant.people">
            <th scope="col">Name</th>
            <th scope="col">Position</th>
            <th scope="col">Channels</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let person of restaurant.people || [];">
            <td>{{person.title}} {{person.name}}</td>
            <td>{{join(person.roles)}}</td>
            <td>
              <div *ngFor="let c of person.channels || []">
                {{c.type}}: {{c.value}}
              </div>
            </td>
            <td>
              <button class="btn btn-link p0" (click)="editPerson(person)" *ngIf="!viewOnly">Edit</button>
            </td>
          </tr>
          <tr *ngIf="!viewOnly">
            <td colspan="3">
              <button class="btn btn-link px-0" (click)="editPerson()">+ Add A Person</button>
            </td>
          </tr>
        </tbody>
      </table>
    </li>
    <li class="list-group-item">
      <label>Custom Relationship Manager</label>
      <!-- <select [(ngModel)]="crm" class="form-control" (change)="updateCrm($event)"> -->
      <select [(ngModel)]="crm" class="form-control">
        <option *ngFor="let c of crms" [ngValue]="c.username">{{c.username}}</option>
      </select>
      <button class="btn btn-link p0" (click)="updateCrm($event)">Assign</button>
    </li>
  </ul>
</div>

<q-modal #modalChannel>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>

  <q-form-builder [object]="channelInEditing" [showDelete]="channelInEditing.index >= 0" [fieldDescriptors]="channelFieldDescriptors"
    (submit)="submitChannel($event)" (change)="channelFormChange()" (cancel)="cancelChannel($event)" (remove)="removeChannel($event)">
  </q-form-builder>
</q-modal>

<q-modal #modalPerson>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>
  <q-form-builder [object]="personInEditing" [showDelete]="personInEditing.index >= 0" [fieldDescriptors]="personFieldDescriptors"
    (submit)="submitPerson($event)" (cancel)="cancelPerson($event)" (remove)="removePerson($event)">
  </q-form-builder>
</q-modal>
