<div *ngIf="order && order.restaurant" class="card 
           {{order.statusEqual('CANCELED') || order.statusEqual('COMPLETED') ? '': 'app-stand-out'}} 
          {{order.statusEqual('CANCELED') ? 'app-order-finished card-outline-danger' : ''}} 
          {{order.statusEqual('COMPLETED') ? 'card-outline-success app-order-finished' : ''}}" style="height:100%">
  <div class="text-muted" style="position:absolute;font-size:120%">
    <span class="pl-1" routerLink="/order/{{order.id}}">{{order.orderNumber}}</span>

  </div>
  <div class="card-block">
    <h4 class="text-sm-center">
      {{getCustomerName(order)}}
    </h4>
    <div *ngIf="order.customer?.bannedReasons" class="alert alert-danger">
      <i class="fa fa-ban"></i> BANNED: {{getBannedReasons()}}
    </div>

    <!--display a checkmark to indicate it's done-->
    <h4 *ngIf="order.statusEqual('COMPLETED')" class="app-status-done text-success">
      &#10004;
    </h4>
    <!--display an x to indicate it's done-->
    <h4 *ngIf="order.statusEqual('CANCELED')" class="app-status-done text-danger">
      &#10008;
    </h4>

    <h5 *ngIf="getCustomerPhoneNumber(order)" class="text-sm-center">
      <a href="tel:{{getCustomerPhoneNumber(order)}}">{{getCustomerPhoneNumber(order) | tel}}</a>
    </h5>
    <div class="text-sm-center card-text">
      <span>{{getSubmittedTime(order) | MMMd : order.restaurant.offsetToEST}} {{getSubmittedTime(order) | shortTime: order.restaurant.offsetToEST}}</span>
      |
      <strong>{{order.type}}</strong> |
      <strong>{{order.payment.paymentType === 'CREDITCARD' ? 'CREDIT CARD' : 'CASH'}}</strong>
    </div>
    <a *ngIf="order.getDeliveryAddress()" href="http://maps.google.com/?q={{order.deliveryAddress.formatted_address}}">
      <div class="text-sm-center card-text">
        <strong>{{order.getDeliveryAddress().line1}}</strong>
      </div>
      <div class="text-sm-center card-text">
        <strong>{{order.getDeliveryAddress().line2}}</strong>
      </div>
      <div *ngIf="order.deliveryDistance" class="text-sm-center card-text">
        <strong>({{order.deliveryDistance.toFixed(1)}} miles)</strong>
      </div>
    </a>
    <div class="text-sm-center" *ngIf="order.deliveryAddress && order.deliveryAddress.specialInstructions">
      <small>{{order.deliveryAddress.specialInstructions}}</small>
    </div>
    <div *ngIf="order.timeToDeliver" class="text-sm-center card-text alert-success">
      <span class="fa fa-clock-o"></span>
      <strong> scheduled: {{order.timeToDeliver | MMMd : restaurant.offsetToEST}} {{order.timeToDeliver | shortTime: restaurant.offsetToEST}}</strong>
    </div>

    <small>
      <div class="text-sm-center" *ngIf="order.customerPreviousOrderStatus && order.customerPreviousOrderStatus.status=='CANCELED'">
        Note: Customer's
        <a routerLink="/order/{{order.customerPreviousOrderStatus.order}}">previous order</a> was canceled. Reason:
        <span class="text-danger">{{order.customerPreviousOrderStatus.comments}}</span>
      </div>
      <div class="text-danger text-sm-center" *ngIf="!order.customerPreviousOrderStatus">Note: New Customer</div>
    </small>
    <div class="mt-1">
      <app-order-action-bar *ngIf="order.isPending()" [order]="order" (onSetNewStatus)="handleOnSetNewStatus($event)"></app-order-action-bar>
    </div>
    <div [id]="'items-'+order.id">
      <hr>
      <app-order-items [order]="order"></app-order-items>

      <div *ngIf="order.statusEqual('CANCELED')" class="alert alert-danger" role="alert">
        Order was canceled :(
        <div>{{order.getCurrentStatusComments()}}</div>
      </div>
      <div class="text-right">
        <hr>
        <a role="button" class="text-danger text-nowrap card-link" (click)="ban()">
          <i class="fa fa-thumbs-down"></i> Ban</a>
        <a role="button" class="text-danger text-nowrap card-link" (click)="cancel()" *ngIf="canCancel(order)">
          <i class="fa fa-times"></i> Cancel</a>
        <a role="button" class="text-primary text-nowrap card-link" (click)="print()" *ngIf="canPrint()">
          <i class="fa fa-print"></i> Print</a>
        <a role="button" class="text-primary text-nowrap card-link" (click)="fax()" *ngIf="canFax()">
          <i class="fa fa-fax"></i> Fax</a>
        <a role="button" class="text-primary text-nowrap card-link" (click)="adjust()" *ngIf="canShowAdjust(order)">
          <i class="fa fa-dollar-sign"></i> Adjust</a>
        <a role="button" class="text-primary text-nowrap card-link" (click)="showCreditCard()" *ngIf="canShowCreditCard(order)">
          <i class="fa fa-credit-card"></i> View</a>
        <a target="_blank" class="text-primary text-nowrap card-link" href="{{getOrderLink()}}">
          <i class="fa fa-eye"></i> View Order</a>
        <a role="button" class="text-primary text-nowrap card-link" (click)="sendEmail()" *ngIf="canSendEmail()">
          <i class="fa fa-envelope"></i> Send Email</a>
        <a role="button" class="text-primary text-nowrap card-link" (click)="setTexting()">
          <i class="fa fa-comments"></i> Send Text</a>


      </div>

      <div *qIf="showTexting">
        <!--div class="row"-->
        <div>
          <div>
            <label class="mr-2"> Phone:</label>
            <div class="{{!isPhoneValid() ? 'invalid' : ''}}">
              <input type="tel" class="form-control" [(ngModel)]="phoneNumberToText">
            </div>
          </div>
          <div>
            <button class="btn btn-primary" (click)="sendText()" style="min-width: 6rem" [disabled]="!isPhoneValid()">Send</button>
          </div>
        </div>
      </div>




      <!-- <div *ngIf="!order.isPending() && canShowCreditCard(order)" class="text-right">
        <hr>
        <a role="button" class="text-primary card-link" (click)="showCreditCard()"><i class="fa fa-credit-card"></i> View</a>
      </div> -->
    </div>
  </div>
</div>

<q-confirm #confirmModal [title]="confirmTitle" (yes)="confirm()">
  {{confirmBodyText}}
</q-confirm>