<div *ngIf="order && order.restaurant" class="card
           {{order.statusEqual('CANCELED') || order.statusEqual('COMPLETED') ? '': 'app-stand-out'}}
          {{order.statusEqual('CANCELED') ? 'app-order-finished card-outline-danger' : ''}}
          {{order.statusEqual('COMPLETED') ? 'card-outline-success app-order-finished' : ''}}" style="height:100%">
  <div class="order-number">
    <span class="pl-1">{{order.orderNumber}}</span>
    <i class="fa fa-clipboard" (click)="copyToClipboard(order)" style="cursor:pointer;"></i>
  </div>
  <div *ngIf="order.dineInSessionObj" class="qr order-from-row">
    <i class="fas fa-database mr-2 db-icon-cursor" *ngIf="showAllInfo()" (click)="openDBInfoModal(order)"></i>
    <div class="order-from-border mr-2">{{getOrderOrigin(order)}}</div>
    <div *ngIf="orderFromPC(order)" class="order-from-border">
      <i class="fa fa-laptop"></i>
      <i class="fab fa-windows" *ngIf="orderFromWindows(order)"></i>
      <i class="fab fa-apple" *ngIf="orderFromMac(order)"></i>
      <i class="fab fa-linux" *ngIf="orderFromLinux(order)"></i>
      <i class="fab fa-chrome" *ngIf="orderFromChrome(order)"></i>
      <i class="fab fa-safari" *ngIf="orderFromSafari(order)"></i>
      <i class="fab fa-firefox" *ngIf="orderFromFirefox(order)"></i>
      <i class="fab fa-internet-explorer" *ngIf="orderFromIE(order)"></i>
      <i class="fab fa-edge" *ngIf="orderFromEdge(order)"></i>
      <i class="fas fa-question-circle" *ngIf="orderFromBrowserUnknown(order)"></i>
    </div>
    <div *ngIf="orderFromPhone(order)" [ngClass]="{'order-from-border-active': orerFromAppOrPWA(order),'order-from-border':!orerFromAppOrPWA(order)}">
      <i class="fa fa-mobile-alt"></i>
      <i class="fab fa-android" *ngIf="orderFromAndroid(order)"></i>
      <i class="fab fa-apple" *ngIf="orderFromiOS(order)"></i>
      <span *ngIf="orderFromApp(order)" class="order-from-span">App</span>
      <span *ngIf="orderFromPWA(order)" class="order-from-span">PWA</span>
      <i class="fab fa-chrome" *ngIf="orderFromChrome(order)"></i>
      <i class="fab fa-safari" *ngIf="orderFromSafari(order)"></i>
      <i class="fab fa-firefox" *ngIf="orderFromFirefox(order)"></i>
      <i class="fab fa-internet-explorer" *ngIf="orderFromIE(order)"></i>
      <i class="fab fa-edge" *ngIf="orderFromEdge(order)"></i>
      <i class="fas fa-question-circle" *ngIf="orderFromBrowserUnknown(order)"></i>
    </div>
    <div class="qr-layout">
      <i class="fa fa-qrcode ml-2"></i><span class="ml-1">QR {{order.dineInSessionObj.code}}</span>
    </div>
    <!--display a checkmark to indicate it's done-->
    <h4 *ngIf="order.statusEqual('COMPLETED')" class="text-success">
      &#10004;
    </h4>
    <!--display an x to indicate it's done-->
    <h4 *ngIf="order.statusEqual('CANCELED')" class="text-danger">
      &#10008;
    </h4>
  </div>
  <!-- start with pc/phone icon -->
  <div *ngIf="!order.dineInSessionObj" class="qr order-from-row">
    <i class="fas fa-database mr-2 db-icon-cursor" *ngIf="showAllInfo()" (click)="openDBInfoModal(order)"></i>
    <div class="order-from-border mr-2">{{getOrderOrigin(order)}}</div>
    <div *ngIf="orderFromPC(order)" class="order-from-border">
      <i class="fa fa-laptop"></i>
      <i class="fab fa-windows" *ngIf="orderFromWindows(order)"></i>
      <i class="fab fa-apple" *ngIf="orderFromMac(order)"></i>
      <i class="fab fa-linux" *ngIf="orderFromLinux(order)"></i>
      <i class="fab fa-chrome" *ngIf="orderFromChrome(order)"></i>
      <i class="fab fa-safari" *ngIf="orderFromSafari(order)"></i>
      <i class="fab fa-firefox" *ngIf="orderFromFirefox(order)"></i>
      <i class="fab fa-internet-explorer" *ngIf="orderFromIE(order)"></i>
      <i class="fab fa-edge" *ngIf="orderFromEdge(order)"></i>
      <i class="fas fa-question-circle" *ngIf="orderFromBrowserUnknown(order)"></i>
    </div>
    <div *ngIf="orderFromPhone(order)" [ngClass]="{'order-from-border-active':orerFromAppOrPWA(order),'order-from-border':!orerFromAppOrPWA(order)}">
      <i class="fa fa-mobile-alt"></i>
      <i class="fab fa-android" *ngIf="orderFromAndroid(order)"></i>
      <i class="fab fa-apple" *ngIf="orderFromiOS(order)"></i>
      <span *ngIf="orderFromApp(order)" class="order-from-span">App</span>
      <span *ngIf="orderFromPWA(order)" class="order-from-span">PWA</span>
      <i class="fab fa-chrome" *ngIf="orderFromChrome(order)"></i>
      <i class="fab fa-safari" *ngIf="orderFromSafari(order)"></i>
      <i class="fab fa-firefox" *ngIf="orderFromFirefox(order)"></i>
      <i class="fab fa-internet-explorer" *ngIf="orderFromIE(order)"></i>
      <i class="fab fa-edge" *ngIf="orderFromEdge(order)"></i>
      <i class="fas fa-question-circle" *ngIf="orderFromBrowserUnknown(order)"></i>
    </div>
    <!--display a checkmark to indicate it's done-->
    <h4 *ngIf="order.statusEqual('COMPLETED')" class="text-success">
      &#10004;
    </h4>
    <!--display an x to indicate it's done-->
    <h4 *ngIf="order.statusEqual('CANCELED')" class="text-danger">
      &#10008;
    </h4>
  </div>
  <!-- end with pc/phone icon -->
  <div class="card-block mt-3">

    <ng-container *ngIf="showAllInfo()">
      <h4 class="text-sm-center">
        {{getCustomerName(order)}}
      </h4>
      
      <div class="text-danger text-sm-center pb-2" *ngIf="!order.customerPreviousOrderStatus">Note: New Customer</div>
        <!-- 显示用户被禁止的理由(show the banned reson of customer if it exsits!) -->
      <div *ngIf="order.customer?.bannedReasons" class="alert alert-danger">
        <i class="fa fa-ban"></i> BANNED: {{getBannedReasons()}}
      </div>

      <h5 *ngIf="getCustomerPhoneNumber(order)" class="text-sm-center">
        <a href="tel:{{getCustomerPhoneNumber(order)}}">{{getCustomerPhoneNumber(order) | tel}}</a>
      </h5>

      <h5 *ngIf="getCustomerEmail(order)" class="text-sm-center">
        <a href="mailto:{{getCustomerEmail(order)}}">{{getCustomerEmail(order)}}</a>
      </h5>
    </ng-container>
    <ng-container *ngIf="!showAllInfo()">
      <div class="text-center text-warning mt-2 mb-2">
        <strong>Customer Info Not Showing In Accordance with HIPAA Law</strong>
      </div>
    </ng-container>
    <div class="text-sm-center card-text">
      <span>{{getSubmittedTime(order) | adjustedDate : 'MMM d h:mm a' : restaurant.googleAddress.timezone}}</span>
      |
      <strong>{{order.type}}</strong> |
      <strong>{{order.payment.paymentType === 'CREDITCARD' ? 'CC' : 'CASH'}}</strong>
      <span *ngIf="order.payment.paymentType === 'CREDITCARD'"> | </span>
      <strong
        *ngIf="order.payment.paymentType === 'CREDITCARD' && order.payment.method != 'STRIPE'">{{order.payment.method}}</strong>
      <strong
        *ngIf="order.payment.paymentType === 'CREDITCARD' && order.payment.method === 'STRIPE'">RESTAURANT</strong>
      <span *ngIf="order.payment.fattmerchantWebToken"> (FATT)</span>
      <span *ngIf="order?.paymentObj?.stripeObject?.spreedlyGatewayToken"> (SPRE)</span>
      <span *ngIf="order?.paymentObj?.paypalClientId"> (PAYPAL)</span>
    </div>
    <div class="text-uppercase highlight" *ngIf="order.restaurantNotice">
      <strong>{{order.restaurantNotice}}</strong>
    </div>
    <div class="text-sm-center card-text" *ngIf="order.address?.apt">
      <strong>{{order.address.apt}}</strong>
    </div>
    <a *ngIf="order.address" href="http://maps.google.com/?q={{order.address.formatted_address}}">
      <div class="text-sm-center card-text">{{order.address.formatted_address}}
      </div>
    </a>
    <div *ngIf="order.deliveryDistance" class="text-sm-center card-text">
      <strong>({{order.deliveryDistance.toFixed(1)}} miles)</strong>
    </div>

    <div class="text-sm-center" *ngIf="order.address?.specialInstructions">
      Extra Instructions: {{order.address.specialInstructions}}
    </div>
    <div *ngIf="order.timeToDeliver" class="text-sm-center card-text alert-success">
      <span class="fa fa-clock-o"></span>
      <strong> scheduled:
        {{order.timeToDeliver | adjustedDate : 'MMM d h:mm a' : restaurant.googleAddress.timezone}}</strong>
    </div>
    <div *ngIf="order.delivery?.courier" class="text-center">
      <hr>
      <div class="media mt-1 d-inline-block">
        <div class="media-left" *ngIf="order.delivery?.courier?.img_href">
          <img class="media-object img-rounded driver-thubmbnail" src="{{order.delivery?.courier?.img_href}}"
            alt="{{order.delivery?.courier?.name}}">
        </div>
        <div class="media-body pl-1 text-left">
          <div>
            <span class="label">Driver</span><span class="value">{{order.delivery?.courier?.name}}</span>
          </div>
          <!--
          <div>
            <span class="label">Phone</span><span
              class="value">{{(order.delivery?.courier?.phone_number || '').slice(1) | tel}}</span>
          </div>
           -->
          <div>
            <span class="label">Status</span><span
              class="value text-uppercase {{order.delivery?.status === 'canceled' ? 'text-danger' : ''}}">{{order.delivery?.status}}</span>
          </div>
          <div>
            <span class="label">Postmates ID </span><span class="value">{{order.delivery?.id}}</span>
          </div>
          <div class="text-center"><button class="btn btn-link"
              (click)="displayingDeliveryDetails = !displayingDeliveryDetails">{{displayingDeliveryDetails ? 'less...' :
              'more...'}}</button>
          </div>
          <div *ngIf="displayingDeliveryDetails">
            <div *ngFor="let record of getUpdatedStatuses()">
              <span>{{record.created | adjustedDate : 'h:mm a' : restaurant.googleAddress.timezone}}</span>&nbsp;<span
                class="value">{{postmatesStatus(record.status)}}</span>
            </div>
            <div class="text-center"><a href="{{order.delivery.tracking_url}}" target="_blank">Map</a></div>
          </div>
        </div>
      </div>
    </div>
    <small>
      <div class="text-sm-center"
        *ngIf="order.customerPreviousOrderStatus && order.customerPreviousOrderStatus.status=='CANCELED'">
        Note: Customer's
        <a href="javascript:void(0)"
          (click)="openPreviousCanceledOrderModal(order.customerPreviousOrderStatus.order)">previous order</a> was
        canceled. Reason:
        <span class="text-danger">{{order.customerPreviousOrderStatus.comments}}</span>
      </div>
    </small>
    <div class="mt-1">
      <app-order-action-bar *ngIf="order.isPending()" [order]="order" (onSetNewStatus)="handleOnSetNewStatus($event)">
      </app-order-action-bar>
    </div>
    <div [id]="'items-'+order.id">
      <hr>
      <app-order-items [order]="order"></app-order-items>

      <div *ngIf="order.statusEqual('CANCELED')" class="alert alert-danger" role="alert">
        Order was canceled :(<div>{{order.getCurrentStatusComments()}}</div>
        <hr class="text-danger">
        <span>
          Canceled by {{whoCancelOrder(order)}} on {{getOrderCanceledTime(order) | date:'yyyy-MM-dd HH:mm:ss'}}
        </span>
      </div>
      <div class="text-right" *ngIf="showAllInfo()">
        <hr>
        <a role="button" class="text-danger text-nowrap card-link" (click)="ban(order)" *ngIf="!isBanned(order)">
          <i class="fa fa-thumbs-down"></i> Ban</a>
        <a role="button" class="text-danger text-nowrap card-link" (click)="ban(order)" *ngIf="isBanned(order)">
          <i class="fa fa-thumbs-up"></i> Unban</a>

        <a role="button" class="text-danger text-nowrap card-link" (click)="cancel()"
          *ngIf="canCancel(order) && !isCanceled(order)">
          <i class="fa fa-times"></i> Cancel</a>
        <a role="button" class="text-danger text-nowrap card-link" (click)="undoCancel()"
          *ngIf="canCancel(order) && isCanceled(order)">
          <i class="fa fa-times"></i> Undo Cancel</a>
        <a role="button" class="text-primary text-nowrap card-link" (click)="print()" *ngIf="canPrint()">
          <i class="fa fa-print"></i> Print</a>
        <a role="button" class="text-primary text-nowrap card-link" (click)="fax()" *ngIf="canFax()">
          <i class="fa fa-fax"></i> Fax</a>
        <a role="button" class="text-primary text-nowrap card-link" (click)="adjust()" *ngIf="canShowAdjust(order)">
          <i class="fa fa-dollar-sign"></i> Adjust</a>
        <a role="button" class="text-primary text-nowrap card-link" (click)="showCreditCard()"
          *ngIf="canShowCreditCard(order)">
          <i class="fa fa-credit-card"></i> View</a>
        <a *ngIf="isViewable(order)" target="_blank" class="text-primary text-nowrap card-link"
          href="{{getOrderLink()}}">
          <i class="fa fa-eye"></i> View Order</a>
        <a role="button" class="text-primary text-nowrap card-link" (click)="sendEmail()" *ngIf="canSendEmail()">
          <i class="fa fa-envelope"></i> Send Email</a>
        <a role="button" class="text-primary text-nowrap card-link" (click)="setTexting()">
          <i class="fa fa-comments"></i> Send Text</a>
        <a *ngIf="(order.courierId && order.delivery)||(order.type === 'DELIVERY'&&order.restaurantNotice)"
          role="button" class="text-primary text-nowrap card-link" (click)="openChangeOrderTypesModal(order)">
          <i class="fa fa-reply"></i> Change order type</a>
        <a role="button" class="text-primary text-nowrap card-link" (click)="adjustInvoice()">
          <i class="fas fa-file-invoice-dollar"></i> Invoice Adjust</a>
        <a role="button" class="text-primary text-nowrap card-link" (click)="viewNotificationHistory(order)">
          <i class="fas fa-bell"></i> Notifications</a>
      </div>


      <div *qIf="showTexting">
        <div>
          <label class="mr-2">Phone:</label>
          <div class="{{!isPhoneValid() ? 'invalid' : ''}}">
            <select class="form-control" [(ngModel)]="phoneNumberToText">
              <option *ngFor="let phone of phoneNumbersOfRT()" [value]="phone.value">{{phone.value}}</option>
            </select>
          </div>
          <a class="btn-link mt-1" (click)="showPhoneNumberInput = !showPhoneNumberInput" >
            Phone number not in the list? Click here to input a new:
          </a>
          <input *ngIf="showPhoneNumberInput" class="form-control mt-1" type="tel" [(ngModel)]="phoneNumberToText" />
        </div>
        <div>
          <button class="mt-2 float-right btn btn-primary" (click)="sendText()" style="min-width: 6rem"
                  [disabled]="!isPhoneValid()">Send</button>
        </div>
      </div>




      <!-- <div *ngIf="!order.isPending() && canShowCreditCard(order)" class="text-right">
        <hr>
        <a role="button" class="text-primary card-link" (click)="showCreditCard()"><i class="fa fa-credit-card"></i> View</a>
      </div> -->
    </div>
  </div>
</div>

<q-confirm #confirmModal [title]="confirmTitle" (yes)="confirm()">
  {{confirmBodyText}}
</q-confirm>
