<h1 class="text-center">GMB Monitoring</h1>
<div *qIf="gmbWatch">
    <h4>Notification Settings</h4>

    <table>
        <tr>
            <th class="pr-2">
                <i class="far fa-envelope"></i> Email
            </th>
            <td>
                <q-values [(ngModel)]="gmbWatch.notificationSettings.emails"></q-values>
            </td>
        </tr>
        <tr>
            <th>
                <i class="far fas fa-phone"></i> Call
            </th>
            <td>
                <q-values [(ngModel)]="gmbWatch.notificationSettings.phones"></q-values>
            </td>
        </tr>
        <tr>
            <th>
                <i class="far fa-comments"></i> SMS
            </th>
            <td>
                <q-values [(ngModel)]="gmbWatch.notificationSettings.sms"></q-values>
            </td>
        </tr>
    </table>



    {{gmbWatch | json}}
    <h4 class="mt-4">Managed List</h4>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" [(ngModel)]="gmbWatch.enabled" id="enableWatch">
        <label class="form-check-label" for="enableWatch">
            Watch Enabled
        </label>
    </div>
    UNDER CONSTRUCTION
</div>