<div class="container">
  <h2 class="text-center">Agent Call Stats Dashboard</h2>
  <h6 class="text-center">{{ entries }} Entries shown</h6>
  <div class="row">
    <div class="col text-center">
      <button (click)="reload()" class="text-center btn btn-link">
        <i class="fas fa-sync-alt"></i>
        Reload
      </button>
    </div>
  </div>
</div>

<div class="container">
  <div class="row" *ngFor="let item of objData | keyvalue" class="card-body">
    <hr />
    <div>
      Agent Name: <b>{{ item.key }}</b>
    </div>
    <div>Total Calls: {{ getData(item.key).totalCalls }}</div>
    <div>Avg CallTime (Seconds): {{ getData(item.key).avgCallTime }}</div>
    <div>Total Call Time: {{ getData(item.key).totalCallTime }}</div>

    <canvas width="800" height="175" #cmp>{{ item.key }}</canvas>
    <hr />
  </div>
</div>
