<div class="card mb-2">
  <h3 class="card-title text-center pt-4 pb-2">
    <i class="fas fa-gift"></i> Coupons / Promotions</h3>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">

      <div class="row">
        <div *ngFor="let promotion of restaurant.promotions || []" class="col-md-6 col-lg-6">
          <app-promotion-viewer [promotion]="promotion" [menus]="restaurant.menus" (onEdit)="edit($event)">
          </app-promotion-viewer>
        </div>
      </div>
      <button class="btn btn-link px-0" (click)="editNew()">+ Add A Promotion</button>
    </li>

  </ul>
</div>
<q-modal #promotionModal>
  <app-promotion-editor #promotionEditor [menus]="restaurant.menus" [promotion]="promotionInEditing" (onDone)="onDone($event)"
    (onCancel)="onCancel($event)" (onDelete)="onDelete($event)"></app-promotion-editor>
</q-modal>
<!--displaying-->