<div class="card">
  <h1 class="text-center">Dine-In Orders ({{ rows.length }})</h1>

  <div class="card-body">

    <br />
    <table class="table">
      <tr>
        <th>Restaurant</th>
        <th>Order Time</th>
        <th>RT Phone</th>
        <th> Customer Name</th>
        <th> Customer Phone</th>
      </tr>
      <tr *ngFor="let row of rows">
        <td>
          <!-- RT Name -->
          <a routerLink="/restaurants/{{ row.restaurantObj._id }}">{{ row.restaurantObj.name }} </a> <br>
          <small> {{row.restaurantObj._id}}</small>
        </td>
        <td>
          <!-- Order Time -->
          {{row.createdAt | date : 'short'}}
        </td>
        <td>
          <!-- RT Phone -->
          {{getRtPhone(row.restaurantObj._id)}}
        </td>
        <td>
          <!-- Customer Name -->
          {{getCustomerName(row)}}
        </td>
        <td>
          <!-- Customer Phone -->
          {{getCustomerPhone(row)}}
        </td>
      </tr>
    </table>
  </div>
</div>