<h1>Godaddy to AWS Migration <small>(Total: {{rows.length}})</small></h1>
<div class="text-right">
  <div class="pb-2">
    <div class="form-group form-inline">
      <label>Domain:</label>
      <input [(ngModel)]="domain" type="text" class="form-control">
      <button class="btn btn-primary mx-2" (click)="add()"><i class="fas fa-plus"></i> Add</button>
      <button class="btn btn-primary ml-4" (click)="reload()"><i class="fas fa-sync-alt"></i> Reload</button>

      <button class="btn btn-primary ml-4" (click)="injectValuableDomains()"><i class="fas fa-globe"></i> Inject
        Valuable Domains</button>
    </div>

  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th>
        Score
      </th>
      <th>
        Restaurant
      </th>
      <th>
        Domain
      </th>
      <th>Steps</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of rows">
      <td>
        {{row.restaurant?.score}}
      </td>
      <td>
        {{row.restaurant?.name}}
      </td>
      <td>
        <a href="{{'https://' + row.domain}}" target="_blank">{{row.domain}}</a>

      </td>
      <td class="text-nowrap">

        <div *ngIf="!row.result || expandedRows.has(row)">
          <div *ngFor="let step of row.steps" class="text-nowrap">
            <span style="min-width: 1rem; display: inline-block;">
              <i class="fas fa-check text-success" *ngIf="isStepSuccess(step)"></i>
              <i class="fas fa-exclamation text-danger"
                *ngIf="step.executions && step.executions.length >0 && !isStepSuccess(step)"></i>
            </span>
            <div style="min-width: 12rem; display: inline-block;">
              <button class="btn btn-link pl-0" (click)="execute(row, step)"
                [qLoading]="isStepProcessing(step)">{{step.name}}</button>
            </div>

            <!-- <button *ngIf="step.success" class="btn btn-link pl-0" [disabled]="true">{{step.name}}</button> -->
            <button *ngIf="step.executions && step.executions.length > 0" class="btn btn-link"
              (click)="viewResponse(step)">View Response</button>
          </div>

          <button class="btn btn-primary" [qLoading]="processingRows.has(row)"
            (click)="processRow(row)">{{rowMessage[row._id] || 'Process All Steps'}}</button>


          <button *ngIf="expandedRows.has(row)" class="btn btn-link" (click)="toggle(row)"><i
              class="fas fa-caret-up"></i> Collapse...</button>

        </div>

        <button *ngIf="row.result && !expandedRows.has(row)" class="btn btn-link" (click)="toggle(row)"><i
            class="fas fa-caret-down"></i> Details...</button>

      </td>
      <td class="text-nowrap">
        <div *ngIf="!row.result">
          <button class="btn btn-link" (click)="skip(row)">Skip</button>
          <button class="btn btn-link" (click)="markSucceeded(row)">Mark Success</button>
        </div>
        <div *ngIf="row.result" class="{{row.result === 'SUCCEEDED' ? 'text-success' : 'text-danger'}}">
          {{row.result}}
        </div>
      </td>
    </tr>
  </tbody>
</table>