<div class="card mb-2">
  <h3 class="card-title text-center pt-4 pb-2"><i class="fa fa-qrcode"></i> QR Settings</h3>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div *ngIf="!editing">
        <div *ngIf="restaurant?.qrSettings?.viewOnly">
          <span>Enabled: false</span><br>
          <span>View Menu Only: true</span><br>
          <small class="text-danger view-only-tip" >Customer can only view menus but not place orders if this setting is on</small>
        </div>
        <div *ngIf="restaurant?.qrSettings && !restaurant?.qrSettings?.viewOnly">
          Enabled: true<br>
          View Menu Only: false
        </div>
      </div>
      <div *qIf="editing">
        <q-toggle [(ngModel)]="viewOnly" ></q-toggle> View Only?
        <div class="form-group row text-right">
          <div class="col-12">
            <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
            <button class="btn btn-primary" (click)="toggleViewOnly()">OK</button>
          </div>
        </div>
      </div>
      <div class="text-right" *ngIf="!editing">
        <div>
          <button (click)="toggleEditing()" class="btn btn-primary">Edit</button>
        </div>
      </div>
    </li>
  </ul>

</div>
