<div class="card mb-2">
  <h3 class="card-title text-center pt-4 pb-2"><i class="fa fa-qrcode"></i> QR Settings</h3>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div *ngIf="!editing">
        <div class="text-danger" *ngIf="qrSettings.viewOnly">
          View Menu Only (CUSTOMER CAN ONLY VIEW MENUS BUT NOT PLACE ORDERS)
        </div>
        <div *ngIf="!restaurant?.qrSettings?.viewOnly">
          Enabled
        </div>
        <div>
          QR Agent: {{qrSettings.agent || 'None'}}
        </div>
      </div>
      <div *qIf="editing">
        <div>
          <label>Sales Agent <button class="btn btn-link pt-0 pb-1" (click)="populateUsername()"><i class="fas fa-arrow-down"></i> Populate My Name</button></label>
          <input type="text" class="form-control" placeholder="username of sales agent" [(ngModel)]="agent">
        </div>
        <div class="pt-3">
          <label class="checkbox-inline">
            <input type="checkbox" [(ngModel)]="viewOnly"> View Menu Only
          </label>
        </div>
        <div class="text-right py-2">
          <button class="btn btn-secondary" (click)="editing = false">Cancel</button>
          <button class="btn btn-primary" (click)="update()">&nbsp;&nbsp;OK&nbsp;&nbsp;</button>
        </div>
      </div>
      <div class="text-right" *ngIf="!editing">
        <div>
          <button (click)="toggleEditing()" class="btn btn-primary">Edit</button>
        </div>
      </div>
    </li>
  </ul>

</div>
