<table class="table table-sm" *ngIf="restaurantLogs && restaurantLogs.length > 0">
  <thead>
    <tr>
      <th></th>
      <th>User</th>
      <th>Date</th>
      <th *ngIf="showRestaurant">Restaurant</th>
      <th>Caller</th>
      <th>Order#</th>
      <th>Problem</th>
      <th>Response</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rl of restaurantLogs; let i = index" class="list-group-item-action {{rl.log.resolved ? '' : 'alert-danger'}}"
      (click)="clickRow(rl)">
      <td style="width: 5%;">
        <i class="fas fa-star text-danger priority-star" *ngIf="rl.log.priorityDisplay"></i>
        <span class="ml-1">{{i+1}}</span>
      </td>
      <td>{{rl.log.username}}</td>
      <td class="text-nowrap">{{rl.log.time | date: 'shortDate'}}
        <div class="text-muted"><small>{{rl.log.time | date: 'shortTime'}}</small></div>
      </td>
      <td *ngIf="showRestaurant" class="text-info" routerLink="/restaurants/{{rl.restaurant._id}}">
        <q-restaurant-media-object [restaurant]="rl.restaurant" [showPhones]="false" [showLogo]="false"></q-restaurant-media-object>
      </td>
      <td>{{rl.log.callerName}}
        <div class="text-nowrap">{{rl.log.callerPhone | tel}}</div>
      </td>
      <td>{{rl.log.relatedOrders}}</td>
      <td class="wrap">{{rl.log.problem}}

        <div *ngIf="rl.log.adjustmentAmount" class="alert alert-info p-0 m-0">
          <strong>Adjustment {{rl.log.adjustmentAmount | currency:'USD':'symbol'}}:</strong>
          {{rl.log.adjustmentReason}}
        </div>

      </td>

      <td class="wrap">{{rl.log.response}}</td>
    </tr>
  </tbody>
</table>