.app-thumbnail-h-6 {
    width: auto;
    min-width: 6rem;
    height: 6rem;
}

.close-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.transparent {
    opacity: 0.7;
}

.my-text-small {
    font-size: 75%;
    opacity: 0.7;
}
.my-text-big {
    font-size: 150%;
}

.image-list {
  list-style: none;
  margin: 0;


}

.image-list .image-item{
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  background: #FFFFFF;
}
