<div class="card">
  <h2 class="card-title m-3">
    <!-- <i [routerLink]="['/home']"><i class="fa fa-arrow-left"> Back </i></a> -->
    <h1 class="text-center">Manage Images</h1>
    <div class="text-center text-danger">
      <ng-container *ngIf="manageMode === manageModes.Standard">
        ({{filterRows.length}} items, {{getItemWithImageCount()}} with images)
      </ng-container>
      <ng-container *ngIf="manageMode === manageModes.Common">
        ({{filteredMis.length}} items, {{countMiWithImage()}} with images)
      </ng-container>
    </div>
  </h2>
  <div class="card-body">
    <q-simple-radio [(ngModel)]="manageMode" [equalWidth]="true" [values]="getManageModes()"></q-simple-radio>
    <ng-container *ngIf="manageMode === manageModes.Standard">
      <div class="row">
        <div class="col-auto mb-2">
          <select [(ngModel)]="cuisineType" class="form-control" (change)="filter()">
            <option value="">Cuisine type?</option>
            <option *ngFor="let type of cuisineTypes">{{type}}</option>
          </select>
        </div>
        <div class="col-auto mb-2">
          <select [(ngModel)]="orderBy" class="form-control" (change)="filter()">
            <option *ngFor="let type of orderBys">{{type}}</option>
          </select>
        </div>
        <div class="col-auto mb-2">
          <select [(ngModel)]="hasImageMode" class="form-control" (change)="filter()">
            <option *ngFor="let type of hasImageModes">{{type}}</option>
          </select>
        </div>
      </div>
      <div class="mt-2 mb-2 text-right">
        <button class="btn btn-link" (click)="mergeDuplicates()" [qLoading]="merging">Merge Duplicates</button>
        <button class="btn btn-link" (click)="normalizeAliases()" [qLoading]="normalizing">Normalize Aliases</button>
        <button class="btn btn-link" (click)="removeImagelessItems()" [qLoading]="removing">Remove Imageless Items</button>
        <button class="btn btn-link" (click)="syncFromMenuItems()" [qLoading]="syncing">Sync from Latest
          Menu Items</button>
        <button class="btn btn-primary" (click)="openAddRecordsModal()">+ Add New</button>
      </div>
      <hr />
      <table *ngIf="manageMode === manageModes.Standard" class="table table-striped">
        <tr><th></th><th>Menu Names</th><th>Images</th><th>Delete</th></tr>
        <tr *ngFor="let row of filterRows; let i = index">
          <td>
            {{i+1}}
          </td>
          <td>
            <div class="my-text-big">
              <q-values [(ngModel)]="row.aliases" (ngModelChange)="updateAliases(row)"></q-values>
            </div>
            <div class="my-text-small">
              <div *ngIf="row.menuCount || row.orderCount">
                <span class="mr-2">Menu Frequency: {{row.menuCount || 0}},</span>
                <span>Ordered Frequency: {{row.orderCount || 0}}</span>
              </div>
              <div *ngIf="row.cuisines">
                <span>{{row.cuisines.join(', ').toString()}}</span>
              </div>
            </div>
          </td>
          <td class="pl-1">
            <div *ngFor="let img of row.images" class="pr-1 pb-1" style="display:inline-block; position:relative">
              <img src="{{img.url192}}" (click)="thumbnailClick(row)">
              <button (click)="deleteImage(img, row)" *ngIf="img.url192"
                      class="btn btn-secondary close-button transparent">
                <i class="fas fa-times"></i>
              </button>
              <button (click)="deleteImage(img, row)" *ngIf="img.url192" class="btn btn-link text-danger close-button">
                <i class="fas fa-times"></i>
              </button>
            </div>
            <div *ngIf="uploadImageError">
              <span class="text-danger">{{uploadImageError}}</span>
            </div>
            <div class="app-limit-file">
              <input type="file" (change)="onUploadImage($event, row)" />
            </div>
            <div>
              <small class="text-warning">Image may take time to show</small>
            </div>
          </td>
          <td>
            <button class="btn btn-link" (click)="deleteRow(row)">Delete</button>
          </td>
        </tr>

      </table>
    </ng-container>
    <ng-container *ngIf="manageMode === manageModes.Common">
      <div class="row">
        <div class="col-auto mb-2">
          <select class="form-control" [(ngModel)]="keywordType" (change)="keywordTypeChange()">
            <option *ngFor="let type of getKeywordTypes()">{{type}}</option>
          </select>
        </div>
        <div class="col-4 mb-2">
          <input type="text" class="form-control" [(ngModel)]="keyword" >
        </div>
        <div class="col-auto mb-2">
          <button class="btn btn-primary" (click)="filterMi()">Search</button>
        </div>
      </div>
      <hr />
      <ng-container *ngIf="keywordType === keywordTypes.ItemName">
        <div class="unique-row">
          <div class="name-item clickable" [ngClass]="{'selected': selectedItem === item.name}" *ngFor="let item of uniqueItems">
            <ng-container *ngTemplateOutlet="uniqueNameTpl; context:{item: item, clickable: true}"></ng-container>
          </div>
        </div>
        <hr />
        <div class="mb-2 mt-2 col">
          <q-pager #myPager1 [numberOfRows]="uniqueImages.length" [pageSize]="200" (pageChange)="paginate($event)"></q-pager>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-4" *ngFor="let item of paged(uniqueImages)">
            <div class="image-item list-item">
              <ng-container *ngTemplateOutlet="uniqueImageTpl; context:{item: item}"></ng-container>
            </div>
          </div>
        </div>
        <div class="mt-2 col">
        '<q-pager #myPager2 [numberOfRows]="uniqueImages.length" [pageSize]="200" (pageChange)="paginate($event)"></q-pager>
      </div>
      </ng-container>
      <ng-container *ngIf="keywordType === keywordTypes.ImageUrl">
        <div class="unique-row">
          <div class="image-item clickable"  [ngClass]="{'selected': selectedImg === item.url}" *ngFor="let item of uniqueImages">
            <ng-container *ngTemplateOutlet="uniqueImageTpl; context:{item: item, clickable: true}"></ng-container>
          </div>
        </div>
        <hr />
        <div class="mb-2 mt-2 col">
          <q-pager #myPager1 [numberOfRows]="uniqueItems.length" [pageSize]="200" (pageChange)="paginate($event)"></q-pager>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-4" *ngFor="let item of paged(uniqueItems)">
            <div class="name-item list-item">
              <ng-container *ngTemplateOutlet="uniqueNameTpl; context:{item: item}"></ng-container>
            </div>
          </div>
        </div>
        <div class="mt-2 col">
        <q-pager #myPager2 [numberOfRows]="uniqueItems.length" [pageSize]="200" (pageChange)="paginate($event)"></q-pager>
      </div>
      </ng-container>
    </ng-container>

    <ng-template #uniqueImageTpl let-item="item" let-clickable="clickable">
      <div>
        <img (click)="selectImg(item.url, clickable)" [src]="item.url" />
        <div class="image-url">{{item.url}}</div>
        <div class="image-line"><strong>Usage count: {{item.stats.usageCount}}</strong></div>
        <div class="image-line"><strong>Unique items: {{item.stats.uniqueItems.size}}</strong></div>
        <div *ngIf="!clickable && selectedImg" class="text-left"><a class="btn-link" (click)="editMiImageItem(item, 'name')">Edit</a></div>
      </div>
    </ng-template>

    <ng-template #uniqueNameTpl let-item="item" let-clickable="clickable">
      <div (click)="selectItem(item.name, clickable)">
        <h5 class="item-name"><strong>{{item.name}}</strong></h5>
        <div class="item-line">
          <strong>Count: {{item.stats.usageCount}}</strong>
          <strong>Unique images: {{item.stats.uniqueImages.size}}</strong>
        </div>
        <div *ngIf="!clickable && selectedItem"><a class="btn-link" (click)="editMiImageItem(item, 'url')">Edit</a></div>
      </div>
    </ng-template>

    <q-modal #imageRemoveModal>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <div class="edit-item" *ngIf="!!image">
        <div class="caption">
          This image <pre>{{image.url}}</pre> is used <strong>{{image.used}}</strong> times for menu items with the name "{{image.name}}" across <strong>{{image.rts.length}}</strong> Qmenu restaurants.
        </div>
        <div class="edit-image">
          <img [src]="image.url" />
        </div>
        <div class="footer">
          <button class="btn btn-block btn-primary" (click)="showRemoveTip = true">Remove image</button>
          <div *ngIf="showRemoveTip">
            <div class="text-danger mt-2 mb-2">Are you sure? This action will remove all instances of this image on items named "{{image.name}}", and CANNOT be undone.</div>
            <div class="d-flex justify-content-between">
              <button class="btn btn-primary" (click)="removeMiImage()">I'm sure</button>
              <button class="btn btn-secondary" (click)="showRemoveTip = false">Cancel</button>
            </div>
          </div>
        </div>
        <hr />
        <div (click)="showAffectedRTs = !showAffectedRTs" class="d-flex align-items-center justify-content-end">
          <a class="btn btn-link">{{showAffectedRTs ? 'Hide': 'View'}} affected restaurants</a>
          <i class="text-primary fa fa-chevron-{{showAffectedRTs ? 'up': 'down'}}"></i>
        </div>
        <div class="affected-rts" *ngIf="showAffectedRTs">
          <div class="d-flex align-items-center justify-content-end" *ngFor="let rtId of image.rts">
            {{rtIdNameMap[rtId]}} / <a target="_blank" [routerLink]="'/restaurants/' + rtId" class="ml-1 btn-link">{{rtId}}</a>
          </div>
        </div>
      </div>
    </q-modal>

    <q-modal #modalZoom *ngIf="clickedMi">
      <div class="modal-header" data-dismiss="modal">
        <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{clickedMi.name}}</h4>
      </div>
      <div class="modal-body">
        <img *ngIf="images.length==1" class="img-responsive w-100" src="{{images[0].url768}}" />
        <div *ngIf="images.length>1" id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div *ngFor="let image of images;let i = index;" class="carousel-item {{i == 0 ? 'active':''}}">
              <img class="img-responsive w-100" src="{{image.url768}}">
            </div>
          </div>

          <a class="carousel-control-prev" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <p class="text-xs-center text-muted"><small>Images are generic and for reference only.</small></p>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </q-modal>
    <!-- start with add new record modal -->
    <q-modal #addRecordsModal>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <h4 class="text-center">Add New Records</h4>
      <hr>
      <div class="container">
        <div class="row mt-2" *ngFor="let img of newImages;let i = index;">
          <input type="text" class="form-control col-10" [(ngModel)]="img.aliases"
            placeholder="Enter comma separed values!">
          <button class="btn btn-link col-1 btn-sm" (click)="deleteNewLine(i)" *ngIf="newImages.length > 1"><i
              class="fa fa-minus"></i></button>
          <button class="btn btn-link col-1 btn-sm" *ngIf="(i===newImages.length-1)&&(newImages.length<10)"
            (click)="createNewLine()">
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </div>

      <div class="d-flex justify-content-end p-4">
        <button class="btn btn-secondary mr-2" (click)="cancelCreateNew()">Cancel</button>
        <button class="btn btn-primary" (click)="createNew()">OK</button>
      </div>
    </q-modal>
    <!-- end with add new record modal -->

  </div>
</div>
