.app-thumbnail-h-6 {
    width: auto;
    min-width: 6rem;
    height: 6rem;
}

.close-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.transparent {
    opacity: 0.7;
}

.my-text-small {
    font-size: 75%;
    opacity: 0.7;
}
.my-text-big {
    font-size: 150%;
}


.unique-row {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 10px 0;
}

.image-item {
  margin: 0 5px;
  padding: 10px 5px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 220px;
  height: 260px;
}

.name-item {
  margin: 0 10px;
  width: 220px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #cccccc;
}

.name-item.clickable {
  cursor: pointer;
}

.name-item .item-name {
  font-size: large;
  font-weight: bolder;
  white-space: pre-line;
  word-break: break-word;
  cursor: pointer;
}

.name-item .item-line {
  font-size: 12px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px solid #cccccc;
  padding-top: 10px;
  width: 100%;
}

.name-item .btn-link, .image-item .btn-link {
  cursor: pointer;
}

.image-item.selected, .name-item.selected {
  box-shadow: 0 0 6px 2px #CC0000;
}

.image-item img {
  width: 100%;
  height: 160px;
  object-fit: contain;
  border: 1px solid #eeeeee;
}

.image-item.clickable img {
  cursor: pointer;
}

.image-item .image-url {
  text-align: left;
  white-space: pre-line;
  word-break: break-all;
  font-size: 12px;
  width: 100%;
  padding: 3px 0;
}

.image-item .image-line {
  font-size: 12px;
  width: 100%;
  text-align: left;
  padding: 2px 0;
}

.image-item.list-item, .name-item.list-item{
  font-size: 12px;
  margin: 0 -10px;
  background: #FFFFFF;
  padding: 10px;
  height: auto;
  border: 1px solid #cccccc;
}

.edit-item > div {
  padding: 5px 0;
}

.edit-item img {
  width: 100%;
}

.edit-item pre {
  margin-bottom: 0;
  white-space: pre;
  word-break: break-all;
  display: inline;
}

.edit-item .footer a {
  cursor: pointer;
}

.affected-rts {
  max-height: 200px;
  overflow-y: scroll;
  border: 1px solid #cccccc;
  font-size: 12px;
  padding: 5px 10px!important;
}

