.app-thumbnail-h-6 {
    width: auto;
    min-width: 6rem;
    height: 6rem;
}

.close-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.transparent {
    opacity: 0.7;
}

.limit-select-width {
    min-width: 200px;
    max-width: 200px;
}

.my-text-small {
    font-size: 75%;
    opacity: 0.7;
}
.my-text-big {
    font-size: 125%;
}