<div class="card">
  <h2 class="card-title m-3">
    <h1 class="text-center">Restaurants ({{filteredRTs.length}})</h1>
  </h2>
  <div class="card-body">
    <div class="filter-providers mb-3">
      <label class="mr-3 mb-1">Has at least these providers:</label>
      <div class="form-check">
        <label class="form-check-inline" *ngFor="let provider of providers">
          <input class="form-check-input" type="checkbox" [value]="provider"
            [checked]="checkedProviders.includes(provider)" (change)="checkProvider($event, provider)">
          {{provider}}
        </label>
      </div>
    </div>
    <div class="filter-input mb-3 row">
      <div class="col-auto">
        <div class="input-group">
          <label class="mr-3">Minimum providers: </label>
          <input class="form-control mr-3" type="number" min="1" [max]="providers.length" [(ngModel)]="minProviderCount" />
        </div>
      </div>
      <div class="col-auto">
        <div class="input-group">
          <label class="mr-3">GMB Owner</label>
          <select class="form-control mr-3 custom-select" [(ngModel)]="gmbOwner">
            <option value="">All</option>
            <option *ngFor="let owner of gmbOwners" [value]="owner">{{owner}}</option>
          </select>
        </div>
      </div>
      <button class="btn btn-primary" (click)="filter()">Search</button>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Restaurant</th>
          <th>GMB Owner</th>
          <th>Timezone (as Offset to EST)</th>
          <th>Providers</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rt of filteredRTs">
          <td><a target="_blank" [routerLink]="'/restaurants/' + rt._id">{{rt.name}}</a></td>
          <td>{{rt.gmbOwner}}</td>
          <td>
            <ng-container *ngIf="rt?.googleAddress && rt?.googleAddress?.timezone;else elseBlock;">
              {{getTimezoneCity(rt.googleAddress.timezone)}} ({{getTimeOffsetByTimezone(rt.googleAddress.timezone)}})
            </ng-container>
            <ng-template #elseBlock>
              N/A
            </ng-template>
          </td>
          <td>{{rt.providers.join(", ")}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
