<div class="pt-2">
  <h1 class="text-center">IVR Logs</h1>
  <div class="my-text-small text-muted text-center" *ngIf="needRefreshCtrs">
    refreshed: {{ lastRefreshed | ago: now }} | total:
    {{ totalMinutes }} minutes
  </div>

  <div class="my-text-small text-muted text-center">
    {{ ivrUsername || "NOT LOGGED IN" }} |
    <span *ngFor="let phone of getMyPhones()">{{ phone | tel }} | </span>
    {{ getVisibleQueueNames().join(", ") }}
  </div>
  <div class="row">
    <!-- start with col-7 -->
    <div class="form-inline col-7">
      <input [qDebounce]="500" (debounce)="filter($event)" type="text" class="form-control mr-4"
        placeholder="phone or restaurant ID" [(ngModel)]="searchFilter" />

      <select (change)="filterQueue()" [(ngModel)]="selectedQueue" class="form-control mr-4">
        <option *ngFor="let q of queuesForFilter" [ngValue]="q">
          {{ q.name || (q.arn ? "(no name))" : "(no arn)") }}
        </option>
      </select>
      <select (change)="filterQueue()" [(ngModel)]="selectedAgent" class="form-control mr-4">
        <option *ngFor="let agent of agentsForFilter" [ngValue]="agent">
          {{ agent || "(no agent)" }}
        </option>
      </select>
      <select (change)="filterQueue()" [(ngModel)]="selectedLanguageCode" class="form-control mr-4">
        <option *ngFor="let languageCode of languageCodesForFilter" [ngValue]="languageCode">
          {{ languageCode || "(N/A)" }}
        </option>
      </select>
      <label class="checkbox-inline"><input type="checkbox" [(ngModel)]="shouldCallbackOnly" (change)="filter()"
          class="mx-1" />
        Should callback</label>
    </div>
    <!-- end with col-7 -->
    <!-- start with col-5 -->
    <div class="text-right col-5">
      <label class="form-check-label mt-2" for="id-gmb"><input type="checkbox" [(ngModel)]="needRefreshCtrs">
          Auto Refresh
      </label>
      <a class="btn btn-primary ml-4" href="/#/ivr-agent-analysis">
        <i class="fas fa-clipboard"></i>
        IVR Dashboard
      </a>
      <button class="btn btn-primary ml-4" (click)="startIvr()">
        <i class="fas fa-headset"></i> Launch qMenu IVR
      </button>
      <button class="btn btn-primary ml-4" (click)="refreshCtrs()" [qLoading]="refreshing">
        <i class="fas fa-sync-alt"></i> Reload
      </button>
    </div>
    <!-- end with col-5 -->
  </div>

  <table class="table mt-2">
    <tr>
      <th>#</th>
      <th>Time</th>
      <th>Phone#</th>
      <th>Restaurant</th>
      <th>Queue</th>
      <th>Agent</th>
      <th>Recording</th>
      <th>Status</th>
    </tr>
    <tr *ngFor="let ir of filteredIvrRecords; let i = index" class="{{ ir.shouldCallback ? 'alert-danger' : '' }}">
      <th>{{ i + 1 }}</th>
      <td>
        {{ ir.initiatedAt | ago: now }}<br />
        <span class="my-text-small text-muted">{{
          ir.duration ? ir.duration + "s" : "-"
        }}</span>
      </td>
      <td class="text-nowrap">
        <strong>{{ ir.customerEndpoint | tel }}</strong>
        <i *ngIf="!ir.inbound" class="fas fa-external-link-alt"></i>
        <div class="my-text-small text-muted">{{ ir.ctrId }}</div>
      </td>
      <td class="text-nowrap">
        <div *ngFor="let rt of ir.restaurants" class="pb-1">
          <a routerLink="/restaurants/{{ rt._id }}" target="_blank">{{
            rt.name
          }}</a>
          <div class="my-text-small text-muted">
            {{ rt._id }}
          </div>
        </div>
      </td>
      <td>
        {{ (ir.queueName || "").replace("chinese", "中文") }}
        <div class="my-text-small">
          <strong>{{ ir.languageCode }}</strong>
        </div>
      </td>
      <td>
        {{ ir.agentUsername }}
        <div class="my-text-small text-muted">
          {{ ir.systemEndpoint | tel }}
        </div>
      </td>
      <td>
        <audio controls *ngIf="ir.recordingMp3Url" preload="none">
          <source src="{{ ir.recordingMp3Url }}" />
        </audio>
        <div class="my-text-small" *ngIf="ir.transcriptFull">
          {{ ir.transcriptFull }}
        </div>
      </td>
      <td>
        <div *ngIf="ir.shouldCallback">SHOULD CALLBACK</div>
      </td>
    </tr>
  </table>
</div>
