<div class="row d-flex align-items-center mb-1">
  <div class="col-md-3">
    <strong>Previous Restaurant Id</strong>
  </div>
  <div class="col md-9">
    <input type="text" class="form-control" placeholder="Previous Restaurant's Id" [(ngModel)]="oldRestaurantId"/>
  </div>
</div>

<div class="row d-flex align-items-center mb-1">
  <div class="col-md-3 ">
    <strong>New name</strong>
  </div>
  <div class="col md-9">
    <input type="text" class="form-control" placeholder="Restaurant's new name" [(ngModel)]="newName"/>
  </div>
</div>

<div class="row d-flex align-items-center mb-1">
  <div class="col-md-3">
    <strong>New Alias</strong>
  </div>
  <div class="col md-9">
    <input type="text" class="form-control" placeholder="New restaurant's alias" [(ngModel)]="newAlias"/>
  </div>
</div>

<div class="row d-flex align-items-center mb-1">
  <div class="col-md-3">
    <strong>Switching Date</strong>
  </div>
  <div class="col md-9">
    <input [owlDateTimeTrigger]="dt" [owlDateTime]="dt" [owlDateTime]="dt" [(ngModel)]="switchingDate" class="form-control"/>
    <owl-date-time #dt></owl-date-time>
  </div>
</div>

<div class="d-flex justify-content-end">
  <button class="btn btn-primary btn-sm" (click)="changeOwnership()" [disabled]="!canChangeOwnership()">Change Ownership</button>
</div>

<div *ngFor="let step of steps">
  {{step.title}}
  <span *ngIf="step.status" class="ml-1 text-{{step.style}}">{{step.status}}</span>
  <a routerLink="/restaurants/{{step.newRTId}}" *ngIf="step.newRTId">{{step.newRTId}}</a>
</div>
