<table class="table  mb-5" style="width:50%;">
  <tbody>
    <tr>
      <th>Statistics</th>
      <th>Value</th>
    </tr>
    <tr>
      <td>{{statistics.totalLifetimeOrders.label}}</td>
      <td>{{statistics.totalLifetimeOrders.value}}</td>
    </tr>
    <tr>
      <td>{{statistics.averageDailyOrders.label}}</td>
      <td>{{statistics.averageDailyOrders.value}}</td>
    </tr>
    <tr>
      <td>{{statistics.totalUniqueCustomer.label}}</td>
      <td>{{statistics.totalUniqueCustomer.value}}</td>
    </tr>
    <tr>
      <td>{{statistics.newCustomerLast30DaysOrders.label}}</td>
      <td>{{statistics.newCustomerLast30DaysOrders.value}}</td>
    </tr>
    <tr>
      <td>{{statistics.totalOrdersFromRepeatCustomer.label}}</td>
      <td>{{statistics.totalOrdersFromRepeatCustomer.value}}</td>
    </tr>
    <tr>
      <td>{{statistics.totalOrderFromNewCustomer.label}}</td>
      <td>{{statistics.totalOrderFromNewCustomer.value}}</td>
    </tr>
    <tr>
      <td>{{statistics.menusWithPicture.label}}</td>
      <td>{{statistics.menusWithPicture.value}}</td>
    </tr>
    <tr>
      <td>{{statistics.menusWithoutPicture.label}}</td>
      <td>{{statistics.menusWithoutPicture.value}}</td>
    </tr>
    <tr>
      <td>{{statistics.menusWithPictureOrderRate.label}}</td>
      <td>{{statistics.menusWithPictureOrderRate.value}}</td>
    </tr>
  </tbody>
</table>


