<table class="table mb-5" style="width:50%;">
  <tbody>
    <tr>
      <th>Statistics</th>
      <th class="digit-align">Value</th>
    </tr>
    <tr>
      <td>{{statistics.totalLifetimeOrders.label}}</td>
      <td class="digit-align">{{statistics.totalLifetimeOrders.value}}</td>
    </tr>
    <tr>
      <td>{{statistics.averageDailyOrders.label}}</td>
      <td class="digit-align">{{statistics.averageDailyOrders.value}}</td>
    </tr>
    <tr>
      <td>{{statistics.totalUniqueCustomer.label}}</td>
      <td class="digit-align">{{statistics.totalUniqueCustomer.value}}</td>
    </tr>
    <tr>
      <td>{{statistics.newCustomerLast30DaysOrders.label}}</td>
      <td class="digit-align">{{statistics.newCustomerLast30DaysOrders.value}}</td>
    </tr>
    <tr>
      <td>{{statistics.totalOrdersFromRepeatCustomer.label}}</td>
      <td class="digit-align">{{statistics.totalOrdersFromRepeatCustomer.value}}</td>
    </tr>
    <tr>
      <td>{{statistics.totalOrderFromNewCustomer.label}}</td>
      <td class="digit-align">{{statistics.totalOrderFromNewCustomer.value}}</td>
    </tr>
    <tr>
      <td>{{statistics.menusWithPicture.label}}</td>
      <td class="digit-align">{{statistics.menusWithPicture.value}}</td>
    </tr>
    <tr>
      <td>{{statistics.menusWithoutPicture.label}}</td>
      <td class="digit-align">{{statistics.menusWithoutPicture.value}}</td>
    </tr>
    <tr>
      <td>{{statistics.menusWithPictureOrderRate.label}}</td>
      <td class="digit-align">{{statistics.menusWithPictureOrderRate.value}}</td>
    </tr>
  </tbody>
</table>
<table class="table" style="width:50%;">
  <tr>
    <td>
      <i class="fa fa-mobile-alt"></i> Mobile device
    </td>
    <td class="digit-align">
      {{orderFromDevice.mobileTotal}}
    </td>
  </tr>
  <!-- start with by os -->
  <tr>
    <td>
      By OS
    </td>
    <td>
      <table class="table">
        <tr>
          <td>
            <i class="fab fa-apple"></i>
          </td>
          <td class="digit-align">
            {{orderFromDevice.mobile.byOS.iOS}}
          </td>
        </tr>
        <tr>
          <td>
            <i class="fab fa-android"></i>
          </td>
          <td class="digit-align">
            {{orderFromDevice.mobile.byOS.Android}}
          </td>
        </tr>
        <tr>
          <td>
            Other
          </td>
          <td class="digit-align">
            {{orderFromDevice.mobile.byOS.Other}}
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <!-- end with by os -->
  <!-- start with by type -->
  <tr>
    <td>
      By type
    </td>
    <td>
      <table class="table">
        <tr>
          <td>
            PWA
          </td>
          <td class="digit-align">
            {{orderFromDevice.mobile.byType.PWA}}
          </td>
        </tr>
        <tr>
          <td>
            App
          </td>
          <td class="digit-align">
            {{orderFromDevice.mobile.byType.App}}
          </td>
        </tr>
        <tr>
          <td>
            Other
          </td>
          <td class="digit-align">
            {{orderFromDevice.mobile.byType.Other}}
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <!-- end with by type -->
  <tr>
    <td>
      <i class="fa fa-laptop"></i> PC
    </td>
    <td class="digit-align">
      {{orderFromDevice.pcTotal}}
    </td>
  </tr>
  <!-- start with by PC os -->
  <tr>
    <td>
      By OS
    </td>
    <td>
      <table class="table">
        <tr>
          <td>
            <i class="fab fa-windows"></i>
          </td>
          <td class="digit-align">
            {{orderFromDevice.pc.byOS.Windows}}
          </td>
        </tr>
        <tr>
          <td>
            <i class="fab fa-apple"></i>
          </td>
          <td class="digit-align">
            {{orderFromDevice.pc.byOS.Mac}}
          </td>
        </tr>
        <tr>
          <td>
            <i class="fab fa-linux"></i>
          </td>
          <td class="digit-align">
            {{orderFromDevice.pc.byOS.Linux}}
          </td>
        </tr>
        <tr>
          <td>
            Other
          </td>
          <td class="digit-align">
            {{orderFromDevice.pc.byOS.Other}}
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <!-- end with by PC os -->
  <tr class="bg-warning">
    <td>
      Other
    </td>
    <td class="digit-align">
      {{orderFromDevice.otherTotal}}
    </td>
  </tr>
  <tr class="bg-warning">
    <td>
      Browser
    </td>
    <td class="digit-align">
      {{orderFromDevice.browserTotal}}
    </td>
  </tr>
</table>
