<div class="card">
  <h2 class="card-title m-3">
    <!-- <a [routerLink]="['/home']"><i class="fa fa-arrow-left"> Back </i></a>  -->
    <h1 class="text-center">Unconfirmed Orders ({{ rows.length }})</h1>
  </h2>
  <div class="card-body">
    <table class="table">
      <tr>
        <th>Restaurant</th>
        <th>Phones</th>
        <th>Order</th>
        <th>Amount</th>
        <th>Time (delay)</th>
        <th>Payment</th>
      </tr>
      <tr *ngFor="let row of rows">
        <td>
          <a routerLink="/restaurants/{{ row.restaurant._id }}"
            >{{ row.restaurant.name }} ({{ row.timezone }})</a
          >
          <div class="text-muted">
            <small>{{ getDaysFromId(row.restaurant._id) }} days ago</small>
          </div>
          <div class="text-muted">
            <small>{{ row.restaurant.address | removeUsa }}</small>
          </div>
        </td>
        <td>
          <div *ngFor="let channel of row.channels">
            <span *ngIf="showChannel(channel)">
              {{ channel.value | phone }}
            </span>
          </div>
        </td>
        <td>
          <div *ngFor="let order of row.orders">
            {{ order.order.orderNumber }}
            <small class="text-warning">{{ order.createdAt | ago: now }}</small>
            <hr />
          </div>
        </td>
        <td>
          <div *ngFor="let order of row.orders">
            <small class="text-warning">{{ order.total | currency }}</small>
            <hr />
          </div>
        </td>
        <!-- <td>
          <div *ngFor="let order of row.orders">
            <small class="text-warning"
              >{{
                order.order.timeToDeliver
                  ? (order.order.timeToDeliver | ago: now)
                  : ""
              }}
              <hr />
            </small>
          </div>
        </td> -->
        <td>
          <div *ngFor="let order of row.orders">
            <div *ngFor="let times of getTimes(order, row)">
              {{ times }}
            </div>

            <hr />
          </div>
        </td>
        <td>
          <div *ngFor="let order of row.orders">
            {{ order.payment.method }} &nbsp;
            {{
              order.payment.paymentType.toLowerCase() === "cash"
                ? null
                : order.payment.paymentType
            }}
            <hr />
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
