<div class="card">
  <h2 class="card-title m-3">
    <h1 class="text-center">Unconfirmed Orders ({{ rows.length }})</h1>
  </h2>

  <div class="card-body">
    <div class="row mb-3">
      <div class="col-auto">
        <label class="form-control-plaintext">
          <input class="mr-2" type="checkbox" [(ngModel)]="showOnlyQmenuCollected" (change)="reorg()" />
          Show Only qMenu Collect
        </label>
      </div>
      <div class="col-auto">
        <button class="btn btn-primary" (click)="reload()">Reload</button>
      </div>
      <div class="col-auto">
        <select class="form-control" [(ngModel)]="sortBy">
          <option *ngFor="let opt of sortByOptions" [value]="opt">Sort by: {{opt}}</option>
        </select>
      </div>
    </div>

    <table class="table">
      <tr>
        <th>Restaurant</th>
        <th>Timezone (EST+/-)</th>
        <th>Phones</th>
        <th colspan="4" style="width: 50%;">Orders</th>
      </tr>
      <tr *ngFor="let row of getList()">
        <td>
          <a target="_blank" routerLink="/restaurants/{{ row.restaurant._id }}">{{ row.restaurant.name }}</a>
          <div class="text-muted">
            <small>{{ getDaysFromId(row.restaurant._id) }} days ago</small>
          </div>
          <div class="text-muted">
            <small>{{ row.restaurant.googleAddress.formatted_address.replace(', USA', '') }}</small>
          </div>
        </td>
        <td>
          {{getTimezoneCity(row.restaurant.googleAddress.timezone)}}
          ({{getTimeOffsetByTimezone(row.restaurant.googleAddress.timezone)}})
        </td>
        <td>
          <div *ngFor="let channel of row.channels">
            <span class="text-unwrap">{{ channel.value | phone }}</span>
          </div>
        </td>
        <td colspan="4">
          <table class="table table-sm table-inner">
            <thead>
              <tr>
                <th style="width: 20%;">Order Number</th>
                <th style="width: 10%;" (click)='ascends[row.restaurant._id] = !ascends[row.restaurant._id]' class="clickable">
                  Amount
                  <i class="fas" [ngClass]="{ 'fa-arrow-up': !!ascends[row.restaurant._id],  'fa-arrow-down': !ascends[row.restaurant._id]}"></i>
                </th>
                <th style="width: 50%;">Time (delay)</th>
                <th style="width: 20%;">Payment</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of sortedOrders(row.orders, row.restaurant._id)">
                <td>
                  <div>{{ order.orderNumber }}</div>
                  <div>
                    <small class="text-warning">{{ order.createdAt | ago: now }}</small>
                  </div>
                </td>
                <td>
                  <small class="text-warning">{{ order.total | currency }}</small>
                </td>
                <td>
                  <div [ngClass]="{ 'text-danger': isOverdue(order)}"
                    *ngFor="let line of getTimeDelay(order, row.restaurant.googleAddress.timezone)">
                    {{ line }}
                  </div>
                </td>
                <td>
                  <div>{{ order.paymentObj.method }}</div>
                  <div>{{ order.paymentObj.paymentType.toLowerCase() === "cash" ? null : order.paymentObj.paymentType }}</div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
        <td>
      </tr>
    </table>
  </div>
</div>
