<div class="card mb-2">
  <h3 class="card-title text-center pt-4 pb-2">
    <i class="fas fa-globe"></i> Web Settings</h3>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <ng-container *ngIf="restaurant">
        <div class="form-group row">
          <label class="col-4 col-form-label pt-0">qMenu Managed Website</label>
          <div class="col-8 text-left">
            <q-edit-label [value]="restaurant?.web?.qmenuWebsite" (edit)="onEdit($event, 'qmenuWebsite')">
            </q-edit-label>
            <button *ngIf="!restaurant?.web?.qmenuWebsite" class="btn btn-link" (click)="populateAlias()">Populate qMenu
              Alias</button>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-4 col-form-label pt-0">Website Template</label>
          <div class="col-8 text-left">
            <q-edit-label [value]="restaurant?.web?.templateName" [type]="'select'" [options]="templateNames"
              (edit)="onEdit($event, 'templateName')"></q-edit-label>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-4 col-form-label pt-0">Email</label>
          <div class="col-8 text-left">
            {{getEmail()}}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-4 col-form-label">Email Password</label>
          <div class="col-8 text-left">
            <q-edit-label [value]="restaurant?.web?.qmenuPop3Password" (edit)="onEdit($event, 'qmenuPop3Password')">
            </q-edit-label>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-4 col-form-label">qMenu Embedded Button</label>
          <div class="col-8 text-left">
            <!-- <textarea #tplClipboard class="form-control w-100 full-height" [(ngModel)]="qmButtonTemplate"></textarea> -->
            <div class="d-inline-block w-100">
              <p *ngIf="!showCompleteButtonSnippet" class="text-truncate">{{qmButtonTemplate}}</p>
            </div>
            <p *ngIf="showCompleteButtonSnippet">{{qmButtonTemplate}}</p>
            <button class="btn btn-link p-0"
              (click)="showCompleteButtonSnippet = !showCompleteButtonSnippet">{{showCompleteButtonSnippet ? 'less...' : 'more...'}}</button>
            <div class="d-flex justify-content-end pt-1">
              <button class="btn btn-link p-0" (click)="copyToClipcboard(qmButtonTemplate)"><i
                  *ngIf="!isCopiedToClipboard" class="fas fa-clipboard"></i><i *ngIf="isCopiedToClipboard"
                  class="fas fa-check"></i> {{isCopiedToClipboard ? 'Copied!' : 'Copy to Clipboard'}}</button>
            </div>
          </div>
        </div>

        <div class="text-right">
          <div *ngIf="retrievedObj" class="mb-2">
            <span
              class="badge badge-{{requesterEmail === retrievedObj.email ? 'success' : 'warning'}}">{{retrievedObj.code}}</span>
            {{retrievedObj.time | ago: now}} {{retrievedObj.name}} <span
              class="text-{{requesterEmail === retrievedObj.email ? 'success' : 'warning'}}">{{retrievedObj.email}}</span>
          </div>



          <button class="btn btn-primary" (click)="injectWebsiteAws()" [qLoading]="apiRequesting">Publish
            Website to AWS</button>
          <button class="btn btn-primary" (click)="syncGmb(['HOURS_REGULAR', 'HOURS_SPECIAL_OPEN'])" [qLoading]="apiRequesting">Sync GMB Menu
            Hours</button>
          <button class="btn btn-primary" (click)="syncGmb(['SERVICE_SETTINGS'])" [qLoading]="apiRequesting">Sync GMB Service SETTINGS</button>
  
          <div class="alert alert-danger my-2 text-left"
            *ngIf="!restaurant?.web?.qmenuWebsite || restaurant?.web?.qmenuWebsite?.indexOf('qmenu') > 0">
            <h2 class="text-center">COSTLY ACTION. USE EXTREME CAUTION! 务必非常仔细以防止造成重大损失!</h2>
            <div class="text-center">Follow steps and do not repeat. 按照步骤操作，不要重复每一步。 </div>
            <div class="form-group">
              <label class="col-form-label">1. Enter Domain to Purchase</label>
            </div>
            <input type="text" [(ngModel)]="domain" class="form-control mt-1" placeholder="some-domain.com">
            <div class="form-group">
              <label class="col-form-label">2. Make Sure You've Selected a Website Template</label>
            </div>
            <div class="form-group">
              <label class="col-form-label">3. Submit a Workflow</label>
              <div>
                <button class="btn btn-primary" (click)="createWebsite()">Create Website Workflow</button>
              </div>
            </div>
            <div class="form-group">
              <label class="col-form-label">4. Visit the Workflow</label>
              <div>
                <a href="#/workflows">Visit Workflow Page</a>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </li>
  </ul>
</div>