<div class="form-group row">
  <label class="col-4 col-form-label">Host</label>
  <div class="col-8 text-left">
    <input class="form-control" type="text" [(ngModel)]="host">
    <small class="text-danger" *ngIf="submitClicked && !host">Host is required.</small>
  </div>
</div>
<div class="form-group row">
  <label class="col-4 col-form-label">Email</label>
  <div class="col-8 text-left">
    <input class="form-control" type="text" [(ngModel)]="email">
    <small class="text-danger" *ngIf="submitClicked && !isEmailValid()">Valid email is required.</small>
  </div>
</div>
<div class="form-group row">
  <label class="col-4 col-form-label">Password</label>
  <div class="col-8 text-left">
    <input class="form-control" type="password" [(ngModel)]="password">
    <small class="text-danger" *ngIf="submitClicked && !password">Password is required.</small>
  </div>
</div>
<div class="text-right">
  <div *ngIf="retrievedObj" class="mb-2">
    <span class="badge badge-{{requesterEmail === retrievedObj.email ? 'success' : 'warning'}}">{{retrievedObj.code}}</span> {{retrievedObj.time | ago: now}} {{retrievedObj.name}} <span class="text-{{requesterEmail === retrievedObj.email ? 'success' : 'warning'}}">{{retrievedObj.email}}</span>
  </div>
  <button class="btn btn-link" (click)="clickSave()" [qLoading]="apiRequesting">Save Email Settings</button>
  <button class="btn btn-primary" (click)="clickRetrieve()" [qLoading]="apiRequesting">Retrieve</button>
</div>