<div class="card mb-2">
  <h3 class="card-title text-center pt-4 pb-2">
    <i class="fas fa-globe"></i> Web Settings</h3>
  <ul class="list-group list-group-flush {{readonly ? 'disabled' : ''}}">
    <li class="list-group-item">
      <ng-container *ngIf="restaurant">
        <div class="row">
          <label class="col-4 col-form-label pt-0">
            qMenu Managed Website
            <div class="row ml-1" *ngIf="restaurant?.web?.qmenuWebsite">
              <button class="btn btn-sm btn-link" (click)="showRedirectDetailSettings()">
                {{ showDetailSettings ? 'Hide Detailed Settings' : 'Show Detailed Settings'}}
                <i class="fa fa-angle-{{showDetailSettings ? 'up': 'down'}}"></i>
              </button>
            </div>
          </label>
          <div class="col-8 text-left">
            <q-edit-label [value]="restaurant?.web?.qmenuWebsite" (edit)="onEdit($event, 'qmenuWebsite')">
            </q-edit-label>
            <button *ngIf="!restaurant?.web?.qmenuWebsite" class="btn btn-link" (click)="populateAlias()">Populate qMenu
              Alias</button>
            <span class="ml-2">
              (G-rank: {{googleRank}})
            </span>
          </div>
        </div>
        <div class="ml-2" *ngIf="showDetailSettings">
          <div *ngIf="domainMap;else domainBlock;">
            <div>
              Autorenew: {{domainMap?.domainAutoRenew}}, Must Autorenew: {{domainMap?.shouldRenew}}, Type:
              {{domainMap?.domainType}}, Expiration Date: {{domainMap?.domainExpiry | date: 'MMM dd yyyy'}},
              Reasons: {{(domainMap?.reasons || []).join(', ')}}
            </div>
            <div>
              <button class="btn btn-small btn-primary mr-3" (click)="applyAutoRenew(domainMap, false)"
                *ngIf="domainMap.domainAutoRenew === true">Disable</button>
              <button class="btn btn-small btn-success" (click)="applyAutoRenew(domainMap, true)"
                *ngIf="domainMap.domainAutoRenew === false">Enable</button>
            </div>
          </div>
          <ng-template #domainBlock>
            <div class="ml-2">
              No Domain Matched
            </div>
          </ng-template>
          <hr>
          <div class="ml-2 form-group">
            <div>
              <input type="checkbox" [(ngModel)]="redirect"> Redirect
            </div>
            <div class="form-inline" *ngIf="redirect">
              <select [(ngModel)]="redirectOption" class="form-control mr-2">
                <option *ngFor="let option of redirectOptions">{{ option }}</option>
              </select>
              <a *ngIf="redirectOption === redirectTypes.BM_Site">
                {{ [bmRT?.CustomerDomainName, bmRT?.CustomerDomainName1].join(', ') }}
              </a>
              <q-edit-label *ngIf="redirectOption === redirectTypes.Other" [value]="restaurant?.web?.domainRedirectUrl"
                (edit)="onEdit($event, 'domainRedirectUrl')"></q-edit-label>
              <button class="btn btn-sm btn-primary ml-2" (click)="executeRedirect()">Execute</button>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-4 col-form-label pt-0">Website Template</label>
          <div class="col-8 text-left">
            <q-edit-label [value]="restaurant?.web?.templateName" [type]="'select'" [options]="templateNames"
              (edit)="onEdit($event, 'templateName')"></q-edit-label>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-4 col-form-label pt-0">Email</label>
          <div class="col-8 text-left">
            {{getEmail()}}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-4 col-form-label">Email Password</label>
          <div class="col-8 text-left">
            <q-edit-label [value]="restaurant?.web?.qmenuPop3Password" (edit)="onEdit($event, 'qmenuPop3Password')">
            </q-edit-label>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-4 col-form-label">qMenu Embedded Button</label>
          <div class="col-8 text-left">
            <!-- <textarea #tplClipboard class="form-control w-100 full-height" [(ngModel)]="qmButtonTemplate"></textarea> -->
            <div class="d-inline-block w-100">
              <p *ngIf="!showCompleteButtonSnippet" class="text-truncate">{{qmButtonTemplate}}</p>
            </div>
            <p *ngIf="showCompleteButtonSnippet">{{qmButtonTemplate}}</p>
            <button class="btn btn-link p-0 non-disbled"
              (click)="showCompleteButtonSnippet = !showCompleteButtonSnippet">{{showCompleteButtonSnippet ? 'less...' : 'more...'}}</button>
            <div class="d-flex justify-content-end pt-1 disbled">
              <button class="btn btn-link p-0 non-disbled" (click)="copyToClipcboard(qmButtonTemplate)"><i
                  *ngIf="!isCopiedToClipboard" class="fas fa-clipboard"></i><i *ngIf="isCopiedToClipboard"
                  class="fas fa-check"></i> {{isCopiedToClipboard ? 'Copied!' : 'Copy to Clipboard'}}</button>
            </div>
          </div>
        </div>
        <!-- start with social media links panel -->
        <ng-container *ngFor="let link of restaurant.web?.socialMediaLinks">
          <ng-container *ngFor="let obj of link|keyvalue">
            <div class="form-group row" *ngIf="obj.value">
              <label class="col-4 col-form-label pt-0">{{obj.key}} Media Link</label>
              <div class="col-8 text-left">
                <q-edit-label [value]="obj.value" (edit)="onEditSocialMediaLinks($event,obj.key)">
                </q-edit-label>
              </div>
            </div>
          </ng-container>
        </ng-container>
        <!-- end with social media links panel -->
        <div class="text-right" *ngIf="!readonly">
          <div *ngIf="retrievedObj" class="mb-2">
            <span
              class="badge badge-{{requesterEmail === retrievedObj.email ? 'success' : 'warning'}}">{{retrievedObj.code}}</span>
            {{retrievedObj.time | ago: now}} {{retrievedObj.name}} <span
              class="text-{{requesterEmail === retrievedObj.email ? 'success' : 'warning'}}">{{retrievedObj.email}}</span>
          </div>

          <div class="row">
            <div class="col-6 text-right">
              <button class="btn btn-primary" (click)="openSocialMediaLinkModal()" [qLoading]="apiRequesting">Add Social
                Media Links</button>
            </div>
            <div class="col-6 text-left">
              <button class="btn btn-primary ml-2" (click)="injectWebsiteAws()" [qLoading]="apiRequesting">Publish
                Website to AWS</button>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-6 text-right">
              <button class="btn btn-primary" (click)="syncGmb(['HOURS_REGULAR', 'HOURS_SPECIAL_OPEN'])"
                [qLoading]="apiRequesting">Sync GMB Menu Hours</button>
            </div>
            <div class="col-6 text-left">
              <button class="btn btn-primary" (click)="syncGmb(['SERVICE_SETTINGS'])" [qLoading]="apiRequesting">Sync
                GMB Service Settings</button>
            </div>
          </div>

          <div class="alert alert-danger my-2 text-left"
            *ngIf="!restaurant?.web?.qmenuWebsite || restaurant?.web?.qmenuWebsite?.indexOf('qmenu') > 0">
            <h2 class="text-center">COSTLY ACTION. USE EXTREME CAUTION! 务必非常仔细以防止造成重大损失!</h2>
            <div class="text-center">Follow steps and do not repeat. 按照步骤操作，不要重复每一步。 </div>
            <div class="form-group">
              <label class="col-form-label">1. Enter Domain to Purchase</label>
            </div>
            <input type="text" [(ngModel)]="domain" class="form-control mt-1" placeholder="some-domain.com">
            <div class="form-group">
              <label class="col-form-label">2. Make Sure You've Selected a Website Template</label>
            </div>
            <div class="form-group">
              <label class="col-form-label">3. Submit a Workflow</label>
              <div>
                <button class="btn btn-primary" (click)="createWebsite()">Create Website Workflow</button>
              </div>
            </div>
            <div class="form-group">
              <label class="col-form-label">4. Visit the Workflow</label>
              <div>
                <a href="#/workflows">Visit Workflow Page</a>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </li>
  </ul>
  <!-- start with social media link modal -->
  <q-modal #socialMediaLinksModal>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
    <h4 class="text-center">Add Social Media Links</h4>
    <hr>
    <div class="container">
      <div class="row mt-2" *ngFor="let link of socialMediaLinks;let i = index;">
        <ng-container *ngIf="!socialMediaLinkExists(link.text)">
          <label class="col-3 mt-2">{{link.text}}</label>
          <input type="text" class="form-control col-9" [(ngModel)]="link.value"
            placeholder="Enter social media links' value!">
        </ng-container>
      </div>
      <div class="row alert alert-info"
        *ngIf="!noSocialMediaLinks() && socialMediaLinks.length === restaurant.web.socialMediaLinks.length">
        All Needed Social Media Links Exist.
      </div>
    </div>

    <div class="d-flex justify-content-end p-4">
      <button class="btn btn-secondary mr-2" (click)="cancelAddSocialMediaLinks()">Cancel</button>
      <button class="btn btn-primary" (click)="addSocialMediaLinks()">OK</button>
    </div>
  </q-modal>
  <!-- end with social media link modal -->
</div>
