<div class="card mb-2">
    <h5 class="card-title text-center pt-4 pb-2">
      <i class="fa fa-ban text-danger"></i>
        Delivery Closed Hours
        <br> <small>Define time slots when the delivery is closed.</small>
      </h5>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <table class="app-table w-100">
        <label class="checkbox-inline" *ngIf="getExpiredClosedHours().length > 0"><input type="checkbox"
            [(ngModel)]="showExpired"> Show expired
          ({{getExpiredClosedHours().length}})</label>
        <ng-container *ngFor="let hour of (restaurant.deliveryClosedHours || [])">
            <tr  *ngIf="showExpired || !isDeliveryClosedHoursExpired(hour)"
            class="{{isDeliveryClosedHoursExpired(hour) ? 'expired' : '' }}">
                <td>
                  <div class="text-nowrap">
                    <strong>
                      {{hour.fromTime | adjustedDate : 'MMM d h:mm a' : restaurant.googleAddress.timezone}} - {{hour.toTime
                      | adjustedDate : 'MMM d h:mm a' : restaurant.googleAddress.timezone}}</strong>
                  </div>
                  <div *ngIf="hour.comment">{{hour.comment}}</div>
                </td>
                <td scope="row" *ngIf="editing" class="text-xs-right" (click)="remove(hour)">
                  <i class="text-danger fa fa-remove" role="button"> Delete</i>
                </td>
              </tr>
        </ng-container>  
      </table>
      <div *qIf="editing">
        <div class="jumbotron app-jumbo">
          <h5 class="text-xs-center">Add New Delivery Closed Hours</h5>
          <app-hour-picker-simple [hour]="hourInEditing"></app-hour-picker-simple>
          <div>
            <label class="m-t-1">Extra Comments:</label>
            <input [(ngModel)]="hourInEditing.comment" type="text" class="form-control" placeholder="such as holidy" autofocus>
            <div *ngIf="getError()" class="text-danger">
              <small>{{getError()}}</small>
            </div>
            <div class="m-t-1">
              <button class="btn btn-block btn-primary" (click)="addClosedHour()" [disabled]="getError()">Add</button>
            </div>
          </div>

        </div>
      </div>
      <div style="position:relative">
        &nbsp;
        <div class="app-card-edit">
          <a (click)="toggleEditing()" role="button">{{editing? 'Done editing' : 'Edit'}}</a>
        </div>
      </div>
    </li>
  </ul>
</div>