.app-menu-thumbnail {
    width: 6rem;
    height: 6rem;
}

.menu-item-number {
  font-size: 1rem;
  color: #808080;
}

.bordered {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  margin-right: 4px;
  margin-right: 4px;
}

.order-count{
  padding: 0;
}
