<!-- <div class="row">
  <div class="col-3">Due: 28 days ago</div>
  <div class="col-6">Transfer GMB Ownership</div>
  <div class="col-1">Windy</div>
  <div class="col-2">View</div>
</div> -->

<div class="card" *ngIf="task">
  <div class="card-body">
    <div class="bottom-right">created: {{task.createdAt | ago : now}} <small class="text-muted">ID: {{task._id}}</small></div>
    <h5 class="card-title">{{task.name}}</h5>
    <h6 class="card-subtitle mb-2"><span class="badge {{task.scheduledAt.valueOf() - now.valueOf() > 86400000 ? 'badge-success' : (task.scheduledAt.valueOf() - now.valueOf() > 0 ? 'badge-warning' : 'badge-danger')}}">Due:
        {{task.scheduledAt | ago : now}}</span></h6>
    <div>
      <span *ngIf="task.transfer?.fromEmail">from: <app-gmb-account-hotlink [email]="task.transfer?.fromEmail"></app-gmb-account-hotlink></span>
      <span *ngIf="task.transfer?.toEmail"> →<app-gmb-account-hotlink [email]="task.transfer?.toEmail"></app-gmb-account-hotlink></span>
    </div>
    <pre>{{task.comments}}</pre>
    <a class="card-link" (click)="alert('comming soon')">Claim</a>
    <a class="card-link" (click)="alert('comming soon')">View</a>
  </div>
</div>