<h2 class="text-center">Sales Stats Dashboard</h2>

<div class="row ivr-filters">
  <div class="col-auto">
    <div class="input-group">
      <label>View: </label>
      <select class="custom-select " [(ngModel)]="timeRange" (change)="changeDate()">
        <option *ngFor="let item of timeRanges" [value]="item">{{item}}</option>
      </select>
    </div>
  </div>

</div>

<div class="row ivr-filters mt-2" *ngIf="timeRange === TimeRanges.CustomDate">
  <div class="col-auto">
    <div class="input-group">
      <label>Date:</label>
      <input class="form-control" [(ngModel)]="startDate" [max]="endDate" type="date" />
      <span>-</span>
      <input class="form-control" [(ngModel)]="endDate" [min]="startDate" [max]="now" type="date" />
    </div>
  </div>
  <div class="col-auto">
    <button class="btn btn-primary" (click)="query()" [disabled]="!this.startDate || !this.endDate"
      type="button">OK</button>
  </div>
</div>

<div>
  <h4 class="text-center"> Team Totals for {{displayTimeRange()}}</h4>
  <table class="table w-50">
    <tr>
      <td class='font-weight-bold'>Agents With One or More Calls:</td>
      <td>{{filteredList.length}}</td>
    </tr>
    <tr>
      <td class='font-weight-bold'>Total Calls Placed:</td>
      <td>{{filteredTotalRecords}}</td>
    </tr>
    <tr>
      <td class='font-weight-bold'> New Restaurant Sign-Ups: </td>
      <td>{{newSignUpCount()}}</td>
    </tr>
    <tr>
      <td class='font-weight-bold'> Restaurants Lost:</td>
      <td>{{churnCount()}}</td>
    </tr>
  </table>
</div>


<h4 class="text-center my-1"> Individual Totals for {{displayTimeRange()}}</h4>
<div class="text-left ">
  <q-table [rows]="filteredList" [tableColumnDescriptors]="agentStatsColumnDescriptors">
    <tr *tableRowTemplate="let item">
      <td> {{ item.agent }}</td>
      <td> {{ item.totalCalls }}</td>
      <td> {{ secondsToHms(item.avgCallDuration) }}</td>
      <td> {{ secondsToHms(item.totalCallTime) }}</td>
      <td> {{ secondsToHms(item.avgCallTimePerDay) }}</td>
      <td> {{ item.rtCount }}</td>
      <td> {{ item.churnCount }} </td>

    </tr>
  </q-table>
</div>