<h2 class="text-center">Sales Stats Dashboard</h2>

<div class="row ivr-filters">
  <div class="col-auto">
    <div class="input-group">
      <label>View:</label>
      <select class="custom-select " [(ngModel)]="timeRange" (change)="changeDate()">
        <option *ngFor="let item of timeRanges" [value]="item">{{item}}</option>
      </select>
    </div>
  </div>
  <div class="col-auto">
    <div class="input-group">
      <label>Sort By:</label>
      <select class="custom-select " [(ngModel)]="sortBy" (change)="sort()">
        <option *ngFor="let item of sortFields" [value]="item">{{item}}</option>
      </select>
    </div>
  </div>

  <div class="col-auto">
    <div class="input-group">
      <label>Sort Order:</label>
      <select class="custom-select " [(ngModel)]="sortOrder" (change)="sort()">
        <option *ngFor="let item of sortOrders" [value]="item">{{item}}</option>
      </select>
    </div>
  </div>
</div>

<div class="row ivr-filters mt-2" *ngIf="timeRange === TimeRanges.CustomDate">
  <div class="col-auto">
    <div class="input-group">
      <label>Date:</label>
      <input class="form-control" [(ngModel)]="startDate" [max]="endDate" type="date" />
      <span>-</span>
      <input class="form-control" [(ngModel)]="endDate" [min]="startDate" [max]="now" type="date" />
    </div>
  </div>
  <div class="col-auto">
    <button class="btn btn-primary" (click)="query()" [disabled]="!this.startDate || !this.endDate"
      type="button">OK</button>
  </div>
</div>

<hr>
<h4 class="text-center"> Team Totals</h4>
<div>Stats for {{displayTimeRange()}}</div>
<div>Agents Who Have Placed at Least One Call: {{filteredList.length}}</div>
<div> Total Calls Placed: {{filteredTotalRecords}}</div>
<div> New Restaurant Sign-Ups: {{newSignUpCount()}}</div>


<div *ngFor="let item of filteredList; let i = index;" class="card-body">
  <hr />
  <div>Agent Name: <b>{{ item.agent }}</b></div>
  <div>Total Calls: {{ item.totalCalls }}</div>
  <div>Avg Call Duration: {{ secondsToHms(item.avgCallDuration) }}</div>
  <div>Total Call Time: {{ secondsToHms(item.totalCallTime) }}</div>
  <div>Avg Call Time per Day: {{ secondsToHms(item.avgCallTimePerDay) }}</div>
  <div>Restaurant Sign Ups: {{ item.rtCount }}</div>

</div>