<h2 class="text-center">Sales Stats Dashboard</h2>

<div class="row ivr-filters">
  <div class="col-auto">
    <div class="input-group">
      <label>View: </label>
      <select class="custom-select " [(ngModel)]="timeRange" (change)="changeDate()">
        <option *ngFor="let item of timeRanges" [value]="item">{{item}}</option>
      </select>
    </div>
  </div>
  <ng-container *ngIf="isAdmin() || isMarketerManager()">
    <div class="col-auto">
      <div class="input-group">
        <label>View by: </label>
        <select class="custom-select " [(ngModel)]="viewMode" (change)="query()">
          <option *ngFor="let item of viewModes" [value]="item">{{item}}</option>
        </select>
      </div>
    </div>
    <div class="col-auto" *ngIf="viewMode === ViewModes.Agent">
      <div class="input-group">
        <label>Agent: </label>
        <select class="custom-select " [(ngModel)]="agent" (change)="query()">
          <option value=""></option>
          <option *ngFor="let item of agents" [value]="item">{{item}}</option>
        </select>
      </div>
    </div>
  </ng-container>
</div>

<div class="row ivr-filters mt-2" *ngIf="timeRange === TimeRanges.CustomDate">
  <div class="col-auto">
    <div class="input-group">
      <label>Date:</label>
      <input class="form-control" [(ngModel)]="startDate" [max]="endDate" type="date" />
      <span>-</span>
      <input class="form-control" [(ngModel)]="endDate" [min]="startDate" [max]="now" type="date" />
    </div>
  </div>
  <div class="col-auto">
    <button class="btn btn-primary" (click)="query()" [disabled]="!this.startDate || !this.endDate"
      type="button">OK</button>
  </div>
</div>

<div>
  <h4 class="text-center"> Team Totals for {{displayTimeRange()}}</h4>
  <table class="table w-50">
    <tr *ngIf="viewMode === ViewModes.Overview">
      <td class='font-weight-bold'>Agents With One or More Calls:</td>
      <td>{{agentsWithCalls.size}}</td>
    </tr>
    <tr *ngIf="viewMode === ViewModes.Agent">
      <td class='font-weight-bold'>Average Call Time per Day:</td>
      <td>{{avgCallTimePerDayByAgent()}}</td>
    </tr>
    <tr>
      <td class='font-weight-bold'>Total Calls Placed:</td>
      <td>{{totalRecords}}</td>
    </tr>
    <tr>
      <td class='font-weight-bold'> New Restaurant Sign-Ups: </td>
      <td>{{newSignUpCount()}}</td>
    </tr>
    <tr>
      <td class='font-weight-bold'> Restaurants Lost:</td>
      <td>{{churnCount()}}</td>
    </tr>
  </table>
</div>


<h4 class="text-center my-1">
  <span>Individual Totals for {{displayTimeRange()}}</span>
  <button class="btn btn-link btn-download" (click)="downloadCsv()">Download CSV</button>
</h4>
<div class="text-left ">
  <q-table [rows]="list" [tableColumnDescriptors]="agentStatsColumnDescriptors">
    <tr *tableRowTemplate="let item">
      <td *ngIf="viewMode === ViewModes.Overview"> {{ item.agent }}</td>
      <td *ngIf="viewMode === ViewModes.Agent"> {{ item.date }}</td>
      <td> {{ item.totalCalls }}</td>
      <td> {{ item.rtCount }}</td>
      <td> {{ item.gmbCount }}</td>
      <td> {{ secondsToHms(item.avgCallDuration) }}</td>
      <td> {{ secondsToHms(item.totalCallTime) }}</td>
      <td *ngIf="viewMode === ViewModes.Overview"> {{ secondsToHms(item.avgCallTimePerDay) }}</td>
      <td> {{ item.churnCount }} </td>
    </tr>
  </q-table>
</div>
