<h1 class="text-center">GMB Tasks<br><small>{{getTotalTasks()}}</small></h1>

<label class="checkbox-inline"><input type="checkbox" [(ngModel)]="errorsOnly" (change)="filter()"> Errors Only</label>

<label class="checkbox-inline"><input type="checkbox" [(ngModel)]="v5Only" (change)="filter()"> V5 Only</label>

<!--
<label class="checkbox-inline">
    <input type="checkbox" [(ngModel)]="showOnlyPublished" (change)="filter()"> Only Published GMB</label>

<label class="checkbox-inline">
    <input type="checkbox" [(ngModel)]="showOnlyDisabled" (change)="filter()"> Only disabled</label>

<label class="checkbox-inline">
    <input type="checkbox" [(ngModel)]="showNotDisabled" (change)="filter()"> Not disabled</label>
<label class="checkbox-inline">
    <input type="checkbox" [(ngModel)]="showMissingWebsite" (change)="filter()"> Only Missing Website</label>

<div class="clearfix my-2">
    <div class="float-left form-inline">
        <select class="form-control mr-2 mb-1" [(ngModel)]="managedDomain" (change)="filter()">
            <option>Manged Domains</option>
            <option>only active</option>
            <option>expired</option>
        </select>
    </div>
</div>
-->
<table class="table">
    <tr>
        <th>#</th>
        <th>Version</th>
        <th>Status</th>
        <th>Count</th>
        <th>Rerun</th>
        <th>Task IDs</th>
    </tr>
    <tr *ngFor="let row of filteredRows; let i = index">
        <th>{{i + 1}}</th>
        <th>{{row.versions}}</th>
        <td>
            {{row.status}}
        </td>
        <td>
            {{row.tasks.length}}
        </td>
        <td>
            <button class="btn btn-primary mb-2" (click)="rerun(i)" *ngIf="row.isError">Rerun</button>
        </td>
        <td class="wrap, small">
            <div *ngIf="row.isError || row.tasks.length < 50">
                <span *ngFor="let task of row.tasks"> {{task._id}}</span>
            </div>
        </td>
    </tr>

</table>