<h1 class="text-center">GMB Tasks<br><small>{{getTotalTasks()}}</small></h1>

<label class="checkbox-inline"><input type="checkbox" [(ngModel)]="errorsOnly" (change)="filter()"> Errors Only</label>
<label class="checkbox-inline"><input type="checkbox" [(ngModel)]="purgedOnly" (change)="filter()"> Purged Only</label>

<table class="table">
    <tr>
        <th>#</th>
        <th>Status</th>
        <th>Count</th>
        <th>Rerun</th>
        <th>Task IDs</th>
    </tr>
    <tr *ngFor="let row of filteredRows; let i = index">
        <th>{{i + 1}}</th>
        <td>
            {{row.status}}
        </td>
        <td>
            {{row.tasks.length}}
        </td>
        <td>
            <button class="btn btn-primary mb-2" (click)="rerun(row)" *ngIf="row.isError">Rerun</button>
            <button class="btn btn-primary mb-2" (click)="resetError(row)" *ngIf="row.isError">Reset Error</button>
            <button class="btn btn-primary mb-2" (click)="closeRow(row)" *ngIf="row.isError">Close All Tasks</button>
        </td>
        <td class="wrap, small">
            <span *ngFor="let task of row.tasks.slice(0, 20)">
                <span (click)="showDetails(task)" style="cursor: pointer;"> {{task._id}}</span>
            </span>
            <!-- <div *ngIf="row.isError || row.tasks.length < 50">

            </div> -->
        </td>
    </tr>

</table>

<q-modal #taskModal>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <div *ngIf="selectedTask" class="text-center">
        <h3>{{selectedTask._id}}</h3>

        <app-gmb-account-hotlink [email]="selectedTask.request?.email"
            [redirectUrl]="'https://business.google.com/arc/l/' + selectedTask.request?.appealId">
        </app-gmb-account-hotlink>
        <br>
        <button class="btn btn-primary" (click)="rerunV5(selectedTask)">Force Run</button>
        <button class="btn btn-primary" (click)="reloadTask(selectedTask)">Reload</button>
        <button class="btn btn-primary" (click)="closeTask(selectedTask)">Delete Task</button>
        <pre class="text-left">
            {{selectedTask | json}}
        </pre>
    </div>
</q-modal>