<div class="card">
  <h2 class="card-title m-3">
    <h1 class="text-center">Restaurant List Supporting Postmates</h1>
  </h2>
  <div class="card-body">
    <div class="pb-2 text-right">
      <button class="btn btn-primary" (click)="updateRestaurantList()"><i class="far fa-arrow-alt-circle-right"></i>
        Update Restaurants in List</button>
      <button class="btn btn-primary" (click)="scanPostmates()"><i class="fas fa-sync"></i> Rescan</button>
    </div>

    <div class="card-body text-left">
      <app-restaurants-courier-list [restaurantList]="postmatesList" [user]="user" [timeZoneList]="timeZoneList"
        [restaurantCourierService]="restaurantCourierService"></app-restaurants-courier-list>
    </div>
  </div>
