<h3>Restaurant List Supporting Postmates</h3>
<div class="pb-2 text-right">
    <button class="btn btn-danger" (click)="initPostmatesDatabase()"><i class="fas fa-eraser"></i> CLEAR ALL DATA!!!</button>
    <button class="btn btn-primary" (click)="refresh()"><i class="fas fa-sync-alt"></i> Refresh</button>
    <button class="btn btn-primary" (click)="updateRestaurantList()"><i class="far fa-edit"></i> Update Restaurants in List</button>
    <button class="btn btn-primary" (click)="scanPostmates()"><i class="fas fa-edit"></i> Rescan</button>
</div>

<div class="card-body text-left">
    <app-restaurants-courier-list [restaurantList]="postmatesList" [user]="user" [restaurantCourierService] = "restaurantCourierService"></app-restaurants-courier-list>
</div>