<div class="card mb-2">
  <h3 class="card-title text-center pt-4 pb-2">
    <i class="fas fa-hand-holding-usd"></i> Payment Means</h3>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">

      <div class="row">
        <div *ngFor="let pm of restaurant.paymentMeans || []" class="col-md-6 col-lg-6">
          <q-payment-means-viewer [paymentMeans]="pm"></q-payment-means-viewer>
          <div *ngIf="!readonly">
            <button class="btn btn-link" style="padding-left: 0.3rem; margin-top: -1.5rem" (click)="edit(pm)">Edit</button>
          </div>
        </div>
      </div>
      <button class="btn btn-link px-0" *ngIf="!readonly" (click)="editNew()">+ Add A Payment Means</button>
    </li>

  </ul>
</div>
<q-modal #paymentMeansModal>
  <app-payment-means-editor #paymentEditor [showDelete]="originalPaymentMeansInEditing" (submit)="onSubmit($event)"
  (cancel)="onCancel()" (remove)="onDelete($event)"></app-payment-means-editor>
</q-modal>
<!--displaying-->