<div *ngIf="!taskList || taskList.length === 0">
    List is empty
</div>

<q-table [rows]="taskList" [tableColumnDescriptors]="myColumnDescriptors" [compact]="true">
    <tr *tableRowTemplate="let task;">
        <td>
            <div class="badge badge-{{getTaskClass(task)}}" *ngIf="!task.result">{{task.scheduledAt | ago: now}}</div>

            <div *ngIf="task.result">
                {{task.result}}
                <small class="text-muted d-block">
                    {{task.resultAt | date: 'short'}}
                </small>
            </div>
        </td>

        <td>{{task.name}}
            <div class="text-muted" *ngIf="task.description">
                <small>
                    {{task.description}} <span *ngIf="task.transfer?.fromEmail" class="border-bottom">@{{task.transfer?.fromEmail | emailName}}</span>
                </small>
            </div>
        </td>
        <td>{{task.score}}</td>
        <td>{{getRoles(task)}}</td>
        <td>{{task.assignee}}</td>
        <td>{{task.comments}}</td>
        <td>
            <app-task-action-bar [task]="task" [user]="user" (actionDone)="triggerActionDone($event)"></app-task-action-bar>
        </td>
    </tr>
</q-table>