<div *ngIf="!taskList || taskList.length === 0">
    List is empty
</div>
<q-simple-radio [(ngModel)]="selectedTaskName" [values]="taskNames" (ngModelChange)="selectTask($event)">
</q-simple-radio>
Count: {{filteredTasks.length}}
<q-table [rows]="filteredTasks" [tableColumnDescriptors]="myColumnDescriptors" [compact]="true">
    <tr *tableRowTemplate="let task;">
        <td>
            <div class="badge badge-{{getTaskClass(task)}}" *ngIf="!task.result">{{task.scheduledAt | ago: now}}</div>

            <div *ngIf="task.result">
                {{task.result}}
                <small class="text-muted d-block">
                    {{task.resultAt | date: 'short'}}
                </small>
            </div>
        </td>

        <td>{{task.name}}
            <div class="text-muted" *ngIf="task.description">
                <small>
                    {{task.description}} {{task.gmbBiz?.address}}
                    <div *ngIf="task.transfer && task.transfer.fromEmail">
                        <app-gmb-account-hotlink [email]="task.transfer.fromEmail"></app-gmb-account-hotlink><span
                            *ngIf="task.transfer.againstEmail">« {{task.transfer.againstEmail | emailName}}</span>
                    </div>
                    <div *ngIf="task.etc && task.etc.fromEmail">
                        <app-gmb-account-hotlink [email]="task.etc.fromEmail"></app-gmb-account-hotlink>
                    </div>
                </small>
            </div>
        </td>
        <td>{{task.gmbBiz?.timeZone}}</td>
        <td><i class="fas fa-lock-open text-info" *ngIf="task.gmbBiz?.gmbOpen"></i></td>
        <td>{{task.score}}</td>
        <td>{{getRoles(task)}}</td>
        <td>{{task.assignee}}</td>
        <td>
            <div class="wrap">{{task.comments}}</div>
            <div *ngIf="task.transfer && task.transfer.verificationMethod">
                {{task.transfer.verificationMethod}}
            </div>
        </td>
        <td>
            <app-task-action-bar [task]="task" [user]="user" (actionDone)="triggerActionDone($event)"></app-task-action-bar>
        </td>
    </tr>
</q-table>