<table class="table" *ngIf="taskList && taskList.length > 0">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Task</th>
            <th scope="col">Assignee</th>
            <th scope="col">Group</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of taskList; let i=index" class="{{'status-' + task.getStatus()}} {{task.getStatus() === 'CLOSED' ? 'text-success' : ''}}">
            <th scope="row">{{i+1}}</th>
            <td>{{task.name}}
                <div class="text-muted" *ngIf="task.description">
                    <small>
                        {{task.description}}
                    </small>
                </div>
            </td>
            <td>{{task.assignee}}</td>
            <td>{{getRoles(task)}}</td>
            <td>{{task.getStatus()}}</td>
            <td>
                <app-task-action-bar [task]="task" [user]="user" (actionDone)="triggerActionDone($event)"></app-task-action-bar>
            </td>
        </tr>
    </tbody>
</table>

<tr *ngIf="!taskList || taskList.length === 0">
    List is empty
</tr>
