<h1 class="text-center">DB Scripts</h1>

<div class="card-group">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Mutate RT Id</h5>
            <p class="card-text">To invalidate all outstanding logins. Temp solution for insecure restaurants.</p>
            <button class="btn btn-primary" (click)="mutateRtId()">Execute</button>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Purge Jobs</h5>
            <p class="card-text">Remove old (more than 30 days) jobs</p>
            <button class="btn btn-primary" (click)="purge('job')">Execute</button>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Purge Events</h5>
            <p class="card-text">Remove old (more than 30 days) events</p>
            <button class="btn btn-primary" (click)="purge('event')">Execute</button>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Fix Both Longhorn and Phoenix</h5>
            <p class="card-text">Some restaurant have both printers. Remove Longhorn. Safe to run muliutiple tiimes</p>
            <button class="btn btn-primary" (click)="fixLonghornPhoenix()">Execute</button>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Migrate TME Restaurants</h5>
            <p class="card-text">OK to run multiple times</p>
            <button class="btn btn-primary" (click)="migrateTme()">Execute</button>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Inject Missied Timezones to Restaurants</h5>
            <p class="card-text">OK to run multiple times</p>
            <button class="btn btn-primary" (click)="injectTimezone()">Execute</button>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Sync</h5>
            <p class="card-text">Three entities: Restaurants, GMB Business, Lead. </p>
            <app-sync-buttons></app-sync-buttons>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Remove Duplicated Leads</h5>
            <p class="card-text">Remove duplicated leads, based on restaurantId</p>
            <button class="btn btn-primary" (click)="removeDuplicates()">Remove Duplicates</button>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">qMenu: Migrate Address</h5>
            <p class="card-text">No side effects. Migrating 'address' (in separate document) to 'restaurant' document as
                googleAddress.
            </p>
            <button class="btn btn-primary" (click)="migrateAddress()">Migrate Address</button>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">qMenu: Fix Google Address</h5>
            <p class="card-text">Some old restaurant's googleAddress has missing info (no locality, street_number etc.)
            </p>
            <button class="btn btn-primary" (click)="fixAddress()">Fix Address</button>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">qMenu: Migrate Email and Phones(Again)</h5>
            <p class="card-text">No side effects. Consolidate phones and emails into new structure restaurant.channels
            </p>
            <button class="btn btn-primary" (click)="migrateEmailAndPhones()">Migrate Email and Phones</button>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">qMenu: Remove Orphan Phones</h5>
            <p class="card-text">Orphan Phone: Associated restaurant has been deleted. We need to remove them from
                database.
            </p>
            <button class="btn btn-primary" (click)="removeOrphanPhones()"
                [qLoading]="removingOrphanPhones">Remove</button>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Admin: Fix Call Logs (Data Corruption)</h5>
            <p class="card-text">Some call logs is object instead of array. This will put logs in array.</p>
            <button class="btn btn-primary" (click)="fixCallLogs()">Fix</button>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">qMenu: Inject deliveryBy for historical orders</h5>
            <p class="card-text">ONE TIME: (Disable after run)</p>
            <button class="btn btn-primary" (click)="injectDeliveryBy()" [disabled]="true">Fix</button>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">qMenu: Inject deliveryBy from order to invoice.orders</h5>
            <p class="card-text">No side effects. We have invoices that didn't have deliveryBy injected</p>
            <button class="btn btn-primary" (click)="injectDeliveryByToInvoice()">Fix</button>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">qMenu: Inject redundant total, subtotal etc to invoice</h5>
            <p class="card-text">No side effects. We have to batch process existing invoices. When query, we SKIP
                already calculated ones.</p>
            <button class="btn btn-primary" (click)="injectTotalEtcToInvoice()">Fix</button>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Inject old GMB to new GMB</h5>
            <p class="card-text">No side effects.</p>
            <button class="btn btn-primary" (click)="convertGmb()">Convert</button>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Stripe Charge Problem</h5>
            <p class="card-text">Get missing charge problem for stripe</p>
            <button class="btn btn-primary" (click)="getStripeErrors()">Get Stripe Errors</button>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Generic Testing</h5>
            <p class="card-text">Some random queries.</p>
            <button class="btn btn-primary" (click)="genericTesting()">Testing</button>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Remove Redundant Gmb Biz</h5>
            <p class="card-text">Based On Same cid</p>
            <button class="btn btn-primary" (click)="removeRedundantGmbBiz()">Remove</button>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Fix Missing Business Phone</h5>
            <p class="card-text">Find restaurant missing business phone and patch. Check console.</p>
            <button class="btn btn-primary" (click)="fixMissingBusinessPhones()">Fix</button>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Create Apply GMB Task for RT</h5>
            <button class="btn btn-primary" (click)="createApplyGmbTask()">Start</button>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Crawl Restaurant</h5>
            <button class="btn btn-primary" (click)="crawlRestaurants()">Start</button>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Fix Null Menu and Duplicated Ids</h5>
            <p class="card-text">It's OK to run multiple times </p>
            <button class="btn btn-primary" (click)="fixMenu()">Fix</button>
        </div>
    </div>


    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Remove Empty Mi Size Option</h5>
            <p class="card-text">It's OK to run multiple times </p>
            <button class="btn btn-primary" (click)="removeEmptySizeOption()">Fix</button>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Handle Holiday Closed Hours</h5>
            <p class="card-text">This will add ALL closed hours for every restaurant. Send sms, using 8447935942. If
                restaurant replies 'open',
                system will remove the hours. </p>
            <button class="btn btn-primary" (click)="handleHolidy()">Execute</button>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Fix Price String Type</h5>
            <p class="card-text">Some item's price is sting instead of number. </p>
            <button class="btn btn-primary" (click)="fixPriceDataType()">Execute</button>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Remove Unused Invoices from Restaurant Object</h5>
            <p class="card-text">Invoices are accidentally updated to be part of restaurant body. They should be
                removed. No side effect.</p>
            <button class="btn btn-primary" (click)="removeInvoiceFromRestaurant()">Execute</button>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Fix Rate Schedules</h5>
            <p class="card-text">Remove special characters in agent names and turn eveything name lower case.</p>
            <button class="btn btn-primary" (click)="fixRateSchedules()">Execute</button>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Compute Sales Bonus</h5>
            <p class="card-text">Using given rules to compute qualified sales and bonuses.</p>
            <button class="btn btn-primary" (click)="computeBonuse()">Execute</button>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Compute Duplicated Restaurants</h5>
            <p class="card-text">Restaurant was disabled, then enabled as a new restaurant. We should make the new
                restaurant's previousRestaurantId to reduce double pay. Safe to run multiple times.</p>
            <button class="btn btn-primary" (click)="computeDuplicates()">Execute</button>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Compute and Inject Restaurant Scores</h5>
            <p class="card-text">Recalculate every restaurant's score and save it to restaurant object</p>
            <button class="btn btn-primary" (click)="injectRestaurantScores()">Execute</button>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Migrate gmbBiz to restaurants</h5>
            <p class="card-text">Migrate existing gmbBiz to restaurants. Can run multiple-times.</p>
            <button class="btn btn-primary" (click)="migrateGmbBizToRestaurants()">Execute</button>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Migrate Old gmbOwnerships</h5>
            <p class="card-text">Migrate old ownerships to account locations!</p>
            <button class="btn btn-primary" (click)="migrateGmbOwnerships()">Execute</button>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Migrate Order Delivery Address</h5>
            <p class="card-text">Move deliveryAddress content to order. No side effects. If already moved, no action.
            </p>
            <button class="btn btn-primary" (click)="migrateOrderAddress()">Execute</button>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Migrate Order Payment, Customer, and Restaurant</h5>
            <p class="card-text">Move payment content to order.paymentObj etc. No side effects. If already moved, no
                action.
            </p>
            <button class="btn btn-primary" (click)="migrateOrderPaymentCustomerRestaurant()">Execute</button>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Migrate Order Statuses</h5>
            <p class="card-text">Move order statuses to order
            </p>
            <button class="btn btn-primary" (click)="migrateOrderStatuses()">Execute</button>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Change Ownership</h5>
            <p class="card-text">If it's already moved (place_id same!), skip!</p>
            <button class="btn btn-primary" (click)="changeOwnership()">Execute</button>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Delete Bing Images</h5>
            <p class="card-text">Delete Bing Images for all the restaurants</p>
            <button class="btn btn-primary" (click)="cleanBingImages()">Execute</button>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Inject Images</h5>
            <p class="card-text">Inject Images for all the restaurants</p>
            <button class="btn btn-primary" (click)="injectImages()">Execute</button>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Calculate Most Populars</h5>
            <p class="card-text">Inject Most Popular Items to Each Menu (safe to run multiple times)</p>
            <button class="btn btn-primary" (click)="injectPopularItems()">Execute</button>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Inject RequireZip/Billing Address</h5>
            <p class="card-text">Inject RequireZip/Billing Address if CC payment type is QMENU</p>
            <button class="btn btn-primary" (click)="injectRequireZipBillingAddress()">Execute</button>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Get Worthy Domains</h5>
            <p class="card-text">Get a list of domains worthy. Safe to run multiple times</p>
            <button class="btn btn-primary" (click)="calculateDomainValue()">Execute</button>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Get AWS Domains and Godaddy Domains</h5>
            <p class="card-text">Get a list of aws domains and godaddy domains</p>
            <button class="btn btn-primary" (click)="getAwsAndGodaddyDomains()">Execute</button>
        </div>
    </div>

</div>