<pre>
    Orders in the past 24 hours: 955
    We will display system related info here:
    1. API state and statistics
    2. Wbe server state and statistics
    3. DB server state and statistics
    Maybe manually or automatically refresh
    Broadcasting to ALL restaurants: via text, email, or both.
</pre>
<h1 class="text-center">DB Scripts</h1>

<div class="card-deck">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Migrate Address</h5>
            <p class="card-text">No side effects. Migrating 'address' (in separate document) to 'restaurant' document.</p>
            <button class="btn btn-primary" (click)="migrateAddress()">Migrate</button>
        </div>
    </div>
    <!-- <div class="card">
        <div class="card-body">
            <h5 class="card-title">Migrate Address</h5>
            <p class="card-text">No side effects. Migrating 'address' (in separate document) to 'restaurant' document.</p>
            <button class="btn btn-primary" (click)="migrateAddress()">Migrate</button>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Migrate Address</h5>
            <p class="card-text">No side effects. Migrating 'address' (in separate document) to 'restaurant' document.</p>
            <button class="btn btn-primary" (click)="migrateAddress()">Migrate</button>
        </div>
    </div> -->
</div>