<div class="card mb-2">
  <h3 class="card-title text-center pt-4 pb-2">
    <i class="fas fa-chart-pie"></i> Fee Schedules</h3>
  <ul class="text-danger text-left" *ngIf="!updateFeeSchedulesEvent.notUpdateDB;else elseBlock;">
    <li>请不要删除老的设置 (DO NOT REMOVE OLD FEE SCHEDULES)</li>
    <li>如果有新的收费标准将替代老的收费标准，那么应该把老的收费标准设置截止日期，添加新的收费标准 (IF A NEW FEE SCHEDULE IS GOING TO REPLACE OLD ONES, THEN SET END
      DATE OF OLD ONES
      AND ADD THE NEW FEE SCHEDULE)</li>
  </ul>
  <ng-template #elseBlock>
    <ul class="text-danger text-left" *ngIf="updateFeeSchedulesEvent.event === 'commissions-setup'">
      <li>
        <h5>
          Please set up your own commissions later from the settings tab, if applicable.
          (如果适用，请稍后从"设置"选项卡设置您自己的佣金。)
        </h5>
      </li>
      <li>
        The fee schedules below will be generated for you based on your answers to the above questions.
        You can make specific edits to the fee schedules here if needed,
        but if you edit your answers to the questions above,
        the fee schedules below will be regenerated.
        (以下费用表将根据你对上述问题的回答为您生成。
        如果需要，你可以在此处对费用明细表进行特定编辑，
        但如果你编辑了以上问题的答案，
        将重新生成以下费用明细表。)
      </li>
    </ul>
  </ng-template>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <label class="checkbox-inline" *ngIf="getExpiredFeeSchedules().length > 0 && hasFullFeePrivilege() && !updateFeeSchedulesEvent.notUpdateDB"><input
          type="checkbox" [(ngModel)]="showExpired" > Show expired
        ({{getExpiredFeeSchedules().length}})</label>
      <table class="table table-borderless table-striped table-sm">
        <thead>
          <tr>
            <th>Payer → Payee</th>
            <th>Assessment</th>
            <th>Conditions</th>
            <th *ngIf="!readonly"></th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let feeSchedule of feeSchedules">
            <tr *ngIf="(showExpired || !isFeeScheduleExpired(feeSchedule)) && canViewFeeSchedule(feeSchedule)"
              class="{{isFeeScheduleExpired(feeSchedule) ? 'expired' : '' }} ">
              <td class="text-lowercase text-nowrap my-text-b">{{feeSchedule.payer}} → {{feeSchedule.payee}}
                <div class="my-text-small">
                  {{ feeSchedule.fromTime | adjustedDate: 'shortDate' : restaurant.googleAddress.timezone }} → <span
                    *ngIf="feeSchedule.toTime">{{ feeSchedule.toTime | adjustedDate: 'shortDate' : restaurant.googleAddress.timezone }}</span>
                </div>
              </td>
              <td class="text-nowrap">
                <div class="my-text-b">
                  <span *ngIf="feeSchedule.rate">{{feeSchedule.rate | percentage }}</span>
                  <span *ngIf="feeSchedule.rate && feeSchedule.amount"> + </span>
                  <span *ngIf="feeSchedule.amount">{{feeSchedule.amount |currency:'USD':'symbol'}}</span>
                  <span *ngIf="!feeSchedule.rate && !feeSchedule.amount">0</span>

                </div>
                <div *ngIf="feeSchedule.name">{{feeSchedule.name}}</div>
                <div class="my-text-small text-muted">
                  {{chargeBasisMap[feeSchedule.chargeBasis]}}
                </div>
              </td>

              <td>
                <div *ngIf="feeSchedule.orderTypes && feeSchedule.orderTypes.length > 0" class="text-lowercase">
                  <span class="font-weight-bold text-capitalize">Order Types:</span> {{feeSchedule.orderTypes.join(', ')}}
                </div>

                <div *ngIf="feeSchedule.orderPaymentMethods && feeSchedule.orderPaymentMethods.length > 0"
                  class="text-lowercase">
                  <span class="font-weight-bold text-capitalize">Payment Methods:</span> {{feeSchedulePaymentMethodsLimitationString(feeSchedule)}}
                </div>

                <div *ngIf="feeSchedule.orderSources && feeSchedule.orderSources.length > 0"
                  class="text-lowercase">
                  <span class="font-weight-bold text-capitalize">Order Source:</span> {{feeScheduleOrderSourceLimitationString(feeSchedule)}}
                </div>

              </td>

              <td *ngIf="!readonly">
                <button class="btn btn-link p-0" (click)="edit(feeSchedule)">Edit</button>
              </td>

            </tr>
          </ng-container>

          <tr *ngIf="!readonly">
            <td colspan="4">
              <button class="btn btn-link px-0" (click)="edit()">+ Add New</button>
              <!-- <button class="btn btn-link px-0 text-danger" (click)="startover()"
                *ngIf="username === 'chris' || username === 'mo' || username=== 'gary'">+ Start Over (Remove
                All)</button> -->
            </td>
          </tr>
        </tbody>
      </table>
    </li>
  </ul>
</div>

<q-modal #modalFeeSchedule>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>
  <q-form-builder #editingForm [object]="feeScheduleInEditing" [showDelete]="feeScheduleInEditing.id"
    [fieldDescriptors]="fieldDescriptors" (change)="formChanged($event)" (submit)="submit($event)"
    (cancel)="cancel($event)" (remove)="remove($event)">
    <div *ngIf="isRateInvalid()" class="text-right">
      <small class="text-danger">*** WARNING! Are you sure {{(100 * (this.feeScheduleInEditing.rate || 0)).toFixed(1)}}%
        is the correct value for the rate field? ***</small>
    </div>
    <div *ngIf="isQmenuCollect()" class="text-right">
      <span class="text-warning"> <b> NOTE: </b> Selecting 'qmenu collect' disables editing of all fields except for: Start Date, End Date, Rate, and Fixed Amount </span>
    </div>
  </q-form-builder>
</q-modal>
