  <div class="card">
    <h2 class="card-title m-3">
      <h1 class="text-center">Weird Data</h1>
    </h2>
    <div class="card-body">
      <div class="col-12 text-right form-group">
        <button class="btn btn-primary" (click)="populateExtremeData()"><i class="fas fa-sync"></i> Reload</button>
      </div>
      <ng-container *ngFor="let list of weridDataListObj | keyvalue">
        <h2>{{getWeridDataKey(list.key)}} weird data </h2>
        <table class="table mb-5">
          <tbody>
            <tr>
              <th>name</th>
              <th>{{getWeridDataKey(list.key)}}</th>
              <th>logs</th>
            </tr>
            <tr *ngFor="let data of list.value">
              <td><a href="#/restaurants/{{data._id}}" target="_blank">{{data.name}}</a></td>
              <td>{{data[getWeridDataKey(list.key)]||0}}</td>
              <td>
                <table class="table table-sm">
                  <tr>
                    <th>Number</th>
                    <th>User</th>
                    <th>Timer</th>
                    <th>Problem</th>
                    <th>Response</th>
                  </tr>
                  <ng-container *ngFor="let log of data.logs">
                    <tr *ngIf="log.type === 'weird-data-cleanup'">
                      <td>{{data.logs.indexOf(log)+1}}</td>
                      <td>{{log.username}}</td>
                      <!-- <td>{{log.time | adjustedDate : 'MMM d h:mm a' : restaurant?.googleAddress?.timezone}}</td> -->
                      <!-- TODO: 
                        the above code will report an error, I have to handle it as follow,and 
                      how to reslove to problem more perfect? -->
                      <td>{{log.time | date : 'MMM d h:mm a'}}</td>
                      <td>{{log.problem}}</td>
                      <td>{{log.response}}</td>
                    </tr>
                  </ng-container>
                </table>
                <div>
                  <button class="btn btn-primary" (click)="addLog(data)"><i class="fas fa-plus"></i>Add
                    Log</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </div>
    <!-- start with the log editing modal-->
    <q-modal #logEditingModal>
      <app-log-editor #myLogEditor [restaurant]="restaurant" [restaurantList]="[]" [log]="logInEditing"
        (success)="onSuccessAddLog($event)" (cancel)="onCancelAddLog()"></app-log-editor>
    </q-modal>
    <!-- end with the log editing modal -->
  </div>
