<h2 class="text-center">IRS Form 1099K Dashboard ({{getAllFiltered1099kCount()}})</h2>

<div class="my-2">
  <div class="form-inline mx-5">
    <!-- Search Textbox -->
    <label class="my-2 mx-2"> Search:</label>
    <input [qDebounce]="500" (debounce)="debounce($event)" type="text" class="form-control my-2 mx-2 search-input"
      placeholder="RT name or ID, RT owner name, email, etc." [(ngModel)]="searchFilter">

    <!-- Tax Year Dropdown -->
    <label class="my-2 mx-2"> Select Tax Year:</label>
    <select class="form-control my-2 mx-2" [(ngModel)]="taxYear" (change)="filterRows()">
      <option *ngFor="let entry of taxYearOptions"> {{entry}} </option>
    </select>

    <!-- RT open or not -->
    <select class="form-control my-2 mx-2" [(ngModel)]="openOption" (change)="filterRows()">
      <option *ngFor="let option of openOptions"> {{option}} </option>
    </select>

    <!-- Missing Payee/TIN/Email Attributes -->
    <select class="form-control my-2 mx-2" [(ngModel)]="missPayeeOption" (change)="filterRows()">
      <option *ngFor="let option of missPayeeOptions"> {{option}} </option>
    </select>

    <select class="form-control my-2 mx-2" [(ngModel)]="missTINOption" (change)="filterRows()">
      <option *ngFor="let option of missTINOptions"> {{option}} </option>
    </select>

    <select class="form-control my-2 mx-2" [(ngModel)]="missingEmailOption" (change)="filterRows()">
      <option *ngFor="let option of missingEmailOptions"> {{option}} </option>
    </select>
    <!-- start sent or not -->
    <select class="form-control my-2 mx-2" [(ngModel)]="sentEmailOption" (change)="filterRows()">
      <option *ngFor="let option of sentEmailOptions"> {{option}} </option>
    </select>
    <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="Filter by whether the form for the currently-selected tax year has been sent to the restaurant yet.
      (根据当前所选纳税年度的表格是否已发送到餐厅进行筛选。)"></i>
    <button class="btn btn-primary my-2 mx-2" (click)="rescan()"><i class="fas fa-sync"></i> Rescan</button>
    <ng-container *ngIf="taxYear &&  taxYear !== 'All'">
      <button class="my-2 mx-2 btn btn-primary" (click)="downloadFIRE()">Download FIRE Submission</button>
      <i class="fa fa-info-circle mr-2" data-toggle="tooltip" data-placement="top"
        title="We need to submit a document (similar to a CSV) to the FIRE website of the IRS. This document, among other things, contains a line for each legal entity for which we’ve submitted a 1099K form and the data values contained in each form. Before submitting it, we must make sure that all 1099K information for all restaurants is correct, that all customizations have been done first, and that TIN-matching has already been done and is verified."></i>
      <label class="ml-2 form-control-plaintext" style="width: auto">
        <input type="checkbox" [(ngModel)]="includeAllRequired"> Include all required RTs
        <i class="mr-2 fa fa-info-circle" data-toggle="tooltip" data-placement="top"
          title="This will include all RTs regardless of whether they have the needed TIN and/or payee info or whether they refused to cooperate."></i>
      </label>
    </ng-container>
    <!-- end sent or not -->
    <!-- start customize 1099k or not -->
    <select class="form-control mx-2" [(ngModel)]="customizeOption" (change)="filterRows()">
      <option *ngFor="let option of customizeOptions"> {{option}} </option>
    </select>
    <i class="fa fa-info-circle mr-2" data-toggle="tooltip" data-placement="top" title="Some restaurants may change the legal entity under which they operate their business mid-year, which could mean we need to generate multiple 1099K forms for them, one for each period, to the extent there was enough order volume in each period to necessitate a form.
      (一些餐厅可能会在年中改变经营业务的法律实体，这可能意味着我们需要为他们生成多份1099K表格，每个期间一份，只要每个期间有足够的订单量需要一份表格。)"></i>
    <!-- end customize 1099k or not -->
    <!-- start with refuse form filter-->
    <select class="form-control mx-2" [(ngModel)]="refuseFormOption" (change)="filterRows()">
      <option *ngFor="let option of refuseFormOptions"> {{option}} </option>
    </select>
    <!-- end with refuse form filter -->
    <a *ngIf="taxYear &&  taxYear !== 'All'" class="btn btn-link" (click)="downloadTextTIN()">Download .txt for TIN
      Matching</a>
  </div>
  <hr>
  <div class="form-inline mx-5 pl-1">
    <label class="mx-2">Bulk Action Tool</label>
    <select class="form-control" [(ngModel)]="bulkFileOperation">
      <option value="" disabled> Choose an option... </option>
      <option *ngFor="let option of bulkFileOperations"> {{option}} </option>
    </select>
    <label class="mx-2">for the year</label>
    <select class="form-control mx-2" [(ngModel)]="bulkOperationYear">
      <option value="" disabled> Choose an option... </option>
      <option *ngFor="let year of bulkOperationYears"> {{year}} </option>
    </select>
    <button class="btn btn-primary mx-2" (click)="executeBulkFileOperation()" [disabled]="isMissingBulkFileAttributes()"
      [qLoading]="sendLoading">Execute</button>
    {{ bulkFileOperation === '' ? '' : bulkFileOperation === bulkFileOperationTypes.Download? 'Bulk download functionality coming soon!' : ''}}
    <button class="btn btn-link" (click)="handleShowExtraTools()">
      {{!showExtraTools ? 'Show extra tools' : 'Hide extra tools'}}</button>
  </div>
  <div class="form-inline mx-5 my-3" *ngIf="showExtraTools">
    <label class="mx-2">Calculate Tool</label>
    <input type="text" class="form-control ml-2 search-input" placeholder="RT ID" [(ngModel)]="calcRTFilter">
    <label class="ml-2">From:</label>
    <input class="form-control ml-1" type="date" [(ngModel)]="fromDate">
    <label class="ml-2">To:</label>
    <input class="form-control ml-1" type="date" [(ngModel)]="toDate">
    <button class="btn btn-primary ml-2" (click)="calcTransactionByTime(fromDate, toDate)"><i
        class="fa fa-calculator"></i>
      Calculate</button>
    <span *ngIf="transactionText" class="ml-2">{{transactionText}}</span>
    <div class="ml-2">
      <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top"
        title="For 2021 and prior, if RT has less than 200 transactions or less than $20k of transactions, they don’t need a 1099K form for the currently-selected period. For 2022 and beyond, if the RT has less than $600 of transactions, they don’t need a 1099K form for the currently-selected period.
      (对于2021和以前，如果餐馆具有少于200个事务或少于20000美元的事务，则它们不需要当前选择的周期的1099 K表。在2022年及以后，如果餐馆的交易额少于600美元，则在当前选定的期间内，他们不需要1099K表格。)"></i>
    </div>
    <button class="btn btn-primary ml-2" (click)="calcPunishedMoney()"><i class="fa fa-calculator"></i>
      Calculate Punished money</button>
    <ng-container *ngIf="this.refuseFormRows.length > 0">
      <table class="table table-sm mt-2">
        <thead>
          <th>Restaurant</th>
          <th>Total</th>
          <th>Punised Money (24% of Total)</th>
        </thead>
        <tbody>
          <tr *ngFor="let row of refuseFormRows; let i = index;">
            <td>
              {{i+1}}
            </td>
            <td>
              <div>{{ i === refuseFormRows.length - 1 ? getReformRowName(row) : 'Total' }}</div>
              <div>
                <a class="my-text-small btn-link" target="_blank" [routerLink]="'/restaurants/' + row.id">
                  {{ getReformRowId(row) }}
                </a>
              </div>
            </td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
          </tr>
        </tbody>
      </table>
    </ng-container>
  </div>
</div>

<!-- single row/card template. we will popoulate one per RT with a 1099K -->
<div class="row mx-5">
  <div *ngFor="let row of filteredRows; let rowIndex = index" class="card pl-1 ml-1 mb-1 pb-1 card-width">
    <div class="card-body">
      <h5 class="card-title">
        <a href="/#/restaurants/{{row.id.toString()}}" target="_blank">{{row.name}}</a>
      </h5>
      <div class="d-flex">
        <b>
          {{row.id}}
        </b>
        <span class="mx-1">
          ({{getBizContacts(row.channels)|| 'None'}})
        </span>
        <span class="mx-1">
          - {{now| adjustedDate: 'h:mm a':row.timezone}},
        </span>
        <span class="mx-1 {{row.openOrNot? 'text-success': 'text-danger'}}">
          {{row.openOrNot?'Open':'Closed'}}
        </span>
      </div>
      <div class="card-text d-flex justify-content-between">
        <div>
          <div>
            <b>TIN: </b>
            <b class="text-danger" *ngIf="!row.rtTIN">Attribute Missing</b>
            <q-edit-label [value]="row.rtTIN" (edit)="onEdit($event, rowIndex, 'rtTIN')">
            </q-edit-label>
          </div>
          <div>
            <b>Payee: </b>
            <b class="text-danger" *ngIf="!row.payeeName">Attribute Missing</b>
            <q-edit-label [value]="row.payeeName" (edit)="onEdit($event, rowIndex, 'payeeName')">
            </q-edit-label>
          </div>
          <div>
            <b>Email: </b>
            <span *ngIf="row.email.length > 0; else elseBlockEmail">{{row.email.join(', ')}} </span>
            <ng-template #elseBlockEmail>
              <b class="text-danger">Attribute Missing</b>
              <q-edit-label [emptyHint]="'(click to add)'" [value]="" [type]="'text'"
                (edit)="onEdit($event, rowIndex, 'Email')"></q-edit-label>
            </ng-template>
          </div>
          <div>
            <b>Tin Type: </b>
            <b class="text-danger" *ngIf="!row.rtTinType">Attribute Missing</b>
            <span>{{row.rtTinType}}</span>
            <a class="btn-link ml-2" (click)="openTinTypeModal(rowIndex)">Edit</a>
          </div>
          <div>
            <a class="btn-link" (click)="openCustomize1099kModal(rowIndex)" *ngIf="taxYear !== 'All'">
              {{hasCustomOfThisYear(row.form1099k || []) ? 'Edit Customizations' : 'Customize'}}
            </a>
          </div>
        </div>
        <div class="text-unwrap">
          <div *ngFor="let form of (row.form1099k  || [])">
            <ng-container *ngIf="form.required;else requiredBlock">
              {{form.year}} <span *ngIf="form.yearPeriodStart">(Customized Part
                {{getCustomizedNum(form, row.form1099k)}})</span> -
              <ng-container *ngIf="allAttributesPresent(row); else missingAttributesBlock">
                <a class="btn-link" (click)="renderPDFForm(row, form, 'qmenu')"> for qMenu <i
                    class="fa fa-download"></i></a>
                <a class="btn-link ml-2" (click)="renderPDFForm(row, form, 'restaurant')"> for
                  Restaurant <i class="fa fa-download"></i></a>
                <a class="btn-link ml-2 {{!disableSendBtn(row) ? '': 'disabled'}}"
                  (click)="openSendEmailModal(row, form)">Send</a>
                <span *ngIf="form.sent" class="text-success">
                  (Sent)
                </span>
              </ng-container>
              <ng-template #missingAttributesBlock>
                <span class="text-danger">
                  Fill in all missing attributes to enable file download.
                </span>
              </ng-template>
            </ng-container>
            <ng-template #requiredBlock>
              <span>
                {{form.year}} <span *ngIf="form.yearPeriodStart">(Customized Part
                  {{getCustomizedNum(form, row.form1099k)}})</span> - No Form Required for this year
              </span>
            </ng-template>
            <label class="d-inline-flex align-items-center">Refuse form <input class="ml-1" type="checkbox"
                [(ngModel)]="form.refuseForm" (change)="onChangeRefuseform(row, form)"></label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- start with send emails modal -->
  <q-modal #sendEmailModal [size]="'lg'">
    <button type="button" class="close" (click)="sendEmailModal.hide()">
      <span>×</span>
    </button>
    <h4 class="text-center">Send PDF Form</h4>
    <hr>
    <!-- start with email channels -->
    <div *ngIf="allEmails.length > 0">
      <div *ngFor="let email of allEmails">
        <input type="checkbox" (change)="selectTarget($event, email)" [value]="email.value"
          [checked]="targets.includes(email)">
        <i class="fas fa-envelope-square"></i>
        {{email.value}}
        <ng-container *ngIf="email.notifications?.length">({{email.notifications?.join("/")}})</ng-container>
      </div>
    </div>
    <div *ngIf="allEmails.length <= 0">
      No message target found, please add the contact you need to the RT's contacts.
    </div>
    <!-- end with email channels -->
    <!-- template has some input varible to fill in -->
    <div *ngIf="template">
      <div class="mt-2" *ngFor="let field of template.inputs">
        <label>{{field.label}}<span class="text-danger">*</span></label>
        <input class="form-control" type="{{field.type || 'text'}}" [(ngModel)]="field.value">
      </div>
      <div class="msg-content mt-2" [innerHTML]="sanitized(template.html)"></div>
    </div>
    <!--start with mark only checkbox-->
    <div class="mt-3">
      <input type="checkbox" [(ngModel)]="markSentFlag"> Only Mark as Sent
      <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="If you've already sent the 1099K form(s) to the restaurant outside of this tool,
           you can mark the status as 'Sent' by checking this box and clicking 'Send', and it'll update the status to 'Sent' without actually sending the form(s) again.
          (如果您已经将1099K表格发送到该工具之外的餐厅，您可以通过选中此框并单击“发送”将状态标记为“已发送”，它会将状态更新为“已发送”，而不会再次实际发送表格。)"></i>
    </div>
    <!-- end with mark only checkbox -->
    <div class="d-flex justify-content-end p-4">
      <button class="btn btn-secondary mr-2" (click)="sendEmailModal.hide()">Cancel</button>
      <button class="btn btn-primary" (click)="sendPDFFormToRT()" [qLoading]="sendLoading">Send</button>
    </div>
  </q-modal>
  <!-- end with send email modal -->
  <!-- start with tin type modal -->
  <q-modal #tinTypeModal>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
    <h4 class="text-center">Tin Type</h4>
    <hr>
    <div class="row my-3">
      <select class="form-control mx-2" [(ngModel)]="tinType">
        <option *ngFor="let type of tinTypes"> {{type}} </option>
      </select>
    </div>
    <div class="d-flex justify-content-end p-4">
      <button class="btn btn-secondary mr-2" (click)="tinTypeModal.hide()">Cancel</button>
      <button class="btn btn-primary" (click)="patchTinType()">Submit</button>
    </div>
  </q-modal>
  <!-- end with tin type modal -->
  <!-- start with customize 1099k modal -->
  <q-modal #customize1099kModal [size]="'600px'">
    <button type="button" class="close" (click)="closeCustomize1099kModal()">
      <span aria-hidden="true">×</span>
    </button>
    <h4 class="text-center">Customize 1099k</h4>
    <hr>
    <div class="container">
      <div class="my-3" *ngFor="let item of customize1099kList;let i = index;">
        <div>
          <div class="row">
            <label>Tax Year {{taxYear}} (Part {{i+1}})</label>
            <a class="btn-link close-btn-pos" *ngIf="i > 0" (click)="deleteCustomNewLine(i)">
              <i class="fa fa-times"></i>
            </a>
          </div>
          <div class="row form-inline">
            <input class="form-control" (change)="changeCustomItem(item)" type="text" [(ngModel)]="item.tin"
              placeholder="Period TIN">
            <select class="form-control ml-2 custom-tintype-width" [(ngModel)]="item.tinType"
              (change)="changeCustomItem(item)">
              <option *ngFor="let type of customizeTinTypes"> {{type}} </option>
            </select>
          </div>
          <div class="row">
            <input class="form-control mt-2" type="text" (change)="changeCustomItem(item)" [(ngModel)]="item.payeeName"
              placeholder="Period Payee Name">
          </div>
        </div>
        <div class="row form-inline mt-2">
          <label>From:</label>
          <input class="form-control ml-1" type="date" (change)="changeCustomItem(item)" [(ngModel)]="item.fromDate">
          <label class="ml-2">To:</label>
          <input class="form-control ml-1" type="date" (change)="changeCustomItem(item)" [(ngModel)]="item.toDate">
          <button class="btn btn-primary ml-2" [disabled]="hasCustomItemErr(i)"
            (click)="calcTransactionByTime(item.fromDate, item.toDate, item)">
            <i class="fa fa-calculator"></i>
            Calculate
          </button>
        </div>
        <div class="row text-muted" *ngIf="item.rt1099KData">
          {{item.transactionText}}
        </div>
        <div class="row" *ngIf="hasCustomItemErr(item)">
          <span class="text-danger">{{hasCustomItemErr(i)}}</span>
        </div>
        <hr *ngIf="i < customize1099kList.length - 1" />
      </div>
      <div class="row">
        <button class="btn btn-primary" (click)="addCustomNewLine()" *ngIf="customize1099kList.length >= 1"><i
            class="fa fa-plus"></i>
          Add new portion
        </button>
      </div>
    </div>
    <div class="d-flex justify-content-end p-4">
      <button class="btn btn-secondary mr-2" (click)="closeCustomize1099kModal()">Cancel</button>
      <button class="btn btn-primary" (click)="patchCustom1099k()" [disabled]="hasCustomize1099kError()">Submit</button>
    </div>
  </q-modal>
  <!-- end with custom 1099k modal -->
</div>
