.search-input {
  max-width: 300px;
  min-width: 300px;
}

.card-width {
  width: 100%;
}

.recan-btn {
  position: absolute;
  right: 4rem;
}

.msg-content {
  background: #e9ecef;
  border: 1px solid #ced4da;
}

.close-btn-pos {
  position: absolute;
  right: 25px;
}
