<h2 class="text-center">IRS Form 1099K Dashboard</h2>
<div class="text-center">RTs with Form 1099K: /TODO/ </div>

<div class="my-2">
    <div class="form-inline" style="width: 100%;">
        <!-- Search Textbox -->
        <label class="mx-2"> Search:</label>
        <input [qDebounce]="500" (debounce)="debounce($event)" type="text" class="form-control ml-2"
            placeholder="RT name or ID, R T owner name, email, etc." [(ngModel)]="searchFilter">

        <!-- Tax Year Dropdown -->
        <label class="mx-2"> Select Tax Year:</label>
        <select class="form-control" [(ngModel)]="taxYear" (change)="filterRows()">
            <option *ngFor="let entry of taxYearOptions"> {{entry}} </option>
        </select>

        <!-- Missing Payee/TIN/Email Attributes -->
        <label class="mx-2"> Show Missing Payee </label>
        <input class="form-check-input" type="checkbox" [(ngModel)]="showMissingPayee" (change)="filterRows()">

        <label class="mx-2"> Show Missing TIN </label>
        <input class="form-check-input" type="checkbox" [(ngModel)]="showMissingTIN" (change)="filterRows()">


        <label class="mx-2"> Show Missing Email </label>
        <input class="form-check-input" type="checkbox" [(ngModel)]="showMissingEmail" (change)="filterRows()">

    </div>
</div>

<!-- single row/card template. we will popoulate one per RT with a 1099K -->

<div *ngFor="let row of filteredRows; let rowIndex = index" class="card pl-1 ml-1 mb-1 pb-1" style="width: 75%;">
    <div class="card-body">
        <h5 class="card-title">
            <a href="/#/restaurants/{{row.id.toString()}}">{{row.name}}</a>
        </h5>
        <div class="card-text d-flex justify-content-between">
            <span class="py2 text-left">
                <div>
                    <b>TIN: </b>
                    <span *ngIf="row.rtTIN; else elseBlockTIN">{{row.rtTIN}} <q-edit-label [value]="" [type]="'text'"
                            (edit)="submitTIN($event, rowIndex)"></q-edit-label></span>
                    <ng-template #elseBlockTIN>
                        <b class="text-danger">Attribute Missing</b>
                        <q-edit-label [emptyHint]="'(click to add)'" [value]="" [type]="'text'"
                            (edit)="submitTIN($event, rowIndex)"></q-edit-label>
                    </ng-template>
                </div>
                <div>
                    <b>Payee: </b>
                    <span *ngIf="row.payeeName; else elseBlockPayee">{{row.payeeName}} <q-edit-label [value]=""
                            [type]="'text'" (edit)="submitPayee($event, rowIndex)"></q-edit-label></span>
                    <ng-template #elseBlockPayee>
                        <b class="text-danger">Attribute Missing</b>
                        <q-edit-label [emptyHint]="'(click to add)'" [value]="" [type]="'text'"
                            (edit)="submitPayee($event, rowIndex)"></q-edit-label>
                    </ng-template>
                </div>
                <div>
                    <b>Email: </b>
                    <span *ngIf="row.email.length > 0; else elseBlockEmail">{{row.email.join(', ')}} </span>
                    <ng-template #elseBlockEmail>
                        <b class="text-danger">Attribute Missing</b>
                        <q-edit-label [emptyHint]="'(click to add)'" [value]="" [type]="'text'"
                            (edit)="submitEmail($event, rowIndex)"></q-edit-label>
                    </ng-template>
                </div>
            </span>
            <span class="py-2 text-right">
                <div *ngIf="allAttributesPresent(row); else missingAttributesBlock">
                    <div *ngFor="let form of (row.form1099k  || [])">
                        {{form.year}} Form:
                        <button class="btn btn-link" (click)="renderQMenuPDFForm(row, form)"> for qMenu <i
                                class="fa fa-download" aria-hidden="true"></i></button>
                        <button class="btn btn-link" (click)="renderRestaurantPDFForm(row, form)"> for Restaurant <i
                                class="fa fa-download" aria-hidden="true"></i></button>
                    </div>
                </div>

                <ng-template #missingAttributesBlock>
                    <div>
                        Fill in all missing attributes to enable file download.
                    </div>
                </ng-template>
            </span>
        </div>
    </div>
</div>