<div *ngIf="restaurant">
  <div class="mb-2 text-right">
    <button class="btn btn-primary" (click)="createGmbRequestTask()" [qLoading]="refreshing">
      <i class="fas fa-plus"></i> Create GMB Task</button>
    <button class="btn btn-primary" (click)="refreshGmbTasks()" [qLoading]="refreshing">
      <i class="fas fa-hourglass-half"></i> Refresh GMB Tasks</button>
  </div>

  <table>
    <tr>
      <th>Result</th>
      <th>Created At</th>
      <th>Id</th>
      <th>Name</th>
      <th>Closed At</th>
      <th>Email</th>
      <th>PIN</th>
      <th>Status</th>
    </tr>
    <tr *ngFor="let task of tasks">
      <td>{{task.result}}</td>
      <td>{{task.createdAt | date: 'medium'}}</td>
      <td><button class="btn btn-link py-0" (click)="showDetails(task)">{{task._id}}</button></td>
      <td>{{task.name}}</td>
      <td>{{task.resultAt | date: 'medium'}}</td>
      <td>
        <app-gmb-account-hotlink *ngIf="task.request?.email" [email]="task.request?.email"></app-gmb-account-hotlink>
      </td>
      <td>{{(task.request?.pinHistory || [])[0]?.pin}} </td>
      <td>{{(task.request?.statusHistory || [])[0]?.status}} </td>
    </tr>
  </table>

</div>

<q-modal #taskDetailsModal>
  <pre>
    {{ selectedTask | json}}
  </pre>
</q-modal>