<div *ngIf="restaurant">
  <div class="mb-2 text-right">
    <button class="btn btn-primary" (click)="createGmbRequestTask()" [qLoading]="refreshing">
      <i class="fas fa-plus"></i> Create GMB Task</button>
    <button class="btn btn-primary" (click)="refreshGmbTasks()" [qLoading]="refreshing">
      <i class="fas fa-hourglass-half"></i> Refresh GMB Tasks</button>
  </div>

  <table class="table table-sm">
    <tr>
      <th>Result</th>
      <th>Created At</th>
      <th>Id</th>
      <th>Name</th>
      <th>Closed At</th>
      <th>Email</th>
      <th>PIN</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let task of tasks">
      <td>{{task.result}}</td>
      <td>{{task.createdAt | date: 'medium'}}</td>
      <td>
        <button class="btn btn-link py-0" (click)="showTaskJSON(task)">{{task._id}}</button>
      </td>
      <td>{{task.name}}</td>
      <td>{{task.resultAt | date: 'medium'}}</td>
      <td>
        <app-gmb-account-hotlink *ngIf="task.request?.email" [email]="task.request?.email"
          [appealId]="task.request?.appealId"></app-gmb-account-hotlink>
      </td>
      <td>{{(task.request?.pinHistory || [])[0]?.pin}} </td>
      <td>{{(task.request?.statusHistory || [])[0]?.status}} </td>
      <td>
        <button class="btn btn-sm btn-link mb-2 ml-1" *ngIf="task.name === 'GMB Request'"
          (click)="showDetails(task._id)">View</button>
        <app-task-action-bar *ngIf="task.name !== 'GMB Request'" [task]="task" [user]="user"
          (actionDone)="triggerActionDone($event)">
        </app-task-action-bar>
      </td>
    </tr>
  </table>

</div>

<!--the editing modal-->
<q-modal #taskDetailModal>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>
  <app-gmb-task-detail #taskDetail [qmenuDomains]="qmenuDomains" [publishedCids]="publishedCids"
  [assignees]="assignees" (refreshTask)="handleRefreshSingleTask($event)" (assignComplete)="handleAssignComplete()"
  (showDetailsEvent)="showDetails($event)"></app-gmb-task-detail>
</q-modal>

<!-- the view json modal -->
<q-modal #viewJSONModal>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>
<pre>
{{currentTask|json}}
</pre>
</q-modal>
