<div class="card mb-2">
	<h3 class="card-title text-center pt-4 pb-2">
		<i class="far fa-building"></i> Profile</h3>
	<ul class="list-group list-group-flush">
		<li class="list-group-item">

			<div *qIf="!editing">
				<table class="table table-borderless table-sm">
					<tbody>
						<tr>
							<th class="text-right">Name</th>
							<td class="pl-1">{{restaurant.name}} ({{getMongoDate(restaurant._id) | date: 'shortDate'}})</td>
						</tr>
						<tr>
							<th class="text-right">Address</th>
							<td class="pl-1">{{restaurant.googleAddress?.formatted_address}}</td>
						</tr>
						<tr>
							<th class="text-right">Address Extra</th>
							<td class="pl-1">{{restaurant.googleAddress?.apt}}</td>
						</tr>
						<tr>
							<th class="text-right">ID</th>
							<td class="pl-1">{{restaurant._id}}</td>
						</tr>
						<tr>
							<th class="text-right">Restaurant ID</th>
							<td class="pl-1">{{restaurant.restaurantId}}</td>
						</tr>
						<tr>
							<th class="text-right">Alias</th>
							<td class="pl-1">{{restaurant.alias}}</td>
						</tr>

						<tr>
							<th class="text-right">Website Broadcast</th>
							<td class="pl-1">{{restaurant.notification || 'N/A'}}</td>
						</tr>
						<tr>
							<th class="text-right">Time Estimate for Pickup</th>
							<td class="pl-1">{{restaurant.pickupTimeEstimate || 'N/A'}} minutes</td>
						</tr>
						<tr>
							<th class="text-right">Time Estimate for Delivery</th>
							<td class="pl-1">{{restaurant.deliveryTimeEstimate || 'N/A'}} minutes</td>
						</tr>
						<tr>
							<th class="text-right">Tax Rate</th>
							<td class="pl-1">{{restaurant.taxRate | percentage}}</td>
						</tr>
						<tr>
							<th class="text-right">Surchage</th>
							<td class="pl-1">{{restaurant.surchargeName}} {{restaurant.surchargeAmount | currency:'USD':'symbol'}}</td>
						</tr>
						<tr>
							<th class="text-right">CC Processing Rate</th>
							<td class="pl-1">{{restaurant.ccProcessingRate | percentage}}</td>
						</tr>
						<tr>
							<th class="text-right">CC Processing Flat Fee</th>
							<td class="pl-1">{{restaurant.ccProcessingFlatFee | currency:'USD':'symbol'}}</td>

						</tr>
						<tr>
							<th class="text-right">Disable Scheduling</th>
							<td class="pl-1">{{!!restaurant.disableScheduling}}</td>
						</tr>
						<tr>
							<th class="text-right">Pickup Minimum</th>
							<td class="pl-1">{{restaurant.pickupMinimum | money}}</td>
						</tr>
						<tr>
							<th class="text-right">Preferred Language</th>
							<td class="pl-1">{{restaurant.preferredLanguage}}</td>
						</tr>
						<tr>
							<th class="text-right">Time Zone</th>
							<td class="pl-1">{{getTimeZoneText()}}</td>
						</tr>
						<tr>
							<th class="text-right">Sales Agent</th>
							<td class="pl-1">{{(restaurant.rateSchedules || [])[0]?.agent || 'N/A'}}</td>
						</tr>
						<tr>
							<th class="text-right">Skip Order Confirmation</th>
							<td class="pl-1">{{!!restaurant.skipOrderConfirmation}}</td>
						</tr>
						<tr>
							<th class="text-right">Disabled</th>
							<td class="pl-1">{{!!restaurant.disabled}}</td>
						</tr>
						<tr>
							<th class="text-right">Notes</th>
							<td class="pl-1" style="white-space: pre-wrap">{{restaurant.notes}}</td>
						</tr>
					</tbody>
				</table>
			</div>


			<!--editing view-->
			<div *qIf="editing">
				<table class="table table-borderless table-sm">
					<tbody>
						<tr>
							<th class="text-right">Name</th>
							<td class="pl-1">
								<input type="text" [(ngModel)]="name" class="form-control">
							</td>
						</tr>
						<tr>
							<th class="text-right">Address</th>
							<td class="pl-1">
								<q-address-picker [address]="address" (pick)="selectAddress($event)"></q-address-picker>
							</td>
						</tr>
						<tr>
							<th class="text-right">Address Extra</th>
							<td class="pl-1">
								<input type="text" class="form-control" placeholder="eg. Suite 300" [(ngModel)]="apt">
							</td>
						</tr>
						<tr>
							<th class="text-right" style="width: 33%">Domain</th>
							<td class="pl-1">
								<input type="text" [(ngModel)]="domain" class="form-control" placeholder="domain name, eg. qmenutest.com">
							</td>
						</tr>
						<tr>
							<th class="text-right" style="width: 33%">Website Broadcast</th>
							<td class="pl-1">
								<input type="text" [(ngModel)]="notification" class="form-control" placeholder="important message showing on website">
							</td>
						</tr>

						<tr>
							<td colspan="2"></td>
						</tr>
						<tr>
							<th class="text-right">Time Estimate for Pickup (mins)</th>
							<td class="pl-1">
								<input type="number" [(ngModel)]="pickupTimeEstimate" class="form-control">
							</td>
						</tr>
						<tr>
							<th class="text-right">Time Estimate for Delivery (mins)</th>
							<td class="pl-1">
								<input type="number" [(ngModel)]="deliveryTimeEstimate" class="form-control">
							</td>
						</tr>
						<tr>
							<th class="text-right">Tax Rate</th>
							<td class="pl-1">
								<input type="number" [(ngModel)]="taxRate" class="form-control">
							</td>
						</tr>
						<tr>
							<th class="text-right">Surcharge</th>
							<td class="pl-1">
								<input type="number" [(ngModel)]="surchargeAmount" class="form-control" placeholder="surcharge amount">
								<input type="text" [(ngModel)]="surchargeName" class="form-control mt-1" placeholder="text to show customer">
								<small>* This is money charged to customer for every online order and the collected money goes to restaurant.
									<i class="fas fa-exclamation"></i> It may drive customers away.</small>
							</td>
						</tr>
						<tr>
							<th class="text-right">CC Processing Rate</th>
							<td class="pl-1">
								<input type="number" [(ngModel)]="ccProcessingRate" class="form-control" placeholder="rate">
							</td>
						</tr>
						<tr>

							<th class="text-right">CC Processing Flat Fee
							</th>
							<td class="pl-1">
								<input type="number" [(ngModel)]="ccProcessingFlatFee" class="form-control" placeholder="fee">
							</td>
						</tr>
						<tr>
							<th class="text-right">Disable Scheduling</th>
							<td class="pl-1">
								<input type="checkbox" [(ngModel)]="disableScheduling">
							</td>
						</tr>
						<tr>
							<th class="text-right">Skip Order Confirmation</th>
							<td class="pl-1">
								<input type="checkbox" [(ngModel)]="skipOrderConfirmation">
							</td>
						</tr>
						<tr>
							<th class="text-right">Disabled</th>
							<td class="pl-1">
								<input type="checkbox" [(ngModel)]="disabled">
							</td>
						</tr>
						<tr>
							<th class="text-right">Pickup Minimum</th>
							<td class="pl-1">
								<input type="number" [(ngModel)]="pickupMinimum" class="form-control">
							</td>
						</tr>
						<tr>
							<th class="text-right">Order Call Language</th>
							<td class="pl-1">
								<select class="form-control" [(ngModel)]="preferredLanguage">
									<option *ngFor="let language of preferredLanguages" [ngValue]="language">
										{{ language.text }}
									</option>
								</select>
							</td>
						</tr>
						<tr>
							<th class="text-right">Time Zone</th>
							<td class="pl-1">
								<select class="form-control" [(ngModel)]="timeZone">
									<option *ngFor="let zone of timeZones" [ngValue]="zone">
										{{ zone.text }}
									</option>
								</select>
							</td>
						</tr>
						<tr>
							<th class="text-right">Logo</th>
							<td class="pl-1">
								<hr>
								<div *ngIf="logo" class="pr-1 pb-1" style="display:inline-block; position:relative">
									<img class="img-thumbnail app-thumbnail-h-6" src="{{logo}}">
									<button (click)="deleteLogo(img)" class="btn btn-secondary close-button transparent">
										<i class="fas fa-times"></i>
									</button>
									<button (click)="deleteLogo(img)" class="btn btn-link close-button text-danger">
										<i class="fas fa-times"></i>
									</button>
								</div>
								<div *ngIf="uploadLogoError">
									<span class="text-danger">{{uploadLogoError}}</span>
								</div>
								<div class="app-limit-file">
									<input type="file" (change)="onUploadLogo($event)" />
								</div>
							</td>
						</tr>
						<tr>
							<th class="text-right">Photos</th>
							<td class="pl-1">
								<div *ngFor="let img of images" class="pr-1 pb-1" style="display:inline-block; position:relative">
									<img class="img-thumbnail app-thumbnail-h-6" src="{{img}}">
									<button (click)="deleteImage(img)" class="btn btn-secondary close-button transparent">
										<i class="fas fa-times"></i>
									</button>
									<button (click)="deleteImage(img)" class="btn btn-link close-button text-danger">
										<i class="fas fa-times"></i>
									</button>
								</div>
								<div *ngIf="uploadImageError">
									<span class="text-danger">{{uploadImageError}}</span>
								</div>
								<div class="app-limit-file">
									<input type="file" (change)="onUploadImage($event)" />
								</div>
								<div>
									<small class="text-warning">Image may take time to show</small>
								</div>
							</td>
						</tr>
						<tr>
							<th class="text-right">Notes</th>
							<td class="pl-1">
								<div class="form-group">
									<textarea class="form-control" rows="5" [(ngModel)]="notes"></textarea>
								</div>
							</td>
						</tr>
						<tr>
							<td colspan="2" class="text-right pl-1">
								<button class="btn btn-secondary" (click)="cancel()">Cancel</button>
								<button class="btn btn-primary" [disabled]="!isEmailValid()" (click)="ok()">OK</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="text-right" *ngIf="!editing">
				<button (click)="toggleEditing()" class="btn btn-primary" role="button">Edit</button>
			</div>

		</li>

	</ul>
</div>