<button class="btn btn-primary" (click)="generateTask()">Generate A Task</button>
<div>
    <h2>Tasks</h2>
    <!-- by task name -->
    <div *ngFor="let nameEntry of groupedTasks" class="mb-4">
        <h5>{{nameEntry.name}}</h5>
        <ng-container *ngFor="let status of statuses">
            <button class="btn {{status.btnClass}} btn-status mr-4">
                <span class="h1">{{nameEntry[status.name] || 0}}</span>
                <hr>{{status.name}}
            </button>
        </ng-container>
    </div>
</div>
<app-task-list [taskList]="myTasks" [username]="myUsername" [roles]="myRoles"></app-task-list>
