<!-- <app-stripe></app-stripe> -->
<app-task-list [taskList]="tasks" [username]="myName" [roles]="myRoles"></app-task-list>
<div class="container">
    <h2>Assigned to Me</h2>
    <!-- by task name -->
    <div *ngFor="let nameEntry of groupedTasks" class="mb-4">
        <h5>{{nameEntry.name}}</h5>
        <ng-container *ngFor="let status of statuses">
            <button class="btn {{status.btnClass}} btn-status mr-4">
                <span class="h1">{{nameEntry[status.name] || 0}}</span>
                <hr>{{status.name}}
            </button>
        </ng-container>
    </div>
</div>