<div class="text-center">
  <h1 class="text-center">GMB Tasks</h1>
  <button class="btn btn-link" (click)="populate()" [qLoading]="apiLoading">
    <i class="fas fa-sync-alt"></i> Reload</button>
  <div class="text-center">
    <span class="alert-warning">* Please Reload Before Claiming and Handling Your Tasks</span>
  </div>
</div>
<div class="clearfix mt-2">
  <div class="float-left form-inline">


  </div>
  <div class="float-right">
  </div>
</div>

<div class="card text-center mb-4" *ngIf="currentAction !== 'ADD'">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item" *ngFor="let tab of tabs" style="cursor: pointer;">
        <a class="nav-link {{activeTabLabel === tab.label? 'active' : ''}}"
          (click)="setActiveTab(tab)">{{tab.label}}({{tab.rows.length}})</a>
      </li>
    </ul>
  </div>
  <div class="clearfix mt-2">

    <label class="mr-2"> Time Zone:</label>
    <select class="mr-5" [(ngModel)]="timeZone" (change)="filter()">
      <option>All</option>
      <option *ngFor="let tz of timeZoneList">{{tz}}</option>
    </select>
    <label class="mr-2"> GMB Owner:</label>
    <select class="mr-5" [(ngModel)]="owner" (change)="filter()">
      <option>All</option>
      <option>NON-QMENU</option>
      <option *ngFor="let ow of ownerList">{{ow}}</option>
    </select>

    <label class="mr-2"> Assignee:</label>
    <select class="mr-5" [(ngModel)]="assignee" (change)="filter()">
      <option>All</option>
      <option *ngFor="let assignee of assignees">{{assignee}}</option>
    </select>

    <label class="mr-2"> Owner Declined:</label>
    <select class="mr-5" [(ngModel)]="ownerDeclined" (change)="filter()">
      <option>Any</option>
      <option>Yes</option>
      <option>No</option>
    </select>

    <input class="form-check-input" type="checkbox" [(ngModel)]="shouldCall" id="shouldCallCheck" (change)="filter()">
    <label class="form-check-label mr-5" for="shouldCallCheck">
      Should Call
    </label>

    <input class="form-check-input" type="checkbox" [(ngModel)]="hasPhone" id="hasPhoneCheck" (change)="filter()">
    <label class="form-check-label mr-5" for="hasPhoneCheck">
      Phone
    </label>

    <input class="form-check-input" type="checkbox" [(ngModel)]="hasPostcard" id="hasPostcardCheck" (change)="filter()">
    <label class="form-check-label mr-5" for="hasPostcardCheck">
      Postcard Not Sent
    </label>

    <input class="form-check-input" type="checkbox" [(ngModel)]="hasPendingPostcard" id="hasPendingPostcardCheck"
      (change)="filter()">
    <label class="form-check-label mr-5" for="hasPendingPostcardCheck">
      Postcard Sent
    </label>

    <input class="form-check-input" type="checkbox" [(ngModel)]="pagination" id="paginationCheck">
    <label class="form-check-label mr-5" for="paginationCheck">
      Pagination
    </label>

  </div>

  <div class="card-body text-left">
    <ng-container *ngFor="let tab of tabs">
      <q-table *ngIf="activeTabLabel === tab.label" [rows]="tab.rows" [tableColumnDescriptors]="myColumnDescriptors"
        [compact]="true" [pageSize]="pagination ? 100 : 100000">

        <tr *tableRowTemplate="let row;"
          class="{{row.request.ownerDeclined || (row.request.statusHistory && row.request.statusHistory[0].isError) ? 'alert-danger': ''}}">
          <td>{{row.rowNumber}}
          </td>
          <td>
            <div class="badge badge-{{row.statusClass}}">{{(row.scheduledAt || 0) | ago: now}}</div>
          </td>

          <td>
            <a target="_blank"
              href="#/restaurants/{{row.relatedMap?.restaurantId}}">{{row.relatedMap?.restaurantName}}</a>
            <div class="text-muted">
              <small>
                {{row.address}}
                <div>{{row.localTimeString}}</div>
                <!-- <div *ngIf="task.transfer && task.transfer.fromEmail">
                      <app-gmb-account-hotlink [email]="task.transfer.fromEmail"></app-gmb-account-hotlink>
                      <span *ngIf="task.transfer.againstEmail">« {{task.transfer.againstEmail | emailName}}</span>
                    </div>
                    <div *ngIf="task.etc && task.etc.fromEmail">
                      <app-gmb-account-hotlink [email]="task.etc.fromEmail"></app-gmb-account-hotlink>
                    </div> -->
              </small>
            </div>
          </td>
          <td>{{row.timezoneCell}}</td>
          <td>{{row.score | number : '1.0-0'}}</td>
          <td>{{row.gmbOwner}}</td>
          <td class="text-nowrap">
            <i *ngIf="row.request?.pinHistory && row.request?.pinHistory[0] && row.request?.pinHistory[0].pin"
              class="text-warning fas fa-2x fa-lightbulb"></i>
            <ng-container *ngFor="let vo of row.verificationOptions || []">
              <i
                class="fas fa-{{vo.verificationMethod === 'EMAIL' ? 'at' : (vo.verificationMethod === 'PHONE_CALL' ? 'phone' : (vo.verificationMethod === 'ADDRESS' ? 'address-card' : 'question'))}} {{vo.verification ? 'text-success' : 'text-muted'}} {{isNonQmenuEmail(vo) ? 'opacity-30' : ''}}"></i>
            </ng-container>

            <div *ngIf="row.pendingVerification" class="text-muted">
              <small>{{row.pendingVerification.createTime | ago: now}}</small>
            </div>

            <!-- <div class="text-warning" *ngIf="task.transfer?.code">
                  <i class="fas fa-2x fa-lightbulb"></i>
                </div>-->
          </td>
          <td>{{row.assignee}}</td>
          <td>
            <!-- <app-task-action-bar [task]="row.task" [user]="user" (actionDone)="triggerActionDone($event)">
            </app-task-action-bar> -->
            <button class="btn btn-primary" *ngIf="!row.assignee" (click)="assign(row.task, user.username)">
              Claim
            </button>
            <button class="btn btn-link" (click)="showDetails(row.task._id)">
              Details
            </button>
          </td>
          <td class="text-nowrap">
            {{row.createdAt | ago:now}}
            <div class="text-muted">
              <small>{{row._id}}</small>
            </div>
          </td>
          <td class="text-nowrap">
            <div *ngIf="row.request && row.request.refreshedAt" class="text-muted">
              <small>{{row.request.refreshedAt | ago: now}}</small>
            </div>
          </td>
          <td>
            <div *ngIf="row.request?.statusHistory && row.request?.statusHistory[0]">
              <!-- {{row.request.statusHistory[0].status}} -->
              {{row.request.statusHistory[0]?.status}}
            </div>
            <div class="wrap" [innerHTML]="row.comments"> </div>
          </td>
        </tr>
      </q-table>
    </ng-container>

  </div>
</div>

<!--the editing modal-->
<q-modal #rowModal>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>
  <h4 class="text-center">{{modalTask?.relatedMap?.restaurantName}}
  </h4>
  <div class="small text-center">
    <a target="_blank" href="#/restaurants/{{modalTask?.relatedMap?.restaurantId}}">{{getAddress(modalTask)}}</a>
  </div>
  <div class="text-center">
    <button class="btn btn-link" (click)="hardRefresh(modalTask)" [qLoading]="apiLoading"><i
        class="fas fa-sync-alt"></i>
      Hard Refresh</button>
  </div>

  <hr>
  <div *ngIf="modalTask?.request.email" class="text-center">
    <app-gmb-account-hotlink [email]="modalTask?.request.email"></app-gmb-account-hotlink>
    <label>[postcard ID: {{postcardIds.get(modalTask?.request.email)}}]</label>
  </div>

  <div class="alert alert-danger text-center" *ngIf="modalTask?.request?.ownerDeclined">
    OWNER DECLINED TO WORK WITH QMENU
  </div>

  <div class="alert {{status.isError ? 'alert-danger' : 'alert-warning'}}"
    *ngFor="let status of (modalTask?.request?.statusHistory || [])">
    {{status.time | ago : now}}: {{status.status}}
  </div>
  <div class="form-group mb-4">
    <label>Comments:</label>
    <div class="wrap pb-1" [innerHTML]="modalTask?.comments"></div>
    <div class="input-group">
      <input type="text" class="form-control" [(ngModel)]="comments" placeholder="your comments">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary min-w-6" type="button" (click)="addComments(comments)">Add</button>
      </div>
    </div>
  </div>
  <hr>
  <h5 class="text-center">{{restaurant?.googleListing?.phone | phone}}</h5>
  <table class="table table-borderless table-sm text-center" *ngIf="restaurant?.people">
    <!-- <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Position</th>
        <th scope="col">Channels</th>
        <th scope="col"></th>
      </tr>
    </thead> -->
    <tbody>
      <tr *ngFor="let person of restaurant.people">
        <td>{{person.title}} {{person.name}}</td>
        <td>{{join(person.roles)}}</td>
        <td>
          <div *ngFor="let c of person.channels || []">
            {{c.type}}: {{c.value}}
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <hr>

  <div class="form-group">
    <label>Verification Options:</label>
    <!-- {{preferredVerificationOption | json}} -->
    <div *ngIf="preferredVerificationOption" class="alert alert-secondary">
      <div *ngIf="preferredVerificationOption.method === 'ADDRESS'">
        Requested Postcard Verification {{preferredVerificationOption.createTime | ago : now}}
        <div class="text-left">
          <button class="btn btn-link pl-0" (click)="showNotifier = !showNotifier">Remind Restaurant Owner</button>
        </div>
        <div class="form-group" *ngIf="showNotifier">
          <label>Notify Restaurant:</label>
          <send-google-pin [restaurantId]="restaurant._id"></send-google-pin>
        </div>
      </div>

      <div *ngIf="preferredVerificationOption.verificationMethod === 'PHONE_CALL'">
        Should Call <b>{{preferredVerificationOption.phoneData.phoneNumber}}</b> to Verify
      </div>
      <div *ngIf="preferredVerificationOption.verificationMethod === 'EMAIL'">
        Should Use Email <b>{{preferredVerificationOption.emailData.domainName}}</b> to Get PIN
      </div>
    </div>
    <div *ngIf="!preferredVerificationOption" class="alert alert-secondary">
      No verification option is preferred to use.
    </div>

    <div *ngIf="verificationOptions.length === 0">N/A</div>
    <div *ngFor="let vo of verificationOptions || []"
      class="{{isNonQmenuEmail(vo) ? 'opacity-30' : ''}} {{vo.verification ? 'text-success' : 'text-muted'}} mb-2 row">
      <div class="col-6 text-nowrap">
        <i class="pr-2 fas fa-{{vo.faClass}}"></i>
        <span *ngIf="vo.phoneData?.phoneNumber">
          {{vo.phoneData?.phoneNumber}}
        </span>
        <span *ngIf="vo.emailData?.domainName">
          <a href="http://{{vo.emailData?.domainName}}" target="_blank">{{vo.emailData?.domainName}}</a>
        </span>
        <span *ngIf="vo.addressData?.address?.addressLines">
          {{vo.addressData?.address?.addressLines[0]}}
        </span>
      </div>
      <div class="col-6 text-right">
        <button *ngIf="vo.phoneData?.phoneNumber" class="btn btn-primary btn-sm" [qLoading]="verifyingOption === vo"
          (click)="trigger(modalTask, vo)">Trigger Google Call</button>
        <button *ngIf="vo.emailData?.domainName" class="btn btn-primary btn-sm" [qLoading]="verifyingOption === vo"
          (click)="trigger(modalTask, vo)">Trigger Email</button>
        <button *ngIf="vo.addressData?.address?.addressLines" class="btn btn-primary btn-sm"
          [qLoading]="verifyingOption === vo" (click)="trigger(modalTask, vo)">Trigger Postcard</button>
      </div>

    </div>
    <hr *ngIf="verifications && verifications.length > 0">
    <div *ngFor="let vo of verifications || []" class="text-muted">
      <small>
        <i
          class="pr-2 fas fa-{{vo.faClass}} {{isNonQmenuEmail(vo) ? 'opacity-30' : ''}} {{vo.verification ? 'text-success' : 'text-muted'}}"></i>
        {{vo.state}} {{vo.createTime | ago : now}}
      </small>
    </div>
  </div>


  <div class="form-group mb-4">
    <label>Google PINs:</label>
    <div *ngFor="let ph of modalTask?.request?.pinHistory || []" class="row">
      <div class="col-6 text-nowrap">
        <h2 class="d-inline-block">{{ph.pin ? ph.pin : '(empty)'}} </h2> <span class="text-muted">{{ph.time | ago: now}}
          {{ph.username}}</span>
      </div>
      <div class="col-6 text-right">
        <button class="btn btn-outline-secondary" (click)="resetPin(ph)" *ngIf="ph.pin">Reset PIN</button>
        <button class="btn btn-primary" (click)="completePin(ph)" *ngIf="ph.pin">Verify PIN</button>
      </div>
    </div>

    <div class="input-group">
      <input type="text" class="form-control" [(ngModel)]="pin" placeholder="PIN">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary min-w-6" type="button" (click)="savePin()">Save PIN</button>
      </div>
    </div>
  </div>


  <div class="form-group">
    <label>Schedule Followup At:</label>
    <input class="form-control" [owlDateTimeTrigger]="dt" [owlDateTime]="dt" [(ngModel)]="taskScheduledAt"
      (ngModelChange)="scheduledAtUpdated($event)">
    <owl-date-time #dt [hour12Timer]="true"></owl-date-time>
    <div class="py-1 text-right">
      <button type="button" class="btn btn-sm btn-info my-btn-narrow" *ngFor="let i of [1, 2, 6, 8]"
        (click)="plusDay(i)">Today + {{i}}</button>
    </div>
  </div>

  <div class="form-group alert alert-warning" *ngIf="modalTask">
    <label>Change Assignee:</label>
    <select [(ngModel)]="modalTask.assignee" class="form-control" (change)="assign(modalTask, modalTask.assignee)">
      <option *ngFor="let assignee of assignees" [ngValue]="assignee">{{assignee}}</option>
    </select>
    <div class="text-right">
      <button class="btn btn-link" (click)="toggleDecline()">Owner
        {{modalTask?.request?.ownerDeclined ? 'AGREED' : 'DECLINED'}} to Work with qMenu?</button>
    </div>
  </div>


  <div class="form-group">
    <ng-container *ngIf="!modalTask?.result">
      <label>If Done, Select Result:</label>
      <q-simple-radio [(ngModel)]="taskResult" [equalWidth]="true" [values]="['CANCELED', 'CLOSED']">
      </q-simple-radio>
      <div class="text-right" *ngIf="taskResult">
        <button class="btn btn-primary btn-sm" (click)="closeTask()">Confirm</button>
      </div>
    </ng-container>
  </div>


  <!-- 
  <div class="text-right">
    <button type="button" class="btn btn-link" (click)="cancel()" data-dismiss="modal">
      Cancel
    </button>
    <button *ngIf="mc.id" type="button" class="btn btn-link" (click)="delete()">
      <span class="text-danger"> Delete</span>
    </button>
    <button type="button" class="btn btn-primary min-w-6" (click)="rowModal.hide()">OK</button>
  </div> -->

  <hr>
  <h4>Other Open Tasks</h4>
  <div *ngFor="let task  of relatedTasks || []" class="alert alert-warning">
    <div *ngIf="task.name !== 'GMB Request'">{{task.name}}</div>
    <div *ngIf="task.name === 'GMB Request'">
      {{task.name}} <button class="btn btn-link" (click)="showDetails(task._id)">See Details...</button>
    </div>
    <div>
      <app-gmb-account-hotlink [email]="task.request?.email || task.transfer?.toEmail"></app-gmb-account-hotlink>
    </div>
    <div class="text-muted my-text-small"> {{task.createdAt | ago: now}}<br>{{task._id}}</div>
  </div>
  <div *ngIf="!relatedTasks || relatedTasks.length === 0">
    Not found
  </div>
  <hr>
  <h4>Restaurant Logs</h4>
  <table class="table table-sm" *ngIf="restaurant?.logs">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Problem</th>
        <th scope="col">Response</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let log of restaurant.logs">
        <td>{{log.time | date: 'short'}}</td>
        <td>{{log.problem}}</td>
        <td>{{log.response}}</td>
      </tr>
    </tbody>
  </table>
</q-modal>