<div class="card">
  <h2 class="card-title m-3">
    <h1 class="text-center">RTs Service Agreement ({{list.length}})</h1>
  </h2>
  <div class="card-body">
    <div class="d-flex justify-content-between mb-3">
      <label class="text-unwrap mr-3 mb-1">Has at least these providers:</label>
      <div class="form-check">
        <label class="form-check-inline" *ngFor="let provider of providers">
          <input class="form-check-input" type="checkbox" [value]="provider"
                 [checked]="filters.checkedProviders.includes(provider)" (change)="checkProvider($event, provider)">
          {{provider}}
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-auto mb-3">
        <div class="input-group d-flex align-items-center">
          <label class="mr-2">RTs Created after</label>
          <input class="form-control" type="date" [(ngModel)]="filters.createdAfter" (change)="filterRTs()">
        </div>
      </div>
      <div class="col-auto mb-3">
        <select [(ngModel)]="filters.agent" class="form-control" (change)="filterRTs()">
          <option value="">Agent?</option>
          <option *ngFor="let a of agents" [value]="a">{{a}}</option>
        </select>
      </div>
      <div class="col-auto mb-3">
        <select [(ngModel)]="filters.agreementSent" class="form-control ml-1" (change)="filterRTs()">
          <option value="">Agreement Sent?</option>
          <option *ngFor="let view of dropdowns('agreementSent')" [value]="view">{{view}}</option>
        </select>
      </div>
      <div class="col-auto mb-3">
        <select [(ngModel)]="filters.gmbOwner" class="form-control ml-1" (change)="filterRTs()">
          <option *ngFor="let opt of dropdowns('gmbOwner')" [value]="opt">{{opt}}</option>
          <option *ngFor="let owner of gmbOwners" [value]="owner">{{owner}}</option>
        </select>
      </div>
      <div class="col-auto mb-3">
        <select [(ngModel)]="filters.hasLogs" class="form-control ml-1" (change)="filterRTs()">
          <option value="">Has logs?</option>
          <option *ngFor="let opt of dropdowns('hasLogs')" [value]="opt">{{opt}}</option>
        </select>
      </div>
      <div class="col-auto mb-3">
        <select [(ngModel)]="filters.gmbChanges" class="form-control ml-1" (change)="filterRTs()">
          <option value="">GMB change?</option>
          <option *ngFor="let opt of dropdowns('gmbChanges')" [value]="opt">{{opt}}</option>
        </select>
      </div>
      <div class="col-auto mb-3">
        <select [(ngModel)]="filters.hasAttachment" class="form-control ml-1" (change)="filterRTs()">
          <option value="">Has attachment?</option>
          <option *ngFor="let opt of dropdowns('hasAttachment')" [value]="opt">{{opt}}</option>
        </select>
      </div>
      <div class="col-auto mb-3">
        <button class="btn btn-primary" (click)="query()"><i class="fas fa-sync"></i> Reload</button>
      </div>
    </div>

    <q-table [rows]="list" [tableColumnDescriptors]="restaurantsColumnDescriptors" [compact]="true"
      [pageSize]="100000">
      <tr *tableRowTemplate="let r">
        <td>{{list.indexOf(r) + 1}}</td>
        <td>
          <a routerLink="/restaurants/{{r['_id']}}">{{r.name}} </a><br>
          <span>{{r._id}}</span>
        </td>
        <td>{{r.agent}}</td>
        <td>{{r.googleAddress?.timezone}}({{r.timezoneOffset}})</td>
        <td>{{r.createdAt | dateTz: 'MMM d, yyyy' : r.googleAddress?.timezone }}</td>
        <td>{{r.gmbOwner}}</td>
        <td>
          <ng-container *ngIf="!r.sent;else elseBlock">
            <span class="text-danger">AGREEMENT NOT SENT</span>
          </ng-container>
          <ng-template #elseBlock>
            <span class="text-success">Agreement Sent: {{r.agreementSentAt| dateTz: 'MMM d, yyyy' : r.googleAddress?.timezone }} ({{r.sentDays}} days after signup)</span>
          </ng-template>
        </td>
        <td>
          <img class="attach-img mb-1 mr-1" *ngFor="let att of (r.otherAttachments || [])" [src]="att.url" />
        </td>
        <td>
          <div *ngFor="let log of (r.logs || [])">{{log.username}} {{log.time}}</div>
        </td>
      </tr>
    </q-table>
  </div>
</div>
