<div class="card">
  <h2 class="card-title m-3">
    <h1 class="text-center">RTs Service Agreement ({{filterAgreementRTs.length || 0}})</h1>
  </h2>
  <div class="card-body">
    <!-- start with filter control -->
    <div class="row">
      <div class="col-10 form-inline form-group">
        <!-- start with date filter -->
        <label class="text-center ml-1">RTs Created after</label>
        <input class="form-control ml-1" type="date" [(ngModel)]="fromDate" (change)="filterRTs()">
        <!-- end with date filter -->
        <!-- start with agent filter -->
        <label class="text-center ml-3">Salesperson</label>
        <select [(ngModel)]="agent" class="form-control ml-1">
          <option *ngFor="let a of agents" [value]="a">{{a}}</option>
        </select>
        <!-- end with agent filter -->
        <!-- start with agreement sent condition filter -->
        <label class="text-center ml-3">Agreement Sent</label>
        <select [(ngModel)]="agreementView" class="form-control ml-1">
          <option *ngFor="let view of agreementViews" [value]="view">{{view}}</option>
        </select>
        <!-- end with agreement sent condition filter -->
        <!-- start with Gmb owner filter -->
        <label class="text-center ml-3">Gmb Owner by</label>
        <select [(ngModel)]="gmbOwner" class="form-control ml-1">
          <option *ngFor="let owner of gmbOwners" [value]="owner">{{owner}}</option>
        </select>
        <!-- end with Gmb owner filter -->
        <!-- start with filter button -->
        <button class="btn btn-link" (click)="filterRTs()">filter</button>
        <!-- end with filter button -->
      </div>
      <div class="col-2 text-right form-group">
        <button class="btn btn-primary" (click)="loadDatas()"><i class="fas fa-sync"></i> Reload</button>
      </div>
    </div>
    <!-- end with filter control -->

    <q-table [rows]="filterAgreementRTs" [tableColumnDescriptors]="restaurantsColumnDescriptors" [compact]="true"
      [pageSize]="100000">
      <tr *tableRowTemplate="let r;">
        <td>{{filterAgreementRTs.indexOf(r) + 1}}</td>
        <td>
          <a routerLink="/restaurants/{{r['_id']}}">{{r.name}} </a><br>
          <span>{{r._id}}</span>
        </td>
        <td>
          {{r.agent}}
        </td>
        <td>
          {{r.createdAt | dateTz: 'MMM d, yyyy' : r.googleAddress?.timezone }}
        </td>
        <td>
          {{r.gmbOwner}}
        </td>
        <td>
          <ng-container *ngIf="!r.sent;else elseBlock">
            <span class="text-danger">AGREEMENT NOT SENT</span>
          </ng-container>
          <ng-template #elseBlock>
            <span class="text-success">Agreement Sent: {{r.agreementSentAt| dateTz: 'MMM d, yyyy' : r.googleAddress?.timezone }} ({{r.sentDays}} days after signup)</span>
          </ng-template>
        </td>
    </q-table>
  </div>
</div>
