<h1 class="text-center">Payment Means</h1>
<div class="clearfix">
    <div class="float-left form-inline">
        Restaurant Filter:
        <input [qDebounce]="800" (debounce)="debounce($event)" type="text" class="form-control ml-2" placeholder="name, phone, order# ..." [(ngModel)]="searchFilter"> &nbsp;&nbsp;
        <div class="checkbox">
            <label class="text-danger">
        <input type="checkbox" [(ngModel)]="unresolvedOnly" (change)="unresolvedOnlyChange()">&nbsp;Only Unresolved
      </label>
        </div>
    </div>
    <div class="float-right">
        <div class="pb-2">
            <button class="btn btn-primary" (click)="createNew()">
        <i class="fas fa-plus"></i> Add New Payment Means</button>
        </div>
    </div>
</div>


<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Restaurant</th>
            <th scope="col">Caller</th>
            <th scope="col">Order#</th>
            <th scope="col">Problem</th>
            <th scope="col">Response</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let rl of filteredRestaurantLogs; let i = index" class="list-group-item-action {{rl.log.resolved ? '' : 'alert-danger'}}" (click)="edit(rl)">
            <th scope="row">{{i+1}}</th>
            <td class="text-nowrap">{{rl.log.time | date: 'shortDate'}}
                <div class="text-muted">{{rl.log.time | date: 'shortTime'}}</div>
            </td>
            <td>
                <b>{{rl.restaurant.name}}</b>
                <div class="text-muted">
                    <small>{{getAddress(rl.restaurant)}}</small>
                </div>
            </td>
            <td>{{rl.log.callerName}}
                <div>{{rl.log.callerPhone | phone}}</div>
            </td>
            <td>{{rl.log.relatedOrders}}</td>
            <td>{{rl.log.problem}}</td>
            <td>{{rl.log.response}}</td>
        </tr>
    </tbody>
</table>

<!--the eidting modal-->
<q-modal #logEditingModal>
    <app-payment-means-editor #myPaymentMeansEditor [restaurant]="restaurant" [restaurantList]="restaurantList" [paymentMeans]="paymentMeansInEditing" (success)="onSuccessCreation($event)" (cancel)="onCancelCreation()" (remove)="remove($event)"></app-payment-means-editor>
</q-modal>