<h1 class="text-center">Payment Means</h1>

<div class="clearfix">
    <div class="float-left form-inline">
        Restaurant Filter:
        <input [qDebounce]="800" (debounce)="debounce($event)" type="text" class="form-control ml-2" placeholder="name, phone, ..."
            [(ngModel)]="searchFilter"> &nbsp;&nbsp;

        <select class="form-control" [(ngModel)]="selectedType" (change)="changeFilter()">
            <option *ngFor="let typeItem of typeItems" value="{{typeItem.value}}">{{typeItem.text}}</option>
        </select> &nbsp;
        <select class="form-control" [(ngModel)]="selectedDirection" (change)="changeFilter()">
            <option *ngFor="let directionItem of directionItems" value="{{directionItem.value}}">{{directionItem.text}}</option>
        </select>
    </div>
    <div class="float-right">
        <div class="pb-2">
            <button class="btn btn-primary" (click)="createNew()">
                <i class="fas fa-plus"></i> Add New Payment Means</button>
        </div>
    </div>
</div>


<table class="table table-sm my-2">
    <thead>
        <tr>
            <th scope="col">Restaurant</th>
            <th scope="col">Payment Means</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let rp of filteredRestaurantPaymentMeans; let i = index" class="list-group-item-action" (click)="edit(rp)">
            <td>
                <q-restaurant-media-object [restaurant]="rp.restaurant" [showPhones]="false"></q-restaurant-media-object>
            </td>
            <td>
                <q-payment-means-viewer [paymentMeans]="rp.paymentMeans"></q-payment-means-viewer>
            </td>
        </tr>
    </tbody>
</table>

<q-modal #paymentMeansEditingModal>
    <div *ngIf="!restaurant">
        <label>Select Restaurant:</label>
        <q-restaurant-picker #myRestaurantPicker [restaurants]="restaurantList" (select)="select($event)"></q-restaurant-picker>
    </div>
    <h5 *ngIf="restaurant">
        {{restaurant.name}}
    </h5>
    <q-payment-means-editor [paymentMeans]="paymentMeansInEditing" [showDelete]="paymentMeansInEditingOriginal"
        (submit)="onSuccessCreation($event)" (cancel)="onCancelCreation()" (remove)="remove($event)"></q-payment-means-editor>
</q-modal>