<h1 class="text-center">Restaurants with Wrong GMB Links: ({{filteredRows.length}})</h1>
<div class="clearfix">
  <div class="float-left form-inline py-2">
    Mode:
    <select class="form-control mx-2" [(ngModel)]="modeOption" (change)="changeFilter()">
      <option *ngFor="let option of modeOptions" value="{{option}}">{{option}}</option>
    </select>
  </div>
  <div class="float-left form-inline py-2">
    qMenu Website:
    <select class="form-control mx-2" [(ngModel)]="websiteStatus" (change)="changeFilter()">
      <option *ngFor="let ws of websiteStatuses" value="{{ws}}">{{ws}}</option>
    </select>
  </div>

  <q-table [rows]="filteredRows" [tableColumnDescriptors]="myColumnDescriptors" [compact]="true">
    <tr *tableRowTemplate="let row;"
      class="{{row.restaurant.accountLoc.location.role === 'MANAGER' ? 'alert-danger' : ''}}">
      <td>{{filteredRows.indexOf(row) + 1}}</td>
      <td>
        <a target="_blank" href="#/restaurants/{{row.restaurant._id}}">{{row.restaurant.name}}</a>
        <br>
        <small>{{row.restaurant.googleAddress?.formatted_address}}</small>
      </td>
      <td>
        <small>{{row.restaurant.createdAt | ago : now}}</small>
      </td>
      <td>{{row.restaurant.agent}}</td>
      <td>
        {{row.restaurant.accountLoc.location.role}}
      </td>
      <td>
        {{row.restaurant.score}}
      </td>
      <td>
        <app-gmb-account-hotlink [email]="row.restaurant.accountLoc.account.email"
          [appealId]="row.restaurant.accountLoc.location.appealId">
        </app-gmb-account-hotlink>
      </td>
      <td>
        <table class="table table-sm" style="font-size: 12px;">
          <thead>
            <th>Link</th>
            <th>URL(Desired/Insisted/Actual)</th>
          </thead>
          <tbody>
            <tr *ngFor="let status of row.restaurant.linkStatuses">
              <td>
                <div>
                  {{status.label}}
                </div>
                <div>
                  <i class="{{status.status.style}}">{{status.status.text}}</i>
                </div>
              </td>
              <td>
                <div *ngIf="status.qmenu">
                  Qmenu:
                  <ng-container *ngIf="!status.qmenu;else qmenuBlock">
                    {{formatLink(status.desired)}}
                  </ng-container>
                  <ng-template #desiredBlock>
                    {{status.desired}}
                  </ng-template>
                  <button class="btn btn-sm btn-link"
                    (click)="status.showMoreDesiredUrl = !status.showMoreDesiredUrl">View</button>
                </div>
                <div *ngIf="status.insisted">
                  Insisted: {{status.insisted}}
                </div>
                <div>
                  Actual:
                  <ng-container *ngIf="!status.showMoreActualUrl;else actualBlock">
                    {{formatLink(status.actual.join(', '))}}
                  </ng-container>
                  <ng-template #actualBlock>
                    {{status.actual.join(', ')}}
                  </ng-template>
                  <button class="btn btn-sm btn-link"
                    (click)="status.showMoreActualUrl = !status.showMoreActualUrl">View</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
      <td id="fixedWidth">
        <ul>
          <li *ngFor="let log of listOfMatchingLogEntries(row.restaurant._id)">
            <strong>{{log.username}}:</strong> {{log.log}} <i>({{log.createdAt | date : 'shortDate'}})</i>
          </li>
        </ul>
        <table>
          <tr>
            <td><input type="text" class="form-control" placeholder="Add a new log ..." [(ngModel)]="row.content"
                (keydown.enter)="addLog(row)"></td>
            <td><button type="button" class="btn btn-outline-success btn-sm" (click)="addLog(row)">Submit</button>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </q-table>
