<h1 class="text-center">Restaurants with Wrong GMB Links: ({{filteredRows.length}})</h1>
<div class="clearfix">
  <div class="float-left form-inline py-2">
    Mode:
    <select class="form-control mx-2" [(ngModel)]="modeOption" (change)="changeFilter()">
      <option *ngFor="let option of modeOptions" value="{{option}}">{{option}}</option>
    </select>
  </div>
  <div class="float-left form-inline py-2">
    qMenu Website:
    <select class="form-control mx-2" [(ngModel)]="websiteStatus" (change)="changeFilter()">
      <option *ngFor="let ws of websiteStatuses" value="{{ws}}">{{ws}}</option>
    </select>
  </div>

  <q-table [rows]="filteredRows" [tableColumnDescriptors]="myColumnDescriptors" [compact]="true">
    <tr *tableRowTemplate="let row;"
      class="{{row.restaurant.accountLoc.location.role === 'MANAGER' ? 'alert-danger' : ''}}">
      <td>{{filteredRows.indexOf(row) + 1}}</td>
      <td>
        <a target="_blank" href="#/restaurants/{{row.restaurant._id}}">{{row.restaurant.name}}</a>
        <br>
        <small>{{row.restaurant.googleAddress?.formatted_address}}</small>
      </td>
      <td>
        <small>{{row.restaurant.createdAt | ago : now}}</small>
      </td>
      <td style="width: 5%;">{{row.restaurant.agent}}</td>
      <td style="width: 5%;">
        {{row.restaurant.accountLoc.location.role}}
      </td>
      <td style="width: 5%;">
        {{row.restaurant.score}}
      </td>
      <td style="width: 5%;">
        <app-gmb-account-hotlink [email]="row.restaurant.accountLoc.account.email"
          [appealId]="row.restaurant.accountLoc.location.appealId">
        </app-gmb-account-hotlink>
      </td>
      <td>
        <table class="table table-sm" style="font-size: 12px;">
          <thead>
            <th>Link</th>
            <th>URL(Desired/Insisted/Actual)</th>
          </thead>
          <tbody>
            <ng-container *ngFor="let status of row.restaurant.linkStatuses">
              <tr>
                <td style="white-space: nowrap;">
                  <div>
                    {{status.label}} <i class="{{status.status.style}}" style="font-size: 1.75rem">{{status.status.text}}</i>
                  </div>
                </td>
                <td>
                  <div *ngIf="status.qmenu" style="white-space: nowrap;">
                    Qmenu:
                    <ng-container *ngIf="!status.showMoreQmenuUrl;else qmenuBlock">
                      {{formatLink(status.qmenu)}}
                    </ng-container>
                    <ng-template #qmenuBlock>
                      {{status.qmenu}}
                    </ng-template>
                    <button class="btn btn-sm btn-link"
                      (click)="status.showMoreQmenuUrl = !status.showMoreQmenuUrl" *ngIf="status.qmenu.indexOf('...')>=0">{{ !status.showMoreQmenuUrl ? 'More' : 'Hide'}}</button>
                  </div>
                  <div *ngIf="status.insisted" style="white-space: nowrap;">
                    Insisted:
                    <ng-container *ngIf="!status.showMoreInsistUrl;else insistedBlock">
                      {{formatLink(status.insisted)}}
                    </ng-container>
                    <ng-template #insistedBlock>
                      {{status.insisted}}
                    </ng-template>
                    <button class="btn btn-sm btn-link"
                      (click)="status.showMoreInsistUrl = !status.showMoreInsistUrl" *ngIf="status.insisted.indexOf('...')>=0">{{ !status.showMoreInsistUrl ? 'More' : 'Hide'}}</button>
                  </div>
                  <div *ngIf="isActualUrlValid(status.actual)" style="white-space: nowrap;">
                    Actual:
                    <ng-container *ngIf="!status.showMoreActualUrl;else actualBlock">
                      {{formatLink(status.actual.join(', '))}}
                    </ng-container>
                    <ng-template #actualBlock>
                      {{status.actual.join(', ')}}
                    </ng-template>
                    <button class="btn btn-sm btn-link"
                      (click)="status.showMoreActualUrl = !status.showMoreActualUrl" *ngIf="status.actual.join(', ').indexOf('...')>=0">{{ !status.showMoreActualUrl ? 'More' : 'Hide'}}</button>
                  </div>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </td>
      <td id="fixedWidth">
        <ul>
          <li *ngFor="let log of listOfMatchingLogEntries(row.restaurant._id)">
            <strong>{{log.username}}:</strong> {{log.log}} <i>({{log.createdAt | date : 'shortDate'}})</i>
          </li>
        </ul>
        <table>
          <tr>
            <td><input type="text" class="form-control" placeholder="Add a new log ..." [(ngModel)]="row.content"
                (keydown.enter)="addLog(row)"></td>
            <td><button type="button" class="btn btn-outline-success btn-sm" (click)="addLog(row)">Submit</button>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </q-table>
