<div class="form-group row" *ngIf="gmb">

  <label class="col-4 col-form-label">Email</label>
  <div class="col-8 text-left">
    <input class="form-control" type="text" [(ngModel)]="gmb.email" [disabled]="gmb.id">
    <small class="text-danger" *ngIf="submitClicked && !isEmailValid()">Valid email is required.</small>
  </div>
</div>

<div class="form-group row" *ngIf="!gmb.id">
  <label class="col-4 col-form-label">Password</label>
  <div class="col-8 text-left">
    <input class="form-control" type="password" [(ngModel)]="gmb.password">
    <small class="text-danger" *ngIf="submitClicked && !gmb.password">Password is required.</small>
  </div>
</div>

<div class="form-group row" *ngIf="gmb.id">
  <label class="col-4 col-form-label">Reset Password</label>
  <div class="col-8 text-left">
    <input class="form-control" type="password" [(ngModel)]="newPassword">
    <small class="text-danger" *ngIf="submitClicked && !gmb.newPassword">Update: password is required.</small>
  </div>
</div>

<div class="text-right">
  <button type="button" class="btn btn-link" (click)="cancel()" data-dismiss="modal"> Cancel</button>
  <button *ngIf="gmb.id" type="button" class="btn btn-link" (click)="delete()">
    <span class="text-danger"> Delete</span>
  </button>
  <button type="button" class="btn btn-primary" (click)="done()">
    <i class="fas fa-check"></i> {{gmb.id ? 'Update' : 'OK'}}
  </button>
</div>