<h2 class="text-center">GMB: Requests</h2>
<div class="text-center">avg. {{averageRequestsPerDay}}/day</div>
<div class="row">
  <div class="col-6 px-2">
    <q-table [rows]="rows" [tableColumnDescriptors]="myColumnDescriptors" [compact]="true">
      <tr *tableRowTemplate="let r;">
        <td>{{r.requests[0].business}}</td>
        <td>{{r.gmbAccount?.email | emailName}}</td>
        <td>
          <div *ngFor="let req of r.requests" class="{{req.isQmenu ? 'bg-success' : ''}}">
            {{req.date | ago : now}} | {{req.email | emailName}} | {{req.requester}}
          </div>
        </td>
      </tr>
    </q-table>
  </div>
  <div class="col-6 px-2">
    <table class="table">
      <tr>
        <th>Requester</th>
        <th>Requests</th>
      </tr>
      <tr *ngFor="let row of emailGroupedRows">
        <td class="{{row.isQmenu ? 'bg-success' : ''}}">
          <span>{{row.requesterEmail | emailName}}</span>
        </td>
        <td>
          <div *ngFor="let req of row.requests">
            {{req.date | ago : now}} | {{req.business}} @ {{req.gmbAccount?.email | emailName}}
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>