<div class="card">
  <h2 class="card-title m-3">
    <!-- <a [routerLink]="['/home']"><i class="fa fa-arrow-left"> Back </i></a> -->
    <h1 class="text-center">Restaurants with Bad Menu Hours ({{rows.length}})</h1>
  </h2>
  <div class="card-body">
    <div *ngIf="rows.length === 0" class="text-center">Not found</div>
    <table class="table" *ngIf="rows.length > 0">
      <tr>
        <th>Restaurant</th>
        <th>Bad Menu Hours</th>
      </tr>
      <tr *ngFor="let row of rows; let i = index" class="{{row.restaurant.disabled ? 'app-strike' : ''}}">
        <td>
          <a routerLink="/restaurants/{{row.restaurant._id}}">{{row.restaurant.name}}</a>
          <div class="text-muted">
            <small>{{row.restaurant.googleAddress?.formatted_address}}</small>
          </div>
        </td>
        <td>
          <div *ngFor="let badItem of row.badMenuAndHours">
            {{badItem.menu.name}}
            <lib-hours-viewer *ngIf="badItem.hour"
              [timezone]="row.restaurant.googleAddress.timezone"
              [hours]="[badItem.hour]"></lib-hours-viewer>
            <div *ngIf="!badItem.hour">Contains bad hour</div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>

