div button {
    min-width: 8rem;
}

div .btn-link {
    min-width: 0;
}


label {
    font-weight: bold;
}

.my-btn-narrow {
    min-width: 1rem !important;
}

div .my-btn-narrow:not(:first-child) {
    border-left: 1px solid rgba(255, 255, 255, 0.25)
}

.fix-v-align {
    vertical-align: baseline;
}
