<div class="card">
  <h2 class="card-title m-3">
    <h1 class="text-center">VIP Restaurants ({{filterVipRTs.length || 0}})</h1>
  </h2>
  <div class="card-body">
    <!-- start with filter control -->
    <div class="row">
      <div class="col-8 form-inline form-group">
        <!-- start with view filter -->
        <label class="text-center ml-1">View</label>
        <select [(ngModel)]="viewMode" class="form-control ml-1" style="min-width:220px;max-width:220px;"
          (change)="filterFollowUp()">
          <option *ngFor="let mode of viewModes" [value]="mode">{{mode}}</option>
        </select>
        <!-- end with view filter -->
        <!-- start with rule filter -->
        <ng-container *ngIf="viewMode !== viewTypes.All">
          <label class="text-center ml-4">Rule: Followup every</label>
          <select [(ngModel)]="rule" class="form-control ml-1" style="min-width:220px;max-width:220px;"
                  (change)="filterFollowUp()">
            <option *ngFor="let r of rules" [value]="r">{{r}}</option>
          </select>
        </ng-container>
        <!-- end with rule filter -->
      </div>
      <div class="col-4 text-right form-group">
        <button class="btn btn-primary" (click)="loadVIPRestaurants()"><i class="fas fa-sync"></i> Reload</button>
      </div>
    </div>
    <!-- end with filter control -->

    <q-table [rows]="filterVipRTs" [tableColumnDescriptors]="restaurantsColumnDescriptors" [compact]="true"
      [pageSize]="100000">
      <tr *tableRowTemplate="let r;">
        <td>{{filterVipRTs.indexOf(r) + 1}}</td>
        <td>
          <a routerLink="/restaurants/{{r['_id']}}">{{r.name}} </a><br>
          <span>{{r._id}}</span>
        </td>
        <td>{{r.score}}</td>
        <td>
          <ng-container *ngIf="r?.googleAddress && r?.googleAddress?.timezone;else elseBlock;">
            {{getTimezoneCity(r.googleAddress.timezone)}}
            ({{getTimeOffsetByTimezone(r.googleAddress.timezone)}})
          </ng-container>
          <ng-template #elseBlock>
            N/A
          </ng-template>
        </td>
        <td>
          <ng-container *ngIf="r.lastFollowUp">
            <label>{{r.lastFollowUp | date : 'shortDate'}} ({{r.lastFollowUp | ago: now}})</label>
            <div class="text-success" *ngIf="!followUpOverdue(r)">Followup in: {{getOverdueDays(r, followUpOverdue(r))}} days</div>
            <div class="text-danger" *ngIf="followUpOverdue(r)">Followup overdue by: {{getOverdueDays(r, followUpOverdue(r))}} days</div>
          </ng-container>
          <ng-container *ngIf="!r.lastFollowUp">
            N/A
            <div class="text-warning">Need Follow up</div>
          </ng-container>
        </td>
        <td style="width:40%;">
          <table class="table table-sm">
            <tr>
              <th>User</th>
              <th>Time</th>
              <th>Problem</th>
              <th>Response</th>
            </tr>
            <ng-container *ngFor="let log of r.logs">
              <tr *ngIf="log.type === 'vip-follow-up'">
                <td>{{log.username}}</td>
                <td>{{log.time | adjustedDate : 'MMM d h:mm a' : r.googleAddress.timezone}}</td>
                <td>{{log.problem}}</td>
                <td>{{log.response}}</td>
              </tr>
            </ng-container>
          </table>
          <div>
            <button class="btn btn-primary btn-sm" (click)="addLog(r)"><i class="fas fa-plus"></i>Add Log</button>
          </div>
        </td>
    </q-table>
  </div>

  <q-modal #logEditingModal>
    <app-log-editor [restaurant]="activeRestaurant" [restaurantList]="[]" [log]="logInEditing"
      (success)="onSuccessAddLog($event)" (cancel)="onCancelAddLog()"></app-log-editor>
  </q-modal>
</div>
