<div>
  <table class="table table-bordered">
    <tbody>
      <tr *ngFor="let rt of filteredRTs">
        <td>{{rt.name}}</td>
        <td>
          <a (click)="validate(rt)" class="btn btn-link">Validate</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<q-modal #validateModal [size]="'800px'">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>
  <h4 class="text-center">Preview Extractions and Translations</h4>
  <hr>
  <app-menu-cleanup #cleanupComponent [allMenus]="restaurant?.menus" [translations]="restaurant?.translations"
                    [nameEditable]="true" (cancel)="cleanupCancel()" (save)="cleanupSave($event)"></app-menu-cleanup>
</q-modal>
