<h1 class="text-center">GMB PINs</h1>
<div class="text-right mb-2">
  <div class="pb-2">
    <button class="btn btn-primary" (click)="setAction('NEW')">
      <i class="fas fa-plus"></i> Add New Request</button>
  </div>

  <div class="card text-left bg-light" *qIf="currentAction === 'NEW'">
    <div class="card-body">
      <h5 class="card-title">New PIN Request</h5>
      ...
    </div>
  </div>
</div>


<q-table [rows]="rows" [tableColumnDescriptors]="myColumnDescriptors" [compact]="true">
  <tr *tableRowTemplate="let row;">
    <td>{{rows.indexOf(row) + 1}}</td>
    <td>
      {{row.receivedAt | date: 'short'}}
    </td>
    <td>
      {{row.method}}
    </td>

    <td>{{row.email}}
    </td>
    <td>{{row.pin}}</td>

  </tr>
</q-table>