<div *ngIf="!restaurant">
  <label>Select Restaurant:</label>
  <q-restaurant-picker #myRestaurantPicker [restaurants]="restaurantList" (select)="select($event)"></q-restaurant-picker>
</div>

<div class="clearfix alert alert-info" *ngIf="restaurant">
  <div class="media float-left">
    <q-restaurant-media-object [restaurant]="restaurant"></q-restaurant-media-object>
  </div>
  <div class="float-right">
    <button class="btn btn-link" (click)="resetRestaurant()">Reset</button>
  </div>
</div>

<q-form-builder [object]="log" [showDelete]="log.time" [fieldDescriptors]="logFieldDescriptors" (submit)="submit($event)"
  (cancel)="clickCancel()" (remove)="clickRemove($event)">
</q-form-builder>