<div *ngIf="!restaurant">
  <label>Select Restaurant:</label>
  <q-restaurant-picker #myRestaurantPicker [restaurants]="restaurantList" (select)="select($event)"></q-restaurant-picker>
</div>

<div class="clearfix alert alert-info" *ngIf="restaurant">
  <div class="media float-left">
    <q-restaurant-media-object [restaurant]="restaurant"></q-restaurant-media-object>
  </div>
  <div class="float-right">
    <button class="btn btn-link" (click)="resetRestaurant()">Reset</button>
  </div>
</div>

<q-form-builder [object]="log" [showDelete]="log.time" [fieldDescriptors]="logFieldDescriptors" (submit)="submit($event)"
  (cancel)="clickCancel()" (remove)="clickRemove($event)">

  <div class="mb-3">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="id-adjustment" [(ngModel)]="hasAdjustment" (change)="changeHasAdjustment()">
      <label class="form-check-label" for="id-adjustment"> Credit or Debit Adjustment</label>
    </div>
  </div>

  <div class="card border-info mb-3" *qIf="hasAdjustment">
    <div class="card-header"><i class="fas fa-exclamation"></i> DO NOT ADJUST CUSTOMER AND RESTAURANT AGREED ORDER
      CHANGES HERE. Only input qMenu and restaurant mutually agreed adjustment here. The adjustment will be included in
      next invoice
      cycle.
      <div><strong>* All fields are required.</strong></div>
    </div>
    <div class="card-body">

      <div class="mb-3">
        <label for="id-amount">Credit to Restaurant($)</label>
        <div class="text-danger"><small>NOTE: Input a negative number if it is a debit (money deducted from restaurant)</small></div>
        <input class="form-control" type="number" id="id-amount" [(ngModel)]="log.adjustmentAmount">
      </div>

      <div class="mb-3">
        <label for="id-reason">Reason (a clear description)
        </label>
        <input class="form-control" type="text" id="id-reason" [(ngModel)]="log.adjustmentReason">
      </div>
    </div>
  </div>

  <!-- Create New Task Option -->
  <div class="mb-3" *ngIf="isNewLog()">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="id-task" [(ngModel)]="hasTask" (change)="changeHasTask()">
      <label class="form-check-label" for="id-task"> Delegate to Task</label>
    </div>
  </div>

  <div class="card border-info mb-3" *qIf="hasTask">
    <div class="card-header my-2"><i class="fas fa-exclamation"></i> Write down any comments in Response field and the text
      in Reponse field will be copied to task comments.
      <div><strong>* Select a task template below:</strong></div>
    </div>
    <select class="form-control mr-4" [(ngModel)]="selectedTaskTemplate">
      <option></option>
      <option *ngFor="let t of predefinedTasks" [ngValue]="t">{{t.name}}</option>
    </select>
  </div>

  <div class="mb-3" *ngIf="!hasAdjustment && !hasTask">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="id-resolved" [(ngModel)]="log.resolved">
      <label class="form-check-label" for="id-resolved"> Resolved</label>
    </div>
  </div>
</q-form-builder>