<div class="form-group">
  <label>Restaurant Name <span class="text-danger">*</span></label>
  <div>
    <input class="form-control" type="text" placeholder="eg. Sichuan House" [(ngModel)]="restaurant.name" (change)="formInputChanged($event)">
  </div>
</div>
<div class="form-group">
  <label>Address <span class="text-danger">*</span></label>
  <div>
    <input class="form-control" type="text" placeholder="5900 State Bridge Rd, Duluth, GA 30097" [(ngModel)]="restaurant.googleAddress.formatted_address"
      (change)="formInputChanged($event)">
  </div>
</div>
<div class="form-group text-right">
  <div class="text-danger py-2" *ngIf="checkExistenceError">{{checkExistenceError}}</div>
  <button class="btn btn-info" (click)="checkExistence()" [qLoading]="apiRequesting">Validate on Google</button>
</div>

<div class="alert alert-{{restaurant.relatedTo ? 'danger' : 'info'}}" *ngIf="restaurant && restaurant.googleAddress && restaurant.googleAddress.place_id">
  <h3>✓ {{restaurant.name}}</h3>
  <p>{{restaurant?.googleAddress?.formatted_address}}</p>
  <p>{{restaurant?.googleListing?.phone | tel}}</p>

  <div *ngIf="restaurant.relatedTo">
    The above restaurant is already in system with ID <a routerLink="/restaurants/{{restaurant.relatedTo[0]}}" target="_blank">{{restaurant.relatedTo[0]}}</a>.
  </div>
  <div *ngIf="!restaurant.relatedTo">
    <hr>
    Check to make sure the above info is correct and continue.

    <div class="form-group">
      <label>Alias (*without space and special characters)</label>
      <div>
        <input class="form-control" type="text" placeholder="eg. sichuan-house" [(ngModel)]="restaurant.alias">
      </div>
    </div>

    <div class="form-group">
      <label>Alias (*without space and special characters)</label>
      <div>
        <input class="form-control" type="text" placeholder="eg. sichuan-house" [(ngModel)]="restaurant.alias">
      </div>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="id-gmb" [(ngModel)]="applyGmb">
      <label class="form-check-label" for="id-gmb"> Create GMB Application Task</label>
    </div>
    <div class="form-group text-right">
      <button class="btn btn-secondary" (click)="clickCancel()" [disabled]="apiRequesting">Cancel</button>
      <button class="btn btn-primary" (click)="clickCreate()" [qLoading]="apiRequesting">Create Restaurant</button>
    </div>
{{applyGmb}}
{{restaurant | json}}
  </div>
</div>