.cleanup-menus {
  width: 100%;
  height: 100%;
  max-height: 500px;
  overflow: auto;
}

.cleanup-menus table thead th {
  word-break: keep-all;
  white-space: nowrap;
}

.cleanup-menus table .input-menu-number {
  width: 60px;
}

.cleanup-menus table textarea {
  height: auto;

}
.cleanup-menus table .warning {
  position: relative;
}
.cleanup-menus table .warning:before {
  content:"\A";
  width:10px;
  height:10px;
  border-radius:50%;
  background: #fd0707;
  display:inline-block;
  position: absolute;
  left: 0;
  top: 5px;
}

.cleanup-menus table td .btn-link {
  cursor: pointer;
}
