<div class="promo" *ngIf="promotion">
  <h4>{{promotion.name}}</h4>
  <hr>
  <div><strong>Code: </strong>{{promotion.code}}</div>
  <!-- When a promotion is open in the editor, we can pass editor parameters promotionType, eligiblity, and useFreeItemList as inputs to our viewer component. 
  This allows for the promotion preview at the bottom of the editor to be updated live as the user changes the promotion. Live updating the preview would not be possible without 
  these paremeters, as the promotion data structure is intentionally left somewhat fluid as the user edits it, up until they click Done, at which point 
  unnecessary data fields are purged.-->
  <div *ngIf="hideEditButton; else viewerMode">
    <div *ngIf="promotionType === '$ Discount'"><strong> Amount: </strong>{{promotion.amount | currency:'USD':'symbol'}} Off</div>
    <div *ngIf="promotionType === '% Discount'"><strong>Amount: </strong>{{promotion.percentage}}% Off</div>
    <div *ngIf="promotionType === 'Free Item'">
      <div *ngIf="!useFreeItemList" > <strong>Free item: </strong>{{promotion.freeItemName}} </div>
      <div *ngIf="useFreeItemList && (promotion.freeItemList || []).length"> <strong>Choose Free item from: </strong>{{freeItemListToString(promotion.freeItemList)}} </div>
    </div>
    <div [ngClass]="{'text-danger': promotion.expiry < today}"><strong>Expires: </strong>{{promotion.expiry | date : 'mediumDate':
      'America / New York'}}</div>
    <div *ngIf="eligibility === 'Order of Select Item(s)'"><strong>With order from:</strong>
      {{itemListToString(promotion.withOrderFromList)}} </div>

    <div *ngIf="eligibility === 'Order Minimum ($)'">
    <strong>Order Minimum: </strong>{{(promotion.orderMinimum || 0) | currency:'USD':'symbol'}}</div>
  </div>

  <!-- viewerMode is what displays promotions that are not open in the editor. As such promotionType and eligibility are not available to us to reference. 
  However, we don't need them since these promotions are not going to change and will not require a live update/preview.  -->
  <ng-template #viewerMode>
    <div *ngIf="promotion.percentage && !promotion.amount"><strong>Amount: </strong>{{promotion.percentage}}% Off</div>
    <div *ngIf="!promotion.percentage && promotion.amount"><strong>Amount: </strong>{{promotion.amount | currency:'USD':'symbol'}}</div>
    <div *ngIf="(promotion.freeItemList || []).length && !promotion.percentage && !promotion.amount"><strong> Choose Free item from: </strong>{{freeItemListToString(promotion.freeItemList)}}</div>
    <div *ngIf="promotion.freeItemName"><strong>Free item:</strong> {{promotion.freeItemName}}</div>
    <div [ngClass]="{'text-danger': promotion.expiry < today}"><strong>Expires:</strong> {{promotion.expiry | date : 'mediumDate':
      'America / New York'}}</div>
    <div *ngIf="(promotion.withOrderFromList || []).length; else orderMinimumTwo"><strong>With order from:</strong>
      {{itemListToString(promotion.withOrderFromList)}} </div>

    <ng-template #orderMinimumTwo>
      <div><strong>Order Minimum: </strong>{{(promotion.orderMinimum || 0) | currency:'USD':'symbol'}}</div>
    </ng-template>
  </ng-template>





  <small>
    <div *ngIf="promotion.public">
      <i class="fas fa-unlock"></i> Publicly displayed
    </div>
    <div *ngIf="!promotion.public">
      <i class="fas fa-lock"></i> Not displayed on webpage
    </div>
    <div *ngIf="promotion.newCustomerOnly">
      <i class="fas fa-user-plus"></i> New customer only
    </div>
    <div *ngIf="excludedString">
      Not Applicable: {{excludedString}}
    </div>
  </small>
  <button class="btn btn-link" *ngIf="!hideEditButton" (click)="edit()">Click to edit</button>
</div>