<div class="container" *ngIf="invoice">
  <!--<h1 style="position:absolute; color: lightgray; font-style: italic;">PAID</h1>-->
  <h1 class="text-center">Invoice</h1>

  <table class="table table-bordered">
    <tr>
      <td class="w-50">
        <div>From</div>

        <h3 class="pt-1">qMenu, Inc.</h3>
        <p>
          7778 McGinnis Ferry Rd, Suite 276
          <br> Suwanee, GA 30024
          <br> Tel: 404-382-9768
        </p>
      </td>
      <td>
        <div>To</div>

        <h3 class="pt-1">{{invoice.restaurant.name}}</h3>
        <p>
          {{getAddressLine1(invoice.restaurant.address)}}
          <br>{{getAddressLine2(invoice.restaurant.address)}}
          <br>
          <span *ngIf="invoice.restaurant.phone">Tel: {{invoice.restaurant.phone | tel}}</span>
        </p>
      </td>

    </tr>
  </table>

  <h3 class="pt-1 text-center" *ngIf="invoice.getBalance() >= 0">Balance Due: {{invoice.getBalance() | currency:'USD':'symbol' }}</h3>
  <h3 class="pt-1 text-center" *ngIf="invoice.getBalance() < 0 ">Credit: {{-invoice.getBalance() | currency:'USD':'symbol' }}</h3>

  <p class="text-center">Date Range: {{invoice.fromDate | date: 'mediumDate'}} -{{invoice.toDate | date: 'mediumDate'}}</p>

  <div class="row">
    <div class="col-6">
      <table class="table">
        <ng-container *ngIf="invoice.previousInvoiceId">
          <tr>
            <th>Previous {{invoice.previousBalance >= 0 ? 'Balance' : 'Credit'}}</th>
            <td class="text-right">{{getAbs(invoice.previousBalance || 0) | currency:'USD':'symbol'}}</td>
          </tr>
          <tr>
            <th>{{invoice.getTotalPayments() >= 0 ? 'You Paid' : 'qMenu Paid You'}}</th>
            <td class="text-right">{{getAbs(invoice.getTotalPayments()) | currency:'USD':'symbol'}}</td>
          </tr>
        </ng-container>

        <tr>
          <th>Orders Subtotal</th>
          <td class="text-right">{{invoice.getSubtotal() | currency:'USD':'symbol'}}</td>
        </tr>
        <tr>
          <th>Tax</th>
          <td class="text-right">{{invoice.getTax() | currency:'USD':'symbol'}}</td>
        </tr>
        <tr>
          <th>Delivery</th>
          <td class="text-right">{{invoice.getDeliveryCharge() | currency:'USD':'symbol'}}</td>

        </tr>
        <tr>
          <th>Tip</th>
          <td class="text-right">{{invoice.getTip() | currency:'USD':'symbol'}}</td>
        </tr>

        <tr *ngIf="invoice.getCcProcessingFee()">
          <th>CC Fee Collected</th>
          <td class="text-right">{{invoice.getCcProcessingFee() | currency:'USD':'symbol'}}</td>
        </tr>

        <tr *ngIf="invoice.getSurcharge() > 0">
          <th>{{invoice.getSurchargeName()}}</th>
          <td class="text-right">{{invoice.getSurcharge() | currency:'USD':'symbol'}}</td>
        </tr>
        <tr>
          <th>Order Total</th>
          <td class="text-right">
            <strong>{{invoice.getTotal() | currency:'USD':'symbol'}}</strong>
          </td>
        </tr>
        <tr>
          <td colspan="2" style="font-size: 60%">
            Order Total = Restaurant Collected + qMenu CC Collected
          </td>
        </tr>
      </table>
    </div>
    <div class="col-6">

      <table class="table">

        <tr>
          <th>Restaurant Collected</th>
          <td class="text-right">{{invoice.getCashCollected() + invoice.getRestaurantCcCollected() | currency:'USD':'symbol'}}</td>
        </tr>

        <tr>
          <th>qMenu CC Collected</th>
          <td class="text-right">{{invoice.getQMenuCcCollected() | currency:'USD':'symbol'}}</td>
        </tr>
        <tr>
          <th>CC Processing Fee</th>
          <td class="text-right">{{invoice.getStripeFee() | currency:'USD':'symbol'}}</td>
        </tr>
        <tr>
          <th>
            Commission
            <span *ngIf="invoice.getRateAverage() <= 0.05">{{invoice.getRateAverage() | percentage}}
              <br>
            </span>
          </th>
          <td class="text-right">{{invoice.getCommission() | currency:'USD':'symbol' }}</td>
        </tr>
        <tr *ngIf="invoice.getAdjustment() !== 0">
          <th>
            Adjustment Credit
          </th>
          <td class="text-right">{{invoice.getAdjustment() | currency:'USD':'symbol' }}</td>
        </tr>
        <ng-container *ngIf="invoice.getThirdPartyDeliveryCharge() > 0 || invoice.getThirdPartyDeliveryTip() > 0">
          <tr>
            <th>
              Pay TME Delivery Fee
            </th>
            <td class="text-right">{{invoice.getThirdPartyDeliveryCharge() | currency:'USD':'symbol' }}</td>
          </tr>

          <tr>
            <th>
              Pay TME Delivery Tip (CC)
            </th>
            <td class="text-right">{{invoice.getThirdPartyDeliveryTip() | currency:'USD':'symbol'}}</td>
          </tr>

          <tr>
            <th>
              Pay TME Total
            </th>
            <th class="text-right">{{invoice.getThirdPartyDeliveryCharge()+invoice.getThirdPartyDeliveryTip() | currency:'USD':'symbol'}}</th>
          </tr>
        </ng-container>

        <tr *ngIf="invoice.getBalance() >= 0">
          <th>
            <h4>Pay qMenu</h4>
          </th>
          <th class="text-right">{{invoice.getBalance() | currency:'USD':'symbol' }}</th>
        </tr>
        <tr *ngIf="invoice.getBalance() < 0 ">
          <th>
            <h4>Pay Restaurant</h4>
          </th>
          <th class="text-right">{{-invoice.getBalance() | currency:'USD':'symbol' }}</th>
        </tr>
      </table>
    </div>
  </div>
  <!--adjustments section-->
  <div *ngIf="invoice.adjustments && invoice.adjustments.length > 0">
    <h3 class="text-center">Adjustment (credit)</h3>
    <table class="table app-scaled-table">
      <tr *ngFor="let adjustment of invoice.adjustments">
        <th>{{adjustment.name}}</th>
        <td>{{adjustment.amount | currency:'USD':'symbol' }}</td>
      </tr>
    </table>
  </div>

  <!--adjustments section-->
  <div>
    <h3 class="text-center">Your Sales Tax</h3>
    <table class="table table-bordered">
      <tr>
        <td>
          <div>
            The taxes for the orders listed below is
            <strong>{{invoice.getTax() | currency:'USD':'symbol'}}</strong>. qMenu does not hold any amount of the taxes. As part
            of your normal periodic tax return filing, it is your responsibility to pay
            <strong>{{invoice.getTax() | currency:'USD':'symbol'}}</strong> to the proper taxing authority for such orders.
          </div>

        </td>
      </tr>
    </table>
  </div>


  <h3 class="text-center">Valid Orders ({{getValidOrders().length}})</h3>
  <div class="text-center" *ngIf="invoice.hasCanceledOrders()">Canceled orders ({{invoice.orders.length - getValidOrders().length}}) are crossed, ingored, and NOT calculated.</div>
  <table class="table app-scaled-table">
    <tr>
      <th>Date Time</th>
      <th>Order#</th>
      <th>Customer</th>
      <th>Type</th>
      <th>Payment</th>
      <th>Collector</th>
      <th class="text-right">Subtotal</th>
      <th class="text-right">Tax</th>
      <th class="text-right">Delivery</th>
      <th class="text-right">Tip</th>
      <th class="text-right" *ngIf="invoice.getCcProcessingFee() > 0">CC Fee</th>
      <th class="text-right" *ngIf="invoice.getSurcharge() > 0">{{invoice.getSurchargeName()}}</th>
      <th class="text-right">Total</th>
    </tr>
    <tr *ngFor="let order of invoice.orders" [ngClass]="{'canceled' : order.canceled}">
      <td style="white-space: nowrap">{{getRestaurantTime(order.createdAt) | date: 'short'}}</td>
      <td>{{order.orderNumber}}</td>
      <td>{{order.customer}}</td>
      <td>{{order.type}}</td>
      <td>{{order.paymentType}}</td>
      <td>{{order.payee}}</td>
      <td class="text-right">{{order.subtotal | currency:'USD':'symbol' }}</td>
      <td class="text-right">{{order.tax | currency:'USD':'symbol' }}</td>
      <td class="text-right" *ngIf="order.deliveryCharge">{{order.deliveryCharge | currency:'USD':'symbol' }}</td>
      <td class="text-right" *ngIf="!order.deliveryCharge"></td>
      <td class="text-right" *ngIf="order.tip">{{order.tip | currency:'USD':'symbol' }}</td>
      <td class="text-right" *ngIf="!order.tip"></td>
      <td class="text-right" *ngIf="invoice.getCcProcessingFee() > 0">
        <span *ngIf="order.ccProcessingFee">{{order.ccProcessingFee | currency:'USD':'symbol' }}</span>
      </td>
      <td class="text-right" *ngIf="invoice.getSurcharge() > 0">
        <span *ngIf="order.surchargeAmount">
          {{order.surchargeAmount | currency:'USD':'symbol' }}
        </span>
      </td>
      <td class="text-right">{{order.total | currency:'USD':'symbol' }}</td>
    </tr>
    <tr>
      <th class="text-right" colspan="6">Sum</th>
      <th class="text-right">{{invoice.getSubtotal() | currency:'USD':'symbol'}}</th>
      <th class="text-right">{{invoice.getTax() | currency:'USD':'symbol'}}</th>
      <th class="text-right">{{invoice.getDeliveryCharge() | currency:'USD':'symbol'}}</th>
      <th class="text-right">{{invoice.getTip() | currency:'USD':'symbol'}}</th>
      <th class="text-right" *ngIf="invoice.getCcProcessingFee() > 0">{{invoice.getCcProcessingFee() | currency:'USD':'symbol'}}</th>
      <th class="text-right" *ngIf="invoice.getSurcharge() > 0">{{invoice.getSurcharge() | currency:'USD':'symbol'}}</th>
      <th class="text-right">{{invoice.getTotal() | currency:'USD':'symbol'}}</th>
    </tr>
  </table>
</div>