<div class="container" *ngIf="invoice">

  <h3 class="text-center">QMENU INVOICE</h3>
  <h6 class="text-center">Date Range: {{invoice.fromDate | adjustedDate: 'shortDate' : 'America/New_York'}}
    -{{invoice.toDate | adjustedDate: 'shortDate' : 'America/New_York'}}
  </h6>

  <div *ngIf="invoice.paymentInstructions" class="card p-2 mb-2 text-center h6"
    [innerHTML]="invoice.paymentInstructions"></div>

  <table class="table table-bordered">
    <tr>
      <td class="w-50">
        <div>From</div>

        <h3 class="pt-1">qMenu, Inc.</h3>
        <p>
          7778 McGinnis Ferry Rd, Suite 276
          <br> Suwanee, GA 30024
          <br> Tel: 404-382-9768
        </p>
      </td>
      <td>
        <div>To</div>

        <h3 class="pt-1">{{invoice.restaurant.name}}</h3>
        <p>
          <span *ngIf="invoice.restaurant.address.apt">{{invoice.restaurant.address.apt}}<br></span>
          {{getAddressLine()}}
          <br>
          <span *ngIf="invoice.restaurant.phone">Tel: {{invoice.restaurant.phone | tel}}</span>
        </p>
      </td>

    </tr>
  </table>

  <h3 class="pt-1 text-center" *ngIf="invoice.balance >= 0">Balance Due: {{invoice.balance |
    currency:'USD':'symbol' }}</h3>
  <h3 class="pt-1 text-center" *ngIf="invoice.balance < 0 ">Credit: {{-invoice.balance |
    currency:'USD':'symbol' }}</h3>

  <div class="row">
    <div class="col-6">

      <table class="table">
        <tr *ngFor="let kv of leftRows" class="{{kv.class}}">
          <th>{{kv.key}}</th>
          <td class="text-right">
            {{kv.value | currency:'USD':'symbol'}}
          </td>
        </tr>
      </table>
    </div>

    <div class="col-6">

      <table class="table">
        <tr *ngFor="let kv of rightRows" class="{{kv.class}}">
          <th>{{kv.key}}</th>
          <td class="text-right">
            {{kv.value | currency:'USD':'symbol'}}
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div>
    <div class="fee-schedules-heading">

      * Fee Schedules:
    </div>
    <div class="fee-schedules-content">
      <div *ngFor="let feeSchedule of getFeeSchedules()">

        {{feeSchedule.payer}} pays {{feeSchedule.payee}}
        <span *ngIf="feeSchedule.name">{{feeSchedule.name + ' '}}</span>
        <!-- value -->
        <span *ngIf="feeSchedule.rate || !feeSchedule.amount"
          class="my-text-b">{{feeSchedule.rate | percentage }}</span>
        <span *ngIf="feeSchedule.rate && feeSchedule.amount"> + </span>
        <span *ngIf="feeSchedule.amount" class="my-text-b">{{feeSchedule.amount |currency:'USD':'symbol'}}</span>
        <span *ngIf="feeSchedule.chargeBasis === 'MONTHLY'"> per month</span>
        <span *ngIf="feeSchedule.chargeBasis === 'ORDER_SUBTOTAL'"> per order subtotal</span>
        <span *ngIf="feeSchedule.chargeBasis === 'ORDER_TOTAL'"> per order</span>

        <!-- order type and payment methods -->
        <span
          *ngIf="feeSchedule.orderTypes && feeSchedule.orderTypes.length > 0"
          class="text-lowercase">
          for {{(feeSchedule.orderTypes || []).join(', ')}}
        </span>

        <!-- time, excluding fake date which is 2020-01-01 -->
        <ng-container *ngIf="isActualDate(feeSchedule.fromTime)">
          <span *ngIf="!feeSchedule.toTime">
            since {{ feeSchedule.fromTime | adjustedDate: 'shortDate' : 'America/New_York' }}
          </span>
          <span *ngIf="feeSchedule.toTime">
            from {{ feeSchedule.fromTime | adjustedDate: 'shortDate' : 'America/New_York' }} to
            {{ feeSchedule.toTime | adjustedDate: 'shortDate' : 'America/New_York'  }}
          </span>
        </ng-container>
      </div>
    </div>
  </div>
  <hr>
  <!--adjustments section-->
  <div *ngIf="invoice.adjustments && invoice.adjustments.length > 0">
    <h3 class="text-center">Adjustments</h3>
    <table class="table">
      <tr *ngFor="let adjustment of invoice.adjustments">
        <td *ngIf="adjustment.amount >= 0">{{adjustment.amount | currency:'USD':'symbol' }} (credit)</td>
        <td *ngIf="adjustment.amount < 0">{{-adjustment.amount | currency:'USD':'symbol' }} (debit)</td>
        <th>{{adjustment.name}}</th>
      </tr>
    </table>
  </div>
  <!--adjustments section-->
  <div>
    <h3 class="text-center">Your Sales Tax</h3>
    <table class="table table-bordered">
      <tr>
        <td>
          <div>
            The taxes for the orders listed below is
            <strong>{{invoice.tax | currency:'USD':'symbol'}}</strong>. qMenu does not hold any amount of the
            taxes. As part
            of your normal periodic tax return filing, it is your responsibility to pay
            <strong>{{invoice.tax | currency:'USD':'symbol'}}</strong> to the proper taxing authority for such
            orders.
          </div>
        </td>
      </tr>
    </table>
  </div>


  <h3 class="text-center">Valid Orders ({{getValidOrders().length}})</h3>
  <div class="text-center">* fees are not shown for each order due to limited space.</div>

  <div class="text-center" *ngIf="invoice.hasCanceledOrders()">Canceled orders
    ({{invoice.orders.length - getValidOrders().length}}) are crossed, ignored, and NOT calculated.</div>
  <table class="table app-scaled-table">
    <tr>
      <th>Date</th>
      <th>Order#</th>
      <th>Customer</th>
      <th>Type</th>
      <th>Payment</th>
      <th>Collector</th>
      <th class="text-right">Subtotal</th>
      <th class="text-right">Tax</th>
      <th class="text-right" *ngIf="couriers.size > 1">Courier</th>
      <th class="text-right">Delivery</th>
      <th class="text-right">Tip</th>
      <th class="text-right">Total</th>
    </tr>

    <tr *ngFor="let order of invoice.orders" [ngClass]="{'canceled' : order.canceled}">
      <td style="white-space: nowrap">
        {{order.createdAt | adjustedDate: 'shortDate' : 'America/New_York'}}</td>
      <td>{{order.orderNumber}}</td>
      <td>{{order.customer}}</td>
      <td>{{order.type}}</td>
      <td>{{order.paymentType === 'CREDITCARD' ? 'CC' : order.paymentType}}</td>
      <td>{{order.payee}}</td>
      <td class="text-right">{{order.subtotal | currency:'USD':'symbol' }}</td>
      <td class="text-right">{{order.tax | currency:'USD':'symbol' }}</td>
      <td class="text-right" *ngIf="couriers.size > 1">
        {{order.deliveryBy ? 'qMenu': (order.type === 'DELIVERY' ? 'restaurant' : '') }}</td>
      <td class="text-right" *ngIf="order.deliveryCharge">{{order.deliveryCharge | currency:'USD':'symbol' }}</td>
      <td class="text-right" *ngIf="!order.deliveryCharge"></td>
      <td class="text-right" *ngIf="order.tip">{{order.tip | currency:'USD':'symbol' }}</td>
      <td class="text-right" *ngIf="!order.tip"></td>
      <td class="text-right">{{order.total | currency:'USD':'symbol' }}</td>
    </tr>

    <tr>

      <th class="text-right" colspan="6">Sum</th>
      <th class="text-right">{{invoice.subtotal | currency:'USD':'symbol'}}</th>
      <th class="text-right">{{invoice.tax | currency:'USD':'symbol'}}</th>
      <th class="text-right" *ngIf="couriers.size > 1"></th>
      <th class="text-right">{{invoice.deliveryCharge | currency:'USD':'symbol'}}</th>
      <th class="text-right">{{invoice.tip | currency:'USD':'symbol'}}</th>
      <th class="text-right">{{invoice.total | currency:'USD':'symbol'}}</th>
    </tr>
  </table>
</div>