.app-scaled-table {
    font-size: 90%;
}
.app-scaled-table th,td{
    padding: 0;
}
h1::first-letter {
    margin-top: 0;
}
h3::first-letter {
    margin-top: 0;
}

.canceled {
    text-decoration: line-through;
}
