<div class="broadcasting-container d-flex flex-column">
  <div class="row w-100">
    <div class="col-md-3">
      <div class="broadcasting__section">

        <div class="d-flex flex-column w-100">
          <div>
            <h6>1. Enter comma separated list of restaurant ids:</h6>
            <div class="broadcast__list">
              <div>
                <textarea class="form-control w-100 full-height" [(ngModel)]="restaurantCSVList"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <label>2. Select broadcast to publish:</label>
      <select class="form-control" [(ngModel)]="broadcast._id" (change)="selectBroadcast($event.target.value)">
        <option [ngValue]="undefined" selected>Select One</option>
        <option *ngFor="let b of broadcasts; let i = index" [value]="b._id">{{b.name}}</option>
      </select>
      <div class="d-flex justify-content-end">
        <button class="btn btn-link" (click)="showBroadcastModal(null)">Create New Broadcast</button>
      </div>
    </div>

    <div class="col-md-4">
      <div class="broadcasting__section">
        <div class="w-100">
          <h6>Preview</h6>
            <div *ngIf="broadcast._id">
              <i class="fas fa-info-circle"></i>
              {{broadcast.mustAgree ? 'User must acknowledge this broadcast': broadcast._id ? 'User is allowed to dismiss this broadcast' : ''}}
            </div>
            <iframe [srcdoc]="broadcast.template || '' | sanitizeDom" class="broadcast__preview" frameBorder="0"></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-end mr-2">
    <button class="btn btn-small btn-primary" [disabled]="!canPublishBroadcast()" (click)="publishBroadcast()">Publish Broadcast</button>
  </div>

</div>

<q-modal #broadcastModal [size]="'lg'">
  <h4 class="text-center">{{broadcastModalTitle}}</h4>
  <hr>
  <div class="broadcasting__section">
    <div class="w-100">
      <div class="row d-flex align-items-center mb-2">
        <div class="col-4">
          <label> Name:<span class="text-danger">*</span></label>
        </div>
        <div class="col-8">
          <input type="text" class="form-control" placeholder="i.e Biz App New Features" [(ngModel)]="broadcast.name">
        </div>
      </div>

      <div class="row d-flex align-items-center mb-2">
        <div class="col-4">
          <label> Prevent user dismiss broadcast:</label>
        </div>
        <div class="col-8">
          <input type="checkbox" [value]="true" [(ngModel)]="broadcast.mustAgree">
        </div>
      </div>

      <div class="row d-flex align-items-center mb-2">
        <div class="col-4">
          <label> Affirm Option: <span class="text-danger">*</span></label>
        </div>
        <div class="col-8">
          <input type="text" class="form-control" maxlength="10" [(ngModel)]="broadcast.affirmOption">
        </div>
      </div>

      <div class="row d-flex align-items-center mb-2" *ngIf="!broadcast.mustAgree">
        <div class="col-4">
          <label> Dismiss Option: <span class="text-danger">*</span></label>
        </div>
        <div class="col-8">
          <input type="text" class="form-control" maxlength="10" [(ngModel)]="broadcast.dismissOption">
        </div>
      </div>

      <div class="row d-flex align-items-center mb-2">
        <div class="col-4">
          <label> Template:<span class="text-danger">*</span></label>
        </div>
        <div class="col-8">
          <textarea class="form-control" rows="4" [(ngModel)]="broadcast.template"></textarea>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <label> Preview:</label>
          <iframe [srcdoc]="broadcast.template || '' | sanitizeDom" class="broadcast__preview" frameBorder="0"></iframe>
        </div>
      </div>

      <div class="row d-flex justify-content-end mt-2">
        <button class="btn btn-secondary mr-1" (click)="cancelAddBroadcast()">Cancel</button>
        <button class="btn btn-small btn-primary" [disabled]="!canAddBroadcast()" (click)="createBroadcast()">Add</button>
      </div>

    </div>
  </div>
</q-modal>
