<div class="broadcasting-container d-flex flex-column">
  <div class="row w-100">
    <div class="col-md-3">
      <div class="broadcasting__section">

        <div class="d-flex flex-column w-100">
          <div>

            <h6>Enter comma separated list of restaurant ids:</h6>
            <div class="broadcast__list">
              <div>
                <textarea class="form-control w-100 full-height" [(ngModel)]="broadcast.restaurantListId"></textarea>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-5">
      <div class="broadcasting__section">
        <div class="w-100 full-height">
          <div class="row d-flex align-items-center mb-2">
            <div class="col-md-2">
              <label> Name:<span class="text-danger">*</span></label>
            </div>
            <div class="col-md-5">
              <input type="text" class="form-control" placeholder="i.e Biz App New Features"
                [(ngModel)]="broadcast.name">
            </div>
          </div>

          <div class="row d-flex align-items-center mb-2">
            <div class="col-md-2">
              <label> Template:<span class="text-danger">*</span></label>
            </div>
            <div class="col-md-10">
              <textarea class="form-control" rows="12" [(ngModel)]="broadcast.template"></textarea>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="broadcasting__section">
        <div class="w-100">
          <h6>Preview</h6>
          <div [innerHTML]="broadcast.template" class="broadcast__preview"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center mr-2">
    <button class="btn btn-small btn-primary" [disabled]="!canPublishBroadcast()" (click)="publishBroadcast()">Publish Broadcast</button>
  </div>

</div>
