.broadcasting-container {
    height: 420px;
    display: flex;
    justify-content: space-between;
}

.broadcasting__section {
  flex-grow: 1;
  padding: 10px;;
}

.flex-4 { 
  flex-grow: 4
}

.broadcast__list {
  overflow-y: scroll;
  overflow-x: hidden;
}


