.broadcasting-container {
    height: 500px;
    display: flex;
    justify-content: space-between;
}

.broadcasting__section {
  flex-grow: 1;
  padding: 10px;;
}

.flex-4 { 
  flex-grow: 4
}

.broadcast__list {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 400px;
}

.broadcast__item {
  padding: 8px;
  margin: 10px;
}

.broadcast__item:hover {
  background-color: #eeeeee;
}

.broadcast__item-delete {
  cursor: pointer;
}

