<div class="container-fluid">

  <div class="row">
    <h2 class="col-12 text-center"> Qmenu / BeyondMenu - Single Source of Truth ({{filteredRows.length}}) </h2>
  </div>

  <div class="mt-3">
    <div>
      <a class="btn btn-link" (click)="showSummary = !showSummary">{{showSummary ? 'Hide': 'Show'}} Summary <i class="fa fa-angle-{{showSummary ? 'up': 'down'}}"></i></a>
    </div>
    <table class="table table-sm" *ngIf="showSummary">
      <thead><tr><th></th><th>Total</th><th>Tier 1</th><th>Tier 2</th><th>Tier 3</th></tr></thead>
      <tbody>
        <tr>
          <td>OVERALL RTs</td>
          <td>{{summary.overall.length}}</td>
          <td>{{countByTier(summary.overall, 1)}}</td>
          <td>{{countByTier(summary.overall, 2)}}</td>
          <td>{{countByTier(summary.overall, 3)}}</td>
        </tr>
        <tr>
          <td>RTs on both platforms</td>
          <td>{{summary.both.length}}</td>
          <td>{{countByTier(summary.both, 1)}}</td>
          <td>{{countByTier(summary.both, 2)}}</td>
          <td>{{countByTier(summary.both, 3)}}</td>
        </tr>
        <tr>
          <td>Qmenu-only RTs</td>
          <td>{{summary.qmOnly.length}}</td>
          <td>{{countByTier(summary.qmOnly, 1)}}</td>
          <td>{{countByTier(summary.qmOnly, 2)}}</td>
          <td>{{countByTier(summary.qmOnly, 3)}}</td>
        </tr>
        <tr>
          <td>BeyondMenu-only RTs</td>
          <td>{{summary.bmOnly.length}}</td>
          <td>{{countByTier(summary.bmOnly, 1)}}</td>
          <td>{{countByTier(summary.bmOnly, 2)}}</td>
          <td>{{countByTier(summary.bmOnly, 3)}}</td>
        </tr>
        <tr>
          <td>All BeyondMenu RTs</td>
          <td>{{summary.bmAll.length}}</td>
          <td>{{countByTier(summary.bmAll, 1)}}</td>
          <td>{{countByTier(summary.bmAll, 2)}}</td>
          <td>{{countByTier(summary.bmAll, 3)}}</td>
        </tr><tr>
          <td>All Qmenu RTs</td>
          <td>{{summary.qmAll.length}}</td>
          <td>{{countByTier(summary.qmAll, 1)}}</td>
          <td>{{countByTier(summary.qmAll, 2)}}</td>
          <td>{{countByTier(summary.qmAll, 3)}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="my-5">
    <div class="row">
      <div class="col-md-3 d-flex align-items-center">
        <label for="qmSearchText" class="m-0 p-0">Search </label>
        <input type="text" class="ml-3 form-control" [qDebounce]="500" (debounce)="filter()" placeholder="Search by RT name, address or phone" id="qmSearchText" [(ngModel)]="filters.keyword">
        <i class="fa fa-info-circle ml-1" data-toggle="tooltip" title="You can search for a restaurant by name, address, or phone number." data-placement="top"></i>
      </div>

      <div class="col-md-9">
        <div class="d-flex align-items-center">
          <span class="mr-2">Filters: </span>
          <select class="form-control custom-select mr-2" [(ngModel)]="filters.platform" (change)="filter()" name="activeIn">
            <option [ngValue]="''">Platform?</option>
            <option *ngFor="let opt of dropdowns('platform')" [ngValue]="opt">{{opt}}</option>
          </select>

          <select class="form-control custom-select mr-2" [(ngModel)]="filters.status" (change)="filter()" name="activeIn">
            <option [ngValue]="''">Active?</option>
            <option *ngFor="let opt of dropdowns('status')" [ngValue]="opt">{{opt}}</option>
          </select>

          <select class="form-control custom-select mr-2" [(ngModel)]="filters.hasPlaceId" (change)="filter()" name="hasPlaceId">
            <option [ngValue]="''">Has place_id?</option>
            <option *ngFor="let opt of dropdowns('place_id')" [ngValue]="opt">{{opt}}</option>
          </select>

          <select class="form-control custom-select mr-2" [(ngModel)]="filters.sameName" (change)="filter()" name="sameName">
            <option [ngValue]="''">RT Name?</option>
            <option *ngFor="let opt of dropdowns('name')" [ngValue]="opt">{{opt}}</option>
          </select>

          <select class="form-control custom-select" [(ngModel)]="filters.tier" (change)="filter()" name="tier">
            <option [ngValue]="''">Tier?</option>
            <option *ngFor="let opt of dropdowns('tier')" [ngValue]="opt">{{opt}}</option>
          </select>
          <i class="fa fa-info-circle ml-1" data-toggle="tooltip" data-placement="top" title="Restaurants that are tier 1 in either the BM or QM platform indicated with green dot, tier 2 in either platform with yellow dot, and tier 3 in both platforms with red dot."></i>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-end">
      <button class="btn btn-link text-info" (click)="showBmPricing = !showBmPricing">{{showBmPricing ? 'Hide' : 'Show'}} BM Pricing</button>
      <button class="btn btn-link" (click)="clearFilter()">Reset Filters</button>
    </div>
  </div>

  <table class="table table-sm my-5">
    <thead>
      <tr>
        <th [colSpan]="2">
          <div class="float-right">
            <q-pager #myPager1 [numberOfRows]="filteredRows.length" [pageSize]="200" (pageChange)="paginate($event)"></q-pager>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of paged(); let i = index">
        <td>{{i + 1}}</td>
        <td>
          <div class="d-flex align-items-center">
            <span class="dot {{getTierColor(row.tier, row.btier)}} mr-3"></span>
            <ng-container *ngIf="row._id">
              <span class="qm-icon mr-1"></span>
              <a class="mr-2" [routerLink]="'/restaurants/' + row._id" *ngIf="row.name !== row.bname">{{row.name}}</a>
            </ng-container>
            <ng-container *ngIf="row._bid">
              <span class="bm-icon mr-1"></span>
              <a [routerLink]="'/restaurants/' + row._id" *ngIf="row.name === row.bname">{{row.name}}</a>
              <span *ngIf="row.name !== row.bname">{{row.bname}}</span>
            </ng-container>
          </div>
          <div class="d-flex">
            <span class="dot-placeholder mr-3"></span>
            <div>
              <div>palce_id: {{row.place_id || row.bplace_id || 'N/A'}}</div>
              <div *ngIf="row._id">
                QM: Tier {{row.tier || 'N/A'}}, ID: {{row._id}},
                <ng-container *ngIf="row.createdAt">created: {{row.createdAt | dateTz: "yyyy-MM-dd": "America/New_York"}}</ng-container>,
                domain: <a *ngIf="row.website" [href]="row.website">{{row.website}}</a>
              </div>

              <ng-container *ngIf="row._bid">
                <div>BM: Tier {{row.btier || 'N/A'}}, ID: {{row._bid}}, <ng-container *ngIf="row.createdAt">created: {{row.createdAt | dateTz: "YYYY-MM-DD": "America/New_York"}}</ng-container>, domain: <a [href]="row.bwebsite">{{row.bwebsite}}</a></div>
                <div *ngIf="showBmPricing">BM Pricing: {{row.bpricing}}</div>
              </ng-container>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th [colSpan]="2">
          <div class="float-right">
            <q-pager #myPager2 [numberOfRows]="filteredRows.length" [pageSize]="200" (pageChange)="paginate($event)"></q-pager>
          </div>
        </th>
      </tr>
    </tfoot>
  </table>
</div>


