<div class="container-fluid">

  <div class="row">
    <h2 class="col-12 text-center"> Qmenu / BeyondMenu - Single Source of Truth ({{filteredRows.length}}) </h2>
  </div>
  <!-- start with show row -->
  <div class="mt-5">
    <div class="d-flex align-items-center row">
      <span class="d-inline-flex align-items-center col-auto mb-3">
        <label>Show </label>
        <span class="ml-2" *ngFor="let showModel of showModels | keyvalue" (change)="onChangeShowModels(showModel)">
          <input type="checkbox" [(ngModel)]="showModel.value.model">
          <label>{{showModel.value.label}}</label>
        </span>
      </span>
    </div>
  </div>
  <!-- end with show row -->
  <div class="mt-2">
    <div class="d-flex align-items-center row">
      <span class="d-inline-flex align-items-center col-auto mb-3">
        <label for="qmSearchText" class="m-0 p-0">Search </label>
        <input type="text" class="ml-2 form-control" [qDebounce]="500" (debounce)="filter()"
          placeholder="Search by RT name, address, phone or ID" id="qmSearchText" [(ngModel)]="filters.keyword">
        <i class="fa fa-info-circle ml-1" data-toggle="tooltip"
          title="You can search for a restaurant by name, address, phone or ID." data-placement="top"></i>
      </span>
      <div class="d-inline-flex align-items-center col-auto mb-3">
        <span class="mr-2">Filters: </span>
        <select class="form-control custom-select" [(ngModel)]="filters.platform" (change)="filter()">
          <option [ngValue]="''">Platform?</option>
          <option *ngFor="let opt of dropdowns('platform')" [ngValue]="opt">{{opt}}</option>
        </select>
      </div>

      <div class="col-auto mb-3">
        <select class="form-control custom-select" [(ngModel)]="filters.status" (change)="filter()">
          <option [ngValue]="''">Active?</option>
          <option *ngFor="let opt of dropdowns('status')" [ngValue]="opt">{{opt}}</option>
        </select>
      </div>

      <div class="col-auto mb-3">
        <select class="form-control custom-select" [(ngModel)]="filters.activeDefinition" (change)="filter()">
          <option [ngValue]="''">Active definition?</option>
          <option *ngFor="let opt of dropdowns('active_definition')" [ngValue]="opt">{{opt}}</option>
        </select>
      </div>

      <div class="col-auto mb-3" *ngIf="showModels.matchFilters.model">
        <select class="form-control custom-select" [(ngModel)]="filters.hasPlaceId" (change)="filter()">
          <option [ngValue]="''">Has place_id?</option>
          <option *ngFor="let opt of dropdowns('place_id')" [ngValue]="opt">{{opt}}</option>
        </select>
      </div>

      <div class="col-auto mb-3" *ngIf="showModels.matchFilters.model">
        <select class="form-control custom-select" [(ngModel)]="filters.sameName" (change)="filter()">
          <option [ngValue]="''">RT Name?</option>
          <option *ngFor="let opt of dropdowns('name')" [ngValue]="opt">{{opt}}</option>
        </select>
      </div>

      <div class="col-auto d-inline-flex align-items-center mb-3">
        <select class="form-control custom-select" [(ngModel)]="filters.tier" (change)="filter()">
          <option [ngValue]="''">Tier?</option>
          <option *ngFor="let opt of dropdowns('tier')" [ngValue]="opt">{{opt}}</option>
        </select>
        <i class="fa fa-info-circle ml-1" data-toggle="tooltip" data-placement="top"
          title="Restaurants that are tier 1 in either the BM or QM platform indicated with green dot, tier 2 in either platform with yellow dot, and tier 3 in both platforms with red dot."></i>
      </div>
     
      <div class="col-auto mb-3" *ngIf="showModels.gmbRelated.model">
        <select class="form-control custom-select" [(ngModel)]="filters.gmbStatus" (change)="filter()">
          <option [ngValue]="''">GMB Status?</option>
          <option *ngFor="let opt of dropdowns('gmb')" [ngValue]="opt">{{opt}}</option>
        </select>
      </div>
      <div class="col-auto mb-3" *ngIf="showModels.gmbRelated.model">
        <select class="form-control custom-select" [(ngModel)]="filters.gmbWebsite" (change)="filter()">
          <option [ngValue]="''">GMB Website?</option>
          <option *ngFor="let opt of dropdowns('gmb_website')" [disabled]="opt.includes('BM')" [ngValue]="opt">{{opt}}
          </option>
        </select>
      </div>
      <!--      <div class="col-auto mb-3">-->
      <!--        <select class="form-control custom-select" [(ngModel)]="filters.pricing" (change)="filter()">-->
      <!--          <option [ngValue]="''">Pricing?</option>-->
      <!--          <option *ngFor="let opt of dropdowns('pricing')" [ngValue]="opt">{{opt}}</option>-->
      <!--        </select>-->
      <!--      </div>-->
      <div class="col-auto mb-3" *ngIf="showModels.postmatesStatus.model">
        <select class="form-control custom-select" [(ngModel)]="filters.postmates" (change)="filter()">
          <option [ngValue]="''">Postmates?</option>
          <option *ngFor="let opt of dropdowns('postmates')" [ngValue]="opt">{{opt}}</option>
        </select>
      </div>
      <div class="col-auto mb-3" *ngIf="showModels.salesFilters.model">
        <select class="form-control custom-select" [(ngModel)]="filters.perspective" (change)="filter()">
          <option [ngValue]="''">Sales Perspective?</option>
          <option *ngFor="let opt of dropdowns('perspective')" [ngValue]="opt">{{opt}}</option>
        </select>
      </div>
      <div class="col-auto mb-3" *ngIf="showModels.salesFilters.model && !!filters.perspective">
        <select class="form-control custom-select" [(ngModel)]="filters.worthiness" (change)="filter()">
          <option [ngValue]="''">Sales-worthiness?</option>
          <option *ngFor="let opt of dropdowns('worthiness')" [ngValue]="opt">{{opt}}</option>
        </select>
      </div>
     
      <!-- start with all extra filters -->
      <!-- start with cuisine type filter -->
      <div class="col-auto mb-3" *ngIf="showModels.allExtraFilters.model">
        <select class="form-control custom-select" [(ngModel)]="filters.cuisine" (change)="filter()">
          <option [ngValue]="''">Cuisine Type?</option>
          <option *ngFor="let opt of cuisines" [ngValue]="opt">{{opt}}</option>
        </select>
      </div>
      <!-- end with cuisine type filter -->
      <!-- start with number google reviewers -->
      <div class="col-auto mb-3" *ngIf="showModels.allExtraFilters.model">
        <select class="form-control custom-select" [(ngModel)]="filters.googleReviews" (change)="filter()">
          <option [ngValue]="''">Num Google Reviews?</option>
          <option *ngFor="let opt of dropdowns('googleReviews')" [ngValue]="opt">{{opt}}</option>
        </select>
      </div>
      <!-- end with number google reviewers -->
      <!-- start with coupons -->
      <div class="col-auto mb-3" *ngIf="showModels.allExtraFilters.model">
        <select class="form-control custom-select" [(ngModel)]="filters.coupons" (change)="filter()">
          <option [ngValue]="''">Has coupons?</option>
          <option *ngFor="let opt of dropdowns('coupons')" [ngValue]="opt">{{opt}}</option>
        </select>
      </div>
      <!-- end with coupons -->
      <!-- start with competitors -->
      <div class="col-auto d-inline-flex align-items-center mb-3" *ngIf="showModels.allExtraFilters.model">
        <select class="form-control custom-select" [(ngModel)]="filters.competitors" (change)="filter()">
          <option [ngValue]="''">Num competitors?</option>
          <option *ngFor="let opt of dropdowns('competitors')" [ngValue]="opt">{{opt}}</option>
        </select>
        <i class="fa fa-info-circle ml-1" data-toggle="tooltip" data-placement="top"
          title="This is based on looking at the first page of a google search for a given restaurant and counting the number of unique competitor-platform-created websites for that restaurant, without counting BM and QM as competitors."></i>
      </div>
      <!-- end with competitors -->
      <!-- end with all extra filters -->
      <div class="col-auto mb-3">
        <button class="btn btn-link" (click)="clearFilter()">Reset Filters</button>
      </div>
    </div>
  </div>

  <div>
    <div>
      <a class="btn btn-link" (click)="showSummary = !showSummary">{{showSummary ? 'Hide': 'Show'}} Summary <i
          class="fa fa-angle-{{showSummary ? 'up': 'down'}}"></i></a>
    </div>
    <table class="table table-sm" *ngIf="showSummary">
      <thead>
        <tr>
          <th></th>
          <th>Total</th>
          <th>Tier 1</th>
          <th>Tier 2</th>
          <th>Tier 3</th>
          <th>
            <div class="edit-label-cell">
              <q-edit-label [value]="sumOPMLevel" (edit)="sumOPMLevel = $event.newValue"></q-edit-label>
              <span class="suffix">orders/mo</span>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>OVERALL RTs</td>
          <td>{{summary.overall.length}}</td>
          <td>{{countByTier(summary.overall, 1)}}</td>
          <td>{{countByTier(summary.overall, 2)}}</td>
          <td>{{countByTier(summary.overall, 3)}}</td>
          <td>N/A</td>
        </tr>
        <tr>
          <td>RTs on both platforms</td>
          <td>{{summary.both.length}}</td>
          <td>{{countByTier(summary.both, 1)}}</td>
          <td>{{countByTier(summary.both, 2)}}</td>
          <td>{{countByTier(summary.both, 3)}}</td>
          <td>N/A</td>
        </tr>
        <tr>
          <td>Qmenu-only RTs</td>
          <td>{{summary.qmOnly.length}}</td>
          <td>{{countByTier(summary.qmOnly, 1)}}</td>
          <td>{{countByTier(summary.qmOnly, 2)}}</td>
          <td>{{countByTier(summary.qmOnly, 3)}}</td>
          <td>{{countByOrdersPerMonth(summary.qmOnly)}}</td>
        </tr>
        <tr>
          <td>BeyondMenu-only RTs</td>
          <td>{{summary.bmOnly.length}}</td>
          <td>{{countByTier(summary.bmOnly, 1)}}</td>
          <td>{{countByTier(summary.bmOnly, 2)}}</td>
          <td>{{countByTier(summary.bmOnly, 3)}}</td>
          <td>N/A</td>
        </tr>
        <tr>
          <td>
            <div class="d-flex justify-content-between">
              <span>All BeyondMenu RTs</span>
              <span>
                <input type="checkbox" (change)="calcSummary()" [(ngModel)]="sumBmActiveOnly"> Active
              </span>
            </div>
          </td>
          <td>{{summary.bmAll.length}}</td>
          <td>{{countByTier(summary.bmAll, 1)}}</td>
          <td>{{countByTier(summary.bmAll, 2)}}</td>
          <td>{{countByTier(summary.bmAll, 3)}}</td>
          <td>N/A</td>
        </tr>
        <tr>
          <td>
            <div class="d-flex justify-content-between">
              <span>All Qmenu RTs</span>
              <span>
                <input type="checkbox" (change)="calcSummary()" [(ngModel)]="sumQmActiveOnly"> Active
              </span>
            </div>
          </td>
          <td>{{summary.qmAll.length}}</td>
          <td>{{countByTier(summary.qmAll, 1)}}</td>
          <td>{{countByTier(summary.qmAll, 2)}}</td>
          <td>{{countByTier(summary.qmAll, 3)}}</td>
          <td>{{countByOrdersPerMonth(summary.qmAll)}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div>
    <div>
      <a class="btn btn-link" (click)="showKPI = !showKPI">{{showKPI ? 'Hide': 'Show'}} KPI <i
          class="fa fa-angle-{{showKPI ? 'up': 'down'}}"></i></a>
    </div>
    <ng-container *ngIf="showKPI">
      <div class="row mt-2 mb-2">
        <div class="col-auto">
          <select class="form-control custom-select" [(ngModel)]="kpiFilters.normal.platform">
            <option *ngFor="let opt of dropdowns('platform')" [ngValue]="opt">{{opt}}</option>
          </select>
        </div>
        <div class="col-auto">
          <select class="form-control custom-select" [(ngModel)]="kpiFilters.normal.period">
            <option *ngFor="let opt of dropdowns('kpi_period')" [ngValue]="opt">{{opt}}</option>
          </select>
        </div>
        <div class="col-auto">
          <a class="btn btn-link" (click)="kpiNormalDownload()">Download CSV</a>
        </div>
      </div>
      <div class="scroll-table-container">
        <table class="table table-bordered left table-sm">
          <thead>
            <tr>
              <th class="text-transparent">Placeholder</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>GMV $</td>
            </tr>
            <tr>
              <td>Order count</td>
            </tr>
            <tr>
              <td>Active RT count</td>
            </tr>
            <tr>
              <td>AOV $</td>
            </tr>
          </tbody>
        </table>
        <div class="right">
          <table class="table table-bordered table-sm">
            <thead>
              <tr>
                <th *ngFor="let item of getKPIHeaders('normal')">{{item}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let values of getKpiNormalList(); let i = index;">
                <td *ngFor="let value of values">
                  <ng-container *ngIf="[0, 3].includes(i)">$</ng-container>{{value | number}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row mt-2 mb-2">
        <div class="col-auto">
          <select class="form-control custom-select" [(ngModel)]="kpiFilters.over.platform">
            <option *ngFor="let opt of dropdowns('platform')" [ngValue]="opt">{{opt}}</option>
          </select>
        </div>
        <div class="col-auto">
          <select class="form-control custom-select" [(ngModel)]="kpiFilters.over.period">
            <option *ngFor="let opt of dropdowns('kpi_period')" [ngValue]="opt">{{opt}}</option>
          </select>
        </div>
        <div class="col-auto">
          <a class="btn btn-link" (click)="kpiOverDownload()">Download CSV</a>
        </div>
      </div>
      <div class="scroll-table-container">
        <table class="table table-bordered left table-sm">
          <thead>
            <tr>
              <th class="text-transparent">Placeholder</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>GMV {{getKpiLabel()}}</td>
            </tr>
            <tr>
              <td>Order count {{getKpiLabel()}}</td>
            </tr>
            <tr>
              <td>Active RT count</td>
            </tr>
            <tr>
              <td>AOV {{getKpiLabel()}}</td>
            </tr>
          </tbody>
        </table>
        <div class="right">
          <table class="table table-bordered table-sm">
            <thead>
              <tr>
                <th *ngFor="let item of getKPIHeaders('over')">{{item}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let values of getKpiOverList()">
                <td *ngFor="let value of values">{{value | percent: '1.0-2'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-container>

  </div>

  <table class="table table-sm mt-2 mb-3">
    <thead>
      <tr>
        <th [colSpan]="4">
          <div class="float-right">
            <q-pager #myPager1 [numberOfRows]="filteredRows.length" [pageSize]="200" (pageChange)="paginate($event)">
            </q-pager>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let row of paged(); let i = index">
        <tr>
          <td rowspan="2">{{i + 1}}</td>
          <td rowspan="2" class="td-dot"><span class="dot {{getTierColor(row.tier, row.btier)}}"></span></td>
          <td rowspan="2">
            <div class="d-flex align-items-center">
              <ng-container *ngIf="row._id && !row.hide">
                <span class="logo qm-icon mr-1"></span>
                <a class="mr-2" [routerLink]="'/restaurants/' + row._id"
                  *ngIf="row.bhide || row.name !== row.bname">{{row.name}}</a>
              </ng-container>
              <ng-container *ngIf="row._bid && !row.bhide">
                <span class="logo bm-icon mr-1"></span>
                <a [routerLink]="'/restaurants/' + row._id" *ngIf="!row.hide && row.name === row.bname">{{row.name}}</a>
                <span *ngIf="row.hide || row.name !== row.bname">{{row.bname}}</span>
              </ng-container>
            </div>
            <div>
              <div>place_id: {{getPlaceId(row)}}</div>
              <div *ngIf="row._id && !row.hide">
                QM: Tier {{row.tier}}, ID: {{row._id}},
                <ng-container *ngIf="row.createdAt">created:
                  {{row.createdAt | dateTz: "yyyy-MM-dd": "America/New_York"}}</ng-container>,
                domain: <a *ngIf="row.website" [href]="row.website">{{row.website}}</a>
              </div>
              <ng-container *ngIf="row._bid && !row.bhide">
                <div>BM: Tier {{row.btier}}, ID: {{row._bid}}, <ng-container *ngIf="row.createdAt">created:
                    {{row.createdAt | dateTz: "YYYY-MM-DD": "America/New_York"}}</ng-container>, domain: <a
                    [href]="row.bwebsite">{{row.bwebsite}}</a></div>
                <div *ngIf="showModels.pricing.model">BM Pricing: {{row.bpricing}}</div>
              </ng-container>
            </div>
            <div>
              Address:
              <span class="mr-1" *ngIf="row.address && !row.hide">{{row.address}} (QM)</span>
              <ng-container *ngIf="row.address && !row.hide && row.baddress && !row.bhide">/</ng-container>
              <span class="ml-1" *ngIf="row.baddress && !row.bhide">{{row.baddress}} (BM)</span>
            </div>
            <div *ngIf="showModels.phones.model">Phone: {{groupChannels(row, 'Phone')}}</div>
            <div *ngIf="showModels.otherContacts.model">Emails: {{groupChannels(row, 'Email')}} / Fax:
              {{groupChannels(row, 'Fax')}}
            </div>
          </td>
          <td class="td-icon-top">
            <div class="d-flex flex-column align-items-end">
              <span *ngIf="showModels.salesFilters.model" [innerHTML]="getWorthy(row)"></span>
              <ng-container *ngIf="showModels.postmatesStatus.model && !row.hide">
                <img class="pm-green" *ngIf="row.courier === 'Postmates' && row.postmatesAvailable"
                  src="assets/images/postmates.png" />
                <img class="pm-grey" *ngIf="row.courier != 'Postmates' && row.postmatesAvailable"
                  src="assets/images/postmates.png" />
              </ng-container>
            </div>
          </td>
        </tr>
        <tr>
          <td class="td-icon-bottom">
            <div class="d-inline-flex align-items-center">
              <i class="fab fa-google mr-2"></i>
              <span class="logo qm-icon" *ngIf="row.hasGmb" [ngClass]="{'mr-2': row.bhasGmb}"></span>
              <span class="logo bm-icon" *ngIf="row.bhasGmb"></span>
              <span class="text-danger" *ngIf="!row.hasGmb && !row.bhasGmb">&#10008;</span>
              <i class="fas fa-globe mr-2 ml-3"></i>
              <span class="logo qm-icon" *ngIf="row.hasGMBWebsite" [ngClass]="{'mr-2': row.bhasGMBWebsite}"></span>
              <span class="logo bm-icon" *ngIf="row.bhasGMBWebsite"></span>
              <span class="text-danger" *ngIf="!row.hasGMBWebsite && !row.bhasGMBWebsite">&#10008;</span>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
    <tfoot>
      <tr>
        <th [colSpan]="4">
          <div class="float-right">
            <q-pager #myPager2 [numberOfRows]="filteredRows.length" [pageSize]="200" (pageChange)="paginate($event)">
            </q-pager>
          </div>
        </th>
      </tr>
    </tfoot>
  </table>
</div>
