<div *ngIf="!instanceList || instanceList.length === 0; else elseBlock">
    List is empty
</div>

<ng-template #elseBlock>

    <!-- Simple Display Mode -->
    <q-table *ngIf="!fullDisplayMode" [rows]="routineList" [tableColumnDescriptors]="columnDescriptors" [compact]="true"
        [pageSize]="100">
        <tr *tableRowTemplate="let routine">
            <td class="align-middle">{{routineList.indexOf(routine) + 1}}</td>
            <td class="align-middle">
                <div>
                    <strong>{{routine.name}}</strong><br>
                    <small>{{routine.description}} </small>
                </div>
            </td>
            <td class="align-middle">
                <q-table [rows]="groupedInstances[routine._id]"
                    [tableColumnDescriptors]="instanceColumnDescriptors[routine.name]" [compact]="true"
                    [pageSize]="pagination ? 100 : 100000">

        <tr *tableRowTemplate="let instance">
            <td>
                {{instance.createdAt | date: 'short'}}
            </td>
            <td *ngFor="let header of instanceColumnDescriptors[routine.name] | slice: 1">
                <span *ngIf="header.label === 'Check-In' || header.label === 'Check-Out'; else default">
                    {{resultsTable[instance._id][header.label] | date: 'shortTime'}}
                </span>
                <ng-template #default>
                    {{resultsTable[instance._id][header.label]}}
                </ng-template>
            </td>

        </tr>
    </q-table>
    </td>

    </tr>
    </q-table>

    <!-- Full Display Mode -->

    <q-table *ngIf="fullDisplayMode" [rows]="routineList" [tableColumnDescriptors]="[{'label': 'Routine Data'}]" [compact]="true"
        [pageSize]="100">
        <tr *tableRowTemplate="let routine">

            <td class="align-middle">
                <q-table [rows]="groupedInstances[routine._id]"
                    [tableColumnDescriptors]="fullDisplayInstanceColumnDescriptors[routine.name]" [compact]="true"
                    [pageSize]="500">

        <tr *tableRowTemplate="let instance">
            <td>
                {{instance.createdAt | date: 'short'}}
            </td>
            <td>
                {{instance.assignee}}
            </td>
            <td *ngFor="let header of fullDisplayInstanceColumnDescriptors[routine.name] | slice: 2">
                <span *ngIf="header.label === 'Check-In' || header.label === 'Check-Out'; else default">
                    {{resultsTable[instance._id][header.label] | date: 'shortTime'}}
                </span>
                <ng-template #default>
                    {{resultsTable[instance._id][header.label]}}
                </ng-template>
            </td>
        </tr>
    </q-table>
    </td>

    </tr>
    </q-table>

</ng-template>