<div *ngIf="!instanceList || instanceList.length === 0; else elseBlock">
    List is empty
</div>

<ng-template #elseBlock>

    <!-- Simple Display Mode -->
    <q-table *ngIf="!fullDisplayMode" [rows]="groupedInstances" [tableColumnDescriptors]="columnDescriptors"
        [compact]="true" [pageSize]="pagination ? 100 : 100000">
        <tr *tableRowTemplate="let group">
            <td class="align-middle">{{groupedInstances.indexOf(group) + 1}}</td>
            <td class="align-middle">
                <div>
                    <strong>{{group.name}}</strong><br>
                    <small>{{group.description}} </small>
                </div>
            </td>
            <td class="align-middle">
                <q-table [rows]="group.instances" [tableColumnDescriptors]="instanceColumnDescriptors[group.name]"
                    [compact]="true" [pageSize]="pagination ? 100 : 100000">

        <tr *tableRowTemplate="let instance">
            <td>
                {{instance.createdAt | date: 'short'}}
            </td>
            <td *ngFor="let header of instanceColumnDescriptors[group.name] | slice: 1">
                <span *ngIf="header.label === 'Check-In' || header.label === 'Check-Out'; else default">
                    {{resultsTable[instance._id][header.label] | date: 'shortTime'}}
                </span>
                <ng-template #default>
                    {{resultsTable[instance._id][header.label]}}
                </ng-template>
            </td>

        </tr>
    </q-table>
    </td>

    </tr>
    </q-table>

    <!-- Full Display Mode -->

    <q-table *ngIf="fullDisplayMode" [rows]="groupedInstances" [tableColumnDescriptors]="columnDescriptors"
        [compact]="true" [pageSize]="pagination ? 100 : 100000">
        <tr *tableRowTemplate="let group">
            <td class="align-middle">{{groupedInstances.indexOf(group) + 1}}</td>
            <td class="align-middle">
                <div>
                    <strong>{{group.name}}</strong><br>
                    <small>{{group.description}} </small>
                </div>
            </td>
            <td class="align-middle">
                <q-table [rows]="group.instances"
                    [tableColumnDescriptors]="fullDisplayInstanceColumnDescriptors[group.name]" [compact]="true"
                    [pageSize]="pagination ? 100 : 100000">

        <tr *tableRowTemplate="let instance">
            <td>
                {{instance.createdAt | date: 'short'}}
            </td>
            <td>
                {{instance.assignee}}
            </td>
            <td *ngFor="let header of fullDisplayInstanceColumnDescriptors[group.name] | slice: 2">
                <span *ngIf="header.label === 'Check-In' || header.label === 'Check-Out'; else default">
                    {{resultsTable[instance._id][header.label] | date: 'shortTime'}}
                </span>
                <ng-template #default>
                    {{resultsTable[instance._id][header.label]}}
                </ng-template>
            </td>
        </tr>
    </q-table>
    </td>

    </tr>
    </q-table>

</ng-template>