<div *ngIf="mc">
  <h4 class="text-center">All Items Under Category: {{mc.name}}</h4>


  <table class="table">
    <thead>
      <tr>
        <th>
          Sequence
        </th>
        <th>
          Number
        </th>
        <th>
          Name
        </th>
        <th>
          Description
        </th>
        <th>
          Pricing
        </th>
        <th>
          No Special Instructions
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let mi of mc.mis">
        <td>
          <input type="number" [(ngModel)]="mi.sortOrder" class="form-control app-input-xs">
        </td>
        <td>
          <input type="text" [(ngModel)]="mi.number" placeholder="eg. A1" class="form-control app-input-sm">
        </td>
        <td>
          <input type="text" [(ngModel)]="mi.name" class="form-control app-input-100" placeholder="name">
        </td>
        <td>
          <input [(ngModel)]="mi.description" class="form-control app-input-100" placeholder="description">
        </td>
        <td>
          <div *ngFor="let option of mi.sizeOptions">
            <input type="text" [(ngModel)]="option.name" class="form-control app-input-sm" placeholder="size">
            <input type="number" [(ngModel)]="option.price" class="form-control app-input-sm" placeholder="$">
          </div>
        </td>
        <td>
          <input type="checkbox" [(ngModel)]="mi.nonCustomizable">
        </td>
      </tr>
    </tbody>

  </table>

  <div class="text-right">
    <button type="button" class="btn btn-link" (click)="cancel()" data-dismiss="modal">  
          Cancel
    </button>
    <button type="button" class="btn btn-primary" (click)="ok()">
          <span class="fa fa-ok"></span> &nbsp;&nbsp;OK&nbsp;&nbsp;&nbsp;&nbsp;
    </button>
  </div>

</div>