.app-input-xs {
    width: 3rem;
}
.app-input-sm {
    width: 5rem;
}
.app-input-md {
    width: 10rem;
}
.app-input-100 {
    width: 100%;
}

.form-control{
    display: initial !important;
}
.mi-translation label {
  font-size: 0.75rem;
  color: #9e9e9e;
}

.mi-translation input {
  font-size: 0.75rem;
}
