.app-input-xs {
    width: 3rem;
}
.app-input-sm {
    width: 5rem;
}
.app-input-md {
    width: 10rem;
}
.app-input-100 {
    width: 100%;
}

.form-control{
    display: initial !important;
}
.mi-translation {
  margin-top: 0.5rem;
}

.mi-translation label {
  color: #9e9e9e;
  width: 3.75rem;
  font-size: 0.5rem;
  word-break: break-word;
}
.mi-translation label.zh {
  white-space: nowrap;
  word-break: keep-all;
}
.mi-translation input {
  font-size: 0.75rem;
  width: calc(100% - 3.76rem);
  min-width: 3rem;
}

