<h5>Store Hours</h5>
<div *ngIf="restaurant.googleListing?.hours?.length > 0">
  If the hours below are correct, you can proceed to the next step, or you can correct or add hours as needed.
</div>
<div>
  <div *ngFor="let hour of hours; let i = index;">
    {{hour.fromTime | adjustedDate : 'E h:mm a' : restaurant.googleAddress.timezone}}
    - {{hour.toTime | adjustedDate : 'h:mm a' : restaurant.googleAddress.timezone}}
    <button type="button" class="btn btn-link text-danger py-0" (click)="deleteHour(i)">
      <i class="fas fa-trash-alt"></i>
    </button>
  </div>
</div>
<div>
  <button class="btn btn-link" (click)="addingHours = true"><i class="fa fa-plus"></i> Add Hour</button>
</div>
<div *ngIf="addingHours">
  <lib-hours-picker (cancel)="addingHours = false" (submit)="hourUpdate($event)" [timezone]="restaurant?.googleAddress?.timezone"></lib-hours-picker>
</div>
<div class="text-end">
  <button class="btn btn-primary btn-lg" (click)="save()"><i class="fa fa-save"></i> Save</button>
</div>
