<h1 class="text-center">qMenu Portal</h1>

<div class="card-group">
  <div class="card" *ngIf="isVisible('search')">
    <div class="card-body">
      <label>Search Restaurant:</label>
      <q-restaurant-picker #myRestaurantPicker [restaurants]="restaurantList" (select)="selectRestaurant($event)">
      </q-restaurant-picker>
    </div>
  </div>

  <div class="card" *ngIf="isVisible('ownership')">
    <div class="card-body">
      <h5 class="card-title">
        <i class="fas fa-exchange-alt"></i> Change ownership
      </h5>
      <app-change-ownership></app-change-ownership>
    </div>
  </div>
</div>
<div class="card-group m-1">
  <div class="card" *ngIf="isVisible('courier-availability')">
    <div class="card-body">
      <h5 class="card-title"><i class="fas fa-bicycle"></i> Postmates availability</h5>
      <div class="form-group">
        <div class="d-flex flex-column">
          <div class="row">
            <div class="col-md-12 d-flex align-items-center">
              <label class="mr-2">Address</label>
              <input type="text" class="form-control" [(ngModel)]="addressToCheckAvailability">
            </div>
          </div>

          <div class="row mt-3">
            <button class="btn btn-link py-0 mr-3" (click)="checkPostmatesAvailability()"
              [qLoading]="checkingPostmatesAvailability">Check Postmates availability</button>
            <div *ngIf="postmatesAvailability; else notAvailable">
              <i class="fa fa-check fg--green" aria-hidden="true"></i>
              <span>Available</span>
            </div>
            <ng-template #notAvailable>
              <div *ngIf="postmatesAvailability !== undefined">
                <i class="fa fa-times text-danger" aria-hidden="true"></i>
                <span>Not available</span>
              </div>
            </ng-template>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- start with text tool in portal -->
  <div class="card" *ngIf="isVisible('send-text-message')">
    <div class="card-body">
      <h5 class="card-title"><i class="fa fa-comments"></i> Send Text Message</h5>
      <div class="mt-3">
        <label>Send to: </label>
        <input class="form-control" type="tel" [(ngModel)]="textPhoneNumber">
      </div>
      <div class="mt-3">
        <label>Message Template: </label>
        <select (change)="changeTpl($event)" class="form-control">
          <option *ngIf="!messageTemplate.title" hidden></option>
          <ng-container *ngFor="let items of messageTemplates; let i = index">
            <option *ngFor="let item of items" [value]="item.title" [selected]="item.title === messageTemplate.title">
              {{item.title}}
            </option>
            <hr *ngIf="i < messageTemplates.length - 1">
          </ng-container>
        </select>
      </div>
      <div class="mt-3">
        <label>SMS Content:</label>
        <textarea [disabled]="messageTemplate.title !== 'Custom'" rows="10" class="form-control"
          [(ngModel)]="messageTemplate.content"></textarea>
      </div>
      <div class="mt-3">
        <button (click)="sendText()" [disabled]="!isPhoneValid() || !messageTemplate.content"
          class="btn btn-primary btn-block">Send</button>
      </div>
    </div>
  </div>
  <!-- end with text tool in portal -->
</div>

<div class="card-group m-1">
  <div class="card" *ngIf="isVisible('send-fax')">
    <div class="card-body">
      <app-send-fax></app-send-fax>
    </div>
  </div>
  <div class="card" *ngIf="isVisible('gmb-campaign')">
    <div class="card-body">
      <h5 class="card-title">
        <i class="far fa-address-book"></i> GMB Campaign
      </h5>
      <app-gmb-campaign></app-gmb-campaign>
    </div>
  </div>
</div>

<div class="card-group m-1">
  <div class="card" *ngIf="isVisible('bulk-messaging')">
    <div class="card-body">
      <h5 class="card-title">
        <i class="far fa-comment-dots"></i> Bulk Messaging
      </h5>
      <!-- enable prefer language restaurants -->
      <app-bulk-messaging [ePLRestaurants]="restaurantList"></app-bulk-messaging>
    </div>
  </div>
</div>

<div class="card-group m-1">
  <div class="card" *ngIf="isVisible('broadcasting')">
    <div class="card-body">
      <h5 class="card-title">
        <i class="fas fa-bullhorn"></i> Broadcasting
      </h5>
      <app-broadcasting-editor></app-broadcasting-editor>
    </div>
  </div>
</div>
<div class="card-group">
  <div class="card" *ngIf="isVisible('other-modules')">
    <div class="card-body">
      <h5 class="card-title">
        <i class="fa fa-th"></i> Other Modules
      </h5>
      <app-other-modules></app-other-modules>
    </div>
  </div>
</div>
