<h1 class="text-center">qMenu Portal</h1>

<div class="row">
    <div class="col-sm-3">
        <div style="position: relative;">
            <input class="form-control" placeholder="name or phone" [(ngModel)]="searchTerm">
            <div class="search-overlay">
                <i class="fas fa-search"></i>
            </div>
        </div>
        <!-- row has negative margins and we need to remove them! -->
        <div style="max-height: 600px; overflow: auto" class="mt-2">
            <div *ngFor="let restaurant of getFilteredList()" class="card hvr-underline-reveal mb-2 {{selectedRestaurant === restaurant ? 'bg-light' : ''}}"
                style="cursor: pointer;" (click)="select(restaurant)">
                <div class="card-body">
                    <h5 class="card-title">{{restaurant.name}}</h5>
                    <small>{{restaurant.googleAddress?.formatted_address | removeUsa}}</small>
                </div>
            </div>
        </div>


    </div>
    <div class="col-sm-9 bg-light">
        <div *ngIf="!selectedRestaurant" class="py-4">No restaurant selected. Please search and select restaurant.</div>
        <div *ngIf="selectedRestaurant">
            <app-restaurant-details [restaurant]="selectedRestaurant"></app-restaurant-details>
        </div>
        
    </div>

</div>



<!-- <div class="card text-center btn-card hvr-underline-reveal mx-1 mt-2">
    <div class="card-body" routerLink="/invoices/monthly/{{date | date:'y-M-d'}}">
        <h4 class="card-title"><i class="fas fa-hand-holding-usd"></i> Payments Received</h4>
    </div>
</div>
<div class="card text-center btn-card hvr-underline-reveal mx-1 mt-2">
    <div class="card-body" routerLink="/invoices/monthly/{{date | date:'y-M-d'}}">
        <h4 class="card-title"><i class="fas fa-paper-plane"></i> Payments Sent</h4>
    </div>
</div>

<div class="card text-center btn-card hvr-underline-reveal mx-1 mt-2">
    <div class="card-body" routerLink="/invoices/monthly/{{date | date:'y-M-d'}}">
        <h4 class="card-title"><i class="fas fa-edit"></i> Restaurant Notes</h4>
    </div>
</div> -->