.limit-span-width {
  min-width: 100px;
  max-width: 100px;
}

.limit-select-width {
  min-width: 200px;
  max-width: 200px;
}

.scraping-result {
  overflow-y: scroll;
  max-height: 300px;
  border: 1px solid #ece3e3;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
}

.limit-scraping-div-width {
  min-width: 300px;
  max-width: 300px;
}
