<div *ngIf="isSuperUser">
  <label>Impersonate:</label>
  <select class="form-control mr-4" [(ngModel)]="username" (change)="changeUser()">
    <option *ngFor="let username of usernames">{{username}}</option>
  </select>
</div>

<h1 class="text-center">My Restaurants ({{rows.length}})</h1>

<div>
  Earned Total: {{getTotal('earned') | currency:'USD':'symbol'}}
</div>
<div>
  Not Earned Total: {{getTotal('notEarned') | currency:'USD':'symbol'}}
</div>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Created At</th>
    <th>GMB Owner</th>
    <th>Websites</th>
    <th>Ongoing Tasks</th>
    <th>Invoices</th>
    <th>Not Collected</th>
    <th>Collected</th>
    <th>Rate</th>
    <th>Earned</th>
    <th>Not Earned</th>
  </tr>
  <tr *ngFor="let row of rows" class="{{row.restaurant.disabled ? 'bg-warning' : ''}}">
    <td class="text-nowrap {{row.restaurant.disabled ? 'app-muted' : ''}}">
      <a *ngIf="isSuperUser" target="_blank" href="#/restaurants/{{row.restaurant._id}}">{{row.restaurant.name}}</a>
      <span *ngIf="!isSuperUser">{{row.restaurant.name}}</span>
      <div><small>{{row.restaurant.googleAddress?.formatted_address | removeUsa}}</small></div>
      <div *ngIf="row.phone"><small>{{row.phone | phone}}</small></div>
    </td>
    <td>{{row.restaurant.createdAt | date: 'shortDate' }}</td>
    <td class="text-center">
      <img *ngIf="row.published" [attr.src]="'/assets/images/qmenu.png'" alt="qmenu" height="16px">
      <img *ngIf="row.suspended" [attr.src]="'/assets/images/qmenu-gray.png'" alt="qmenu" height="16px">
      <span *ngIf="!row.published && !row.suspended">?</span>
      <i class="fas fa-lock-open text-info" *ngIf="row.gmbBiz?.gmbOpen"></i>
    </td>
    <td>
      <div>
        Google: <a href="{{row.gmbBiz?.gmbWebsite}}" title="{{row.gmbBiz?.gmbWebsite}}" target="_blank">{{row.gmbBiz?.gmbWebsite}}</a>
      </div>

      <div>
        qMenu: <a href="{{row.gmbBiz?.qmenuWebsite}}" title="{{row.gmbBiz?.qmenuWebsite}}" target="_blank">{{row.gmbBiz?.qmenuWebsite}}</a>
      </div>
    </td>
    <td>
      <div *ngFor="let task of row.tasks">{{task.name}}</div>
    </td>
    <td class="text-nowrap">
      <button class="btn btn-link" (click)="row.showDetails = !row.showDetails">{{row.invoices.length}} <i class="fas fa-caret-down"></i></button>
      <table class="table table-borderless table-sm" *ngIf="row.showDetails">
        <tr *ngFor="let invoice of row.invoices" class="{{invoice.isPaymentCompleted ? 'text-success' : ''}}">
          <td>
            {{invoice.fromDate | date:'MMM d yyyy'}} - {{invoice.toDate | date:'MMM d'}}
          </td>
          <td>
            {{invoice.commission |
            currency:'USD':'symbol'}}
          </td>
        </tr>
      </table>
    </td>
    <td>{{row.notCollected | currency:'USD':'symbol'}}</td>
    <td>{{row.collected | currency:'USD':'symbol'}}</td>
    <td>{{row.commission | percent}}</td>
    <td>{{row.earned | currency:'USD':'symbol'}}</td>
    <td>{{row.notEarned | currency:'USD':'symbol'}}</td>
  </tr>
  <tr>
    <th></th>
    <th> </th>
    <th> </th>
    <th></th>
    <th></th>
    <th>Sum</th>
    <th>{{getTotal('notCollected') | currency:'USD':'symbol'}}</th>
    <th>{{getTotal('collected') | currency:'USD':'symbol'}}</th>
    <th></th>
    <th>{{getTotal('earned') | currency:'USD':'symbol'}}</th>
    <th>{{getTotal('notEarned') | currency:'USD':'symbol'}}</th>
  </tr>
</table>