<div class="card p-2">
  <h3 class="card-title text-center pt-4 pb-2">
    <i class="fas fa-print"></i> Cloud Printing Settings
  </h3>

  <div class="d-flex justify-content-end">
    <button class="btn btn-link" (click)="refresh()" [qLoading]="apiLoading"><i class="fas fa-sync-alt"></i> Reload</button>
  </div>

  <div *ngFor="let printClient of printClients" class="mb-3">
    <div class="d-flex flex-column mb-3">
      <div class="row">
        <div class="col-sm-2"><strong>Cloud Print Id</strong></div>
        <div class="col-sm-10 text-info"><strong>{{printClient.printClientId}}</strong></div>
      </div>
      <div class="row">
        <div class="col-sm-2"><strong>Version</strong></div>
        <div class="col-sm-10">{{printClient.printers[0] ? printClient.printers[0].info?.version: ''}}</div>
      </div>
    </div>

    <div>

      <div class="row">
        <div class="col-sm-3"><strong>Printer Name</strong> </div>
        <div class="col-sm-9">
          <div class="row">
            <div class="col-sm-2"><strong>Template</strong></div>
            <div class="col-sm-6"><strong>Menu/Categories/Items</strong></div>
            <div class="col-sm-2"><strong>Copies</strong></div>
            <div class="col-sm-2"><strong>Action</strong></div>
          </div>
        </div>
      </div>

      <div *ngFor="let printer of printClient.printers || []">
        <div class="row mb-2">
          <div class="col-sm-3">
            <div>
              <small>{{printer.printerName}}</small>
            </div>
          </div>

          <div class="d-flex flex-column col-sm-9 mb-4">
            <div class="row border-bottom" *ngFor="let orderView of printer.orderViews || []; let orderViewIndex = index">
              <div class="col-sm-2 d-flex h-100 align-items-center"><span>{{orderView.template || 'default'}}</span></div>
              <div class="col-sm-6">
                <div>
                  <span *ngIf="orderView && orderView.menus && orderView.menus.length === 0 || !orderView.menus"><small>All Menus ➜ All Categories ➜ All Items</small></span>
                  <div *ngFor="let menu of orderView.menus">
                    <div>
                      <span><small>{{menu.name ? menu.name: 'All Menus'}}</small></span>
                      <span *ngFor="let category of menu.mcs">
                        <span *ngIf="category.name; else noCategoryEdit"><small>➜{{category.name}}</small></span>
                        <ng-template #noCategoryEdit><span><small>➜All Categories</small></span></ng-template>
                        <span *ngFor="let item of category.mis">
                          <span *ngIf="item.name; else noItemEdit"><small>➜{{item.name}}</small></span>
                          <ng-template #noItemEdit><span><small>➜All Items</small></span></ng-template>
                        </span>
                      </span>
                    </div>
                  </div>
                </div> 
              </div>

              <div class="col-sm-2 d-flex h-100 align-items-center"><span>{{orderView.copies || 0}}</span></div>
              <div class="col-sm-2">
                <div class="d-flex h-100 align-items-center">
                  <button type="button" class="btn btn-link m-0 p-0" (click)="showEditOrderViewModal(printer, orderView, orderViewIndex)">Edit</button>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-start mt-1">
              <button type="button" class="btn btn-link m-0 p-0" (click)="showAddOrderViewModal(printer)">+ Add Order View</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Add -->
<q-modal #addOrderViewModal>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancelAddView()">
    <span aria-hidden="true">×</span>
  </button>
  <h4>Add Order View</h4>
  <hr>
  <div>
    <label>Menu / Category / Item</label>

    <div class="d-flex flex-column mb-3">
      <div class="d-flex flex-column">
        <div *ngFor="let menu of menus; let idx = index">
          <div class="d-flex align-items-center">
            <div class="mr-2"><button type="button" class="btn btn-link m-0 p-0" (click)="deleteMenu(menu.name)"><i class="far fa-trash-alt"></i></button></div>
            <span>{{menu.name}}</span>
            <span *ngFor="let category of menu.mcs">
              <span>➜ {{category.name}}</span>
              <span *ngFor="let item of category.mis">
                <span>➜ {{item.name}}</span>
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex">
      <select class="form-control mr-2" (change)="onMenuSelected($event.target.value)" [(ngModel)]="selected.menu">
        <option value=""></option>
        <option *ngFor="let menu of restaurant.menus">{{menu.name}}</option>
      </select>
      <select class="form-control mr-2" (change)="onCategorySelected($event.target.value)" [(ngModel)]="selected.category">
        <option value=""></option>
        <option *ngFor="let category of categories">{{category.name}}</option>
      </select>
      <select class="form-control mr-2" (change)="onItemSelected($event.target.value)" [(ngModel)]="selected.item">
        <option value=""></option>
        <option *ngFor="let item of items">{{item.name}}</option>
      </select>
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-link" (click)="addMenus()">Add</button>
      </div>
    </div>

    <div class="row mt-4 mb-3">
      <div class="col-sm-2 d-flex align-items-center">
        <span class="font-weight-bold">Copies</span>
      </div>
      <div class="col-sm-4">
        <select class="form-control" [(ngModel)]="orderView.copies">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-sm-2 d-flex align-items-center">
        <span class="font-weight-bold">Format</span>
      </div>
      <div class="col-sm-4">
        <select class="form-control" [(ngModel)]="orderView.format">
          <option value=""></option>
          <option value="esc">esc</option>
          <option value="pdf">pdf</option>
          <option value="png2esc">png2esc</option>
        </select>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-sm-2 d-flex align-items-center">
        <span class="font-weight-bold">Template</span>
      </div>
      <div class="col-sm-4">
        <select class="form-control" [(ngModel)]="orderView.template">
          <option value=""></option>
          <option value="chef">Chef</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <label>Customized Styles</label>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-12">
        <textarea class="form-control" rows="5" [(ngModel)]="orderView.customizedRenderingStyles"></textarea>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <label>Printer Actions</label>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-12">
        <button type="button" class="btn btn-sm btn-primary" (click)="printTestOrder()">Print Test Order</button>
      </div>
    </div>

    <hr/>

    <div class="d-flex justify-content-end mt-4">
      <button type="button" class="btn btn-secondary mr-3" (click)="cancelAddView()">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="addOrderView()">Add</button>
    </div>

  </div>
</q-modal>

<!-- Edit -->
<q-modal #editOrderViewModal>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancelEditView()">
    <span aria-hidden="true">×</span>
  </button>
  <h4>Edit Order View</h4>
  <hr>

  <div>
    <label>Menu / Category / Item</label>
    <div class="d-flex flex-column mb-3">
      <div class="d-flex flex-column">
        <div *ngFor="let menu of menus; let idx = index">
          <div class="d-flex align-items-center">
            <div class="mr-2"><button type="button" class="btn btn-link m-0 p-0" (click)="deleteMenu(menu.name)"><i class="far fa-trash-alt"></i></button></div>
            <span>{{menu.name ? menu.name: 'All Menus'}}</span>
            <span *ngFor="let category of menu.mcs">
              <span> ➜ {{category.name? category.name: 'All Categories'}}</span>
              <span *ngFor="let item of category.mis">
                <span> ➜ {{item.name ? item.name: 'All Items'}}</span>
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex">
      <select class="form-control mr-2" (change)="onMenuSelected($event.target.value)" [(ngModel)]="selected.menu">
        <option value=""></option>
        <option *ngFor="let menu of restaurant.menus">{{menu.name}}</option>
      </select>
      <select class="form-control mr-2" (change)="onCategorySelected($event.target.value)" [(ngModel)]="selected.category">
        <option value=""></option>
        <option *ngFor="let category of categories">{{category.name}}</option>
      </select>
      <select class="form-control mr-2" (change)="onItemSelected($event.target.value)" [(ngModel)]="selected.item">
        <option value=""></option>
        <option *ngFor="let item of items">{{item.name}}</option>
      </select>
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-link" (click)="addMenus()">Add</button>
      </div>
    </div>


    <div class="row mt-4 mb-3">
      <div class="col-sm-2 d-flex align-items-center">
        <span class="font-weight-bold">Copies</span>
      </div>
      <div class="col-sm-4">
        <select class="form-control" [(ngModel)]="orderView.copies">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-sm-2 d-flex align-items-center">
        <span class="font-weight-bold">Format</span>
      </div>
      <div class="col-sm-4">
        <select class="form-control" [(ngModel)]="orderView.format">
          <option value=""></option>
          <option value="esc">esc</option>
          <option value="pdf">pdf</option>
          <option value="png2esc">png2esc</option>
        </select>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-sm-2 d-flex align-items-center">
        <span class="font-weight-bold">Template</span>
      </div>
      <div class="col-sm-4">
        <select class="form-control" [(ngModel)]="orderView.template">
          <option value=""></option>
          <option value="chef">Chef</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <label>Customized Styles</label>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-12">
        <textarea class="form-control" rows="5" [(ngModel)]="orderView.customizedRenderingStyles"></textarea>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <label>Printer Actions</label>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-12">
        <button type="button" class="btn btn-sm btn-primary" (click)="printTestOrder()">Print Test Order</button>
        <button type="button" class="btn btn-sm btn-link" (click)="previewTestOrder()">Preview Test Order</button>
      </div>
    </div>

    <hr/>

    <div class="d-flex justify-content-end mt-1">
      <button type="button" class="btn btn-secondary mr-3" (click)="cancelEditView()">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="editOrderView()">Ok</button>
    </div>

    <div class="d-flex justify-content-end mt-4"> 
      <button type="button" class="btn btn-link" (click)="deleteOrderView()">Delete</button>
    </div>

  </div>
</q-modal>