.noborder {
  border: none !important;
}

tr:hover {
  cursor: pointer;
}

::ng-deep .modal-header {
  text-align: center;
}

::ng-deep .modal-dialog {
  max-width: 90%;
}

.legend {
  display: inline-block;
  min-width: 9rem;
}