<div class="card">
  <h2 class="card-title m-3">
    <h1 class="text-center">SEO Tracking</h1>
  </h2>
  <div class="card-body">
    <div class="pb-5 text-left">
      <div class="float-left form-inline ml-2 mr-2">
        <label class="form-check-label mr-2">View</label>
        <select [(ngModel)]="viewType" class="form-control ml-1">
          <option [value]="viewTypes.Summary">{{viewTypes.Summary}}</option>
          <option [value]="viewTypes.Specific">{{viewTypes.Specific}}</option>
        </select>
      </div>
      <div *ngIf="viewType === viewTypes.Summary" class="float-left form-inline ml-2 mr-2">
        <label class="form-check-label mr-2">Provider</label>
        <select [(ngModel)]="provider" class="form-control ml-1">
          <option *ngFor="let item of providers">{{item}}</option>
        </select>
      </div>
      <div *ngIf="viewType === viewTypes.Specific" class="float-left form-inline ml-2 mr-2">
        <input type="text" class="form-control" placeholder="Enter RT ID" [(ngModel)]="restaurantId">
      </div>
      <div class="float-left form-inline ml-2 mr-2">
        <label class="form-check-label mr-2">Start Date</label>
        <select [(ngModel)]="startDate" class="form-control ml-1">
          <option *ngFor="let item of dates">{{item}}</option>
        </select>
      </div>
      <div class="float-left form-inline ml-2 mr-2">
        <label class="form-check-label mr-2">End Date</label>
        <select [(ngModel)]="endDate" class="form-control ml-1">
          <option *ngFor="let item of dates">{{item}}</option>
        </select>
      </div>
    </div>
    <div class="mb-2">
        <button class="btn btn-primary" (click)="query()">Search</button>
    </div>
    <div *ngIf="viewType === viewTypes.Summary">
      <!-- start with statistics card -->
      <div class="row mb-4">
        <div class="col-3">
          <div class="btn-secondary text-center pt-3 pb-3">
            <span class="h5">{{summary.totalMovesUp}}</span>
            <hr>
            Total moves up
          </div>
        </div>
        <div class="col-3">
          <div class="btn-info text-center pt-3 pb-3">
            <span class="h5">{{summary.totalMovesDown}}</span>
            <hr>
            Total moves down
          </div>
        </div>
        <div class="col-3">
          <div class="btn-success text-center pt-3 pb-3">
            <span class="h5">{{summary.netTotalMoves}}</span>
            <hr>
            Net total moves
          </div>
        </div>
        <div class="col-3">
          <div class="btn-danger text-center pt-3 pb-3">
            <span class="h5">{{summary.avgRanking}}</span>
            <hr>
            Average ranking
          </div>
        </div>
      </div>
      <!-- end with statistics card -->
      <!-- start with statistics table -->
      <table class="table">
        <thead>
          <tr>
            <th>Ranking</th>
            <th>Website count ({{this.startDate}})</th>
            <th>Website count ({{this.endDate}})</th>
            <th>Improvement/Worsening</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of allRTsRankChangeList;">
            <td>
              {{row?.rank}}
            </td>
            <td>
              {{row?.startCounts}}
            </td>
            <td>
              {{row?.endCounts}}
            </td>
            <td>
              {{row?.change}}
            </td>
          </tr>
        </tbody>
      </table>
      <!-- end with statistics table -->
      <div class="mt-3">
        <canvas width="800" height="240" #summaryChart></canvas>
      </div>
    </div>
    <div *ngIf="viewType === viewTypes.Specific">
      <div class="mb-3" *ngIf="qMenuChange">
        qMenu: moved {{qMenuChange}}
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Provider</th>
            <th>Old Ranking ({{this.startDate}})</th>
            <th>New Ranking ({{this.endDate}})</th>
            <th>Improvement/Worsening</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of allProvidersRankChangeList">
            <td>
              {{row?.provider}}
            </td>
            <td>
              {{row?.oldRanking}}
            </td>
            <td>
              {{row?.newRanking}}
            </td>
            <td>
              {{row?.change}}
            </td>
          </tr>
        </tbody>
      </table>
      <div class="mt-3">
        <canvas width="800" height="240" #specificChart></canvas>
      </div>
    </div>
  </div>
</div>
