<div class="card">
  <h2 class="card-title m-3">
    <h1 class="text-center">Restaurants without promotion ({{rts.length}})</h1>
  </h2>
  <div class="card-body">
    <button class="btn btn-primary" (click)="query()">Refresh</button>

    <table class="table rt-list">
      <thead><tr><th>Restaurant</th><th>Gmb Owner</th></tr></thead>
      <tbody>
        <tr *ngFor="let rt of rts">
          <td><a target="_blank" href="/#/restaurants/{{rt._id}}">{{rt.name}}</a></td>
          <td>{{rt.googleListing?.gmbOwner}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
