<!-- list group as action bars for selected items -->
<div class="action-bar list-group" *qIf="hasSelection()">
  <button type="button" class="list-group-item list-group-item-action text-primary" (click)="crawlGoogleGmbOnSelected()">
    <i class="fab fa-searchengin"></i> Crawl Google Info ({{selectionSet.size}})</button>
  <button type="button" class="list-group-item list-group-item-action text-primary" (click)="assignOnSelected()">
    <i class="fas fa-arrow-circle-right"></i> Assign to Marketer</button>
  <button type="button" class="list-group-item list-group-item-action text-primary" (click)="unassignOnSelected()">
    <i class="fas fa-arrow-circle-right"></i> Unassign</button>

  <!-- <button type="button" class="list-group-item list-group-item-action text-primary" (click)="crawlGoogleAddressAll()">
    <i class="fas fa-map-marker-alt"></i> Inject Google Address</button> -->
  <button type="button" class="list-group-item list-group-item-action" (click)="deselectAll()">Cancel</button>
</div>

<h1 class="text-center">Lead Management</h1>
<div class="text-right pb-2">
  Total: {{leads.length}}
  <!-- selected search filters -->
  <ng-container *ngFor="let filter of searchFilters">
    <button class="btn btn-outline-success" (click)="removeFilter(filter)">{{filter.value}}
      <span class="text-danger">✕</span>
    </button>
  </ng-container>

  <button class="btn btn-info" (click)="filter()">
    <i class="fas fa-filter"></i> Filter</button>
  <button class="btn btn-primary" (click)="scanNew()">+ Scan New Lead</button>

  <!-- <button class="btn btn-info" (click)="filter()">
    <i class="fas fa-filter"></i> Filter</button>
  <button class="btn btn-primary" (click)="createNew()">+ Add New Lead</button> -->
</div>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">
          <button class="btn btn-link py-0" (click)="showSelectOptions = !showSelectOptions">
            <i class="fas fa-bars"></i>
          </button> Name
          <div class="action-bar list-group" *qIf="showSelectOptions">
            <button type="button" class="list-group-item list-group-item-action text-primary" (click)="toggleSelectAll(); showSelectOptions = false;">
              <span *ngIf="isAllSelected(); else notAllSelected;">
                <i class="fas fa-toggle-on"></i> Deselect All
              </span>
              <ng-template #notAllSelected>
                <span>
                  <i class="fas fa-toggle-off"></i> Select All
                </span>
              </ng-template>
            </button>
            <button type="button" class="list-group-item list-group-item-action text-primary" (click)="selectNonCrawled(); showSelectOptions = false;">
              <i class="far fa-flag text-muted"></i> Select Non-crawled
            </button>
            <button type="button" class="list-group-item list-group-item-action" (click)="showSelectOptions = false">Cancel</button>
          </div>

        </th>
        <th scope="col">Assignee</th>
        <!-- <th scope="col">GMB</th> -->
        <th scope="col">Web</th>
        <th scope="col">Address</th>
        <th scipe="col">State</th>
        <th scope="col">Phones</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lead of leads" class="{{lead.disabled || lead.closed ? 'text-muted closed' : ''}}">
        <th scope="row">
          <input type="checkbox" class="form-check-input" [id]="'check-' + lead._id" [checked]="selectionSet.has(lead._id)" (change)="toggleSelection(lead)">
          <a href="{{getGoogleQuery(lead)}}" target="_blank">
            {{lead.name}}
            <span class="text-muted" *ngIf="lead.oldName">
              <br>
              <small>{{lead.oldName}}</small>
            </span>
          </a>
        </th>
        <td>
          {{lead.assignee}}
        </td>
        <!-- <td>
          <img *ngIf="lead.gmbAccountOwner === 'qmenu'" [attr.src]="'/assets/images/qmenu.png'" [attr.alt]="lead.gmbAccountOwner" height="16px">
          <span *ngIf="lead.gmbAccountOwner !== 'qmenu'">?</span>
        </td> -->
        <td class="text-nowrap">
          <i *ngIf="!getLogo(lead) && lead.gmbOwner" class="fas fa-question text-danger"></i>
          <img *ngIf="getLogo(lead)" [attr.src]="'/assets/images/' + getLogo(lead)" [attr.alt]="lead.gmbOwner" height="16px">
          <i class="fas fa-lock-open text-info" *ngIf="lead.gmbOpen"></i>
          <i class="fas fa-globe text-muted" *ngIf="!lead.gmbWebsite && lead.serviceProviders && lead.serviceProviders.length > 0"></i>
        </td>

        <td>{{lead.address?.formatted_address}}</td>
        <td>{{lead.address?.administrative_area_level_1}}</td>

        <td>
          <span *ngFor="let phone of (lead.phones ||[])">{{phone | tel}}&nbsp;&nbsp;</span>
        </td>

        <td class="text-right">
          <button class="btn btn-link py-0" (click)="view(lead)">
            <i class="fas fa-bars"></i>
          </button>
        </td>
        <td class="text-right">
          <button class="btn btn-link py-0" (click)="call(lead)">
            <i class="fas fa-phone"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- <q-modal [title]="leadInEditing._id ? 'Edit Restaurant Lead: ' + leadInEditing.name : 'Create New Restaurant Lead' " #editingModal>
  <q-form-builder [object]="leadInEditing" [showDelete]="leadInEditing._id" [fieldDescriptors]="formFieldDescriptors" (submit)="formSubmit($event)"
    (remove)="formRemove($event)" (cancel)="editingModal.hide()">
    <q-address-picker #myAddressPicker></q-address-picker>
    <div class="form-group">
      <label for="address-apt">Extra (APT, Suite etc.)</label>
      <input type="text" class="form-control" id="address-apt" placeholder="eg. APT 101 or Suite 300" [(ngModel)]="addressApt">
    </div>
  </q-form-builder>
</q-modal> -->

<q-modal [title]="'Scan New Restaurant Lead'" #scanModal>
  <q-form-builder [object]="leadInEditing" [fieldDescriptors]="formFieldDescriptors" (submit)="scanSubmit($event)" (remove)="formRemove($event)"
    (cancel)="scanModal.hide()">
  </q-form-builder>
</q-modal>

<q-modal [title]="'Filter Leads' " #filterModal>
  <q-form-builder [object]="searchFilterObj" [showDelete]="false" [fieldDescriptors]="filterFieldDescriptors" (submit)="filterSubmit($event)"
    (cancel)="filterModal.hide()">
    <div class="form-group">
      <label>Review Rating (at least)</label>
      <div>
        <q-rating [(ngModel)]="filterRating"></q-rating>
      </div>
    </div>

  </q-form-builder>
</q-modal>

<q-modal [title]="leadInEditing.name" #viewModal>
  <table class="table">
    <tbody>
      <tr>
        <th class="nowrap border-top-0">

          <b>Address</b>
        </th>
        <td class="border-top-0">
          <a href="https://www.google.com/maps/search/?api=1&query={{leadInEditing.address?.formatted_address}}" target="_blank">
            {{leadInEditing.address?.formatted_address}}
            <i *ngIf="leadInEditing.address?.place_id" class="fas fa-check text-success"></i>
          </a>
          <div *ngIf="!(leadInEditing.address?.place_id && leadInEditing.address?.locality)">
            <button class="btn btn-outline-primary" (click)="injectGoogleAddress(leadInEditing)" [qLoading]="apiRequesting">
              <i class="fas fa-map-marker-alt"></i> Inject Google Address</button>
          </div>
        </td>
      </tr>
      <tr>
        <th class="nowrap border-top-0">
          <b>Phones</b>
        </th>
        <td class="border-top-0">
          <a *ngFor="let phone of leadInEditing.phones" href="tel:{{phone}}">{{phone | tel}}&nbsp;&nbsp;</a>
        </td>
      </tr>
      <tr>
        <th class="nowrap border-top-0">
          <b>Email</b>
        </th>
        <td class="border-top-0">
          <a *ngIf="leadInEditing.email" href="mailto:{{leadInEditing.email}}">{{leadInEditing.email}}</a>
        </td>
      </tr>
      <tr>
        <th class="nowrap border-top-0">
          <b>Website</b>
        </th>
        <td class="border-top-0">
          <a *ngIf="leadInEditing.website" href="{{leadInEditing.website}}" target="_blank">{{leadInEditing.website}}</a>
        </td>
      </tr>
      <tr>
        <th class="nowrap border-top-0">
          <b>Classifications</b>
        </th>
        <td class="border-top-0"> {{(leadInEditing.classifications || []).join(', ')}}</td>
      </tr>
    </tbody>
  </table>
  <div>

  </div>

</q-modal>

<q-modal [title]="leadInEditing.name" #callModal>

  <div class="pb-2">
    <button class="btn btn-primary" (click)="toggleNewCallLog()">
      <i class="fas fa-phone"></i> Add New Log</button>
  </div>

  <div class="card" *qIf="editingNewCallLog">
    <div class="card-body">
      <h5 class="card-title">New Call Log</h5>
      <app-call-logger [lead]="selectedLead" [callLog]="newCallLog" (cancel)="editingNewCallLog = false" (submit)="sumbitCallLog($event)"></app-call-logger>
    </div>
  </div>

  <div class="table-responsive text-left" *ngIf="selectedLead.callLogs && selectedLead.callLogs.length > 0">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="border-0">Result</th>
          <th class="border-0">Date</th>
          <th class="border-0">Number</th>
          <th class="border-0 text-center">Line</th>
          <th class="border-0">Callees</th>

          <th class="border-0">Comments</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let log of selectedLead.getDescSortedCallLogs()">
          <tr (click)="selectCallLog(log)">
            <td>
              <span *ngIf="log.salesOutcome==='rejected'" class="text-danger">■</span>
              <span *ngIf="log.salesOutcome==='interested'" class="text-warning">■</span>
              <span *ngIf="log.salesOutcome==='success' || log.salesOutcome==='qmenuCustomer'" class="text-success">■</span>
              <span *ngIf="log.askedMoreInfo" class="text-info">
                <i class="fas fa-info-circle"></i>
              </span>
              <span *ngIf="log.callbackTime" class="text-info">
                <i class="fas fa-history"></i>
              </span>
            </td>
            <td>
              <small>{{log.time | date:'short'}}</small>
            </td>
            <td>*{{(log.phone || '').substring(6)}}</td>
            <td *ngIf="log.lineStatus === 'connected'" class="text-center">
              <i class="fas fa-check text-success"></i>
            </td>
            <td *ngIf="log.lineStatus === 'busy'" class="text-center">
              <i class="fas fa-exclamation text-warning"></i>
            </td>
            <td *ngIf="log.lineStatus === 'voicemail'" class="text-center">
              <i class="fas fa-cloud-upload-alt"></i>
            </td>
            <td>{{log.callees}}</td>

            <td>
              <app-lead-call-log [callLog]="log"></app-lead-call-log>
            </td>
          </tr>
          <tr *ngIf="log.hasSameTimeAs(selectedCallLog)">
            <td colspan="6">
              <div class="card card-body">
                <h5 class="card-title">Edit Call Log</h5>
                <app-call-logger [showDelete]="true" [lead]="selectedLead" [callLog]="selectedCallLog" (cancel)="selectedCallLog = null"
                  (submit)="sumbitCallLog($event)" (remove)="removeCallLog($event)"></app-call-logger>

              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <hr>
    <span class="legend text-danger">■=Rejected</span>
    <span class="legend text-warning">■=Interested</span>
    <span class="legend text-success">■=Success</span>
    <span class="legend text-info">
      <i class="fas fa-info-circle"></i>=Asked More Info </span>
    <br>
    <span class="legend text-warning">
      <i class="fas fa-exclamation"></i>=Busy</span>
    <span class="legend">
      <i class="fas fa-cloud-upload-alt"></i>=Voicemail</span>
    <span class="legend text-success">
      <i class="fas fa-check"></i>=Connected</span>
    <span class="text-info">
      <i class="fas fa-history"></i> Callback</span>
  </div>

</q-modal>

<div class="card" *qIf="editingNewCallLog">
  <div class="card-body">
    <h5 class="card-title">New Call Log</h5>
    <app-call-logger [lead]="selectedLead" [callLog]="newCallLog" (cancel)="editingNewCallLog = false" (submit)="sumbitCallLog($event)"></app-call-logger>
  </div>

</div>



<q-modal [title]="'Select Assignee' " #assigneeModal>
  <q-form-builder [object]="assigneeObj" [showDelete]="false" [fieldDescriptors]="assigneeFieldDescriptors" (submit)="assigneeSubmit($event)"
    (cancel)="assigneeModal.hide()">
  </q-form-builder>
</q-modal>