<div class="container">
    <div class="row m-2">
      <div class="col-sm-3">
        <a class="btn btn-primary"   [routerLink]="['/unconfirmed-orders']">Unconfirmed Orders ({{unconfirmed_orders_count}})</a>
      </div>
      <div class="col-sm-3">
        <a class="btn btn-primary" [routerLink]="['/monitoring-hours']" >Bad Hours ({{bad_hours_count}})</a>
      </div>
      <div class="col-sm-3">
        <a class="btn btn-primary" [routerLink]="['/banned-customers']" >Banned Customers ({{banned_customer_count}})</a>
      </div>
    </div>
    <div class="row m-2">
        <div class="col-sm-3">
          <a class="btn btn-primary"   [routerLink]="['/fax-problems']">Fax Problems ({{fax_problems_count}})</a>
        </div>
        <div class="col-sm-3">
          <a class="btn btn-primary" [routerLink]="['/disabled-restaurants']" >Disabled Restaurants ({{disabled_restaurant_count}})</a>
        </div>
      </div>
      <div class="row m-2">
        <div class="col-sm-3">
          <a class="btn btn-primary"   [routerLink]="['/email-problems']">Email Problems ({{email_problems_count}})</a>
        </div>
        <div class="col-sm-3">
          <a class="btn btn-primary" [routerLink]="['/manage-images']" >Manage Images ({{manage_Images_count}})</a>
        </div>
      </div>
    
    
</div>



