<div *ngIf="restaurant">
  <div class="alert alert-danger text-center" *ngIf="hasMenuHoursMissing()">
    <h1>Menu hours missing (个别菜单的时间未定义)</h1>
  </div>
  <div class="additional-functions-bar">
    <button *ngIf="!showAdditionalFunctions" class="btn btn-link" (click)="showAdditionalFunctions=true">
      Show additional functions...
    </button>
    <div *ngIf="showAdditionalFunctions">
      <button class="btn btn-link" (click)="hideAdditionalFunction()">Hide additional functions...</button>
      <div class="row">
        <button class="btn btn-link" (click)="importCoupon = !importCoupon">Import Coupons (采集优惠券)</button>
        <button class="btn btn-link" (click)="importMenu = !importMenu">Import Menus (采集菜单)</button>
        <button class="btn btn-link" (click)="importJson = !importJson">Override JSON (JSON替换导入)</button>
        <ng-container *ngIf="getMenus().length > 0">
          <button class="btn btn-link" (click)="cleanup()">Clean up menu (清理菜单)</button>
          <button *ngIf="!restaurant.skipImageInjection" class="btn btn-link" (click)="openInjectImagesModal()">Inject Image
            (加图片)</button>
          <button class="btn btn-link" (click)="deleteImages()">Delete Image (删除图片)</button>
          <button class="btn btn-link" (click)="disableNotes()">{{ !disableNotesFlag ? 'Enable Notes(打开注释)': 'Disable Notes(取消客人注释)' }}</button>
          <button class="btn btn-link" (click)="copyMenu = !copyMenu">Copy Menu to (拷贝菜单到)</button>
          <button class="btn btn-link" (click)="republishToAWS()">Re-Publish Website to AWS (网站重发布到 AWS)</button>
          <button class="btn btn-link" (click)="adjustingAllPrices = !adjustingAllPrices">Adjust All Prices
            (整体提价)</button>
          <button class="btn btn-link" (click)="adjustingMenuOrders = !adjustingMenuOrders">Adjust Menu Orders
            (调整菜单次序)</button>
          <button class="btn btn-link" (click)="doRemoveUnnecessarySpace()">Remove spaces (去掉空格)</button>
          <button class="btn btn-link" (click)="isShowMenuItemStats = true">Item stats (菜单项统计)</button>
        </ng-container>
        <ng-container *ngIf="getMenus().length === 0">
        </ng-container>
      </div>
    </div>
  </div>

  <div>
    <app-coupon-import [restaurant]="restaurant" [visible]="importCoupon" (close)="importCoupon = false">
    </app-coupon-import>

    <div class="alert alert-secondary" *ngIf="importMenu">
      <div class="card card-body">
        <h3 class="text-center">From a Provider ({{providers.length}})</h3>
        <div class="text-center py-2" *ngIf="!restaurant.providers?.length">
          <button class="btn btn-primary" (click)="populateProviders()" [qLoading]="apiRequesting"><i
              class="fas fa-sync-alt"></i> Populate Providers</button>
        </div>
        <small class="text-left">Providers for which we currently support menu scraping: Menufy,
          Red Passion, CMO (Chinese Menu Online), Beyond Menu, Grubhub, Slicelife</small>
        <select class="form-control mr-4" [(ngModel)]="providerUrl">
          <option></option>
          <option *ngFor="let provider of getProviders()" [ngValue]="provider.url">{{provider.name || provider.url}}
          </option>
        </select>

        <div class="py-2">
          <button class="btn btn-default text-right" (click)="importMenu = false">Cancel</button>
          <button class="btn btn-primary" (click)="crawl(keepExistingMenusForProvider)"><i class="fas fa-bolt"></i> Crawl Async</button>
          <button class="btn btn-primary" (click)="crawl(keepExistingMenusForProvider, true)"><i class="fas fa-hourglass-half"></i> Crawl
            Sync</button>
          <label class="float-right"><input type="checkbox" [(ngModel)]="keepExistingMenusForProvider" /> Keep existing menus after import</label>
        </div>
        <div class="text-danger" *ngIf="keepExistingMenusForProvider">
          <p>WARNING: Newly imported menus will initially be disabled, please compare them with existing menus and make decision about which menu(s) to keep and which to discard.</p>
          <p>警告：新采集的菜单会被默认设为禁用状态，请将其与原有菜单进行对比，确定每个菜单是保留还是废弃。</p>
        </div>
      </div>
      <div class="card card-body mt-4">
        <h3 class="text-center">or From a URL</h3>
        <input [(ngModel)]="providerUrl" placeholder="crawl url">
        <div class="py-2">
          <button class="btn btn-default text-right" (click)="importMenu = false">Cancel</button>
          <button class="btn btn-primary" (click)="crawl(keepExistingMenusForUrl)"><i class="fas fa-bolt"></i> Crawl Async</button>
          <button class="btn btn-primary" (click)="crawl(keepExistingMenusForUrl, true)" [qLoading]="apiRequesting"><i
              class="fas fa-hourglass-half"></i> Crawl Sync</button>
          <label class="float-right"><input type="checkbox" [(ngModel)]="keepExistingMenusForUrl" /> Keep existing menus after import</label>
        </div>
        <div class="text-danger" *ngIf="keepExistingMenusForUrl">
          <p>WARNING: Newly imported menus will initially be disabled, please compare them with existing menus and make decision about which menu(s) to keep and which to discard.</p>
          <p>警告：新采集的菜单会被默认设为禁用状态，请将其与原有菜单进行对比并决定取舍后，将其启用。</p>
        </div>
      </div>
    </div>
    <div class="alert alert-secondary" *ngIf="importJson">
      <textarea class="form-control" [(ngModel)]="menuJson" rows="20" placeholder="paste valid menus JSON (stringified array, sometimes from API logs)"></textarea>
      <div class="py-2">
        <button class="btn btn-default text-right" (click)="importJson = false">Cancel</button>
        <button class="btn btn-primary" (click)="confirmImportJson()">Submit</button>
      </div>
    </div>
    <div class="alert alert-secondary" *ngIf="adjustingMenuOrders">
      <app-item-sorter [items]="restaurant.menus" [labelField]="'name'" (sort)="sortMenus($event)"
        (cancel)="adjustingMenuOrders = false"></app-item-sorter>
    </div>

    <div class="alert alert-secondary" *ngIf="copyMenu">
      <input [(ngModel)]="copyMenuToRestaurantId" placeholder="Restaurant Id">
      <div class="py-2">
        <button class="btn btn-default text-right" (click)="copyMenu = false">Cancel</button>
        <button class="btn btn-primary" (click)="copyMenuToRT()">Submit</button>
      </div>
    </div>
    <div class="alert alert-secondary" *ngIf="adjustingAllPrices">
      either <input [(ngModel)]="adjustPricesFactorPercent" placeholder="percentage, eg. 0.03">
      or <input [(ngModel)]="adjustPricesFactorAmount" placeholder="fixed amount: eg. 0.75">
      <div class="py-2">
        <p *ngIf="adjustPricesFactor" class="text-warning">
          <b>Price of ALL ITEMS will be {{+adjustPricesFactor > 0 ? 'increased' : 'decreased' }}
            {{+adjustPricesFactor | percent}}.
            Click Submit only when you are absolutely sure.</b>
        </p>
        <button class="btn btn-default text-right" (click)="adjustingAllPrices = false">Cancel</button>
        <button class="btn btn-primary" (click)="adjustPrices()">Submit</button>
      </div>
    </div>
  </div>

  <!--making tab scrollable-->
  <div style="width: 100%; overflow: hidden">
    <div style="width: 100%; overflow: auto;">
      <ul class="nav nav-tabs app-tab" role="tablist">
        <li *ngFor="let menu of getMenus()" class="nav-item {{menu.disabled ? 'app-muted' : ''}}">
          <a (click)=setActiveId(menu.id) class="nav-link {{getActiveId() == menu.id ? 'active' : 'text-primary'}}"
            data-toggle="tab" role="button">{{menu.name}}
            <ng-container *ngIf="menu.targetCustomer !== 'DINE_IN_ONLY'">
              {{menu.targetCustomer ? "("+menu.targetCustomer+")" : ''}}
            </ng-container>
            <ng-container *ngIf="menu.targetCustomer === 'DINE_IN_ONLY'">
              <i class="fas fa-utensils"></i>
            </ng-container>
            <ng-container *ngIf="isMissingHoursMenu(menu)">
              <i class="fas fa-exclamation-triangle"></i>
            </ng-container>
          </a>
        </li>
        <li class="nav-item" *ngIf="getMenus().length > 0">
          <a class="nav-link text-primary {{!getActiveId() ? 'active' : 'text-primary'}}" (click)="clickNew()"
            role="button">
            <span class="far fa-plus-square"></span> Add New Menu</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Tab panes -->
  <div class="tab-content">
    <div *ngFor="let menu of getMenus()" class="tab-pane  {{getActiveId() == menu.id ? 'active' : ''}} pt-1"
      role="tabpanel">
      <app-menu [restaurant]="restaurant" [menu]="menu" (onEdit)="edit($event)" [isShowMenuItemStats]="isShowMenuItemStats"
        (onVisitMenuOptions)="visitMenuOptions()"></app-menu>
    </div>
    <div class="tab-pane  {{!getActiveId() ? 'active' : ''}} pt-1" role="tabpanel">
      <div *ngIf="getMenus().length === 0" class="text-center mb-1">
        No menu yet.
      </div>
      <button class="btn btn-primary btn-block" (click)="clickNew()">Create New Menu</button>
    </div>
  </div>

  <!-- start with inject images modal -->
  <q-modal #injectImagesModal>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
    <h4 class="text-center">Inject Images</h4>
    <hr>
    <div class="row my-3">
      <label class="ml-2">For menu</label>
      <select class="form-control mx-2" [(ngModel)]="menuName">
        <option *ngFor="let name of menuNames"> {{name}} </option>
      </select>
    </div>
    <div class="row form-inline ml-2">
      <input type="checkbox" [(ngModel)]="overwriteExistImgs"> 
      <label class="ml-2">Overwrite existing images</label>
    </div>
    <div class="d-flex justify-content-end p-4">
      <button class="btn btn-secondary mr-2" (click)="injectImagesModal.hide()">Cancel</button>
      <button class="btn btn-primary" (click)="injectImages()">Send</button>
    </div>
  </q-modal>
  <!-- end with inject images modal -->

  <q-modal #menuEditingModal>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
    <h4 class="text-center">{{menuEditor.menu?.id ? 'Edit Menu' : 'Create New Menu'}}</h4>
    <hr>

    <app-menu-editor #menuEditor [timezone]="restaurant.googleAddress.timezone" [restaurant]="restaurant"
      (onDone)="onDoneEditing($event)" (onDelete)="onDelete($event)"></app-menu-editor>

  </q-modal>

  <q-modal #menuCleanModal [size]="'1000px'">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
    <h4 class="header-title text-center">
    Preview Extractions and Translations
    <label class="header-checkbox">
      <input type="checkbox" (change)="handleIDsOnlyChange()" [(ngModel)]="menuCleanHandleIDsOnly"> Only handle IDs
    </label>
  </h4>
    <hr>
    <app-menu-cleanup #cleanupComponent [allMenus]="restaurant.menus" [translations]="restaurant.translations"
                      (cancel)="cleanupCancel()" [handleIDsOnly]="menuCleanHandleIDsOnly" (save)="cleanupSave($event)"></app-menu-cleanup>
  </q-modal>


  <div class="app-plus">
    <button (click)="clickNew()" class="btn btn-link text-success far fa-plus-circle"></button>
  </div>
</div>

<ng-container *ngIf="showPromotions">
  <app-restaurant-promotions [restaurant]="restaurant"></app-restaurant-promotions>
</ng-container>
