<div *ngIf="restaurant">
  <div class="alert alert-danger text-center" *ngIf="hasMenuHoursMissing()">
    <h1>Menu hours missing (个别菜单的时间未定义)</h1>
  </div>
  <div class="text-right">
    <button class="btn btn-link" (click)="importMenu = !importMenu">Import Menus (采集菜单)</button>
    <ng-container *ngIf="getMenus().length > 0">
      <button *ngIf="!restaurant.skipImageInjection" class="btn btn-link" (click)="injectImages()">Inject Image
        (加图片)</button>
      <button class="btn btn-link" (click)="deleteImages()">Delete Image (删除图片)</button>
      <button class="btn btn-link" (click)="disableNotes()">Disable Notes (取消客人注释)</button>
      <button class="btn btn-link" (click)="copyMenu = !copyMenu">Copy Menu to (拷贝菜单到)</button>
      <button class="btn btn-link" (click)="adjustingAllPrices = !adjustingAllPrices">Adjust All Prices (整体提价)</button>
      <button class="btn btn-link" (click)="adjustingMenuOrders = !adjustingMenuOrders">Adjust Menu Orders
        (调整菜单次序)</button>   
    </ng-container>
    <ng-container *ngIf="getMenus().length === 0">
      <button class="btn btn-primary" (click)="createTestMenu()">Create Test Menu (添加测试菜单)</button>
    </ng-container>

    <div class="alert alert-secondary" *ngIf="importMenu">
      <div class="card card-body">
        <h3 class="text-center">From a Provider ({{providers.length}})</h3>
        <div class="text-center py-2">
          <button class="btn btn-primary" (click)="populateProviders()" [qLoading]="apiRequesting"><i
              class="fas fa-sync-alt"></i> Populate Providers</button>
        </div>
        <select class="form-control mr-4" [(ngModel)]="providerUrl">
          <option></option>
          <option *ngFor="let provider of providers" [ngValue]="provider.url">{{provider.name}}</option>
        </select>

        <div class="py-2">
          <button class="btn btn-default text-right" (click)="importMenu = false">Cancel</button>

          <button class="btn btn-primary" (click)="crawl()"><i class="fas fa-bolt"></i> Crawl Async</button>
          <button class="btn btn-primary" (click)="crawl(true)"><i class="fas fa-hourglass-half"></i> Crawl
            Sync</button>
        </div>
      </div>
      <div class="card card-body mt-4">
        <h3 class="text-center">or From a URL</h3>
        <input [(ngModel)]="providerUrl" placeholder="crawl url">
        <div class="py-2">
          <button class="btn btn-default text-right" (click)="importMenu = false">Cancel</button>

          <button class="btn btn-primary" (click)="crawl()"><i class="fas fa-bolt"></i> Crawl Async</button>
          <button class="btn btn-primary" (click)="crawl(true)" [qLoading]="apiRequesting"><i
              class="fas fa-hourglass-half"></i> Crawl Sync</button>
        </div>
      </div>
    </div>

    <div class="alert alert-secondary" *ngIf="adjustingMenuOrders">
      <app-item-sorter [items]="restaurant.menus" [labelField]="'name'" (sort)="sortMenus($event)"
        (cancel)="adjustingMenuOrders = false"></app-item-sorter>
    </div>

    <div class="alert alert-secondary" *ngIf="copyMenu">
      <input [(ngModel)]="copyMenuToRestaurantId" placeholder="Restaurant Id">
      <div class="py-2">
        <button class="btn btn-default text-right" (click)="copyMenu = false">Cancel</button>
        <button class="btn btn-primary" (click)="copyMenuToRT()">Submit</button>
      </div>
    </div>
    <div class="alert alert-secondary" *ngIf="adjustingAllPrices">
      either <input [(ngModel)]="adjustPricesFactorPercent" placeholder="percentage, eg. 0.03">
      or <input [(ngModel)]="adjustPricesFactorAmount" placeholder="fixed amount: eg. 0.75">
      <div class="py-2">
        <p *ngIf="adjustPricesFactor" class="text-warning">
          <b>Price of ALL ITEMS will be {{+adjustPricesFactor > 0 ? 'increased' : 'decreased' }}
            {{+adjustPricesFactor | percent}}.
            Click Submit only when you are absolutely sure.</b>
        </p>
        <button class="btn btn-default text-right" (click)="adjustingAllPrices = false">Cancel</button>
        <button class="btn btn-primary" (click)="adjustPrices()">Submit</button>
      </div>
    </div>
  </div>
  <!--making tab scrollable-->
  <div style="width: 100%; overflow: hidden">
    <div style="width: 100%; overflow: auto;">
      <ul class="nav nav-tabs app-tab" role="tablist">
        <li *ngFor="let menu of getMenus()" class="nav-item">
          <a (click)=setActiveId(menu.id) class="nav-link {{getActiveId() == menu.id ? 'active' : 'text-primary'}}"
            data-toggle="tab" role="button">{{menu.name}}</a>
        </li>
        <li class="nav-item" *ngIf="getMenus().length > 0">
          <a class="nav-link text-primary {{!getActiveId() ? 'active' : 'text-primary'}}" (click)="clickNew()"
            role="button">
            <span class="far fa-plus-square"></span> Add New Menu</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Tab panes -->
  <div class="tab-content">
    <div *ngFor="let menu of getMenus()" class="tab-pane  {{getActiveId() == menu.id ? 'active' : ''}} pt-1"
      role="tabpanel">
      <app-menu [restaurant]="restaurant" [menu]="menu" [offsetToEST]="_timezone.getOffsetToEST(restaurant.googleAddress.timezone)" 
        (onEdit)="edit($event)" (onVisitMenuOptions)="visitMenuOptions()"></app-menu>
    </div>
    <div class="tab-pane  {{!getActiveId() ? 'active' : ''}} pt-1" role="tabpanel">
      <div *ngIf="getMenus().length === 0" class="text-center mb-1">
        No menu yet.
      </div>
      <button class="btn btn-primary btn-block" (click)="clickNew()">Create New Menu</button>
    </div>
  </div>

  <q-modal #menuEditingModal>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
    <h4 class="text-center">{{menuEditor.menu?.id ? 'Edit Menu' : 'Create New Menu'}}</h4>
    <hr>
    <app-menu-editor #menuEditor [offsetToEST]="_timezone.getOffsetToEST(restaurant.googleAddress.timezone)" [timezone]="restaurant.googleAddress.timezone" [restaurant]="restaurant"
      (onDone)="onDoneEditing($event)" (onDelete)="onDelete($event)"></app-menu-editor>
  </q-modal>

  <div class="app-plus">
    <button (click)="clickNew()" class="btn btn-link text-success far fa-plus-circle"></button>
  </div>
</div>