<div *ngIf="restaurant">
  <div class="text-right">
    <button class="btn btn-primary" (click)="injectImages()">Inject Image (加图片)</button>
    <button class="btn btn-primary" (click)="deleteImages()">Delete Image (删除图片)</button>
    <button class="btn btn-link" (click)="copyMenu = !copyMenu">Copy Menu to (拷贝菜单到)</button>
    <button class="btn btn-link" (click)="adjustingAllPrices = !adjustingAllPrices">Adjust All Prices (整体提价)</button>
    <div class="alert alert-secondary" *ngIf="copyMenu">
      <input [(ngModel)]="copyMenuToRestaurantId" placeholder="Restaurant Id">
      <div class="py-2">
        <button class="btn btn-default text-right" (click)="copyMenu = false">Cancel</button>
        <button class="btn btn-primary" (click)="copyMenuToRT()">Submit</button>
      </div>
    </div>
    <div class="alert alert-secondary" *ngIf="adjustingAllPrices">
      <input [(ngModel)]="adjustPricesFactor" placeholder="eg. 0.05">
      <div class="py-2">
        <p *ngIf="adjustPricesFactor" class="text-warning">
          <b>Price of ALL ITEMS will be {{+adjustPricesFactor > 0 ? 'increased' : 'decreased' }} {{+adjustPricesFactor | percent}}.
            Click Submit only when you are absolutely sure.</b>
        </p>
        <button class="btn btn-default text-right" (click)="adjustingAllPrices = false">Cancel</button>
        <button class="btn btn-primary" (click)="adjustPrices()">Submit</button>
      </div>
    </div>
  </div>
  <!--making tab scrollable-->
  <div style="width: 100%; overflow: hidden">
    <div style="width: 100%; overflow: auto;">
      <ul class="nav nav-tabs app-tab" role="tablist">
        <li *ngFor="let menu of getMenus()" class="nav-item">
          <a (click)=setActiveId(menu.id) class="nav-link {{getActiveId() == menu.id ? 'active' : 'text-primary'}}" data-toggle="tab"
            role="button">{{menu.name}}</a>
        </li>
        <li class="nav-item" *ngIf="getMenus().length > 0">
          <a class="nav-link text-primary {{!getActiveId() ? 'active' : 'text-primary'}}" (click)="clickNew()" role="button">
            <span class="far fa-plus-square"></span> Add New Menu</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Tab panes -->
  <div class="tab-content">
    <div *ngFor="let menu of getMenus()" class="tab-pane  {{getActiveId() == menu.id ? 'active' : ''}} pt-1" role="tabpanel">
      <app-menu [restaurant]="restaurant" [menu]="menu" [offsetToEST]="restaurant.offsetToEST" (onEdit)="edit($event)" (onVisitMenuOptions)="visitMenuOptions()"></app-menu>
    </div>
    <div class="tab-pane  {{!getActiveId() ? 'active' : ''}} pt-1" role="tabpanel">
      <div *ngIf="getMenus().length === 0" class="text-center mb-1">
        No menu yet.
      </div>
      <button class="btn btn-primary btn-block" (click)="clickNew()">Create New Menu</button>
    </div>
  </div>

  <q-modal #menuEditingModal>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
    <h4 class="text-center">{{menuEditor.menu?.id ? 'Edit Menu' : 'Create New Menu'}}</h4>
    <hr>
    <app-menu-editor #menuEditor [offsetToEST]="restaurant.offsetToEST" (onDone)="onDoneEditing($event)" (onDelete)="onDelete($event)"></app-menu-editor>
  </q-modal>

  <div class="app-plus">
    <button (click)="clickNew()" class="btn btn-link text-success far fa-plus-circle"></button>
  </div>
</div>