.app-tab{
    white-space: nowrap;
    display: inline-block;
}
.app-tab li {
    display: inline-block;
    float: inherit;
}

.header-title {
  position: relative;
  width: calc(100% - 30px);
  margin: auto;
}

.header-title .header-checkbox {
  position: absolute;
  right: 6rem;
  bottom: 0;
  margin: 0;
  font-weight: normal;
  font-size: 1rem;
}
