<div *ngIf="mc">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
  <h4>{{mc.id ? mc.name: (mc.name || 'New Category')}}</h4>
  <hr>

  <div *ngIf="mc.id" class="mb-1">
    <app-switch #switchEnabled (onSelectValue)="selectSwitchValue($event)" [selectedValue]="mc.disabled ? 'Disabled' : 'Enabled'"
      [values]="['Enabled', 'Disabled']"></app-switch>
  </div>

  <!--two columns, one for name, one for sorting order-->
  <div class="row">
    <div class="col-xs-8">
      <div class="form-group {{!mc.name ? 'has-danger' : ''}}">
        <label>Name:</label>
        <input name="mc-name" type="text" class="form-control" [attr.list]="'mc-names-' + mc.id" [(ngModel)]="mc.name" placeholder="eg. appetizer"
          autofocus>
      </div>
      <datalist [id]="'mc-names-' + mc.id">
        <option *ngFor="let mcName of mcNames" value="{{mcName}}">
      </datalist>
    </div>
  </div>

  <!--description and order number-->
  <div class="form-group">
    <label>Description:</label>
    <input name="mc-description" type="text" class="form-control" [(ngModel)]="mc.description">
  </div>
  <!--images section-->
  <label>Images:</label>
  <div *ngIf="mc.images">
    <div *ngFor="let img of mc.images" class="pr-1 pb-1" style="display:inline-block; position:relative">
      <img class="img-thumbnail app-thumbnail-h-6" src="{{img}}">
      <button (click)="deleteImage(img)" class="btn btn-secondary fas fa-times" style="position:absolute; top:0px; right:1rem; opacity:0.7"></button>
      <button (click)="deleteImage(img)" class="btn btn-link fas fa-times text-danger" style="position:absolute; top:0px; right:1rem"></button>
    </div>
  </div>
  <div *ngIf="uploadImageError">
    <span class="text-danger">{{uploadImageError}}</span>
  </div>
  <input type="file" (change)="onUploadImageChange($event)">
  <div><small class="text-warning">Image may take time to show</small></div>
  <hr>
  <div>
    <label><input type="checkbox" (change)="menuOptionIdsChange()" [checked] = "mc.menuOptionIds"> Select menu options for this category</label>
  </div>
  <div *ngIf="mc.menuOptionIds" class="pl-1">
    <div *ngFor="let mo of menuOptions" role="button" (click)="toggleMenuOption(mo)">
      <span class="far {{isMenuOptionSelected(mo) ? 'fa-check-square' : 'fa-square'}}"></span> {{mo.name}} ({{mo.id.substring(mo.id.length-4)}})
    </div>
    <div *ngIf="!menuOptions || menuOptions.length === 0">
      No menu option is defined yet. Menu options will show up for selection after you create them.
    </div>
    <div><a class="btn btn-link text-primary" (click)="gotoMenuOptions()">Manage Menu Options</a></div>
  </div>
  <hr>

  <!--action bar-->
  <div class="text-right">
    <button type="button" class="btn btn-link" (click)="cancel()" data-dismiss="modal">  
      Cancel
    </button>
    <button *ngIf="mc.id" type="button" class="btn btn-link" (click)="delete()"> 
      <span class="text-danger"> Delete</span>
    </button>
    <button type="button" class="btn btn-primary" (click)="ok()" [disabled]="!isValid()">
      <span class="fas fa-check"></span> OK
    </button>
  </div>
</div>