<h1 class="text-center">Monthly Invoices</h1>
<div class="clearfix">
  <div class="float-left form-inline">

  </div>
  <div class="float-right">
    <div class="pb-2">
      <button class="btn btn-primary" (click)="toggleAction('invoicedButLaterCanceled')">Find Invoiced but Later
        Canceled Orders</button>
      <button class="btn btn-primary" (click)="toggleAction('paymentSentButNotCompleted')">Find Payment Sent but not
        Complete
        Invoices</button>
      <button class="btn btn-primary" (click)="toggleAction('rolledButLaterPaid')">Find Rolled but Later Completed
        Invoices</button>
      <button class="btn btn-primary" (click)="toggleAction('overdue')">Find Overdue Invoices</button>
      <button class="btn btn-primary" (click)="toggleAction('missing')">Find Uninvoiced Orders</button>
    </div>
  </div>
</div>


<div class="card text-left bg-light" *qIf="action==='paymentSentButNotCompleted'">
  <div class="card-body">
    * Payment sent but not yet completed. Total {{paymentSentButNotCompletedRows.length}}

    <table class="table">
      <tr>
        <th>Restaurant</th>
        <th>Invoice</th>
        <th>Balance</th>
        <th>Has Next Invoice</th>

      </tr>
      <tr *ngFor="let row of paymentSentButNotCompletedRows" class="{{beingRolled(row) ? 'text-danger' : ''}}">
        <td> <a target="_blank" href="#/restaurants/{{row.restaurant.id}}">{{row.restaurant.name}}</a>
          <div><small>{{row.restaurant.id}}</small></div>
        </td>
        <td>
          <a target="_blank" href="#/invoices/{{row._id}}"> {{row.fromDate | adjustedDate:'MMM d yyyy' : 'America/New_York'}} -
            {{row.toDate | adjustedDate:'MMM d' : 'America/New_York'}}</a>
        </td>
        <td>
          {{row.balance | currency:'USD':'symbol'}}
        </td>
        <td>
          {{beingRolled(row)}}
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="card text-left bg-light" *qIf="action==='invoicedButLaterCanceled'">
  <div class="card-body">
    * Invoiced but later canceled orders. Please check browser console for affected restaurants.
  </div>
</div>

<div class="card text-left bg-light" *qIf="action==='rolledButLaterPaid'">
  <div class="card-body">
    * Rolled but later marked as paid or payment sent invoices. Total {{rolledButLaterCompletedRows.length}}

    <table class="table">
      <tr>
        <th>Restaurant</th>
        <th>Invoice</th>
        <th>Balance</th>

      </tr>
      <tr *ngFor="let row of rolledButLaterCompletedRows">
        <td> <a target="_blank" href="#/restaurants/{{row.restaurant.id}}">{{row.restaurant.name}}</a>
          <div><small>{{row.restaurant.id}}</small></div>
        </td>
        <td>
          <a target="_blank" href="#/invoices/{{row._id}}"> {{row.fromDate | adjustedDate:'MMM d yyyy' : 'America/New_York'}} -
            {{row.toDate | adjustedDate:'MMM d' : 'America/New_York'}}</a>
        </td>
        <td>
          {{row.balance | currency:'USD':'symbol'}}
        </td>

      </tr>
    </table>
  </div>
</div>
<div class="card text-left bg-light" *qIf="action==='overdue'">
  <div class="card-body">
    * Last invoice spans over 2+ months, or having two consequent unpaid invoices. <strong>Total unpaid =
      {{getTotalUnpaid() | currency:'USD':'symbol'}}</strong>
    <div class="text-right">
      <div class="pb-2 form-inline">
        <select class="form-control mr-4" [(ngModel)]="overdueStatus">
          <option *ngFor="let status of ['restaurant status...', 'disabled', 'enabled']">{{status}}</option>
        </select>
        <select class="form-control mr-4" [(ngModel)]="overdueAgent">
          <option>agent...</option>
          <option *ngFor="let agent of overdueAgents">{{agent}}</option>
        </select>
        <button class="btn btn-primary" (click)="populateOverdue()"><i class="fas fa-sync-alt"></i> Reload</button>
      </div>
    </div>
    <table class="table">
      <tr>
        <th></th>
        <th>Restaurant</th>
        <th>Local Time</th>
        <th>Agent</th>
        <th>Invoices</th>
        <th>Unpaid Balance</th>
        <th>Collection Logs</th>
        <th></th>
      </tr>
      <tr *ngFor="let row of getFilteredOverdueRows(); let i = index"
        class="{{isRowDisabled(row) ? 'bg-light-gray' : ''}}">
        <td>
          {{i+1}}
        </td>
        <td>
          <a target="_blank" href="#/restaurants/{{row.restaurant.id}}">{{row.restaurant.name}}</a>
          <div><small>{{row.restaurant.id}}</small></div>
        </td>
        <td class="text-nowrap">{{row.localTimeString}}</td>
        <td>
          {{getRowAgent(row)}}
        </td>
        <td>
          <table class="table table-borderless table-sm">
            <tr *ngFor="let invoice of row.invoices" class="{{invoice.isPaymentCompleted ? 'text-success' : ''}}">
              <td>
                <a target="_blank" href="#/invoices/{{invoice._id}}"> {{invoice.fromDate | adjustedDate:'MMM d yyyy' : 'America/New_York'}} -
                  {{invoice.toDate | adjustedDate:'MMM d' : 'America/New_York'}}</a>
              </td>
              <td>
                {{invoice.balance | currency:'USD':'symbol'}}
              </td>
            </tr>
          </table>
        </td>
        <td>{{row.unpaidBalance | currency:'USD':'symbol'}}</td>
        <td>
          <table class="table table-borderless table-sm">
            <tr *ngFor="let log of row.logs">
              <td>
                {{log.username}}
              </td>
              <td>
                {{log.time | adjustedDate:'MMM d' : 'America/New_York'}}
              </td>
              <td>
                {{log.response}}
              </td>
            </tr>
          </table>
        </td>
        <td>
          <button class="btn btn-info" (click)="refreshOverdueRowLogs(row)">Refresh Logs</button>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="card text-left bg-light" *qIf="action==='missing'">
  <div class="card-body">
    <div class="form-group row">
      <label for="to-date" class="col-4 col-form-label">To Date</label>
      <div class="col-8">
        <input class="form-control" id="to-date" type="date" [(ngModel)]="toDate">
      </div>
    </div>
    <div class="text-right mt-1">
      <button type="button" class="btn btn-secondary" (click)="showFind = false">Cancel</button>
      <button class="btn btn-primary" (click)="findMissingInvoices()" [qLoading]="apiRequesting">Submit</button>
    </div>

    <label class="checkbox-inline">
      <input type="checkbox" [(ngModel)]="overlappedOrGappedOnly"> Show overlapped or gapped only</label>
    <label class="checkbox-inline mx-4">
      <input type="checkbox" [(ngModel)]="qmenuCollectedOnly"> Show qMenu Collected only</label>

    <table class="table">
      <tr>
        <th>Restaurant</th>
        <th>ID</th>
        <th>Overlapped</th>
        <th>Gapped</th>
        <th>Outstanding Balance</th>
        <th>Uninvoiced Orders</th>
        <th>Payment Methods</th>
        <th>Total Invoices</th>
      </tr>

      <tr *ngFor="let row  of getUninvoicedRows()"
        class="{{row.overlappedInvoices.length > 0 || row.gappedInvoices.length > 0 ? 'text-danger' : ''}} {{row.restaurant.disabled? 'app-muted' : ''}}">
        <td>
          {{row.restaurant.name}}
        </td>
        <td>
          <a target="_blank" href="#/restaurants/{{row.restaurant._id}}">{{row.restaurant._id}}</a>
        </td>
        <td>
          <span class="badge badge-danger mx-1" *ngFor="let i of row.overlappedInvoices">{{i.fromDate | adjustedDate:
            "shortDate" : 'America/New_York'}}
            <span *ngIf="i.isPaymentCompleted && i.balance < 0">
              overpaid
            </span>
            <span *ngIf="i.isPaymentCompleted && i.balance > 0">
              overcharged
            </span>
          </span>
        </td>
        <td>
          <span class="badge badge-danger mx-1" *ngFor="let gap of row.gaps">{{gap.fromDate | adjustedDate: "shortDate" : 'America/New_York'}} -
            {{gap.toDate | adjustedDate: "shortDate" : 'America/New_York'}} ({{gap.orders.length}})</span>
        </td>
        <td>
          <span *ngIf="row.outstandingBalance < 0.005 && row.outstandingBalance > -0.005">0</span>
          <span *ngIf="row.outstandingBalance >= 0.005 || row.outstandingBalance <= -0.005">
            {{row.outstandingBalance | currency:'USD':'symbol'}}
          </span>
        </td>
        <td>
          {{row.orders.length}}
        </td>
        <td>
          {{row.paymentMethods}}
        </td>
        <td>
          {{row.invoices.length}}
        </td>

      </tr>
    </table>

  </div>
</div>

<div *ngFor="let date of startDatesOfEachMonth" class="card text-center hvr-underline-reveal mx-1 mt-2"
  style="width: 20rem; display: inline-block; cursor: pointer;">
  <div class="card-body" routerLink="/invoices/monthly/{{date | date:'y-M-d'}}">
    <h4 class="card-title">{{date | adjustedDate:'MMMM y' : 'America/New_York'}}</h4>
  </div>
</div>

<h1 class="text-center mt-4">
  Skipped Auto-Invoicing Restaurants ({{skipAutoInvoicingRestaurants.length}})
</h1>

<div *ngFor="let r of skipAutoInvoicingRestaurants" class="text-center">

  <a target="_blank" routerLink="/restaurants/{{r._id}}">{{r.name}}</a>

</div>