
<app-data-health></app-data-health>
<app-db-scripts></app-db-scripts>
<div class="my-4">
    <h1 class="text-center">SMS Providers</h1>
    <app-sms-settings [system]="system"></app-sms-settings>
</div>
<div class="my-4">
    <h1 class="text-center">Fax Providers</h1>
    <app-fax-settings [system]="system"></app-fax-settings>
</div>
<div class="my-4">
    <h1 class="text-center">Stats</h1>
    <button class="btn btn-primary" (click)="getPhoneNumberStat()">Phone Number Stats</button>
    <button class="btn btn-primary" (click)="getStates()">States</button>
    <button class="btn btn-primary" (click)="getRestaurantLocations()">Restaurant Locations</button>
    <button class="btn btn-primary" (click)="removePhone()">Remove Phone from Restaurant</button>
</div>

<pre>
    Orders in the past 24 hours: 955
    We will display system related info here:
    1. API state and statistics
    2. Wbe server state and statistics
    3. DB server state and statistics
    Maybe manually or automatically refresh
    Broadcasting to ALL restaurants: via text, email, or both.
</pre>