.graph-container {
    width: 960px;
    max-width: 960px;
}

.doc-link {
    text-overflow: ellipsis;
    max-width: 10rem;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

.disabled {
    text-decoration: line-through;
    opacity: 0.7;
}