<div *ngIf="menu">
  <div *ngIf="menu.id" class="mb-1">
    <app-switch (onSelectValue)="selectSwitchValue($event)" [selectedValue]="menu.disabled ? 'Disabled' : 'Enabled'"
      [values]="['Enabled', 'Disabled']"></app-switch>
  </div>

  <div *ngIf="!menu.id">
    <label>Choose New Or Existing Menu:</label>
    <div>
      <div *ngFor="let option of ['New Menu', 'Copy from existing Menu' ,'Sample Menu']; let i = index" class="d-inline-block pr-2">
        <input type="radio" name="option" id="option-{{i}}" [value]="option" [(ngModel)]="selectedOption" (change)="radioSelect(option)">
        <label for="option-{{i}}">{{option}}</label>
      </div>
    </div>

    <div *ngIf="selectedOption === 'Copy from existing Menu'">
      <label>Choose Menu:</label>
      <q-dropdown [items]="createArrayOfMenuNames()"
      [placeholder]="'Select a menu...'"
      (selectedItemChange)="copyMenu($event)"> </q-dropdown>
    </div>
  </div>


  <label>Menu visibility (target customer):
    <a class="view_menu_link" href="{{viewMenuText}}" target="_blank">View Menu<i class="fas fa-external-link-alt"></i></a>
  </label>
  <div>
    <div *ngFor="let target of targets; let i = index" class="d-inline-block pr-2">
      <input type="radio" name="target" id="target-{{i}}" [value]="target" [(ngModel)]="selectedTarget">
      <label for="target-{{i}}">{{target.text}}</label>
    </div>
  </div>
  <div class="form-group {{!menu.name ? 'has-danger' : ''}}">
    <label>Menu Name:</label>
    <input type="text" class="form-control" [(ngModel)]="menu.name" placeholder="eg. Seasonal Special" autofocus>
  </div>

  <div class="form-group">
    <label>Menu Description (optional):</label>
    <input type="text" class="form-control" [(ngModel)]="menu.description" placeholder="eg. Freshly from local market"
      autofocus>
  </div>

  <label class="mt-1">Serve Hours:</label>
  <div class="text-muted" *ngIf="menu.hours && menu.hours.length > 0"><small>Hours are not grouped here but they will be
      in user view</small></div>
  <div *ngFor="let hour of getHours()">
    <div class="pull-xs-left">
      <span *ngIf="hour.occurence === 'WEEKLY'">{{hour.fromTime | dateTz: 'EEEE' :
        restaurant?.googleAddress?.timezone}}</span>
      <span *ngIf="hour.occurence !== 'WEEKLY'">{{hour.fromTime | dateTz: 'shortDate' :
        restaurant?.googleAddress?.timezone}}</span>
      {{hour.toHourString(restaurant?.googleAddress?.timezone)}}
    </div>
    <div class="pull-xs-right"><button type="button" class="btn btn-link text-danger pt-0 pb-0"
        (click)="deleteHour(hour)">X</button></div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
  <div class="pull-xs-right"><button type="button" class="btn btn-link" (click)="clickedAddHour = !clickedAddHour">+ Add
      Hour</button></div>

  <div class="clearfix"></div>
  <div *qIf="clickedAddHour" style="font-size: smaller">
    <div class="card card-block p-2">
      <lib-hours-picker (cancel)="clickedAddHour = false" (submit)="doneAddingHour($event)"
        [timezone]="restaurant?.googleAddress?.timezone"></lib-hours-picker>
    </div>
  </div>

  <label class="mt-1">Background Image:</label>
  <div class="clearfix"></div>
  <div *ngIf="menu.backgroundImageUrl" class="pr-1 pb-1" style="display:inline-block; position:relative">
    <img class="img-thumbnail app-thumbnail-h-6" src="{{menu.backgroundImageUrl}}">
    <button (click)="deleteBackgroundImage()" class="btn btn-secondary fas fa-times"
      style="position:absolute; top:0px; right:1rem; opacity:0.7"></button>
    <button (click)="deleteBackgroundImage()" class="btn btn-link fas fa-times text-danger"
      style="position:absolute; top:0px; right:1rem"></button>
  </div>

  <div *ngIf="uploadImageError">
    <span class="text-danger">{{uploadImageError}}</span>
  </div>
  <input type="file" (change)="onUploadImageChange($event)">
  <hr>
  <div><label><input type="checkbox" [(ngModel)]="menu.nontaxable"> Nontaxable (no tax collection)</label></div>

  <!--action bar-->
  <hr>
  <div class="text-right">
    <button type="button" class="btn btn-link" (click)="cancel()" data-dismiss="modal">
      Cancel
    </button>
    <button *ngIf="menu.id && enableDelete" type="button" class="btn btn-link" (click)="delete()">
      <span class="text-danger"> Delete</span>
    </button>
    <button type="button" class="btn btn-primary" (click)="ok()" [disabled]="!isValid()">
      <span class="fas fa-check"></span> OK
    </button>
  </div>
  <div *qIf="clickedDelete">
    <div class="text-danger text-right mt-1">Deletion can not be undone. Are you sure?</div>
    <div class="text-right mt-1">
      <button type="button" class="btn btn-secondary" (click)="cancelDeletion()">Cancel</button>
      <button *ngIf="menu.id" type="button" class="btn btn-danger" (click)="confirmDeletion()">Confirm Deletion</button>
    </div>
  </div>
</div>
