<h1 class="text-center">Restaurants ({{filteredRows.length}})</h1>
<div class="clearfix my-2">
    <div class="float-left form-inline">
        <input [qDebounce]="500" (debounce)="filter()" type="text" class="form-control mr-2 mb-1"
            placeholder="type name or address" [(ngModel)]="searchFilter">

        <select class="form-control mr-2 mb-1" [(ngModel)]="restaurantStatus" (change)="filter()">
            <option>restaurant status</option>
            <option>enabled</option>
            <option>disabled</option>
        </select>
        <select class="form-control mr-2 mb-1" [(ngModel)]="restaurantProblems" (change)="filter()">
            <option>restaurant problems</option>
            <option>bad delivery settings</option>
            <option>bad menus</option>
            <option>bad rate schedules</option>
            <option>bad service settings</option>
            <option>no qMenu managed website</option>
            <option>no restaurant managed website</option>
            <option>having insisted website</option>
            <option>suspecious GMBs</option>
        </select>
        <select class="form-control mr-2 mb-1" [(ngModel)]="gmbStatus" (change)="filter()">
            <option>GMB status</option>
            <option>published</option>
            <option>suspended</option>
            <option>open</option>
            <option>lost in 48 hours</option>
            <option>secondary listing</option>
        </select>

        <select class="form-control mr-2 mb-1" [(ngModel)]="gmbWebsiteOwner" (change)="filter()">
            <option>GMB website owner</option>
            <option>NOT qMenu</option>
            <option *ngFor="let gmbOwnerCount of gmbOwnerAndCounts">{{gmbOwnerCount.owner}} ({{gmbOwnerCount.count}})
            </option>
        </select>

        <select class="form-control mr-2 mb-1" [(ngModel)]="agent" (change)="filter()" *ngIf="isAdmin">
            <option value="">Sales agent</option>
            <option *ngFor="let agent of agents">{{agent}}</option>
        </select>

        <select class="form-control mr-2 mb-1" [(ngModel)]="managedWebsite" (change)="filter()">
            <option>Manged website</option>
            <option>exist</option>
            <option>non-exist</option>
        </select>

    </div>

</div>

<table class="table table-sm">
    <tr>
        <th>#</th>
        <th>qMenu Restaurant</th>
        <th>Restaurant ID</th>
        <th>Score</th>
        <th>Agent</th>
        <th>GMB Account</th>
        <th>GMB CID</th>
        <th>GMB Status</th>
        <th>Websites</th>
    </tr>
    <ng-container *ngFor="let row of filteredRows; let rowNumber = index">

        <ng-container *ngFor="let al of row.accountLocations; let alIndex = index">
            <!-- Having restaurant -->
            <tr *ngIf="row.restaurant._id" class="{{row.restaurant.disabled?'app-strike' : ''}}">
                <th [attr.rowspan]="row.accountLocations.length" *ngIf="!alIndex">{{rowNumber + 1}}</th>
                <td [attr.rowspan]="row.accountLocations.length" *ngIf="!alIndex">
                    <a routerLink="/restaurants/{{row.restaurant._id}}">{{row.restaurant.name}}</a>
                    <div class="text-muted"><small>{{row.restaurant.googleAddress?.formatted_address}}</small></div>
                </td>
                <td>
                    {{row.restaurant._id}}
                </td>
                <td *ngIf="isAdmin">
                    {{row.restaurant.score}}
                </td>
                <td *ngIf="isAdmin">
                    {{row.restaurant.agent}}
                </td>
                <td>
                    <app-gmb-account-hotlink [email]="al.account.email"></app-gmb-account-hotlink>
                </td>
                <td>
                    <a href="https://www.google.com/search?ludocid={{al.location?.cid}}&q={{al.location?.name}}"
                        target="_blank"> {{al.location?.cid}}<span
                            *ngIf="row.restaurant?.googleListing?.cid === al.location.cid">★</span></a>
                </td>
                <td *ngIf="al.location.status === 'Published'" class="text-success">
                    <b>{{al.location.status}}</b>
                </td>
                <td *ngIf="al.location.status === 'Suspended'" class="text-warning">
                    <b>{{al.location.status}}</b>
                </td>
                <td *ngIf="al.location.status !== 'Published' && al.location.status !== 'Suspended'">
                    {{al.location.status}}
                </td>
                <td><small>
                        <div>Q: <q-edit-label [value]="row.restaurant.web?.qmenuWebsite"
                                (edit)="onEdit($event, row.restaurant, 'qmenuWebsite')"></q-edit-label>
                        </div>
                        <div>R: <q-edit-label [value]="row.restaurant.web?.bizManagedWebsite"
                                (edit)="onEdit($event, row.restaurant, 'bizManagedWebsite')"></q-edit-label>
                            <span class="text-danger">{{row.restaurant.web?.useBizWebsite? 'Insisted' : ''}}
                                {{row.restaurant.web?.useBizWebsiteForAll? 'Insisted All' : ''}}</span>
                        </div>
                    </small>
                </td>
            </tr>

            <!-- NOT having restaurant -->
            <tr *ngIf="!row.restaurant._id">
                <th>{{rowNumber + 1}}</th>
                <td class="text-danger">
                    NO MATCH ({{al.location.name}})
                    <div class="text-muted"><small>{{al.location.address}}</small></div>
                </td>
                <td>
                    <ng-container
                        *ngIf="al.bizList && al.bizList.length > 0 && al.location?.cid && al.location.cid.length > 4">
                        <q-edit-label [value]="al.bizList[0].qmenuId"
                            (edit)="onEditQmenuId($event, al.bizList[0], row)"></q-edit-label>
                    </ng-container>
                </td>
                <td *ngIf="isAdmin">
                    {{row.restaurant.score}}
                </td>
                <td *ngIf="isAdmin">
                    {{row.restaurant.agent}}
                </td>
                <td>
                    <app-gmb-account-hotlink [email]="al.account.email"></app-gmb-account-hotlink>
                </td>
                <td>
                    <a href="https://www.google.com/search?ludocid={{al.location?.cid}}&q={{al.location?.name}}"
                        target="_blank"> {{al.location?.cid}}</a>
                </td>
                <td *ngIf="al.location.status === 'Published'" class="text-success">
                    <b>{{al.location.status}}</b>
                </td>
                <td *ngIf="al.location.status === 'Suspended'" class="text-warning">
                    <b>{{al.location.status}}</b>
                </td>
                <td *ngIf="al.location.status !== 'Published' && al.location.status !== 'Suspended'">
                    {{al.location.status}}
                </td>
                <td></td>
            </tr>
        </ng-container>


        <!-- Restaurant has NO matched GMB at all -->
        <tr *ngIf="row.accountLocations.length === 0" class="{{row.restaurant.disabled?'app-strike' : ''}}">
            <th>{{rowNumber + 1}}</th>
            <td>
                <a routerLink="/restaurants/{{row.restaurant._id}}">{{row.restaurant.name}}</a>
                <div class="text-muted"><small>{{row.restaurant.googleAddress?.formatted_address}}</small></div>
            </td>
            <td>
                {{row.restaurant._id}}
            </td>

            <td *ngIf="isAdmin">
                {{row.restaurant.score}}
            </td>
            <td *ngIf="isAdmin">
                {{row.restaurant.agent}}
            </td>
            <td class="text-danger">
                NO MATCH
            </td>
            <td>
                <a href="https://www.google.com/search?ludocid={{row.restaurant.googleListing?.cid}}&q={{row.restaurant.name}}"
                    target="_blank"> {{row.restaurant.googleListing?.cid}}<span
                        *ngIf="row.restaurant.googleListing?.cid">★</span></a>
            </td>
            <td>
            </td>
            <td><small>
                    <div>Q: <q-edit-label [value]="row.restaurant.web?.qmenuWebsite"
                            (edit)="onEdit($event, row.restaurant, 'qmenuWebsite')"></q-edit-label>
                    </div>
                    <div>R: <q-edit-label [value]="row.restaurant.web?.bizManagedWebsite"
                            (edit)="onEdit($event, row.restaurant, 'bizManagedWebsite')"></q-edit-label>
                        <span class="text-danger">{{row.restaurant.web?.useBizWebsite? 'Insisted' : ''}}
                            {{row.restaurant.web?.useBizWebsiteForAll? 'Insisted All' : ''}}</span>
                    </div>
                </small>
            </td>
        </tr>

    </ng-container>


</table>