<h2 class="text-center">GMB: Restaurants</h2>
<div class="clearfix my-2">
  <div class="float-left form-inline">
    <input [qDebounce]="500" (debounce)="debounce($event)" type="text" class="form-control mr-2" placeholder="type name, phone, account..."
      [(ngModel)]="searchFilter"> total: {{filteredMyBizList.length}}

    <div class="form-check ml-4">
      <input class="form-check-input" type="checkbox" [(ngModel)]="websiteUpdateNeeded" (change)="filterBizList()" id="updateWebsiteCheckbox">
      <label class="form-check-label" for="updateWebsiteCheckbox">
        Website Update Needed
      </label>
    </div>
    <div class="form-check ml-4">
      <input class="form-check-input" type="checkbox" [(ngModel)]="notScanned3" (change)="filterBizList()" id="notScannedCheckbox">
      <label class="form-check-label" for="notScannedCheckbox">
        Not Scanned in 3 Days {{notScanned3}}
      </label>
    </div>

  </div>
  <div class="float-right">
    <button class="btn btn-primary" (click)="refresh()" [qLoading]="refreshing">
      <i class="fas fa-sync-alt"></i> Reload</button>
    <button class="btn btn-primary" (click)="crawlAll()" [qLoading]="crawling">
      <i class="fab fa-google"></i> Crawl All</button>
  </div>
</div>

<q-table [rows]="filteredMyBizList" [tableColumnDescriptors]="myColumnDescriptors">
  <tr *tableRowTemplate="let biz;" [ngClass]="{'list-group-item-danger': !biz.owned }">
    <td>
      <div class="font-weight-bold">
        <span class="text-success" *ngIf="biz.gmbBiz.ignoreGmbOwnershipRequest">✓</span>
        <a *ngIf="biz.gmbBiz.qmenuId" href="#/restaurants/{{biz.gmbBiz.qmenuId}}">{{biz.gmbBiz.name}}</a>
        <span *ngIf="!biz.gmbBiz.qmenuId">{{biz.gmbBiz.name}}</span>
        &nbsp;
        <small class="text-muted text-nowrap">{{biz.gmbBiz.phone | tel}}</small>
      </div>
      <div class="text-muted">
        <small>{{biz.gmbBiz.address}}</small>
      </div>
      <div class="text-danger" *ngIf="biz.lostDate">
        <small>Lost: {{biz.lostDate | ago: now}}</small>
      </div>
    </td>
    <td>{{biz.gmbBiz.score}}</td>
    <td>{{biz.ownershipPercentage}}%</td>
    <td>
      <small>{{biz.transfers}}</small>
    </td>
    <td class="text-center">
      <img *ngIf="biz.owned" [attr.src]="'/assets/images/qmenu.png'" alt="qmenu" height="16px">
      <span *ngIf="!biz.owned">?</span>
    </td>
    <td class="text-center">
      <a href="{{biz.gmbBiz.gmbWebsite}}" title="{{biz.gmbBiz.gmbWebsite}}" target="_blank">
        <i *ngIf="!getLogo(biz.gmbBiz) && biz.gmbBiz.gmbOwner" class="fas fa-question text-danger"></i>
        <img *ngIf="getLogo(biz.gmbBiz)" [attr.src]="'/assets/images/' + getLogo(biz.gmbBiz)" [attr.alt]="biz.gmbBiz.gmbOwner" height="16px">
        <i class="fas fa-lock-open text-info" *ngIf="biz.gmbBiz.gmbOpen"></i>
      </a>
    </td>
    <td class="text-center">
      <div *ngIf="biz.gmbBiz.crawledAt" class="text-muted text-nowrap">
        <small>{{biz.gmbBiz.crawledAt | ago: now}}</small>
      </div>
    </td>
    <td class="text-center text-nowrap">
      <a class="btn btn-link" target="_blank" href="https://www.google.com/search?q={{getEncodedGoogleSearchString(biz.gmbBiz)}}">Google
        Listing</a>
      <!-- *ngIf="biz.gmbBiz.gmbOwner !== 'qmenu'"  -->
      <button class="btn btn-link" [qLoading]="isProcessing(biz.gmbBiz)" (click)="inject(biz.gmbBiz)">Inject Qmenu</button>
      <button class="btn btn-link" [qLoading]="isProcessing(biz.gmbBiz)" (click)="crawl(biz.gmbBiz)">G-Crawl</button>
      <button class="btn btn-link" (click)="edit(biz.gmbBiz)">Edit</button>
    </td>
  </tr>
</q-table>
<hr>
<div class="text-success mb-4">✓: GMB Requests Ignored (usually qMenu partners)</div>
<!--the editing modal-->
<q-modal #bizEditingModal>
  <h4 class="text-center">{{bizInEditing && bizInEditing._id ? 'Update' : 'Add New'}}</h4>
  <hr>
  <app-gmb-biz-editor [gmbBiz]="bizInEditing" (remove)="remove($event)" (submit)="done($event)" (cancel)="cancel()"></app-gmb-biz-editor>
  <div class="text-danger">{{apiError}}</div>
</q-modal>