<h1 class="text-center">Logs</h1>
<div class="text-center text-muted">
    <small>(For past 7 days or unresolved. To see more logs, visit restaurant details)</small>
</div>
<div>
    <div class="float-left form-inline mt-2">

        <label class="mr-2"> Restaurant Filter:</label>
        <input [qDebounce]="800" (debounce)="debounce($event)" type="text" class="form-control ml-2" placeholder="name, phone, order# ..."
            [(ngModel)]="searchFilter"> &nbsp;&nbsp;

        <label class="text-danger">
            <input type="checkbox" [(ngModel)]="unresolvedOnly" (change)="filterBySelection()">&nbsp;Only Unresolved
        </label>

        <label style="padding-left: 15px">
            <input type="checkbox" [(ngModel)]="adjustmentOnly" (change)="filterBySelection()">&nbsp;Only Adjustments
        </label>

        <label class="mr-2" style="padding-left: 15px"> Agent:</label>
        <select [(ngModel)]="agent" (change)="filterBySelection()">
            <option>All</option>
            <option *ngFor="let agent of agentList">{{agent}}</option>
        </select>
        <label class="mr-2" style="padding-left: 15px"> Log Type:</label>
        <select [(ngModel)]="type" (change)="filterBySelection()">
            <option>All</option>
            <option *ngFor="let type of logTypes">{{type}}</option>
        </select>
    </div>
    <div class="float-right">
        <div class="pb-2">
            <button class="btn btn-primary" (click)="createNew()">
                <i class="fas fa-plus"></i> Add New Log</button>
        </div>
    </div>
</div>

<app-logs-table [restaurantLogs]="filteredResult" (select)="edit($event)"></app-logs-table>


<!--the editing modal-->
<q-modal #logEditingModal>
    <app-log-editor #myLogEditor [restaurant]="restaurant" [restaurantList]="restaurantList" [log]="logInEditing" (success)="onSuccessCreation($event)"
        (cancel)="onCancelCreation()" (remove)="remove($event)"></app-log-editor>
</q-modal>