<div class="form-group">
  <div class="text-info" *ngIf="showCallScript">
    {{changeLanguageFlag === 'English'? menuSectionCallScript.EnglishCallScript.open_remark : menuSectionCallScript.ChineseCallScript.open_remark}}
  </div>
  <h5>Provide Menu Information</h5>
  <div class="form-check" *ngFor="let option of menuSetupOptions">
    <label class="form-check-label">
      <input type="radio" name="menuSetupOption" [disabled]="finished" [(ngModel)]="setupMode" class="form-check-input"
        [value]="option.value" />
      {{option.text}}
    </label>
  </div>
</div>
<ng-container *ngIf="!finished">
  <div class="form-group" *ngIf="setupMode === menuSetupModes.UploadImage">
    <div class="text-warning" *ngIf="showCallScript">{{changeLanguageFlag === 'English'? menuSectionCallScript.EnglishCallScript.upload_image_inquiry : menuSectionCallScript.ChineseCallScript.upload_image_inquiry}}</div>
    <div class="menu-img-list">
      <span class="menu-img-item" *ngFor="let image of images; let i = index;">
        <span class="btn-close" (click)="removeImage(i)">
          <i class="fa fa-times"></i>
        </span>
        <img [src]="image" />
        <strong>Menu Image {{i + 1}}</strong>
      </span>
    </div>
    <div class="mt-3">
      <input type="file" class="form-control-file" accept="image/*" *ngIf="images.length < 10"
        (change)="upload($event)">
    </div>
  </div>
  <div class="form-group" *ngIf="setupMode === menuSetupModes.SendImage">
    <div class="text-info" *ngIf="showCallScript">{{changeLanguageFlag === 'English'? menuSectionCallScript.EnglishCallScript.send_image_inquiry : menuSectionCallScript.ChineseCallScript.send_image_inquiry}}</div>
  </div>
  <div class="form-group" *ngIf="setupMode === menuSetupModes.CopyFromWeb">
    <div class="text-info">{{changeLanguageFlag === 'English'? menuSectionCallScript.EnglishCallScript.copy_inquiry : menuSectionCallScript.ChineseCallScript.copy_inquiry}}</div>
    <input type="text" class="form-control" [(ngModel)]="copyFrom" placeholder="Short answer text">
  </div>
  <div class="form-group" *ngIf="setupMode === menuSetupModes.ScrapeFromUrl">
    <div class="text-info" *ngIf="showCallScript">{{changeLanguageFlag === 'English'? menuSectionCallScript.EnglishCallScript.provide_url_inquiry : menuSectionCallScript.ChineseCallScript.provide_url_inquiry}}</div>
    <input type="text" class="form-control" [(ngModel)]="scrapeUrl" placeholder="Short answer text">
  </div>
  <div class="form-group text-end">
    <button type="button" [disabled]="!canSave()" class="btn btn-primary btn-lg" (click)="save()"><i
        class="fa fa-save"></i> Save</button>
  </div>
</ng-container>
