.menu-img-list {

}

.menu-img-item {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  width: 200px;
  align-items: center;
  border: 1px solid #9e9e9e;
  border-radius: 2px;
}

.menu-img-item:not(:last-child) {
  margin-right: 20px;
}

.menu-img-item img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.menu-img-item .btn-close {
  position: absolute;
  font-size: 18px;
  right: 0;
  top: 0;
  padding: 0 6px;
  cursor: pointer;
  color: red;
}

label.form-check-label {
  font-weight: normal
}
