<h1 class="text-center">qMenu Restaurants</h1>
<!-- <app-restaurant-menu-shuffler [restaurant1]="fakeRestaurant1"  [restaurant2]="fakeRestaurant2"></app-restaurant-menu-shuffler> -->
<div class="text-right mb-2">
  <div class="pb-2">
    <button class="btn btn-primary" (click)="setAction('NEW')" *ngIf="isButtonVisible('NEW')">
      <i class="fas fa-plus"></i> Add New Restaurant</button>
    <button class="btn btn-info" (click)="setAction('CRAWL')" *ngIf="isButtonVisible('CRAWL')">
      <i class="fas fa-download"></i> Crawl Restaurant Data</button>
    <button class="btn btn-danger" (click)="setAction('REMOVE')" *ngIf="isButtonVisible('REMOVE')">
      <i class="fas fa-times"></i> Delete Restaurant</button>
  </div>

  <div class="card text-left bg-light" *qIf="currentAction === 'NEW'">
    <div class="card-body">
      <h5 class="card-title">Create New Restaurant</h5>
      <app-new-restaurant (success)="onSuccessCreation($event)" (cancel)="onCancelCreation()"></app-new-restaurant>
    </div>
  </div>

  <div class="card text-left bg-light" *qIf="currentAction === 'CRAWL'">
    <div class="card-body">
      <h5 class="card-title">Craw Restaurant</h5>
      <app-restaurant-crawler (restaurantCreate)="onSuccessCreation($event)"></app-restaurant-crawler>
    </div>
  </div>

  <div class="card text-left bg-light" *qIf="currentAction === 'REMOVE'">
    <div class="card-body">
      <h5 class="card-title">Remove Restaurant</h5>
      <div class="form-group">
        <label for="formGroupExampleInput">Restaurant ID</label>
        <input type="text" class="form-control" placeholder="Restaurant ID" [(ngModel)]="removeId">
      </div>
      <div class="text-right mt-4">
        <button class="btn btn-secondary" (click)="currentAction = null" [disabled]="requesting">Cancel</button>
        <button class="btn btn-primary" (click)="removeRestaurant()" [qLoading]="requesting">Delete Restaurant</button>
      </div>
    </div>
  </div>
</div>

<div class="row my-2">
  <div class="col form-inline">
    Search Filter:
    <input type="text" class="form-control ml-2" placeholder="Restauran Name" [(ngModel)]="nameFilter">
    <input type="tel" class="form-control ml-2" placeholder="Restauran Phone" [(ngModel)]="phoneFilter">
    <input type="tel" class="form-control ml-2" placeholder="Restauran Id" [(ngModel)]="restaurantIdFilter">

  </div>
  <div class="col-auto form-inline text-right">
    <div style="width: 100%">Total: {{getEnabledCount()}} / {{restaurantList.length}}</div>
  </div>
</div>



<ul class="list-group">
  <ng-container *ngFor="let r of restaurantList">
    <li *ngIf="isVisible(r)" class="list-group-item d-flex justify-content-between align-items-center {{r.disabled ? 'line-through' : ''}}">
      <span>
        <span class="thumb-container">
          <img src="{{r.logo}}" alt="{{r.name}}" class="thumb-img" *ngIf="r.logo">
          <i class="fas fa-coffee" *ngIf="!r.logo"></i>
        </span>
        <a routerLink="/restaurants/{{r._id }}">{{r.name}}</a>
        <div class="{{r.duplicated ? 'text-danger' : 'text-muted'}}">
          <small>
            <span class="thumb-container"></span>
            {{r.googleAddress?.formatted_address}} <span *ngFor="let p of (r.phones || [])">{{p.phoneNumber | tel}} &nbsp;</span>
          </small>

        </div>
      </span>
      <span>{{r.alias}}
        <div class="text-muted"><small>{{r._id}}</small></div>
      </span>
    </li>
  </ng-container>
</ul>