<h1 class="text-center">Go Daddy</h1>
{{rows.length}}

<div class="text-right mb-2">
  <button class="btn btn-primary" (click)="sync()"><i class="fas fa-sync-alt" [qLoading]="apiRequesting"></i> Sync</button>
</div>

<q-table [rows]="rows" [tableColumnDescriptors]="myColumnDescriptors" [compact]="true">
  <tr *tableRowTemplate="let r;" class="{{r.gmbBiz.qmenuId !== r.restaurant._id || !r.gmbBiz.name || !r.restaurant.name || r.godaddy.status !=='ACTIVE' ? 'bg-danger text-light' : ''}}">
    <td>{{r.godaddy.domain}}</td>
    <td>{{r.restaurant.name}}</td>
    <td>{{r.gmbBiz.name}}</td>
    <td>{{r.gmbBiz.qmenuId === r.restaurant._id}}</td>

    <td>{{r.godaddy.status}}</td>
    <td>{{r.godaddy.createdAt | date: "shortDate"}}</td>
  </tr>
</q-table>