<h1 class="text-center">Go Daddy</h1>
<div *ngIf="godaddyScannedAt" class="text-center">Last scanned at {{godaddyScannedAt | ago : now}}</div>
<div class="clearfix my-2">
  <div class="float-left form-inline">
    <span class="mr-4">Total: {{filteredRows.length}} </span>

    <label class="mr-2"> Domain:</label>
    <select class="form-control mr-4" [(ngModel)]="domainType" (change)="filter()">
      <option>any</option>
      <option>normal</option>
      <option>subdomain</option>
      <option>no domain</option>
    </select>

    <label class="mr-2"> Domain Status:</label>
    <select class="form-control mr-4" [(ngModel)]="domainStatus" (change)="filter()">
      <option>any</option>
      <option>ACTIVE</option>
      <option>NON-ACTIVE</option>
    </select>

    <label class="mr-2"> Domain's Folder:</label>
    <select class="form-control mr-4" [(ngModel)]="domainFolder" (change)="filter()">
      <option>any</option>
      <option>has folder</option>
      <option>no folder</option>
    </select>

    <label class="mr-2"> Folder Status:</label>
    <select class="form-control mr-4" [(ngModel)]="folderStatus" (change)="filter()">
      <option>any</option>
      <option>missing index.html</option>
    </select>

    <label class="mr-2"> Restaurant:</label>
    <select class="form-control mr-4" [(ngModel)]="restaurantStatus" (change)="filter()">
      <option>any</option>
      <option>has domain</option>
      <option>no domain</option>
    </select>

    <label class="mr-2"> GMB Biz:</label>
    <select class="form-control mr-4" [(ngModel)]="gmbBizStatus" (change)="filter()">
      <option>any</option>
      <option>has domain</option>
      <option>no domain</option>
      <option>has GMB ownership</option>
      <option>no GMB ownership</option>
    </select>

  </div>
  <div class="float-right">
    <button class="btn btn-primary" (click)="sync()"><i class="fas fa-sync-alt" [qLoading]="apiRequesting"></i> Sync</button>
    <button class="btn btn-primary" (click)="diagnose()"><i class="fas fa-sync-alt" [qLoading]="apiRequesting"></i>
      Diagnose</button>
  </div>
</div>

<q-table [rows]="filteredRows" [tableColumnDescriptors]="myColumnDescriptors" [compact]="true">
  <tr *tableRowTemplate="let r;" class="{{highlighted(r) ? 'bg-warning' : ''}}">
    <td>{{r.domain?.domain}}</td>
    <td>{{r.domain?.status}}</td>
    <td>{{r.domain?.createdAt | date: "shortDate"}}</td>
    <td>{{r.domain?.isSubdomain ? 'Subdomain' : ''}}</td>
    <td>{{r.folder?.name}}</td>
    <td>{{r.folder?.date | date: "MMM d"}}</td>
    <td>{{r.restaurant?.domain}}
      <div><small>{{r.restaurant?.name}}</small></div>
    </td>
    <td>{{r.gmbBiz?.qmenuWebsite}}
      <div><small>{{r.gmbBiz?.name}}</small></div>
    </td>
    <td><i class="fas fa-unlink" *ngIf="r.gmbBiz && r.restaurant && r.gmbBiz.qmenuId !== r.restaurant._id"></i></td>
    <td>{{r.folder && !r.folder?.hasIndex ? 'missing' : ''}}</td>
  </tr>
</q-table>