<button class="btn btn-primary" (click)="findFailedEmails()">Execute</button>

<q-table [rows]="badSnsEventRows" [tableColumnDescriptors]="myColumnDescriptors" [compact]="true">
    <tr *tableRowTemplate="let row;">
        <td>
            <a target="_blank" href="#/restaurants/{{getRestaurant(row)?._id}}">{{getRestaurant(row)?.name}}</a>
            <div><small>{{getRestaurant(row)?._id}}</small></div>
        </td>
        <td>
            {{row.params.mail.destination[0]}}
        </td>
        <td>
            {{ row.params.notificationType}}
        </td>
    </tr>
</q-table>