<div class="card mb-2">
  <h3 class="card-title text-center pt-4 pb-2"><i class="fa fa-print"></i> Cloud Printing Settings</h3>
  <div class="text-center">Use Monitoring -> Cloud Printers to Make Changes</div>

  <div class="card-block">

    <table class="app-table w-100">
      <thead>
        <tr>
          <th class="text-center">Type</th>
          <th class="text-center">Printer Name</th>
          <th class="text-center">Copies</th>
          <!-- <th class="text-center">Status</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of getPrinters()">
          <td class="text-center text-nowrap">
            {{p.type}}
          </td>
          <td class="text-center text-nowrap">
            {{p.name}}<span *ngIf="p.key">/{{p.key}}</span>
          </td>
          <td class="text-center text-nowrap">
            {{p.autoPrintCopies}}
          </td>
          <!-- <td class="text-center text-nowrap">
            {{p.status}}
          </td> -->
        </tr>
      </tbody>
    </table>
  </div>