<h1 class="text-center">Cloud Printing Clients<br><small>{{filteredRows.length}}</small></h1>
<div class="clearfix my-2">
    <div class="float-left form-inline">
    </div>

    <div class="float-right">
        <button class="btn btn-primary" (click)="addNewPrinter()"><i class="fas fa-plus"></i> Add New Printer</button>
        <button class="btn btn-primary" (click)="syncExistingPrinters()" [qLoading]="discovering"><i
                class="fas fa-sync"></i> Discover All Printers</button>
    </div>
</div>
<q-simple-radio [(ngModel)]="printerType" [equalWidth]="true" (ngModelChange)="filter()"
    [values]="['fei-e', 'legacy', 'longhorn', 'pheonix']">
</q-simple-radio>

<table class="table table-sm">
    <tr>
        <th>#</th>
        <th>Type/ID</th>
        <th>Restaurant</th>
        <th>Printer Name</th>
        <th>Status</th>
        <th></th>
    </tr>
    <ng-container *ngFor="let row of filteredRows; let i = index;">
        <tr *ngFor="let printer of row.printers; let j = index">
            <th *ngIf="j === 0" [attr.rowspan]="row.printers.length">{{i + 1}}</th>
            <td *ngIf="j === 0" [attr.rowspan]="row.printers.length">
                {{row.type}}
                <div class="text-muted"><small>{{row.guid}}</small></div>
            </td>
            <td *ngIf="j === 0" [attr.rowspan]="row.printers.length">
                <div *ngIf="row.restaurant">
                    <a routerLink="/restaurants/{{row.restaurant._id}}">{{row.restaurant.name}}</a>
                    <div class="text-muted">
                        <small>{{row.restaurant.googleAddress?.formatted_address}}</small>
                    </div>
                </div>
                <q-edit-label [value]="(row.restaurant || {})._id" (edit)="onEditRestaurantId($event, row)">
                </q-edit-label>
            </td>
            <td>
                <b *ngIf="printer.notifications && printer.notifications.length > 0">{{printer.name}}</b>
                <span *ngIf="!(printer.notifications && printer.notifications.length > 0)">{{printer.name}}<div
                        class="text-muted"><small>unused</small></div></span>
                <div>{{printer.key}}</div>
            </td>
            <td>
                <ng-container *ngIf="printer.statusHistory && printer.statusHistory.length > 0">
                    <div class="{{isStatusHealthy(printer.statusHistory[0].status) ? 'text-success' : 'text-danger'}}">
                        {{printer.statusHistory[0].status}}
                    </div>
                    <div class="text-muted"><small>{{printer.statusHistory[0].time | ago: now}}</small></div>
                </ng-container>

            </td>
            <td>
                <ng-container *ngIf="printer.lastPrintingResult">
                    <div>
                        {{printer.lastPrintingResult.result}}
                    </div>
                    <div class="text-muted"><small>{{printer.lastPrintingResult.time | ago: now}}</small></div>
                </ng-container>
            </td>
            <td>
                <button class="btn btn-link" (click)="refreshStatus(row, printer)">Refresh Status</button>
                <button class="btn btn-link" (click)="printLastOrder(row, printer)" [disabled]="true">Print Last Order</button>
            </td>
        </tr>
    </ng-container>


</table>