<h1 class="text-center">Cloud Printing Clients
    <br>
    <small>{{filteredRows.length}}</small>
</h1>
<div class="clearfix my-2">
    <div class="float-left form-inline">
    </div>

    <div class="float-right">
        <button class="btn btn-primary" (click)="findMultiple()">
            <i class="fas fa-search"></i> 查找安装多个云打印餐馆</button>
        <button class="btn btn-primary" (click)="addNewPrinter()">
            <i class="fas fa-plus"></i> Add New Printer</button>
        <!-- <button class="btn btn-primary" (click)="syncExistingPrinters()" [qLoading]="discovering">
            <i class="fas fa-sync"></i>
            Discover All Printers</button> -->
    </div>
</div>
<div *qIf="showingMultiple" class="alert alert-secondary">
    <table>
        <tr *ngFor="let rw of restaurantRows">
            <td>
                <a routerLink="/restaurants/{{rw.restaurant._id}}" target="_blank">{{rw.restaurant.name}}</a>
                <div class="text-muted">
                    <small>{{rw.restaurant.googleAddress?.formatted_address}}</small>
                </div>
            </td>
            <td>
                <span *ngFor="let row of rw.rows">{{row.type}} </span>
            </td>
        </tr>
    </table>
    <div *ngIf="restaurantRows.length === 0">Not found any.</div>
</div>
<q-simple-radio [(ngModel)]="printerType" [equalWidth]="true" (ngModelChange)="filter()"
    [values]="['fei-e', 'legacy', 'longhorn', 'phoenix']">
</q-simple-radio>

<table class="table table-sm">
    <tr>
        <th>#</th>
        <th>Type/ID</th>
        <th>Client Status</th>
        <th>Restaurant</th>
        <th>Printers</th>
        <th>&nbsp;</th>
    </tr>
    <tr *ngFor="let row of filteredRows; let i = index;">
        <th>{{i + 1}}</th>
        <td>
            {{row.type}}
            <div class="text-muted">
                <div *ngIf="row.info?.version"><small>{{row.info?.version}}</small></div>
                <div *ngIf="row.info?.os"><small>{{row.info?.os}}</small></div>
                <small>{{row.guid}}</small>
            </div>
        </td>
        <td>
            <div *ngIf="row.statusHistory && row.statusHistory.length > 0">
                <div class="{{getStatusClass(row.statusHistory[0])}}">
                    {{row.statusHistory[0].status}}
                </div>
                <div class="text-muted">
                    <small>{{row.statusHistory[0].time | ago: now}}</small>
                </div>
            </div>
        </td>
        <td>
            <div *ngIf="row.restaurant" class="{{row.restaurant?.disabled ? 'app-strike' : ''}}">
                <a routerLink="/restaurants/{{row.restaurant._id}}" target="_blank">{{row.restaurant.name}}</a>
                <div class="text-muted">
                    <small>{{row.restaurant.googleAddress?.formatted_address}}</small>
                </div>
            </div>
            <q-edit-label [value]="(row.restaurant || {})._id" (edit)="onEditRestaurantId($event, row)">
            </q-edit-label>

            <div *ngIf="row.restaurant?.disabled">DISABLED RESTAURANT</div>
        </td>
        <td>
            <div *ngFor="let printer of (row.printers || [])">
                <label class="checkbox-inline {{printer.autoPrintCopies > 0 ? '' : 'font-weight-normal text-muted'}}">
                    <input type="checkbox" [ngModel]="printer.autoPrintCopies > 0"
                        (click)="togglePrinter($event, row, printer)"> {{printer.name}}
                </label>
                <span *ngIf="printer.autoPrintCopies > 0">
                    copies:
                    <q-edit-label [value]="printer.autoPrintCopies" [type]="'select'" [options]="[1, 2, 3, 4]"
                        (edit)="updateAutoPrintCopies($event, row, printer)"></q-edit-label>
                    <ng-container *ngIf="row.type === 'phoenix'">
                        format:
                        <q-edit-label [value]="printer.format" [type]="'select'" [options]="['', 'esc']"
                            (edit)="updateFormat($event, row, printer)"></q-edit-label>
                    </ng-container>
                </span>


                <div *ngIf="printer.key">sn:{{printer.name}}, key:{{printer.key}}</div>
            </div>
        </td>
        <td>
            <button class="btn btn-link d-block" (click)="pullPrinters(row)"
                *ngIf="['phoenix', 'longhorn'].indexOf(row.type) >= 0" [qLoading]="busyRows.indexOf(row) >= 0">Pull
                Printers
            </button>
            <button class="btn btn-link d-block" (click)="refreshStatus(row)">Refresh Status</button>
            <button class="btn btn-link d-block" (click)="printTestOrder(row)" *ngIf="row.printers?.length > 0">
                Print Test Order</button>
            <button class="btn btn-link d-block" (click)="suspendConnection(row)"
                *ngIf="['phoenix'].indexOf(row.type) >= 0">Suspend Connection (1 minute)</button>
            <button class="btn btn-link d-block" (click)="emulateUpdate(row)"
                *ngIf="['phoenix'].indexOf(row.type) >= 0">Emulate Update</button>
            <button class="btn btn-link d-block" (click)="remove(row)">
                Delete</button>

        </td>
    </tr>

</table>

<q-modal [title]="'Add New Printer'" #editingModal>
    <q-form-builder [object]="printerInEditing" [showDelete]="false" [fieldDescriptors]="formFieldDescriptors"
        (submit)="formSubmit($event)" (cancel)="editingModal.hide()">
        <div class="form-row" *ngIf="printerInEditing.type === 'fei-e'">
            <div class="col-12 mb-3">
                <label for="id_sn">fei-e: sn</label>
                <input class="form-control" id="id_sn" placeholder="" [(ngModel)]="printerInEditing.sn">
            </div>
            <div class="col-12 mb-3">
                <label for="id_key">fei-e: key</label>
                <input class="form-control" id="id_key" placeholder="" [(ngModel)]="printerInEditing.key">
            </div>
        </div>
    </q-form-builder>
</q-modal>