<h5>1. Get Restaurant Data</h5>
<div class="input-group">
  <input type="text" class="form-control" id="input-url" placeholder="Enter website URL" [(ngModel)]="crawUrl">
  <div class="input-group-append">
    <button class="btn btn-primary" (click)="getRestaurantData()" [qLoading]="crawling">Start Crawl</button>
  </div>
</div>
<div class="mt-2">
  <address>
    <strong>Twitter, Inc.</strong>
    <br> 1355 Market St, Suite 900
    <br> San Francisco, CA 94103
    <br>
    <abbr title="Phone">P:</abbr> (123) 456-7890
  </address>
</div>

<h5 class="mt-4">2. Insert/Update Restaurant</h5>

<div class="form-row align-items-center">
  <div class="col-auto">
    <input type="text" class="form-control mb-2" placeholder="Restaurant alias">
  </div>
  <div class="col-auto">
    <select class="custom-select mb-2">
      <option selected>Choose Time Zone...</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>
  <div class="col-auto">
    <button class="btn btn-primary mb-2">Upsert</button>
  </div>
</div>
<div>Preview Link</div>