<div class="card mb-2">
  <h3 class="card-title text-center pt-4 pb-2"><i class="fa fa-phone"></i> Phones</h3>
  <ul class="list-group">
    <li class="list-group-item">
      <table class="app-table w-100">
        <tr *ngFor="let phone of getPhones()" role="butt" (click)="edit(phone)">
          <th>{{phone.type}}</th>
          <td class="text-primary editable">{{phone.phoneNumber | tel}}</td>
          <!--<td>{{phone.textable || phone.faxable || phone.callable ? '&#10004;' : ''}}</td>-->
          <td>
            <i *ngIf="phone.callable" class="fas fa-phone-volume">&nbsp;&nbsp;</i>
            <i *ngIf="phone.textable" class="fas fa-mobile">&nbsp;&nbsp;</i>
            <i *ngIf="phone.faxable" class="fas fa-fax"></i>
          </td>
        </tr>
        <tr>
          <td colspan="3" class="text-muted">
            Click phone number to edit.
            <br> New Order Notification:
            <br>
            <span class="fas fa-phone-volume"> = Call </span>,
            <span class="fas fa-mobile"> = Text Message </span>,
            <span class="fas fa-fax"> = Fax </span>
          </td>
        </tr>
        <tr>
          <td colspan="3" class="text-muted"></td>
        </tr>
      </table>

      <div style="position:relative">
        &nbsp;
        <div class="app-card-edit">
          <a role="button" (click)="editNew()">+ Add New</a>
        </div>
      </div>

      <!--the editing modal-->
      <q-modal #phoneEditingModal>
        <app-restaurant-phone-editor [phone]="phoneInEditing" (onDone)="onDone($event)" (onCancel)="onCancel($event)"
          (onDelete)="onDelete($event)"></app-restaurant-phone-editor>
      </q-modal>

    </li>
  </ul>

</div>