<ng-container *ngIf="task && user">
    <ng-container *ngFor="let action of task.getActions(user)">
        <button class="btn btn-sm btn-primary mb-2" (click)="act(action)">{{action.name}}</button>&nbsp;
    </ng-container>
</ng-container>


<!--the editing modal-->
<q-modal #taskActionerModal [title]="activeAction?.name">
    <app-task-generic-handler *ngIf="activeAction?.name !== 'Transfer'" (cancel)="cancelAction($event)" (done)="finishAction($event)" [action]="activeAction" [task]="task"></app-task-generic-handler>
    <app-task-gmb-transfer *ngIf="activeAction?.name === 'Transfer'" [task]="task" (ok)="cancelAction()" ></app-task-gmb-transfer>
</q-modal>