<div id="action-panel" class="pt-2">
  <!-- <button *ngIf="true" class=" btn btn-info btn-status mr-4" routerLink="/yelp-accounts"> -->
    <!-- <span class="h3">Yelp Accounts</span> -->
    <!-- <hr>{{gmbAccounts.length}} <small>Published: {{publishedTotal}}, Suspended: {{suspendedTotal}}</small> -->
  <!-- </button> -->

  <!-- isGmbAdmin -->
  <button *ngIf="true" class="btn btn-success btn-status mr-4" routerLink="/yelp-businesses">
    <span class="h3">Yelp Biz</span>
    <hr>Total: {{rtWithYelp}} / {{rtWithoutYelp}}
  </button>

  <!-- <button class="btn btn-warning btn-status mr-4" routerLink="/gmb-open"> -->
    <!-- <span class="h3">Open Status</span> -->
    <!-- <hr>&nbsp; -->
  <!-- </button> -->
</div>
