
<div class="row">
  <input type="text" class="form-control" placeholder="Please input a valid format number." [(ngModel)]="formatNumber"/>
</div>
<ul class="list-group mt-2">
  <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let item of items; let i = index">
    <input class="form-check-input ml-1" type="checkbox" (change)="onChange(item)">
    <span class="ml-5">{{item.number}}- {{item.name}}</span>
  </li>
</ul>

<div class="text-right my-toolbar">
  <button class="btn btn-secodary" (click)="clickCancel()">Cancel</button>
  <button class="btn btn-primary" (click)="clickOk()">OK</button>
</div>
