<div>
  <span class="mx-2 my-2">
    <b class="text-success">Users Online Now:</b> {{stats.checkedInUsers.join(', ')}}
  </span>
</div>
<div class="mt-2">
  <button class="btn btn-link float-right" (click)="clickNew()">Add New Routine</button>
</div>

<!-- Routines Display -->
<div>
  <h1 class="text-center"> Admin Routine Dashboard </h1>
  <div class="row logs-filters">
    <div class="col-auto">
      <div class="input-group">
        <select class="custom-select" [(ngModel)]="routineViewBy">
          <option *ngFor="let viewBy of routineViewBys" [value]="viewBy">{{viewBy}}</option>
        </select>
      </div>
    </div>
  </div>
  <app-routine-list *ngIf="this.routineViewBy === routineViewTypes.Routine;else viewBlock" [routineList]="routines"
    [instanceList]="routineInstances" [user]="user" [fullDisplayMode]="true" (sendReport)="postNewInstance($event)"
    (editRoutine)="edit($event)">
  </app-routine-list>
  <ng-template #viewBlock>
    <table class="table table-sm">
      <thead>
        <th class="text-center">Agent Name</th>
        <th class="text-center">Num Task</th>
        <th class="text-center">Tasks List (instances completed)</th>
      </thead>
      <tbody>
        <tr *ngFor="let routinesOfAgent of routinesOfAgents;">
          <td class="text-center">
            {{routinesOfAgent.agentName || 'None'}}
          </td>
          <td class="text-center">
            {{routinesOfAgent.numTask || 0}}
          </td>
          <td class="text-center">
            <ng-container *ngIf="routinesOfAgent.tasksList;else tBlock">
              {{routinesOfAgent.tasksList.join('; ')}}
            </ng-container>
            <ng-template #sBlock>
              N/A
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-template>
</div>

<hr>

<!-- Logs Display -->
<div>
  <div class="row logs-filters">
    <div class="col-auto">
      <div class="input-group">
        <label>Select a Routine to View Logs:</label>
        <select class="custom-select " [(ngModel)]="selectedRoutineName" (change)="filterRoutineLogs()">
          <option *ngFor="let name of routineNames" [value]="name">{{name}}</option>
        </select>
      </div>
    </div>
    <div class="col-auto">
      <div class="input-group">
        <label>Filter by agent:</label>
        <select class="custom-select " [(ngModel)]="selectedAgent" (change)="filterRoutineLogs()">
          <option *ngFor="let agent of agents" [value]="agent">{{agent}}</option>
        </select>
      </div>
    </div>
  </div>

  <h2 class="text-center text-capitalize">
    {{selectedRoutineName === 'All' ? 'All' : selectedRoutine[0]?.name || ""}} Routine Logs
    ({{selectedInstanceList.length || 0}})
  </h2>
  <app-routine-instance-list [routineList]="selectedRoutine" [fullDisplayModeAndShowAll]="selectedRoutineName === 'All'"
    [instanceList]="selectedInstanceList" [fullDisplayMode]="true">
  </app-routine-instance-list>
</div>

<!-- Editor -->
<q-modal #routineEditingModal>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>
  <h4 class="text-center">{{routineInEditing._id ? 'Edit Routine' : 'Create New Routine'}}</h4>
  <hr>
  <q-form-builder [object]="routineInEditing" [fieldDescriptors]="routineFieldDescriptors"
    (submit)="submitRoutine($event)" (remove)="removeRoutine($event)" (cancel)="routineEditingModal.hide()"
    [showDelete]="routineInEditing._id">
    <div class="form-group">
      <label>Metrics:</label>
      <ul class="list-group my-2">
        <li *ngFor="let metric of routineInEditing.metrics || []"
          class="list-group-item d-flex justify-content-between align-items-left">
          <div class="d-inline-block"><strong>{{metric.name}}</strong>
            <div>{{metric.type}}</div>
            <div>{{(metric.values || []).join(', ')}}</div>
          </div>
          <button class="btn btn-link pt-0" (click)="removeMetric(metric)">&times;</button>
        </li>
      </ul>
      <div class="row">
        <div class="col-3 pr-0">
          <input [(ngModel)]="metric.name" class="form-control" type="text" placeholder="Name">
        </div>
        <div class="col-3 pr-0">
          <select class="form-control" [(ngModel)]="metric.type">
            <option *ngFor="let t of ['string', 'number', 'date']" [ngValue]="t">{{t}}</option>
          </select>
        </div>
        <div class="col-4 pr-0">
          <input class="form-control" type="text" placeholder="Enum values" [(ngModel)]="metricValues">
        </div>
        <div class="col-2 pr-0">
          <button class="btn btn-link" (click)="addMetric()">+ Add</button>
        </div>
      </div>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" [(ngModel)]="routineInEditing.disabled">
        Disabled
      </label>
    </div>
  </q-form-builder>
</q-modal>
