<div class="card">
  <h2 class="card-title m-3">
    <h1 class="text-center">Disabled Restaurants ({{restaurants.length}})</h1>
  </h2>
  <div class="card-body">
    <q-table [rows]="restaurants" [tableColumnDescriptors]="restaurantsColumnDescriptors" [compact]="true"
      [pageSize]="100000">
      <tr *tableRowTemplate="let r;">
        <td>{{restaurants.indexOf(r) + 1}}</td>
        <td>
          <a routerLink="/restaurants/{{r['_id']}}">{{r.name}} </a>
          <div class="text-muted">
            <small>{{r.googleAddress?.formatted_address}}</small>
          </div>
        </td>
        <td>
          {{(r.rateSchedules || [])[0]?.agent || 'N/A'}}
        </td>
        <td>
          {{getTime(r.createdAt) | dateTz: 'MMM d, yyyy' : r.googleAddress?.timezone }}
        </td>
        <td>
          {{getTime(r.disabledAt) | dateTz: 'MMM d, yyyy' : r.googleAddress?.timezone }}
        </td>
        <td>
          {{r.lifetime}}
        </td>
      </tr>
    </q-table>
  </div>
</div>
