<div *qIf="!restaurant">
  <label>Select Restaurant:</label>
  <q-restaurant-picker #myRestaurantPicker [restaurants]="restaurantList" (select)="select($event)"></q-restaurant-picker>
</div>
<div class="clearfix alert alert-info" *qIf="restaurant">
  <div class="media float-left">
    <img *ngIf="restaurant?.logo" class="mr-2" src="{{restaurant?.logo}}" alt="Generic placeholder image" style="height: 2rem;">
    <div class="media-body">
      <h6 class="mt-0">{{restaurant?.name}}
        <small *ngFor="let phone of getPhones(restaurant)" class="text-muted ml-2">{{phone | phone}}</small>
      </h6>
      <small class="d-block text-muted">{{restaurant?.googleAddress?.formatted_address}}</small>
    </div>
  </div>
  <div class="float-right">
    <button class="btn btn-link" (click)="resetRestaurant()">Reset</button>
  </div>
</div>

<q-form-builder [object]="paymentMeans" [showDelete]="paymentMeansOriginal" [fieldDescriptors]="paymentMeansFieldDescriptors"
  (submit)="submit($event)" (cancel)="clickCancel()" (remove)="clickRemove($event)">

  <div class="form-group" *ngIf="paymentMeans.type === 'Quickbooks Bank Withdraw' || paymentMeans.type === 'Direct Deposit'">
    <label>Bank Info</label>
    <div class="card text-white bg-info p-2">
      <img src="assets/images/check.png" width="311px" height="165px" alt="check image">
      <div class="form-group">
        <label>Name on Check</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="John Doe"  [(ngModel)]="paymentMeans.details.name"/>
        </div>
      </div>
      <div class="form-group">
        <label>Address</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="address"  [(ngModel)]="paymentMeans.details.address"/>
        </div>
      </div>
      <div class="form-group">
        <label>Routing Number</label>
        <div class="input-group">
          <input type="tel" class="form-control"  [(ngModel)]="paymentMeans.details.routingNumber"/>
        </div>
      </div>
      <div class="form-group">
        <label>Account Number</label>
        <div class="input-group">
          <input type="tel" class="form-control"  [(ngModel)]="paymentMeans.details.accountNumber"/>
        </div>
      </div>
      <div class="form-group">
        <label>Memo</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Extra comments"  [(ngModel)]="paymentMeans.details.memo"/>
        </div>
      </div>
    </div>
  </div>


  <div class="form-group" *ngIf="paymentMeans.type === 'Credit Card'">
    <label>Credit Card Details</label>
    <div class="card text-white bg-info p-2">
      <div class="form-group">
        <label>Name on Card</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="John Doe"  [(ngModel)]="paymentMeans.details.name"/>
        </div>
      </div>
      <div class="form-group">
        <label>Card Number</label>
        <div class="input-group">
          <input type="tel" class="form-control"  [(ngModel)]="paymentMeans.details.cardNumber"/>
        </div>
      </div>
      <div class="row">
        <div class="col-6 form-group">
          <label>Expiry</label>
          <div class="input-group">
            <input type="text" class="form-control"  [(ngModel)]="paymentMeans.details.expiry"/>
          </div>
        </div>
        <div class="col-6 form-group">
          <label>CV Code</label>
          <div class="input-group">
            <input type="tel" class="form-control"  [(ngModel)]="paymentMeans.details.cvc"/>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="form-group" *ngIf="paymentMeans.type === 'Check Deposit'">
    <label>Payment Receiver Details</label>
    <div class="card text-white bg-info p-2">
      <div class="form-group">
        <label>Payee Name</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="John Doe"  [(ngModel)]="paymentMeans.details.name"/>
        </div>
      </div>
      <div class="form-group">
        <label>Address</label>
        <div class="input-group">
          <input type="text" class="form-control"  [(ngModel)]="paymentMeans.details.address"/>
        </div>
      </div>
      <div class="form-group">
        <label>Memo</label>
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="paymentMeans.details.memo"/>
        </div>
      </div>

    </div>
  </div>
</q-form-builder>