<div *qIf="!restaurant">
  <label>Select Restaurant:</label>
  <q-restaurant-picker #myRestaurantPicker [restaurants]="restaurantList" (select)="select($event)"></q-restaurant-picker>
</div>
<div class="clearfix alert alert-info" *qIf="restaurant">
  <div class="media float-left">
    <img *ngIf="restaurant?.logo" class="mr-2" src="{{restaurant?.logo}}" alt="Generic placeholder image" style="height: 2rem;">
    <div class="media-body">
      <h6 class="mt-0">{{restaurant?.name}}
        <small *ngFor="let phone of getPhones(restaurant)" class="text-muted ml-2">{{phone | phone}}</small>
      </h6>
      <small class="d-block text-muted">{{restaurant?.googleAddress?.formatted_address}}</small>
    </div>
  </div>
  <div class="float-right">
    <button class="btn btn-link" (click)="resetRestaurant()">Reset</button>
  </div>
</div>


<q-form-builder [object]="paymentMeans" [showDelete]="originalPaymentMeans" [fieldDescriptors]="paymentMeansFieldDescriptors"
  (submit)="submit($event)" (cancel)="clickCancel()" (remove)="clickRemove($event)">
  type = {{paymentMeans.type}}
  <div class="form-group" *ngIf="paymentMeans.type === 'Check'">
    <label>More Details</label>
    <div>
      Check (normally nothing)
    </div>
  </div>
  <div class="form-group" *ngIf="paymentMeans.type === 'Quickbooks Invoicing'">
    <label>More Details</label>
    <div>
      Quickbooks Invoicing
    </div>
  </div>
  <div class="form-group" *ngIf="paymentMeans.type === 'Quickbooks Bank Withdraw'">
    <label>More Details</label>
    <div>
      Quickbooks Bank Withdraw
    </div>
  </div>
  <div class="form-group" *ngIf="paymentMeans.type === 'Credit Card'">
    <label>More Details</label>
    <div>
      Credit Card
    </div>
  </div>
  <div class="form-group" *ngIf="paymentMeans.type === 'Stripe'">
    <label>More Details</label>
    <div>
      Stripe
    </div>
  </div>
  <div class="form-group" *ngIf="paymentMeans.type === 'Direct Deposit'">
    <label>More Details</label>
    <div>
      Direct Deposit
    </div>
  </div>
  <div class="form-group" *ngIf="paymentMeans.type === 'Check Deposit'">
    <label>More Details</label>
    <div>
      Check Deposit
    </div>
  </div>

</q-form-builder>