<ng-container *ngIf="gmbRows">
  <div *ngIf="gmbRows.length === 0">
    No GMB found for the restaurant.
  </div>
  <div class="alert alert-info" *ngIf="gmbRows.length > 1">
    <h1>{{gmbRows.length}} GMBs</h1>
  </div>

  <div class="card text-right mb-4">
    <div class="card-body">
      <span *ngIf="restaurant.gmbOrigin">Gained by {{restaurant.gmbOrigin.origin}} on
        {{restaurant.gmbOrigin.time | date:'shortDate'}} </span>
      <span *ngIf="restaurant.googleListing" class="px-4">Main cid: <strong>{{restaurant.googleListing?.cid}}</strong>
        |
        Crawled: {{restaurant.googleListing.crawledAt | ago : now}}</span>
      <button class="btn btn-primary" [qLoading]="apiRequesting" (click)="refreshMainListing()">Crawl Main
        Listing</button>
      <div *ngIf="restaurant.googleListing && !hasMainGmb()" class="my-2">
        No main GMB found.
        <button class="btn btn-primary" [qLoading]="apiRequesting" (click)="createOrMatchMainGmb()">Create or Match
          Main GMB</button>
      </div>
    </div>
  </div>
  <div class="card mb-2" *ngFor="let row of gmbRows">
    <h3 class="card-title text-center pt-4 pb-0">
      <i class="fab fa-google"></i>
      <span class="text-success" *ngIf="isPublished(row); else notPublished">Published ✓</span>
      <ng-template #notPublished>
        <span class="text-danger">No Ownership ✗</span>
      </ng-template>
      <h6 style="position: absolute; top: 0; left: 0" class="p-2 text-left">
        <span *ngIf="row.gmbBiz.cid === restaurant.googleListing?.cid" class="text-success">Main</span>
        <span *ngIf="restaurant.googleListing && row.gmbBiz.cid !== restaurant.googleListing.cid"
          class="text-danger">Secondary</span>
        <br>
        <small class="text-muted">cid: {{row.gmbBiz.cid}} <br>place_id: {{row.gmbBiz.place_id}}</small>
      </h6>
      <h6 *ngIf="isAdmin" style="position: absolute; top: 0; right: 0" class="p-2">Score:
        {{(restaurant.score || 0) | number : '1.0-0'}}</h6>
    </h3>
    <div class="text-center">
      <ng-container *ngIf="row.gmbBiz.name !== restaurant.name">
        <h6>{{row.gmbBiz.name}}</h6>
        <div>
          <button class="btn btn-link" *ngIf="row.gmbBiz.qmenuId" (click)="unlink(row)">Unlink GMB</button>
        </div>
      </ng-container>

      <div class="alert alert-danger" *ngIf="row.gmbBiz.closed">Marked as Permanently Closed at Google</div>
      <small>
        {{row.gmbBiz.address}}
      </small>
    </div>
    <div class="text-center">
      <small>
        Listing crawled: {{row.gmbBiz.crawledAt | ago : now}}
      </small></div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <table class="app-table w-100">
          <tr>
            <th></th>
            <th>URL</th>
            <th>Desired?</th>
            <th>Insisted?</th>
          </tr>
          <tr>
            <th>GMB Website</th>
            <td><a href="{{row.gmbBiz.gmbWebsite}}" title="{{row.gmbBiz.gmbWebsite}}"
                target="_blank">{{row.gmbBiz.gmbWebsite}}</a></td>
            <td>
              <span *ngIf="isWebsiteOk(row.gmbBiz)" class="text-success">✓</span>
              <span *ngIf="!isWebsiteOk(row.gmbBiz)" class="text-danger">✗</span>
            </td>
            <td>
              {{restaurant.web.useBizWebsite || restaurant.web.useBizWebsiteForAll ? 'Yes' : 'No'}}
            </td>
          </tr>
          <tr>
            <th>GMB Menu URLs</th>
            <td>
              <div *ngFor="let menuUrl of row.gmbBiz.menuUrls">
                <a href="{{menuUrl}}" title="{{menuUrl}}" target="_blank">{{menuUrl | host}}</a>
              </div>
            </td>
            <td>
              <span *ngIf="isOthersOk(row.gmbBiz, 'menuUrls', 'menuUrl')" class="text-success">✓</span>
              <span *ngIf="!isOthersOk(row.gmbBiz, 'menuUrls', 'menuUrl')" class="text-danger">✗</span>
            </td>
            <td>
              {{restaurant.web.useBizMenuUrl || restaurant.web.useBizWebsiteForAll ? 'Yes' : 'No'}}
            </td>
          </tr>

          <tr>
            <th>GMB Order Services</th>
            <td>
              <div *ngFor="let orderUrl of row.gmbBiz.serviceProviders">
                <a href="{{orderUrl}}" title="{{orderUrl}}" target="_blank">{{orderUrl | host}}</a>
              </div>
            </td>
            <td>
              <span *ngIf="isOthersOk(row.gmbBiz, 'serviceProviders', 'orderAheadUrl')" class="text-success">✓</span>
              <span *ngIf="!isOthersOk(row.gmbBiz, 'serviceProviders', 'orderAheadUrl')" class="text-danger">✗</span>
            </td>
            <td>
              {{restaurant.web.useBizOrderAheadUrl || restaurant.web.useBizWebsiteForAll ? 'Yes' : 'No'}}
            </td>
          </tr>

          <tr>
            <th>GMB Reservations</th>
            <td>
              <div *ngFor="let reservationUrl of row.gmbBiz.reservations">
                <a href="{{reservationUrl}}" title="{{reservationUrl}}" target="_blank">{{reservationUrl | host}}</a>
              </div>
            </td>
            <td>
              <span *ngIf="isOthersOk(row.gmbBiz, 'reservations', 'reservation')" class="text-success">✓</span>
              <span *ngIf="!isOthersOk(row.gmbBiz, 'reservations', 'reservation')" class="text-danger">✗</span>
            </td>
            <td>
              {{restaurant.web.useBizReservationUrl || restaurant.web.useBizWebsiteForAll ? 'Yes' : 'No'}}
            </td>
          </tr>
          <tr class="bg-light">
            <th>qMenu Website</th>
            <td colspan="3">
              <a *ngIf="restaurant.web?.qmenuWebsite" href="{{restaurant.web?.qmenuWebsite}}"
                title="{{restaurant.web?.qmenuWebsite}}" target="_blank">{{restaurant.web?.qmenuWebsite}}</a>
            </td>
          </tr>
          <tr class="bg-light" *ngIf="restaurant.web?.bizManagedWebsite">
            <th>Restaurant's Own Website</th>
            <td colspan="3">
              <a href="{{restaurant.web?.bizManagedWebsite}}" title="{{restaurant.web?.bizManagedWebsite}}"
                target="_blank">{{restaurant.web?.bizManagedWebsite}}</a>
              <div class="text-muted" *ngIf="restaurant.web?.useBizWebsite">
                Insisted website
              </div>
              <div class="text-muted" *ngIf="restaurant.web?.useBizWebsiteForAll">
                Insisted ALL
              </div>
            </td>
          </tr>
        </table>
        <div class="text-right">
          <button class="btn btn-link" (click)="inject(row)">Inject Desired Website</button>
          <button class="btn btn-link" (click)="refreshListing(row.gmbBiz)">Refresh Listing</button>
          <!-- <button class="btn btn-link" (click)="injectInfo(row.gmbBiz)" [disabled]="!row.gmbAccount">Inject Info</button> -->
          <a href="https://www.google.com/search?ludocid={{row.gmbBiz.cid}}&q={{row.gmbBiz.name + ' ' + row.gmbBiz.address}}"
            target="_blank" class="btn btn-link">
            View on Google</a>
        </div>

      </li>
      <li class="list-group-item">

        <table class="app-table w-100">
          <ng-container *ngFor="let alPair of row.accountLocationPairs; let i = index;">
            <tr>
              <th class="bold-button">
                <app-gmb-account-hotlink [email]="alPair.account.email"></app-gmb-account-hotlink>
                <div class="text-muted">
                  <small>Appeal Id: {{alPair.location.appealId}}</small><br>
                  <small>Scanned: {{alPair.account.gmbScannedAt | ago : now}}</small>
                </div>

              </th>
              <td class="pl-1">
                <ng-container *ngFor="let record of alPair.statusHistory;">
                  <div
                    class="d-inline-block alert alert-{{record.status === 'Published' ? 'success' : (record.status === 'Suspended' ? 'warning' : 'danger')}} p-2">
                    <span>{{record.status}}</span>
                    <hr class="my-0"><small>{{record.time | ago : now}}</small>
                  </div>
                </ng-container>
              </td>
            </tr>
            <tr *ngIf="getGmbRequests(row.gmbBiz, alPair.account.email).length > 0">
              <th class="">Email Requests
                <div class="text-muted">
                  <small>Scanned: {{alPair.account.emailScannedAt | ago : now}}</small>
                </div>
              </th>
              <td class="pl-1">
                <div *ngFor="let gmbRequest of getGmbRequests(row.gmbBiz, alPair.account.email)"
                  class="{{gmbRequest.isSelf ? 'text-success' : ''}}">
                  {{gmbRequest.date | ago : now}} {{gmbRequest.email | emailName}}
                </div>
              </td>
            </tr>
            <tr *ngIf="i !== row.accountLocationPairs.length - 1">
              <td colspan="2">
                <hr>
              </td>
            </tr>
          </ng-container>

        </table>
      </li>

      <li class="list-group-item">
        <h4>Outstanding Tasks</h4>
        <app-task-bar *ngFor="let task of row.outstandingTasks" [task]="task"></app-task-bar>

      </li>

    </ul>
  </div>

</ng-container>