<h1 class="text-center">Couriers</h1>
<div class="row">
  <!-- row has negative margins and we need to remove them! -->
  <div *ngFor="let courier of couriers" class="col-sm-12 col-md-6 col-lg-4 mb-4">
    <div class="card card-body text-center">
      <h2>{{courier.name}}</h2>
      <div>TIMEZONE IS NOT IMPLEMENTED!</div>
      <div class="text-muted" *ngIf="courier.timezone"><small>Timezone: {{courier.timezone}}</small></div>

      <q-toggle [(ngModel)]="courier.enabled" (change)="toggleEnabled(courier, $event)"></q-toggle>
      <div><strong>{{courier.enabled? 'Accepting deliveries' : 'Not accepting deliveries'}}</strong></div>

      <ul class="list-group mt-3">
        <li class="list-group-item" *ngFor="let pricing of (courier.pricings || [])">
          <div>
            <div *ngFor="let item of pricing.items || []" class="row text-center">
              <div class="col-4">
                {{item.distance}} miles
              </div>
              <div class="col-4">
                {{item.orderMinimum | currency:'USD':'symbol'}}
              </div>
              <div class="col-4">
                {{item.charge | currency:'USD':'symbol'}}
              </div>
            </div>

            <lib-hours-viewer [hours]="pricing.hours"></lib-hours-viewer>

          </div>
          <div class="text-right">
            <button class="btn btn-link py-0" (click)="editPricing(courier, pricing)"><i class="far fa-edit"></i>
              Edit</button>
          </div>
        </li>
        <li class="list-group-item text-right" *ngIf="courier.name !== 'Postmates'">
          <button type="button" class="btn btn-link" (click)="editPricing(courier, null)">
            + Add Pricing</button>
        </li>
      </ul>

      <h3 class="mt-4">Drivers ({{(courier.drivers || []).length}})</h3>
      <ul class="list-group mt-2">
        <li class="list-group-item d-flex justify-content-between align-items-left"
          *ngFor="let driver of courier.drivers || []">

          <div class="d-flex justify-content-between w-100">
            <div>
              <strong>{{driver.firstName}} {{driver.lastName}}</strong><span *ngIf="driver.isManager"> (manager)</span>
            </div>
            <span class="bg-{{driver.online ? 'success' : 'danger'}} px-1 text-light">{{driver.online ? 'Online' : 'Offline'}}</span>
          </div>

        </li>
      </ul>

      <h3 class="mt-4">Restaurants ({{getCourierRestaurants(courier).length}})</h3>
      <ul class="list-group mt-2">
        <li class="list-group-item d-flex justify-content-between align-items-left"
          *ngFor="let restaurant of getCourierRestaurants(courier)">
          <a class="media text-left" routerLink="/restaurants/{{restaurant._id}}" target="__blank">
            <q-restaurant-media-object [restaurant]="restaurant"></q-restaurant-media-object>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>


<q-modal #pricingModal>
  <q-form-builder [object]="pricingInEditing" [showDelete]="this.pricingInEditingOriginal"
    [fieldDescriptors]="pricingFieldDescriptors" (submit)="pricingSubmit($event)" (cancel)="pricingCancel()"
    (remove)="pricingDelete($event)">

    <div class="form-group">
      <label>Breakdown by Miles</label>


      <table class="table app-borderless w-100">
        <thead>
          <tr>
            <th class="text-center">Distance (mile)</th>
            <th class="text-center">Order Minimum</th>
            <th class="text-center">Charge</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of pricingInEditing.items">
            <td class="text-center">
              <input type="number" class="form-control" [(ngModel)]="item.distance">
            </td>
            <td class="text-center">
              <input type="number" class="form-control" [(ngModel)]="item.orderMinimum">
            </td>
            <td class="text-center">
              <input type="number" class="form-control" [(ngModel)]="item.charge">
            </td>
            <td class="text-right">
              <button class="btn btn-link py-0" (click)="removeItem(item)"><i class="fas fa-trash-alt"></i>
                Delete</button>
            </td>
          </tr>
          <tr>
          <tr>
            <td class="text-right" colspan="3">
              <button type="button" class="btn btn-link" (click)="addNewItem()">
                + Add New Row</button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

    <div class="form-group">
      <label>Delivery Hours</label>
      <div>
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center"
            *ngFor="let hour of pricingInEditing.hours">
            {{hour.toDayString()}} {{hour.toHourString()}}
            <button class="btn btn-link py-0" (click)="removeHour(hour)"><i class="fas fa-trash-alt"></i>
              Delete</button>
          </li>
          <li class="list-group-item text-right">
            <button type="button" class="btn btn-link" (click)="addingHours = !addingHours">
              + Add Hours</button>
            <div class="alert alert-secondary my-mb-huge mt-2" *ngIf="addingHours">
              <lib-hours-picker (cancel)="addingHours = false" (submit)="doneAddingHours($event)"></lib-hours-picker>
            </div>
          </li>
        </ul>

      </div>
    </div>

  </q-form-builder>
</q-modal>