<div *ngIf="apiRequesting">Loading...</div>
<div *ngIf="!restaurant">
  <div *ngIf="!apiRequesting">NO RESTAURANT FOUND</div>
</div>

<div *ngIf="restaurant">
  <div class="text-center text-light">
    <q-banner [maskingColor]="'rgba(0, 0, 0, 0.3)'"
      [backgroundImageUrl]="(restaurant.images && restaurant.images[restaurant.images.length - 1] || '')">
      <div>
        <img src="{{restaurant.logo}}" [attr.alt]="restaurant.name" class="logo">
      </div>
      <h2>{{restaurant.name}}</h2>

      <div class="small">
        {{restaurant.googleAddress.formatted_address}}
      </div>
      <h1 *ngIf="restaurant.disabled" class="alert alert-danger">DISABLED</h1>
    </q-banner>
  </div>
</div>

<div *ngIf="restaurant && readonly">
  <app-restaurant-profile [restaurant]="restaurant"></app-restaurant-profile>
</div>

<div *ngIf="restaurant && !readonly">
  <div class="p-t-1 pt-1 p-b-1 pb-1">
    <button (click)="toggleTextReply()" class="btn btn-secondary fa fa-comments"> Send Text Message</button>
    <button (click)="toggleGooglePIN()" class="btn btn-secondary fa fa-comments"> Send Google PIN Message</button>
  </div>


  <div *qIf="displayGooglePIN">
    <send-google-pin [restaurantId]="restaurant._id"></send-google-pin>
  </div>

  <div *qIf="displayTextReply">

    <textarea rows="4" class="form-control mt-1" type="text" [(ngModel)]="message"></textarea>
    <div class="form-group {{isPhoneValid(phoneNumber)? '' : 'is-invalid'}}">
      <input id="profile-phone-number" [(ngModel)]="phoneNumber" type="tel" class="form-control mt-1"
        placeholder="customer phone #">
    </div>
    <button (click)="sendText()" [disabled]="!isValid()" class="btn btn-primary btn-block mt-1">Send</button>
    <div class="mt-1 alert-success" *ngIf="textedPhoneNumber">
      <small>Text was sent to {{textedPhoneNumber}}. Thank you!</small>
    </div>
    <hr>
  </div>

  <div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item" *ngFor="let tab of tabs">
          <a class="nav-link {{activeTab === tab? 'active' : ''}}" (click)="setActiveTab(tab)"
            style="cursor: pointer;">{{tab}}</a>
        </li>
      </ul>
    </div>
    <div class="card-body">

      <div *ngIf="activeTab === 'Menus'">
        <app-menus [restaurant]="restaurant" (onVisitMenuOptions)="activeTab = 'Menu Options'"
          (menusChanged)="loadDetails()"></app-menus>
      </div>

      <div *ngIf="activeTab === 'Menu Options'">
        <app-menu-options [restaurant]="restaurant"></app-menu-options>
      </div>

      <div *ngIf="activeTab === 'Invoices'">
        <app-restaurant-invoices [restaurant]="restaurant"></app-restaurant-invoices>
      </div>
      <div *ngIf="activeTab === 'Orders'">
        <app-restaurant-orders [restaurant]="restaurant"></app-restaurant-orders>
      </div>
      <div *ngIf="activeTab === 'Yelp'">
        <app-restaurant-yelp [restaurant]="restaurant"></app-restaurant-yelp>
      </div>
      <div *ngIf="activeTab === 'GMB'">
        <app-restaurant-gmb [restaurant]="restaurant"></app-restaurant-gmb>
      </div>
      <div class="row mt-4" *ngIf="activeTab === 'Settings'">
        <div class="col-xl-6" *ngIf="isSectionVisible('profile')">
          <app-restaurant-profile [restaurant]="restaurant" [editable]="true"></app-restaurant-profile>
        </div>
        <div class="col-xl-6" *ngIf="isSectionVisible('webSettings')">
          <app-restaurant-web-settings [restaurant]="restaurant"></app-restaurant-web-settings>
        </div>
        <div class="col-xl-6" *ngIf="isSectionVisible('serviceSettings')">
          <app-restaurant-service-settings [restaurant]="restaurant"></app-restaurant-service-settings>
        </div>
        <div class="col-xl-6" *ngIf="isSectionVisible('closedHours')">
          <app-restaurant-closed-hours [restaurant]="restaurant"></app-restaurant-closed-hours>
        </div>
        <div class="col-xl-6" *ngIf="isSectionVisible('deliverySettings')">
          <app-restaurant-delivery-settings [restaurant]="restaurant"></app-restaurant-delivery-settings>
        </div>
        <div class="col-xl-6" *ngIf="isSectionVisible('promotions')">
          <app-restaurant-promotions [restaurant]="restaurant"></app-restaurant-promotions>
        </div>

        <div class="col-xl-6" *ngIf="isSectionVisible('cloudPrinting')">
          <app-restaurant-cloud-printing [restaurant]="restaurant"></app-restaurant-cloud-printing>
        </div>

        <div class="col-xl-6" *ngIf="isSectionVisible('contacts')">
          <app-restaurant-contacts [restaurant]="restaurant"></app-restaurant-contacts>
        </div>

        <div class="col-xl-6" *ngIf="isSectionVisible('paymentMeans') || isMarketerAndCreatedLessThan14Days()">
          <app-restaurant-payment-means [restaurant]="restaurant"></app-restaurant-payment-means>
        </div>
        <div class="col-xl-6" *ngIf="isSectionVisible('rateSchedules')">
          <app-restaurant-rate-schedules [restaurant]="restaurant" [users]="knownUsers"></app-restaurant-rate-schedules>
        </div>
      </div>
      <div *ngIf="activeTab === 'Logs'">
        <app-restaurant-logs [restaurant]="restaurant"></app-restaurant-logs>
      </div>
      <div *ngIf="activeTab === 'Tasks'">
        <app-restaurant-tasks [restaurant]="restaurant"></app-restaurant-tasks>
      </div>
      <div *ngIf="activeTab === 'Diagnostics'">
        <app-restaurant-diagnostics [restaurant]="restaurant"></app-restaurant-diagnostics>
      </div>
      <div *ngIf="activeTab === 'GMB Posts'">
        <app-restaurant-gmb-posts [restaurant]="restaurant"></app-restaurant-gmb-posts>
      </div>
      <div *ngIf="activeTab === 'Web Template'">
        <app-restaurant-web-template [restaurant]="restaurant"></app-restaurant-web-template>
      </div>
      <div *ngIf="activeTab === 'API Logs'">
        <app-restaurant-api-logs [restaurant]="restaurant"></app-restaurant-api-logs>
      </div>
    </div>
  </div>
</div>