<div *ngIf="restaurant">
  <div class="text-center text-light">
    <q-banner [maskingColor]="'rgba(0, 0, 0, 0.3)'" [backgroundImageUrl]="(restaurant.images && restaurant.images[restaurant.images.length - 1] || '')">
      <div>
        <img src="{{restaurant.logo}}" [attr.alt]="restaurant.name" class="logo">
      </div>
      <h2>{{restaurant.name}}</h2>

      <div class="small">
        {{getLine1(restaurant.googleAddress)}}
        <br> {{getLine2(restaurant.googleAddress)}}
      </div>
    </q-banner>
  </div>

  <div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item" *ngFor="let tab of tabs">
          <a class="nav-link {{activeTab === tab? 'active' : ''}}" (click)="setActiveTab(tab)" style="cursor: pointer;">{{tab}}</a>
        </li>
      </ul>
    </div>
    <div class="card-body">

      <div *ngIf="activeTab === 'Menus'">
        <app-menus [restaurant]="restaurant"></app-menus>
      </div>

      <div *ngIf="activeTab === 'Menu Options'">
        <app-menu-options [restaurant]="restaurant"></app-menu-options>
      </div>

      <div *ngIf="activeTab === 'Invoices'">
        <app-restaurant-invoices [restaurant]="restaurant"></app-restaurant-invoices>
      </div>

      <!-- <div *ngIf="activeTab === 'Orders'">
        <app-restaurant-orders ></app-restaurant-orders>
      </div> -->

      <div class="row mt-4" *ngIf="activeTab === 'Settings'">
        <div class="col-xl-6" *ngIf="isSectionVisible('profile')">
          <app-restaurant-profile [restaurant]="restaurant"></app-restaurant-profile>
        </div>
        <div class="col-xl-6" *ngIf="isSectionVisible('contacts')">
          <app-restaurant-contacts [restaurant]="restaurant"></app-restaurant-contacts>
        </div>
        <div class="col-xl-6" *ngIf="isSectionVisible('paymentMeans')">
          <app-restaurant-payment-means [restaurant]="restaurant"></app-restaurant-payment-means>
        </div>
        <div class="col-xl-6" *ngIf="isSectionVisible('rateSchedules')">
          <app-restaurant-rate-schedules [restaurant]="restaurant"></app-restaurant-rate-schedules>
        </div>
        <div class="col-xl-6" *ngIf="isSectionVisible('serviceSettings')">
          <app-restaurant-service-settings [restaurant]="restaurant"></app-restaurant-service-settings>
        </div>
        <div class="col-xl-6" *ngIf="isSectionVisible('closedDays')">
          <app-restaurant-closed-days [restaurant]="restaurant"></app-restaurant-closed-days>
        </div>
        <div class="col-xl-6" *ngIf="isSectionVisible('promotions')">
          <app-restaurant-promotions [restaurant]="restaurant"></app-restaurant-promotions>
        </div>
        <div class="col-xl-6" *ngIf="isSectionVisible('cloudPrinting')">
          <app-restaurant-cloud-printing [restaurant]="restaurant"></app-restaurant-cloud-printing>
        </div>
      </div>
    </div>
  </div>

</div>