.btn-card {
    display: inline-block;
    width: 20rem;
    margin-bottom: 2rem;
    cursor: pointer;
}
/deep/ .banner-container {
    margin-left: -15px;
    margin-right: -15px;
    padding: 20px;
}

.logo {
    padding: 0.25rem;
    border: 1px solid #dee2e6;
    border-radius: 1px;
    max-height: 4rem;
    width: auto;
}

h1 {
    text-shadow: 1px 1px 1px #777;
}

.small {
    font-size: 80%;
}