
<div class="container-fluid">
  <div class="row d-flex justify-content-between">
    <div>
      <label class="mr-2">Current Template:</label> {{this.restaurant?.web?.templateName}}
    </div>
    <div>
      <button class="btn btn-primary btn-sm" (click)="republishToAWS()">Re-Publish Website to AWS</button>
      <button class="btn btn-link btn-sm" (click)="crawlTemplate()">Re-Crawl Template</button>
      <button class="btn btn-link btn-sm" (click)="revertToDefaults()">Revert to Defaults</button>
    </div>
  </div>

  <div class="row d-flex align-items-center">
    <label class="m-0 pr-2">Switch to Template: </label>
    <q-edit-label [value]="currentTemplateName" [type]="'select'" [options]="templateNames" (edit)="onChangeTemplate($event)"></q-edit-label>
  </div>

<!--  <div class="row mt-2 d-flex justify-content-end">-->
<!--    <label>-->
<!--      <input type="checkbox" [checked]="isCustomTemplate" [(ngModel)]="isCustomTemplate" (change)="toggleCustomTemplate($event)">-->
<!--       Is Custom Template-->
<!--    </label>-->
<!--  </div>-->

  <!-- Part A -->
  <div class="row mt-4 mb-4">
    <div class="col-md-6">
      <img src="https://chopst.s3.amazonaws.com/menuImage/1623335731300.png" class="img-fluid" alt="">
    </div>

    <div class="col-md-6">
      <h3>Part A</h3>
      <div class="row d-flex align-items-center">
        <div class="col-md-2">
          <label>1: Title</label>
        </div>
        <div class="col-md-10">
          <input type="text" class="form-control" [(ngModel)]="sectionATitle" placeholder="China Village">
        </div>
      </div>

      <div class="row d-flex align-items-center mt-4">
        <div class="col-md-2">
          <label>2: Slogan</label>
        </div>
        <div class="col-md-10">
          <input type="text" class="form-control" [(ngModel)]="sectionAslogan" placeholder="Best Food, Great Value">
        </div>
      </div>

      <h5 class="mt-3">3:</h5>
      <div *ngFor='let link of navBarLinks' class="row mt-2">
        <div class="col-md-3">
          <div class="row">
            <div class="col-md-3 ">
              <label class="mr-1">Text: </label>
            </div>
            <div class="col-md-9">
              {{link.label}}
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <div class="col-md-2">
              <label class="mr-1">URL: </label>
            </div>
            <div class="col-md-10">
              {{link.url}}
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <button class="btn btn-link m-1" (click)='showEditLinkModal($event, link)'>Edit</button>
          <button class="btn btn-link mm-1" (click)='showDeleteLinkModal($event, link)'>Delete</button>
        </div>
      </div>
      <div>
        <button class="btn btn-link" (click)='showAddLinkModal()'>+ Add Link</button>
      </div>

      <h5>Header Slider Images:</h5>
      <div *ngFor="let image of headerSliderImages; let i = index">
        <div  *ngIf="image" class="d-flex" >
          <img [src]="image" class="image-container" alt="">
          <div>
            <button class="btn btn-link" (click)='fileSliderImageInput.click()'>Replace</button>
            <input hidden type="file" #fileSliderImageInput (change)="uploadHeaderImage($event.target.files, i)" />
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-end mt-4">
        <button class="btn btn-primary btn-sm" (click)="savePartA()">Save</button>
      </div>
    </div>

  </div>

  <div class="mt-4 mb-4 separator"></div>

  <!-- Part B -->
  <div class="row mt-4 mb-4">
    <div class="col-md-6">
      <img src="https://chopst.s3.amazonaws.com/menuImage/1624378729378.png" class="img-fluid" alt="">
    </div>
    <div class="col-md-6">
      <div class="row flex-column">
        <h3>Part B</h3>
        <div class="row">
          <div class="col-md-12">
            <div class="row d-flex align-items-center mt-3">
              <div class="col-md-7 d-flex align-items-center">
                <div class="row d-flex align-items-center">
                  <div class="col-md-3">
                    <label>1: Title</label>
                  </div>
                  <div class="col-md-9">
                    <input type="text" class="form-control ml-3" [(ngModel)]="sectionBTitle" placeholder="Our Specialties">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <h5>2, 3, & 4:</h5>
          <div class="col-md-12 d-flex">
            <!-- Specialty Images -->
            <div *ngFor="let image of specialtyImages; let i = index">
              <div  *ngIf="image" class="d-flex flex-column" >
                <img [src]="image" class="image-container" alt="">
                <div>
                  <button class="btn btn-link" (click)='fileSpecialtyImageInput.click()'>Replace</button>
                  <input hidden type="file" #fileSpecialtyImageInput (change)="uploadSpecialtyImage($event.target.files, i)" />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-md-12">
            <div class="row d-flex align-items-center mt-3">
              <div class="col-md-5 d-flex align-items-center">
                <label>2a: </label>
                <input type="text" class="form-control ml-3" [(ngModel)]="SectionBImageCaption1" placeholder="Apetizers">
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-md-12">
            <div class="row d-flex align-items-center mt-3">
              <div class="col-md-5 d-flex align-items-center">
                <label>3a: </label>
                <input type="text" class="form-control ml-3" [(ngModel)]="SectionBImageCaption2" placeholder="Seafood">
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-md-12">
            <div class="row d-flex align-items-center mt-3">
              <div class="col-md-5 d-flex align-items-center">
                <label>4a: </label>
                <input type="text" class="form-control ml-3" [(ngModel)]="SectionBImageCaption3" placeholder="Chef's Special">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-end mt-4">
        <button class="btn btn-primary btn-sm" (click)="savePartB()">Save</button>
      </div>
    </div>


  </div>

  <div class="mt-4 mb-4 separator"></div>

  <!-- Part C -->
  <div class="row mt-4 mb-4">
    <div class="col-md-6">
      <img src="https://chopst.s3.amazonaws.com/menuImage/1623335762666.png" class="img-fluid" alt="">
    </div>
    <div class="col-md-6">
      <h3>Part C</h3>
      <div class="row">
        <div class="col-md-12 d-flex align-items-center">
          <label class="mr-4">1:</label>
          <input type="text" class="form-control mr-2" [(ngModel)]="sectionCTitle1" placeholder="Have you ever">
          <input type="text" class="form-control mr-2" [(ngModel)]="sectionCTitle2" placeholder="Ordered">
          <input type="text" class="form-control mr-2" [(ngModel)]="sectionCTitle3" placeholder="Online">
        </div>
      </div>
      <div class="d-flex justify-content-end mt-4">
        <button class="btn btn-primary btn-sm" (click)="savePartC()">Save</button>
      </div>
    </div>
  </div>

  <div class="mt-4 mb-4 separator"></div>

  <!-- Part D -->
  <div class="row mt-4 mb-4">
    <div class="col-md-6">
      <img src="https://chopst.s3.amazonaws.com/menuImage/1623335777723.png" class="img-fluid" alt="">
    </div>
    <div class="col-md-6">
      <h3>Part D</h3>
      <div class="row mt-4">
        <div class="col-md-12">
          <div class="row d-flex align-items-center mt-3">
            <div class="col-md-5 d-flex align-items-center">
              <label>1: </label>
              <input type="text" class="form-control ml-3" [(ngModel)]="sectionDTitle" placeholder="People are saying">
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-12">
          <div class="row d-flex align-items-center mt-3">
            <div class="col-md-5 d-flex align-items-center">
              <label>2: </label>
              <textarea type="text" rows="4" class="form-control ml-3" [(ngModel)]="sectionDSubtext" placeholder="Everything has been ..."></textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-end mt-4">
        <button class="btn btn-primary btn-sm" (click)="savePartD()">Save</button>
      </div>
    </div>
  </div>

  <div class="mt-4 mb-4 separator"></div>

  <!-- Part E -->
  <div class="row mt-4 mb-4">
    <div class="col-md-6">
      <img src="https://chopst.s3.amazonaws.com/menuImage/1623335787179.png" class="img-fluid" alt="">
    </div>
    <div class="col-md-6">
      <h3>Part E</h3>
      <div class="row mt-4">
        <div class="col-md-12">
          <div class="row d-flex align-items-center mt-3">
            <div class="col-md-5 d-flex align-items-center">
              <label>1: </label>
              <input type="text" class="form-control ml-3" [(ngModel)]="sectionElinkText" placeholder="Open in Maps">
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-12">
          <div class="row d-flex align-items-center mt-3">
            <div class="col-md-5 d-flex align-items-center">
              <label>2: </label>
              <input type="text" class="form-control ml-3" [(ngModel)]="sectionEphone" placeholder="801-908-5157">
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-end mt-4">
        <button class="btn btn-primary btn-sm" (click)="savePartE()">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Add Link Modal-->
<q-modal #addLinkModal>
  <div>
    <label>Text:</label>
    <input class="form-control" placeholder="i.e. Home" [(ngModel)]='link.label'>
  </div>

  <div class="mt-2">
    <label>URL:</label>
    <input class="form-control" placeholder="i.e. www.google.com" [(ngModel)]='link.url'>
  </div>

  <div class="mt-3 d-flex justify-content-end">
    <button class="btn btn-small btn-primary" (click)='addLink()'><i class="fas fa-plus"></i> Add Link</button>
  </div>

</q-modal>

<!-- Edit Link Modal-->
<q-modal #editLinkModal>
  <div>
    <label>Text:</label>
    <input class="form-control" placeholder="i.e. Home" #editLabelInput [ngModel]='link.label'>
  </div>

  <div class="mt-2">
    <label>URL:</label>
    <input class="form-control" placeholder="i.e. www.google.com" #editUrlInput [ngModel]='link.url'>
  </div>

  <div class="mt-3 d-flex justify-content-end">
    <button class="btn btn-small btn-primary" (click)='editLink($event, editLabelInput.value, editUrlInput.value)'><i
        class="fas fa-save"></i> Save</button>
  </div>
</q-modal>

<!-- Delete Link Modal-->
<q-modal #deleteLinkModal>
  <span class="text-center">Are you sure you want to delete the link <strong>{{link.label}}</strong>?</span>
  <div class="d-flex justify-content-center mt-4">
    <button class="btn btn-small btn-danger" (click)='deleteLink()'>Yes</button>
    <button class="btb btn-small btn-info ml-3" (click)='cancelDeleteLink()'> No</button>
  </div>
</q-modal>


<!-- Delete Header Slider Image Modal -->
<q-modal #deleteHeaderSliderImageModal>
  <span class="text-center">Are you sure you want to delete this image?</span>
  <div class="d-flex justify-content-center mt-4">
    <button class="btn btn-small btn-danger" (click)='deleteHeaderSliderImage()'>Yes</button>
    <button class="btb btn-small btn-info ml-3" (click)='deleteHeaderSliderImageModal.hide(); headerImageIndexToDelete = 0'> No</button>
  </div>
</q-modal>

