<h1 class="text-center">qMenu Restaurants</h1>
<div class="text-right pb-2">
  <button class="btn btn-info" (click)="toggleCrawl()">
    <i class="fas fa-download"></i> Crawl Restaurant Data</button>
  <button class="btn btn-primary" (click)="createNew()" [disabled]="true">+ Add New Restaurant</button>
  <div class="card text-left" *qIf="showCrawl">
    <div class="card-body">
      <h5 class="card-title">Craw Restaurant</h5>
      <app-restaurant-importer></app-restaurant-importer>
    </div>
  </div>
</div>