<h1 class="text-center">qMenu Restaurants</h1>
<div class="text-right pb-2">
  <button class="btn btn-info" (click)="toggleCrawl()">
    <i class="fas fa-download"></i> Crawl Restaurant Data</button>
  <button class="btn btn-primary" (click)="createNew()" [disabled]="true">+ Add New Restaurant</button>
  <div *qIf="showCrawl" class="card-body">
    <div class="form-group">
      <input type="text" class="form-control" id="input-url" placeholder="Enter website URL" [(ngModel)]="crawUrl">
    </div>
    <button class="btn btn-secondary" (click)="toggleCrawl()">Cancel</button>
    <button class="btn btn-primary" (click)="getRestaurantData()" [qLoading]="crawling">Crawl</button>
  </div>
</div>

<pre>
  paged restaurant list managed by qmenu (online)
  +add restaurant
  option to edit
  
</pre>

<app-gmb-info></app-gmb-info>