<h1 class="text-center">My Leads</h1>

<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item" *ngFor="let tab of tabs">
        <a class="nav-link {{activeTab === tab? 'active' : ''}}" (click)="activeTab = tab">{{tab}} ({{getLeadsForTab(tab).length}})</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <div class="table-responsive text-left">
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="border-0"></th>
            <th class="border-0">Name</th>
            <th class="border-0">GMB</th>
            <th class="border-0">City</th>
            <th class="border-0">Zip Code</th>
            <th class="border-0">State</th>
            <th class="border-0">Timezone</th>
            <!-- <th class="border-0"></th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let lead of getLeadsForTab(activeTab)" class="{{lead.disabled || lead.closed ? 'text-muted closed' : ''}}" (click)="selectLead(lead)">
            <td class="text-success">
              ■
            </td>
            <th scope="row">
              <span class="{{lead.gmbScanned ? 'text-info': ''}}">{{lead.name}}
                <span class="text-muted" *ngIf="lead.oldName">
                  <br>
                  <small>{{lead.oldName}}</small>
                </span>
              </span>
              <button class="btn btn-link py-0" *ngIf="!lead.gmbScanned" (click)="scanLead(lead)" [disabled]="leadsInProgress.indexOf(lead) >= 0">
                <i class="fas fa-sync {{leadsInProgress.indexOf(lead) >= 0? 'fa-spin' : ''}}"></i>
              </button>

            </th>
            <td class="text-nowrap">
              <i class="fas fa-lock-open text-info" *ngIf="lead.gmbOpen"></i>
              <i class="fas fa-globe text-muted" *ngIf="!lead.gmbWebsite && lead.serviceProviders && lead.serviceProviders.length > 0"></i>
              {{lead.gmbOwner}}
            </td>
            <td>{{lead.address.locality}}</td>
            <td>{{lead.address.postal_code}}</td>
            <td>{{lead.address.administrative_area_level_1}}</td>
            <td>{{lead.address.timezone}}</td>
            <!-- <td>
              <button class="btn btn-link py-0" (click)="edit(lead)">
                <i class="fas fa-edit"></i> Edit
              </button>
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<q-modal [title]="selectedLead.name" #leadModal>
  <app-lead-info [lead]="selectedLead"></app-lead-info>
  <hr>
  <h5 class="text-center">Call Logs</h5>
  
  <app-call-logger [lead]="selectedLead"></app-call-logger>
</q-modal>