<h1 class="text-center">My Leads</h1>

<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item" *ngFor="let tab of tabs">
        <a class="nav-link {{activeTab === tab? 'active' : ''}}" (click)="setActiveTab(tab)">{{tab}} ({{getLeadsForTab(tab).length}})</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <div class="table-responsive text-left">
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="border-0"></th>
            <th class="border-0">Name</th>
            <th class="border-0">GMB</th>
            <th class="border-0">City</th>
            <th class="border-0">Zip Code</th>
            <th class="border-0">State</th>
            <th class="border-0">Phone</th>
            <th class="border-0">Timezone</th>
            <th class="border-0">Language</th>
            <th class="border-0">Comments</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let lead of getLeadsForTab(activeTab) ;" class="{{lead.disabled || lead.closed ? 'text-muted closed' : ''}}"
            (click)="selectLead(lead)">
            <td class="text-success text-nowrap">
              <span *ngIf="getLastCallLog(lead).salesOutcome==='rejected'" class="text-danger">■</span>
              <span *ngIf="getLastCallLog(lead).salesOutcome==='interested'" class="text-warning">■</span>
              <span *ngIf="getLastCallLog(lead).salesOutcome==='success' || getLastCallLog(lead).salesOutcome==='qmenuCustomer'" class="text-success">■</span>
              <span *ngIf="getLastCallLog(lead).askedMoreInfo" class="text-info">
                <i class="fas fa-info-circle"></i>
              </span>
              <span *ngIf="getLastCallLog(lead).callbackTime" class="text-info">
                <i class="fas fa-history"></i>
              </span>
            </td>
            <th scope="row" class="text-nowrap">
              <span class="{{lead.gmbScanned ? 'text-info': ''}}">{{lead.name}}
                <span class="text-muted" *ngIf="lead.oldName">
                  <br>
                  <small>{{lead.oldName}}</small>
                </span>
              </span>

            </th>
            <td class="text-nowrap">
              <i class="fas fa-lock-open text-info" *ngIf="lead.gmbOpen"></i>
              <i class="fas fa-globe text-muted" *ngIf="!lead.gmbWebsite && lead.serviceProviders && lead.serviceProviders.length > 0"></i>
              {{lead.gmbOwner}}
            </td>
            <td>{{lead.address.locality}}</td>
            <td>{{lead.address.postal_code}}</td>
            <td>{{lead.address.administrative_area_level_1}}</td>
            <td>
              <span *ngFor="let phone of (lead.phones ||[])">{{phone | tel}}&nbsp;&nbsp;</span>
            </td>
            <td>{{getShortenedTimeZone(lead.address.timezone)}}</td>
            <td>{{lead.language}}</td>
            <td>
              <span *ngFor="let log of (lead.callLogs || [])">
                <app-lead-call-log [callLog]="log"></app-lead-call-log>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<q-modal [title]="selectedLead.name" #leadModal>
  <app-lead-info [lead]="selectedLead"></app-lead-info>
  <div *ngIf="selectedLead.gmbScanned; else noGmb">
    <app-gmb-info [gmbInfo]="selectedLead" (scan)="scanLead($event)" [showRefresh]="true"></app-gmb-info>
  </div>
  <ng-template #noGmb>
    <i class="fas fa-exclamation-triangle text-warning"></i> Missing GMB info
    <i class="far fa-hand-point-right"></i>&nbsp;&nbsp;
    <button class="btn btn-outline-primary" (click)="scanLead({lead: selectedLead})" [qLoading]="leadsInProgress.length > 0">
      <i class="fab fa-searchengin"></i> Crawl Google</button>
  </ng-template>
  <hr>
  <h5 class="text-center">Call Logs</h5>
  <div class="pb-2">
    <button class="btn btn-primary" (click)="toggleNewCallLog()">
      <i class="fas fa-phone"></i> Add New Log</button>
  </div>

  <div class="card" *qIf="editingNewCallLog">
    <div class="card-body">
      <h5 class="card-title">New Call Log</h5>
      <app-call-logger [lead]="selectedLead" [callLog]="newCallLog" (cancel)="editingNewCallLog = false" (submit)="sumbitCallLog($event)"></app-call-logger>
    </div>

  </div>

  <div class="table-responsive text-left" *ngIf="selectedLead.callLogs && selectedLead.callLogs.length > 0">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="border-0">Result</th>
          <th class="border-0">Date</th>
          <th class="border-0">Number</th>
          <th class="border-0 text-center">Line</th>
          <th class="border-0">Callees</th>

          <th class="border-0">Comments</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let log of selectedLead.getDescSortedCallLogs()">
          <tr (click)="selectCallLog(log)">
            <td>
              <span *ngIf="log.salesOutcome==='rejected'" class="text-danger">■</span>
              <span *ngIf="log.salesOutcome==='interested'" class="text-warning">■</span>
              <span *ngIf="log.salesOutcome==='success' || log.salesOutcome==='qmenuCustomer'" class="text-success">■</span>
              <span *ngIf="log.askedMoreInfo" class="text-info">
                <i class="fas fa-info-circle"></i>
              </span>
              <span *ngIf="log.callbackTime" class="text-info">
                <i class="fas fa-history"></i>
              </span>
            </td>
            <td>
              <small>{{log.time | date:'short'}}</small>
            </td>
            <td>*{{(log.phone || '').substring(6)}}</td>
            <td *ngIf="log.lineStatus === 'connected'" class="text-center">
              <i class="fas fa-check text-success"></i>
            </td>
            <td *ngIf="log.lineStatus === 'busy'" class="text-center">
              <i class="fas fa-exclamation text-warning"></i>
            </td>
            <td *ngIf="log.lineStatus === 'voicemail'" class="text-center">
              <i class="fas fa-cloud-upload-alt"></i>
            </td>
            <td>{{log.callees}}</td>

            <td>
              <app-lead-call-log [callLog]="log"></app-lead-call-log>
            </td>
          </tr>
          <tr *ngIf="log.hasSameTimeAs(selectedCallLog)">
            <td colspan="6">
              <div class="card card-body">
                <h5 class="card-title">Edit Call Log</h5>
                <app-call-logger [showDelete]="true" [lead]="selectedLead" [callLog]="selectedCallLog" (cancel)="selectedCallLog = null"
                  (submit)="sumbitCallLog($event)" (remove)="removeCallLog($event)"></app-call-logger>

              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <hr>
    <span class="legend text-danger">■=Rejected</span>
    <span class="legend text-warning">■=Interested</span>
    <span class="legend text-success">■=Success</span>
    <span class="legend text-info">
      <i class="fas fa-info-circle"></i>=Asked More Info </span>
    <br>
    <span class="legend text-warning">
      <i class="fas fa-exclamation"></i>=Busy</span>
    <span class="legend">
      <i class="fas fa-cloud-upload-alt"></i>=Voicemail</span>
    <span class="legend text-success">
      <i class="fas fa-check"></i>=Connected</span>
    <span class="text-info">
      <i class="fas fa-history"></i> Callback</span>
  </div>
</q-modal>