<ng-container *ngIf="transfer">
  <div class="alert alert-info">
    Created: {{getTaskDate() | ago : now}}
    <div *ngFor="let request of newCompetitorsRequests">
      <small>New attack: {{request.email}}, {{request.date | ago: now}}</small>
    </div>
  </div>
  <div *ngIf="getInvalidReason()" class="alert alert-danger">
    Please Close: {{getInvalidReason()}}
  </div>

  <div class="mb-4">
    <app-gmb-account-hotlink [email]="transfer.fromEmail"></app-gmb-account-hotlink>
    →
    <app-gmb-account-hotlink *ngIf="transfer.toEmail" [email]="transfer.toEmail"></app-gmb-account-hotlink>

    <button *ngIf="transfer.toEmail" class="btn btn-link fix-v-align text-muted" (click)="dropdownVisible = !dropdownVisible">
      Change</button>
  </div>

  <div class="mb-4" *ngIf="!transfer.toEmail || dropdownVisible">
    <label>
      Select B (Target Account)
      <span *ngIf="toGmb" class="text-success"> ✓</span>
    </label>
    <select [(ngModel)]="transfer.toEmail" class="form-control" (change)="handleUpdate('select')">
      <option></option>
      <option *ngFor="let account of getFilteredAccounts()" [ngValue]="account.email">{{account.email | emailName}}
        (total: {{account.allLocations}})</option>
    </select>
  </div>

  <div class="mb-4">
    <label>
      Let B Request Ownership
    </label>
    <div *ngIf="!transfer.request">
      <button class="btn btn-sm btn-info" [qLoading]="gmbRequesting" [disabled]="!transfer.toEmail" (click)="handleUpdate('request', 'requestedAt', 'gmbRequesting')">Request
        Ownership
      </button>
    </div>

    <div *ngIf="transfer.request">
      Requested {{transfer.requestedAt | ago: now}}
    </div>
  </div>


  <div class="mb-4">
    <label>
      Let A Reject B's Request
    </label>
    <div *ngIf="!transfer.rejectedAt">
      <button class="btn btn-sm btn-info" [qLoading]="gmbRejecting" [disabled]="!transfer.request" (click)="handleUpdate('reject', 'rejectedAt', 'gmbRejecting')">Reject
        B's Request</button>
    </div>
    <div *ngIf="transfer.rejectedAt">
      Rejected {{transfer.rejectedAt | ago: now}}
    </div>
  </div>

  <div class="mb-4">
    <label>
      Let B Appeal
    </label>
    <div *ngIf="!transfer.appealedAt">
      <button class="btn btn-sm btn-info" [qLoading]="gmbAppealing" [disabled]="!transfer.rejectedAt" (click)="handleUpdate('appeal', 'appealedAt', 'gmbAppealing')">Appeal</button>
    </div>
    <div *ngIf="transfer.request">
      <button class="btn btn-link pl-0" (click)="toggleManualAppeal = !toggleManualAppeal">Manually input appeal ID?</button>
      <div *qIf="toggleManualAppeal">
        <div class="form-inline">
          <input [(ngModel)]="transfer.appealId" class="form-control mb-2 mr-2" type="tel" style="max-width: 12rem;"
            placeholder="appeal ID goes here">
          <button class="btn btn-sm btn-info mb-2" [qLoading]="savingAppealId" (click)="handleUpdate('saveAppealId', 'appealedAt', 'savingAppealId')">Save
            Appeal ID
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="transfer.appealedAt">
      Appealed {{transfer.appealedAt | ago: now}} ID: {{transfer.appealId}}
      <div>
        <button class="btn btn-link px-0 fix-v-align" [qLoading]="gmbAppealing" (click)="handleUpdate('appeal', 'appealedAt', 'gmbAppealing')">Re-Appeal</button>
      </div>
      Selected Verification Method:
      <div>
        <q-simple-radio [(ngModel)]="transfer.verificationMethod" [equalWidth]="true" [values]="['Email', 'Call', 'Postcard']"
          (ngModelChange)="handleUpdate('selectVerificationMethod')">
        </q-simple-radio>
      </div>
      <div class="card card-body" *ngIf="transfer.verificationMethod === 'Email'">
        <app-email-code-reader [restaurant]="restaurant"></app-email-code-reader>
      </div>
      <div class="card card-body" *ngIf="transfer.verificationMethod === 'Call' || transfer.verificationMethod === 'Postcard'">
        <div *ngIf="gmbBiz?.phone">
          <i class="fas fa-phone mr-2"></i>{{gmbBiz.phone | tel}}
        </div>

        <div *ngIf="restaurant && restaurant.people">
          <span class="d-inline-block mr-2" *ngFor="let person of restaurant.people"><i class="fas fa-user mr-2"></i>{{person.title}}
            {{person.name}} <span class="text-muted" *ngIf="person.roles && person.roles.length > 0"><small>{{person.roles}}</small></span></span>
        </div>

        <div class="my-4">
          <div class="form-check mb-2">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" [checked]="!!transfer.bizNotifiedAt"
              (change)="handleUpdate('notify', 'bizNotifiedAt', null)">
            <label class="form-check-label" for="defaultCheck1">
              Notified Restaurant
              <span *ngIf="transfer.bizNotifiedAt" style="font-weight: normal">{{transfer.bizNotifiedAt | ago: now}}</span>
            </label>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="mb-4">
    <label>
      Input Verification Code
    </label>

    <div class="form-inline">
      <input [(ngModel)]="transfer.code" class="form-control mb-2 mr-2" type="tel" style="max-width: 12rem;"
        placeholder="code goes here">
      <button class="btn btn-sm btn-info mb-2" [qLoading]="savingCode" (click)="handleUpdate('saveCode', null, 'savingCode')">Save
        Code
      </button>
    </div>
  </div>

  <div class="mb-4">
    <label>
      Verify/Obtain New Ownership
    </label>
    <div class="alert alert-warning" *ngIf="transfer.verificationMethod === 'Postcard' && transfer.code">
      Only choose to input the code when it's showing '[rescheduled by system]' in comments.
      <!-- Postcard Code: Only choose to input the code when <span class="badge badge-warning">{{transfer.fromEmail |
        emailName}}</span> lost ownership.
      <br>Current ownership status: <span class="badge badge-{{getLastAccountEmail() === transfer.fromEmail ? 'success' : 'danger'}}">
        {{getLastAccountEmail() ? ('Still Under ' + getLastAccountEmail()) : 'LOST'}}
      </span> -->
    </div>
    <div *ngIf="!transfer.verifiedAt">
      <button class="btn btn-sm btn-info" [qLoading]="verifyingCode" [disabled]="!transfer.code" (click)="handleUpdate('verify', 'verifiedAt', 'verifyingCode')">Verify
        Code
      </button>
    </div>
    <div *ngIf="transfer.verifiedAt">
      Verified {{transfer.verifiedAt | ago: now}}
    </div>

  </div>

  <div class="mb-4">
    <label>
      Complete the Transfer
    </label>
    <div *ngIf="!transfer.completedAt">
      <button class="btn btn-sm btn-danger" [qLoading]="completing" (click)="handleUpdate('canceled', 'completedAt', 'completing')">Canceled</button>
      <button class="btn btn-sm btn-warning" [qLoading]="completing" (click)="handleUpdate('failed', 'completedAt', 'completing')">Failed</button>
      <button class="btn btn-sm btn-success" [qLoading]="completing" (click)="handleUpdate('succeeded', 'completedAt', 'completing')">Succeeded</button>
    </div>
    <div *ngIf="transfer.completedAt" class="alert {{transfer.result === 'succeeded' ? 'alert-success' : 'alert-danger'}}">
      {{transfer.result}}: {{transfer.completedAt | ago : now}}
    </div>
  </div>

  <div class="form-group">
    <label>Schedule Followup At:</label>
    <input class="form-control" [owlDateTimeTrigger]="dt" [owlDateTime]="dt" [(ngModel)]="taskScheduledAt"
      (ngModelChange)="scheduledAtUpdated($event)">
    <owl-date-time #dt [hour12Timer]="true"></owl-date-time>
    <div class="py-1 text-right">
      <button type="button" class="btn btn-sm btn-info my-btn-narrow" *ngFor="let i of [3, 5, 7, 30]" (click)="plusDay(i)">Today
        + {{i}}</button>
    </div>
  </div>

  <div *ngIf="task.result">
    <button class="btn btn-link px-0 fix-v-align" (click)="handleUpdate('reopen', null, null)">Reopen</button>
  </div>

  <div class="form-group">
      <label>Notify Restaurant:</label>
      <send-google-pin [restaurant]="restaurant"></send-google-pin>
    </div>

  <div class="form-group">
    <label>Comments:</label>
    <textarea class="form-control" rows="3" [(ngModel)]="comments" placeholder="extra comments"></textarea>
  </div>
  <div class="form-group alert alert-warning">
    <label>Re-assign</label>
    <select [(ngModel)]="task.assignee" class="form-control" (change)="handleUpdate('assign')">
      <option *ngFor="let assignee of assignees" [ngValue]="assignee.username">{{assignee.username}}</option>
    </select>
  </div>

  <div class="text-right">
    <button class="btn btn-primary" (click)="clickOk()">OK</button>
  </div>


  <button class="btn btn-link" (click)="showDetails = !showDetails">{{showDetails ? 'Hide details' : 'More
    details...'}}</button>
  <div class="card border-info" *qIf="showDetails">
    <div class="card-body">
      <h4>More Details</h4>
      <ng-container *ngIf="gmbBiz">
        <hr>
        <label>Restaurant:</label>
        <h6>
          <a target="_blank" routerLink="/restaurants/{{gmbBiz.qmenuId}}">{{gmbBiz.name}}</a>
        </h6>
        <label>Listed Web Site (not necessarily qMenu):</label>
        <h6>
          {{gmbBiz.gmbWebsite}}
        </h6>
        <app-restaurant-contacts [restaurant]="restaurant" [viewOnly]="true"></app-restaurant-contacts>
        <table class="table table-sm" *ngIf="restaurantLogs.length > 0">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Problem</th>
              <th scope="col">Response</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let log of restaurantLogs">
              <td>{{log.time | date: 'short'}}</td>
              <td>{{log.problem}}</td>
              <td>{{log.response}}</td>
            </tr>
          </tbody>
        </table>

      </ng-container>
      <ng-container *ngIf="gmbAccount">
        <hr>
        <label>GMB Account:</label>
        <h6>
          <app-gmb-account-hotlink [email]="gmbAccount.email"></app-gmb-account-hotlink>
        </h6>
      </ng-container>
      <ng-container *ngIf="gmbRequest">
        <hr>
        <label>Requester Email:</label>
        <h6>{{gmbRequest.email}}</h6>
        <label>Request Date:</label>
        <h6>{{gmbRequest.date | date: 'short'}}</h6>
      </ng-container>

    </div>
  </div>
</ng-container>