<div class="d-flex justify-content-center pt-4">
  <div class="card mt-4" style="max-width: 18rem;">
    <div class="card-body">
      <h5 class="card-title text-center"><i class="fa fa-user"> Login</i></h5>
      <hr>
      <!-- we don't use form tag because angular will automaticall take over -->

      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" placeholder="Enter username" [(ngModel)]="username">

      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="password">
      </div>
      <button type="button" [qLoading]="apiRequesting" class="btn btn-primary btn-block" (click)="login()">Submit</button>
      <small *ngIf="apiError" class="text-danger">{{apiError}}</small>
    </div>
  </div>
</div>
