<h5 class="text-center">{{restaurant?.name}}</h5>
<div *ngIf="invoices && invoices.length > 0">
  Select A Previous Invoice If Applicable:
  <table class="table">
    <tr>
      <th>Select</th>
      <th>Date</th>
      <th>Rolled From</th>
      <th>Balance</th>
      <th>Cleared</th>
    </tr>
    <tr *ngIf="!allDisplayed && getNonCanceledAndSortedDESCInvoices().length > 4">
      <td colspan="4" class="text-center">
        <button class="btn btn-link" (click)="allDisplayed = true">Load More Old Ones...</button>
      </td>
    </tr>
    <ng-container *ngFor="let invoice of getNonCanceledAndSortedDESCInvoices(); let i = index">
      <tr *ngIf="allDisplayed || i >= getNonCanceledAndSortedDESCInvoices().length - startRows">
        <td class="text-center">
          <input class="form-check-input" type="checkbox" [checked]="previousInvoice === invoice" (change)="setPreviousInvoice(invoice)">
        </td>
        <td>{{invoice.fromDate | date: 'MMM dd yyyy'}} - {{invoice.toDate | date: 'MMM dd yyyy'}}</td>
        <td><small *ngIf="invoice.previousInvoiceId">{{invoice.fromDate | date: 'MMM dd'}} - {{invoice.toDate | date:
            'MMM dd'}}</small></td>
        <td>{{invoice.balance | currency:'USD':'symbol'}}</td>
        <td>{{invoice.isPaymentCompleted}}</td>
      </tr>
    </ng-container>
  </table>
</div>
<div class="form-group row">
  <label for="from-date" class="col-4 col-form-label">From Date</label>
  <div class="col-8">
    <input class="form-control" type="date" [(ngModel)]="fromDate">
  </div>
</div>
<div class="form-group row">
  <label for="to-date" class="col-4 col-form-label">To Date</label>
  <div class="col-8">
    <input class="form-control" type="date" [(ngModel)]="toDate">
  </div>
</div>
<div class="form-group row">
  <label class="col-4 col-form-label">Total Orders (estimated)</label>
  <div class="col-8">
    <p>{{getTotalOrders()}}</p>
  </div>
</div>
<div class="form-group row">
  <label class="col-4 col-form-label">Commission</label>
  <div class="col-8">
    <p *ngIf="getRateSchedules().length === 0" class="text-warning">
      <i class="fas fa-exclamation-triangle"></i> Value not set. Please update rate schedules first.</p>
    <p>
      <span *ngFor="let rs of getRateSchedules()">
        <span *ngIf="rs.rate">{{rs.rate | percentage }}</span>
        <span *ngIf="rs.fixed">{{rs.fixed | currency:'USD':'symbol' }}</span>
        <span *ngIf="!(rs.fixed || rs.rate)">0</span>
        &nbsp;since {{rs.date}} &nbsp;
      </span>
    </p>
  </div>
</div>
<div class="form-group row">
  <label class="col-4 col-form-label">Outstanding Adjustments</label>
  <div class="col-8" *ngIf="outstandingAdjustmentLogs.length === 0">
    No adjustments found
  </div>
  <div class="col-8">
    <div *ngFor="let adjustment of outstandingAdjustmentLogs">
      <div class="row">
        <div class="col-3">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" [(ngModel)]="adjustment.selected">
            {{adjustment.log.adjustmentAmount | currency:'USD':'symbol'}}</label>
        </div>
        <div class="col-9">
          {{adjustment.log.adjustmentReason}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="text-right">
  <p *ngIf="getError()">
    <small class="text-danger pb-1">{{getError()}}</small>
  </p>
  <button class="btn btn-default" (click)="clickCancel()">Cancel</button>
  <button [disabled]="getError()" class="btn btn-primary" (click)="createNewInvoice()">Submit</button>
</div>