<div class="card">
  <h2 class="card-title m-3">
    <h1 class="text-center">RTs by Payment Collection ({{filteredRows.length}})</h1>
  </h2>
  <div class="card-body">
    <div class="row">
      <div class="col-auto mb-3">
        <select [(ngModel)]="pmtCollectOption" class="form-control" (change)="filterRTs()">
          <option *ngFor="let option of pmtCollectOptions" >{{option}}</option>
        </select>
      </div>
      <div class="col-auto mb-3">
        <select [(ngModel)]="printCCOption" class="form-control" (change)="filterRTs()">
          <option *ngFor="let option of printCCOptions" >{{option}}</option>
        </select>
      </div>
      <div class="col-auto mb-3">
        <button class="btn btn-primary" (click)="populateRTsByPmtCollect()"><i class="fas fa-sync"></i> Reload</button>
      </div>
    </div>

    <q-table [rows]="filteredRows" [tableColumnDescriptors]="restaurantsColumnDescriptors" [compact]="true"
      [pageSize]="100000">
      <tr *tableRowTemplate="let r">
        <td>{{filteredRows.indexOf(r) + 1}}</td>
        <td>
          <div>
            <a class="mr-2" target="_blank" routerLink="/restaurants/{{r['_id']}}">{{r.name}}</a>
          </div>
          <div>{{r._id}}</div>
        </td>
        <td>
          <div *ngFor="let service of (r.serviceSettings || [])">
            {{service.name}}: {{(service.paymentMethods || []).join(', ') || 'N/A'}}
          </div>
          <div>
            <q-toggle [(ngModel)]="r.showPrintingCCInfo" (change)="toggleEnabled(r, $event)"></q-toggle>
            <span>Print All CC Info</span> 
          </div>
        </td>
      </tr>
    </q-table>
  </div>
</div>

