<div class="card">
  <h2 class="card-title m-3">
    <h1 class="text-center">RTs by Payment Collection ({{filteredRows.length}})</h1>
  </h2>
  <div class="card-body">
    <div class="row">
      <div class="col-auto mb-3">
        <select [(ngModel)]="pmtCollectOption" class="form-control" (change)="filterRTs()">
          <option *ngFor="let option of pmtCollectOptions">{{option}}</option>
        </select>
      </div>
      <div class="col-auto mb-3">
        <select [(ngModel)]="printCCOption" class="form-control" (change)="filterRTs()">
          <option *ngFor="let option of printCCOptions">{{option}}</option>
        </select>
      </div>
      <div class="col-auto mb-3">
        <select [(ngModel)]="pciDisplayOption" class="form-control" (change)="filterRTs()">
          <option *ngFor="let option of pciDisplayOptions">{{option}}</option>
        </select>
      </div>
      <div class="col-auto mb-3">
        <select [(ngModel)]="feieDisplayOption" class="form-control" (change)="filterRTs()">
          <option *ngFor="let option of feieDisplayOptions">{{option}}</option>
        </select>
      </div>
      <!-- start with language -->
      <div class="col-auto mb-3">
        <select [(ngModel)]="languageOption" class="form-control" (change)="filterRTs()">
          <option *ngFor="let option of languageOptions">{{option}}</option>
        </select>
      </div>
      <!-- end with language -->
      <!-- start with explanation -->
      <i class="fa fa-info-circle ml-1 mt-2" data-toggle="tooltip" data-placement="top"
        title='1 "Print CC Info" ON + "Show non-PCI Data" OFF: Show CC data except full CC number /// 2 "Print CC Info" ON + "Show non-PCI Data" ON: Show ALL CC information (including the whole CC number) /// 3 "Print CC Info" OFF + "Show non-PCI Data" OFF: Zero CC-related info shown'></i>
      <!-- end with explanation -->
      <!-- start with send broadcast -->
      <div class="col-auto mb-3">
        <select [(ngModel)]="sentBroadcastOption" class="form-control" (change)="filterRTs()">
          <option *ngFor="let option of sentBroadcastOptions">{{option}}</option>
        </select>
      </div>
      <!-- end with send broadcast -->
      <!-- start with broadcast types -->
      <div class="col-auto mb-3" *ngIf="sentBroadcastOption !== sentBroadcastTypes.All">
        <select [(ngModel)]="broadcast" class="form-control" (change)="filterRTs()">
          <option [ngValue]="''">Which Broadcast?</option>
          <option *ngFor="let b of broadcasts" [ngValue]="b._id">{{b.name}}</option>
        </select>
      </div>
      <!-- end with broadcast types -->
      <!-- start with bulk action -->
      <div class="col-auto mb-3">
        <button class="btn btn-link" (click)="openBulkActionModal()">Bulk Action</button>
      </div>
      <!-- end with bulk action -->
      <!-- start with copy rts id -->
      <div class="col-auto mb-3">
        <button class="btn btn-link" (click)="copyRTIDs()">Copy all RT IDs Shown</button>
      </div>
      <!-- end with copy rts id -->
      <div class="col-auto mb-3">
        <button class="btn btn-primary" (click)="populateRTsByPmtCollect()"><i class="fas fa-sync"></i> Reload</button>
      </div>
    </div>

    <q-table [rows]="filteredRows" [tableColumnDescriptors]="restaurantsColumnDescriptors" [compact]="true"
      [pageSize]="100000">
      <tr *tableRowTemplate="let r">
        <td>{{filteredRows.indexOf(r) + 1}}</td>
        <td>
          <div>
            <a class="mr-2" target="_blank" routerLink="/restaurants/{{r['_id']}}">{{r.name}}</a>
          </div>
          <div>{{r._id}}</div>
        </td>
        <td>
          <div *ngFor="let service of (r.serviceSettings || [])">
            {{service.name}}: {{(service.paymentMethods || []).join(', ') || 'N/A'}}
          </div>

          <!-- Credit Card Display Toggle -->
          <div>
            <q-toggle [(ngModel)]="r.showPrintingCCInfo" (change)="toggleEnabledForRow(r, 'hidePrintingCCInfo')">
            </q-toggle>
            <span>Print CC Info</span>
          </div>

          <!-- PCI Data Display Toggle -->
          <div>
            <q-toggle [(ngModel)]="r.showNonPCIData" (change)="toggleEnabledForRow(r, 'hideNonPCIData')">
            </q-toggle>
            <span>Show non-PCI Data</span>
          </div>
          <!-- Fei-e Printing Display -->
          <div>
            <b>Fei-e Printing: </b> {{displayFeieMessage(r)}}
          </div>
        </td>
      </tr>
    </q-table>
  </div>

  <!-- start with bulk action modal -->
  <q-modal #bulkActionModal style="margin-top: 160px;">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
    <h4 class="text-center">Bulk Update</h4>
    <hr>
    <div class="container">
      <div class="row mb-3">
        When you submit, this will update the "Print CC Info"
        and "Show non-PCI Data" status for all the [XXX] restaurants
        currently displayed on the page.
      </div>
      <div class="row mb-3">
        <div class="col-12">
          <!-- Credit Card Display Toggle -->
          <div>
            <q-toggle [(ngModel)]="bulkShowPrintingCCInfo"></q-toggle>
            <span>Print CC Info</span>
          </div>

          <!-- PCI Data Display Toggle -->
          <div>
            <q-toggle [(ngModel)]="bulkShowNonPCIData">
            </q-toggle>
            <span>Show non-PCI Data</span>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-end p-4">
      <button class="btn btn-secondary mr-2" (click)="bulkActionModal.hide()">Cancel</button>
      <button class="btn btn-primary" (click)="bulkToggleEnabled()">Submit</button>
    </div>

  </q-modal>
  <!-- end with bulk action modal -->
</div>
