<div *ngIf="notification">
  <div>
    <label>Notification Entity</label>
    <select class="form-control" [(ngModel)]="notification.sentTo">
      <option>Customer</option>
      <option>Restaurant</option>
    </select>

    <label>Notification Type</label>
    <select class="form-control" [(ngModel)]="notification.type">
      <option>SMS</option>
      <option>Email</option>
      <option>Fax</option>
    </select>

    <label>Title</label> <br>
    <input type="text" class="form-control" [disabled]="true" [(ngModel)]="notification.name">

    <label>Description</label> <br>
    <input type="text" class="form-control" [disabled]="true" [(ngModel)]="notification.description">

    <label>Message Text</label> <br>
    <textarea class="form-control" [(ngModel)]="notification.content"> </textarea>
  </div>
<div class="mt-2">
  <button class="btn btn-secondary" (click)="cancelEditing()">Cancel</button>
  <button class="btn btn-primary" (click)="saveNotification()">Save</button>
</div>
</div>