.btn-status {
    width: 8rem;
    margin-bottom: 1rem;
    position: relative;
}

.btn-status hr {
    border-top: 1px solid rgba(120, 1200, 1200, .3);
    margin: 0.5rem;
}

.top-right {
    position: absolute;
    font-size: smaller;
    opacity: 0.7;
    right: 0.25rem;
    top: 0.25rem;
}

.w-40-rem {
    max-width: 40rem;
}