<div>
  <div class="row mb-3">
    <div class="col-3 row">
      <label class="col-3 col-form-label">State</label>
      <div class="col-9">
        <select class="form-control" [(ngModel)]="state" (change)="drawMarkers()">
          <option value="">All</option>
          <option *ngFor="let s of states" [value]="s">{{s}}</option>
        </select>
      </div>
    </div>
    <div class="col-3 row">
      <label class="col-3 col-form-label">Agent</label>
      <div class="col-9">
        <select class="form-control" [(ngModel)]="agent" (change)="drawMarkers()">
          <option value="">All</option>
          <option *ngFor="let user of agents" [value]="user.username">{{user.username}}</option>
        </select>
      </div>
    </div>
    <div class="col-3 row">
      <label class="col-3 col-form-label">Cuisine</label>
      <div class="col-9">
        <select class="form-control" [(ngModel)]="cuisine" (change)="drawMarkers()">
          <option value="">All</option>
          <option *ngFor="let cuisine of cuisines" [value]="cuisine">{{cuisine}}</option>
        </select>
      </div>
    </div>
    <div class="col-3 row">
      <div class="col-9">
        <input type="text" class="form-control" placeholder="Input keyword" [(ngModel)]="keyword" >
      </div>
      <button type="button" (click)="search()" class="col-3 btn btn-primary">Search</button>
    </div>
  </div>
  <div class="mb-3 icons rows">
    <span><img src="./assets/icons/marker-cyan.svg" />Your Sales</span>
    <span><img src="./assets/icons/marker-blue.svg" />QMenu RTs</span>
    <span><img src="./assets/icons/marker-red.svg" />Any RTs</span>
  </div>
  <div class="map-list">
    <div class="map" id="rt-map"></div>
    <ul class="list">
      <li *ngFor="let rt of myRTs">
        <a class="btn-link" (click)="centerToRT(rt)">{{rt.name}}</a>
      </li>
    </ul>
  </div>
</div>
