.icons .icons-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.icons span {
  display: inline-flex;
  align-items: center;
  margin-right: 1rem;
}
.icons img {
  width: 24px;
}

.map-list {
  display: flex;
}
.map-list {
  height: 600px;
}
.map-list .map {
  width: 75%;
  height: 100%;
}

.map-list .list {
  width: 25%;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: auto;
}

.map-list .list li {
  margin: 0;
  padding: 2px 15px;
}

.map-list .list li a:first-child {
  margin-right: 0.25rem;
}
