<ng-container *ngIf="transfer">
  <!-- {{transfer | json}} -->
  <div class="mb-4">
    <!-- <h4 class="mb-3">GMB Transfer Steps</h4> -->
    <span class="alert alert-warning p-2">{{getAccountName(transfer.fromEmail)}}</span> →
    <span class="alert alert-warning p-2" *ngIf="transfer.toEmail">{{getAccountName(transfer.toEmail)}}</span>
  </div>
  <div class="mb-4" *ngIf="!transfer.toEmail">
    <label>
      Select B (Target Account)
      <span *ngIf="toGmb" class="text-success"> ✓</span>
    </label>

    <select [(ngModel)]="transfer.toEmail" class="form-control" (change)="handleUpdate('select')">
      <option></option>
      <option *ngFor="let account of getFilteredAccounts()" [ngValue]="account.email">{{getAccountName(account.email)}} (biz count = {{account.bizCount || 0}})</option>
    </select>
  </div>

  <div class="mb-4">
    <label>
      Let B Request Ownership
    </label>
    <div *ngIf="!transfer.request">
      <button class="btn btn-info" [qLoading]="gmbRequesting" [disabled]="!transfer.toEmail" (click)="handleUpdate('request', 'requestedAt', 'gmbRequesting')">Request Ownership</button>
    </div>

    <div *ngIf="transfer.request">
      Requested {{transfer.requestedAt | ago: now}}
    </div>
  </div>


  <div class="mb-4">
    <label>
      Let A Reject B's Request
    </label>
    <div *ngIf="!transfer.rejectedAt">
      <button class="btn btn-info" [qLoading]="gmbRejecting" [disabled]="!transfer.request" (click)="handleUpdate('reject', 'rejectedAt', 'gmbRejecting')">Reject B's Request</button>
    </div>
    <div *ngIf="transfer.rejectedAt">
      Rejected {{transfer.rejectedAt | ago: now}}
    </div>
  </div>

  <div class="mb-4">
    <label>
      Let B Appeal
    </label>
    <div *ngIf="!transfer.appealedAt">
      <button class="btn btn-info" [qLoading]="gmbAppealing" [disabled]="!transfer.rejectedAt" (click)="handleUpdate('appeal', 'appealedAt', 'gmbAppealing')">Appeal</button>
    </div>
    <div *ngIf="transfer.appealedAt">
      Appealed {{transfer.appealedAt | ago: now}} ID: {{transfer.appealId}}
      <div>
        <button class="btn btn-link px-0" [qLoading]="gmbAppealing" [disabled]="!transfer.rejectedAt" (click)="handleUpdate('appeal', 'appealedAt', 'gmbAppealing')">Re-Appeal</button>
      </div>
      Selected Verification Method:
      <div>
        <q-simple-radio [(ngModel)]="transfer.verificationMethod" [equalWidth]="true" [values]="['Email', 'Call', 'Postcard']" (ngModelChange)="handleUpdate('selectVerificationMethod')">
        </q-simple-radio>
      </div>
      SINGLE SELECT APPEAL OPTION
    </div>
  </div>

  ---------------EMAIL---------------------
  <div class="mb-4">
    <label>
      Retrieve Code from Email
    </label>
    <div *ngIf="!transfer.code">
      <button class="btn btn-info" [qLoading]="retrievingCode" [disabled]="!transfer.appealedAt" (click)="handleUpdate('retrieve', null, 'retrievingCode')">Retrive Code</button>
    </div>
    <div *ngIf="transfer.code">
      Code is
      <span class="badge badge-success">{{transfer.code}}</span>
    </div>
  </div>
  ---------------POST CARD-------------------------
  <div class="mb-4">
    <label>
      Notify Restaurant Owner the Coming Postcard
    </label>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" [checked]="!!transfer.bizNotifiedAt" (change)="handleUpdate('notify', 'bizNotifiedAt', null)">
      <label class="form-check-label" for="defaultCheck1">
        Notified Restaurant
        <span *ngIf="transfer.bizNotifiedAt" style="font-weight: normal">{{transfer.bizNotifiedAt | ago: now}}</span>
      </label>
    </div>
  </div>

  <div class="mb-4">
    <label>
      Call for Postcard Code
    </label>
    Mr. Lin, 407-580-7504 call scheduled At, Date, input box, reschedule another call;
    <div *ngIf="!transfer.code">
      <button [disabled]="!transfer.appealedAt" class="btn btn-info">Input Obtained Code</button>
      <button [disabled]="!transfer.appealedAt" class="btn btn-info">Reschedule Another Call</button>
    </div>
    <div *ngIf="transfer.code">
      Code is
      <span class="badge badge-success">{{transfer.code}}</span>
    </div>
  </div>

  --------------------------------------
  <div class="mb-4">
    <label>
      Verify/Obtain New Ownership
    </label>

    <div *ngIf="!transfer.verifiedAt">
      <input [(ngModel)]="transfer.code" class="form-control mb-2" type="tel" style="max-width: 12rem;" placeholder="code goes here">
      <button class="btn btn-info" [qLoading]="verifyingCode" [disabled]="!transfer.code" (click)="handleUpdate('verify', 'verifiedAt', 'verifyingCode')">Verify Code</button>
    </div>
    <div *ngIf="transfer.verifiedAt">
      Verified {{transfer.verifiedAt | ago: now}}
    </div>

  </div>

  --------------------------------------
  <div class="mb-4">
    <label>
      Update Verified Website
    </label>

    SOME CODE GOES HERE

  </div>

  <div class="mb-4">
    <label>
      Complete the Transfer
    </label>
    <div *ngIf="!transfer.completedAt">
      <button class="btn btn-danger" [qLoading]="completing" (click)="handleUpdate('failed', 'completedAt', 'completing')">Failed</button>
      <button class="btn btn-primary" [qLoading]="completing" (click)="handleUpdate('succeeded', 'completedAt', 'completing')">Succeeded</button>
    </div>
    <div *ngIf="transfer.completedAt" class="alert {{transfer.result === 'Succeeded' ? 'alert-success' : 'alert-danger'}}">
      {{transfer.result}}: {{transfer.completedAt | ago : now}}
    </div>
  </div>

</ng-container>