<div *ngIf="orders">
  <div class="form-group">
    <div class="row">
      <div class="col-2">Created At: </div>
      <div class="col-4">
        <input class="form-control" type="date" [(ngModel)]="fromDate">
      </div>
      <div class="col-4">
        <input class="form-control" type="date" [(ngModel)]="toDate">
      </div>
      <div class="col-2">
        <button class="btn btn-primary" (click)="search()">Search</button>
      </div>
    </div>
  </div>

  <div class="row ml-0 mr-0">
    <!-- row has negative margins and we need to remove them! -->
    <div *ngFor="let order of orders" class="col-sm-12 col-md-6 col-lg-4  app-pl-025 app-pr-025 mb-1">
      <div class="card {{order.statusEqual('CANCELED') || order.statusEqual('COMPLETED') ? '': 'app-stand-out'}}
          {{order.statusEqual('CANCELED') ? 'app-order-finished card-outline-danger' : ''}}
          {{order.statusEqual('COMPLETED') ? 'card-outline-success app-order-finished' : ''}}" style="height:100%">
        <div class="order-number">
          <span class="pl-1" routerLink="/order/{{order.id}}">{{order.orderNumber}}</span>
          <i class="fa fa-clipboard" (click)="copyToClipboard(order)" style="cursor:pointer;"></i>
        </div>
        <div *ngIf="order.dineInSessionObj" class="qr">
          <span class="">
            <i class="fa fa-qrcode"></i> QR <span>{{order.dineInSessionObj.code}}</span>
          </span>
        </div>
        <div class="card-block">

          <h4 class="text-sm-center">
            {{getCustomerName(order)}}
          </h4>
          <h6 class="text-center text-muted">{{order.id}}</h6>
          <div class="text-danger text-sm-center pb-2" *ngIf="!order.customerPreviousOrderStatus">Note: New Customer</div>
          <!-- 显示用户被禁止的理由(show the banned reson of customer if it exsits!) -->
          <div *ngIf="order.customer?.bannedReasons" class="alert alert-danger">
            <i class="fa fa-ban"></i> BANNED: {{getBannedReasons(order)}}
          </div>

          <!--display a checkmark to indicate it's done-->
          <h4 *ngIf="order.statusEqual('COMPLETED')" class="app-status-done text-success">
            &#10004;
          </h4>
          <!--display an x to indicate it's done-->
          <h4 *ngIf="order.statusEqual('CANCELED')" class="app-status-done text-danger">
            &#10008;
          </h4>

          <h5 *ngIf="getCustomerPhoneNumber(order)" class="text-sm-center">
            <a href="tel:{{getCustomerPhoneNumber(order)}}">{{getCustomerPhoneNumber(order) | tel}}</a>
          </h5>

          <h5 *ngIf="getCustomerEmail(order)" class="text-sm-center">
            <a href="mailto:{{getCustomerEmail(order)}}">{{getCustomerEmail(order)}}</a>
          </h5>
          <div class="text-sm-center card-text">
            <span>{{getSubmittedTime(order) | adjustedDate : 'MMM d h:mm a' : order.restaurantAddress?.timezone}}</span>
            |
            <strong>{{order.type}}</strong> |
            <strong>{{order.payment.paymentType === 'CREDITCARD' ? 'CC' : 'CASH'}}</strong>
            <span *ngIf="order.payment.paymentType === 'CREDITCARD'"> | </span>
            <strong *ngIf="order.payment.paymentType === 'CREDITCARD' && order.payment.method != 'STRIPE'">{{order.payment.method}}</strong>
            <strong *ngIf="order.payment.paymentType === 'CREDITCARD' && order.payment.method === 'STRIPE'">RESTAURANT</strong>
            <span *ngIf="order.payment.fattmerchantWebToken"> (FATT)</span>
            <span *ngIf="order?.paymentObj?.stripeObject?.spreedlyGatewayToken"> (SPRE)</span>
            <span *ngIf="order?.paymentObj?.paypalClientId"> (PAYPAL)</span>
          </div>
          <div class="text-uppercase highlight" *ngIf="order.restaurantNotice">
            <strong>{{order.restaurantNotice}}</strong>
          </div>
          <div class="text-sm-center card-text" *ngIf="order.address?.apt">
            <strong>{{order.address.apt}}</strong>
          </div>
          <a *ngIf="order.address" href="http://maps.google.com/?q={{order.address.formatted_address}}">
            <div class="text-sm-center card-text">{{order.address.formatted_address}}
            </div>
          </a>
          <div *ngIf="order.deliveryDistance" class="text-sm-center card-text">
            <strong>({{order.deliveryDistance.toFixed(1)}} miles)</strong>
          </div>

          <div class="text-sm-center" *ngIf="order.address?.specialInstructions">
            Extra Instructions: {{order.address.specialInstructions}}
          </div>
          <div *ngIf="order.timeToDeliver" class="text-sm-center card-text alert-success">
            <span class="fa fa-clock-o"></span>
            <strong> scheduled:
              {{order.timeToDeliver | adjustedDate : 'MMM d h:mm a' : order.restaurantTimezone}}</strong>
          </div>
          <div *ngIf="order.delivery?.courier" class="text-center">
            <hr>
            <div class="media mt-1 d-inline-block">
              <div class="media-left" *ngIf="order.delivery?.courier?.img_href">
                <img class="media-object img-rounded driver-thubmbnail" src="{{order.delivery?.courier?.img_href}}"
                     alt="{{order.delivery?.courier?.name}}">
              </div>
              <div class="media-body pl-1 text-left">
                <div>
                  <span class="label">Driver</span><span class="value">{{order.delivery?.courier?.name}}</span>
                </div>
                <!--
                <div>
                  <span class="label">Phone</span><span
                    class="value">{{(order.delivery?.courier?.phone_number || '').slice(1) | tel}}</span>
                </div>
                 -->
                <div>
                  <span class="label">Status</span><span
                  class="value text-uppercase {{order.delivery?.status === 'canceled' ? 'text-danger' : ''}}">{{order.delivery?.status}}</span>
                </div>
                <div>
                  <span class="label">Postmates ID </span><span class="value">{{order.delivery?.id}}</span>
                </div>
                <div class="text-center"><button class="btn btn-link"
                                                 (click)="displayingDeliveryDetails = !displayingDeliveryDetails">{{displayingDeliveryDetails ? 'less...' :
                  'more...'}}</button>
                </div>
                <div *ngIf="displayingDeliveryDetails">
                  <div *ngFor="let record of getUpdatedStatuses()">
                    <span>{{record.created | adjustedDate : 'h:mm a' : order.restaurantTimezone}}</span>&nbsp;<span
                    class="value">{{postmatesStatus(record.status)}}</span>
                  </div>
                  <div class="text-center"><a href="{{order.delivery.tracking_url}}" target="_blank">Map</a></div>
                </div>
              </div>
            </div>
          </div>
          <small>
            <div class="text-sm-center"
                 *ngIf="order.customerPreviousOrderStatus && order.customerPreviousOrderStatus.status=='CANCELED'">
              Note: Customer's
              <a href="/order/order.customerPreviousOrderStatus.order">previous order</a> was canceled. Reason:
              <span class="text-danger">{{order.customerPreviousOrderStatus.comments}}</span>
            </div>
          </small>
          <div [id]="'items-'+order.id">
            <hr>
            <div class="distance">
              <div>Billing Address: {{order.ccAddress.formatted_address}}</div>
              <div>Restaurant Address: {{order.restaurantAddress?.formatted_address}}</div>
              <div>Distance: <span class="text-danger">{{order.ccAddress.distanceToStore | number }} miles</span></div>
              <div [id]="'map-' + order.id" class="distance-map"></div>
            </div>

            <div *ngIf="order.statusEqual('CANCELED')" class="alert alert-danger" role="alert">
              Order was canceled :(<div>{{order.getCurrentStatusComments()}}</div>
              <hr class="text-danger">
              <span>
                Canceled by {{whoCancelOrder(order)}} on {{getOrderCanceledTime(order) | date:'yyyy-MM-dd HH:mm:ss'}}
              </span>
            </div>
            <div class="text-right">
              <hr>
              <a role="button" class="text-danger text-nowrap card-link" (click)="handleOnBan(order)" *ngIf="!isBanned(order)">
                <i class="fa fa-thumbs-down"></i> Ban</a>
              <a role="button" class="text-danger text-nowrap card-link" (click)="handleOnBan(order)" *ngIf="isBanned(order)">
                <i class="fa fa-thumbs-up"></i> Unban</a>

              <a role="button" class="text-danger text-nowrap card-link" (click)="handleOnReject(order)"
                 *ngIf="canCancel(order) && !isCanceled(order)">
                <i class="fa fa-times"></i> Cancel</a>
              <a role="button" class="text-danger text-nowrap card-link" (click)="handleOnUndoReject(order)"
                 *ngIf="canCancel(order) && isCanceled(order)">
                <i class="fa fa-times"></i> Undo Cancel</a>
              <a role="button" class="text-primary text-nowrap card-link" (click)="handleOnDisplayCreditCard(order)"
                 *ngIf="canShowCreditCard(order)">
                <i class="fa fa-credit-card"></i> View</a>
              <a *ngIf="isViewable(order)" target="_blank" class="text-primary text-nowrap card-link"
                 href="{{getOrderLink(order)}}">
                <i class="fa fa-eye"></i> View Order</a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <q-modal #paymentModal>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
    <div class="clearfix"></div>
    <hr>
    <p>{{payment.explanation}}</p>
    <table class="table-borderless">
      <tr>
        <th>Payment Type</th>
        <td>{{payment.paymentType}}</td>
      </tr>
      <tr *ngIf="payment.card">
        <th>Customer Name</th>
        <td>{{payment.card.firstName + ' ' + (payment.card.lastName || '')}}</td>
      </tr>
      <tr *ngIf="payment.card">
        <th>Card Number</th>
        <td>{{getFormattedCreditCardNumber(payment.card.cardNumber)}}</td>
      </tr>
      <tr *ngIf="payment.card">
        <th>Card Expiry</th>
        <td>{{payment.card.expiryMonth + '/' + payment.card.expiryYear}}</td>
      </tr>
      <tr *ngIf="payment.card">
        <th>Card CVC</th>
        <td>{{payment.card.cvc || 'N/A'}}</td>
      </tr>
      <tr *ngIf="payment.card && payment.card.zipcode">
        <th>Zip Code</th>
        <td>{{payment.card.zipcode || 'N/A'}}</td>
      </tr>
      <tr *ngIf="payment.card && payment.card.billingAddress && payment.card.billingAddress.place_id">
        <th>Billing Address</th>
        <td>
          {{payment.card.billingAddress?.apt}} {{payment.card.billingAddress?.formatted_address}}
        </td>
      </tr>
    </table>
    <button class="btn btn-lg btn-block btn-secondary" data-dismiss="modal">OK</button>
  </q-modal>
  <q-modal #rejectModal>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
    <h4 class="text-center">Reject Order</h4>
    <hr>
    <app-order-reject-bar [order]="orderForModal" (onReject)="rejectOrder($event)"></app-order-reject-bar>
    <hr>
    <div *ngIf="!!cancelError" class="d-flex flex-column align-items-center">
      <span class="text-primary">ATTENTION</span>
      <p class="text-primary">{{cancelError}}</p>
    </div>

    <div *ngIf="isPostmatesStatusDelivered" class="d-flex flex-column align-items-center">
      <span class="text-primary">ATTENTION</span>
      <p class="text-primary">Note that the Postmates status of this order <span
        class="font-weight-bold">delivered.</span><br />Please be sure you want to cancel it before proceeding. </p>
    </div>
  </q-modal>

  <q-modal #undoRejectModal>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
    <h4 class="text-center">Undo Reject Order</h4>
    <hr>
    <p class="text-center">Are you sure to undo cancel order?</p>
    <div class="d-flex justify-content-end p-4">
      <button class="btn btn-secondary mr-2" (click)="undoRejectModal.hide()">No</button>
      <button class="btn btn-primary" (click)="undoRejectOrder()">Yes</button>
    </div>

  </q-modal>

  <q-modal #banModal>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
    <h4 class="text-center">BAN CUSTOMER</h4>
    <hr>
    <div class="alert-danger">USE EXTREME CAUTION: The customer
      <b>{{orderForModal?.customer?.firstName}} {{orderForModal?.customer?.phone | tel}}</b> will be banned
      permanently
      from placing any orders in future!</div>
    <div class="alert-success mt-1 mt-1">Banned customers will NOT see the reasons.</div>

    <h5 class="pt-1 pb-1">Reasons (check all that applies)</h5>
    <app-ban-customer (onBan)="okBan($event)"></app-ban-customer>

  </q-modal>

</div>
