<div *ngIf="cycle">
  <h1 class="text-center">{{cycle.toDate}}</h1>

  <div class="text-right mb-2">
    <button class="btn btn-primary" (click)="recalculate()">
      <i class="fas fa-sync"></i> Recalculate</button>
  </div>
  <table class="table table-bordered text-center">
    <tbody>
      <tr>
        <td colspan="7" class="hvr-underline-reveal d-table-cell {{activeBlockName ==='ALL' ? 'alert-secondary' : ''}}"
          (click)="setActiveBlockName('ALL')">
          {{blocks.ALL.label}}
          <h2>{{blocks.ALL.rows.length}}</h2>
          <div class="text-danger">{{blocks.ALL.rows.length - blocks.INVOICES.rows.length - blocks.SKIPPED.rows.length}}
            Unprocessed</div>
        </td>
      </tr>
      <tr>
        <td colspan="3"
          class="w-50 hvr-underline-reveal d-table-cell {{activeBlockName ==='INVOICES' ? 'alert-secondary' : ''}}"
          (click)="setActiveBlockName('INVOICES')">
          {{blocks.INVOICES.label}}
          <h2>{{blocks.INVOICES.rows.length}}</h2>
        </td>
        <td colspan="4"
          class="w-50 hvr-underline-reveal d-table-cell {{activeBlockName ==='SKIPPED' ? 'alert-secondary' : ''}}"
          (click)="setActiveBlockName('SKIPPED')">
          {{blocks.SKIPPED.label}}
          <h2>{{blocks.SKIPPED.rows.length}}</h2>
        </td>
      </tr>
      <tr>
        <td class="hvr-underline-reveal d-table-cell {{activeBlockName ==='PAYOUT_INVOICES' ? 'alert-secondary' : ''}}"
          (click)="setActiveBlockName('PAYOUT_INVOICES')" style="width: 14%">
          {{blocks.PAYOUT_INVOICES.label}}
          <h2>{{blocks.PAYOUT_INVOICES.rows.length}}</h2>
          <div>
            sent: {{blocks.PAYOUT_INVOICES.sent || 0}}
          </div>
          <div class="text-success">
            paid: {{blocks.PAYOUT_INVOICES.paid || 0}}
          </div>
        </td>
        <td class="hvr-underline-reveal d-table-cell {{activeBlockName ==='NORMAL_INVOICES' ? 'alert-secondary' : ''}}"
          (click)="setActiveBlockName('NORMAL_INVOICES')" style="width: 14%">
          {{blocks.NORMAL_INVOICES.label}}
          <h2>{{blocks.NORMAL_INVOICES.rows.length}}</h2>
          <div>
            sent: {{blocks.NORMAL_INVOICES.sent || 0}}
          </div>
          <div class="text-success">
            paid: {{blocks.NORMAL_INVOICES.paid || 0}}
          </div>
        </td>

        <td
          class="hvr-underline-reveal d-table-cell {{activeBlockName ==='CANCELED_INVOICES' ? 'alert-secondary' : ''}}"
          (click)="setActiveBlockName('CANCELED_INVOICES')" style="width: 14%">
          {{blocks.CANCELED_INVOICES.label}}
          <h2 class="text-danger">{{blocks.CANCELED_INVOICES.rows.length}}</h2>
          <div>
            sent: {{blocks.CANCELED_INVOICES.sent || 0}}
          </div>
          <div class="text-success">
            paid: {{blocks.CANCELED_INVOICES.paid || 0}}
          </div>
        </td>
        <td style="width: 14%"
          class="hvr-underline-reveal d-table-cell {{activeBlockName ==='SKIPPED_TOO_SMALL' ? 'alert-secondary' : ''}}"
          (click)="setActiveBlockName('SKIPPED_TOO_SMALL')">
          {{blocks.SKIPPED_TOO_SMALL.label}}
          <h2>{{blocks.SKIPPED_TOO_SMALL.rows.length}}</h2>
        </td>
        <td style="width: 14%"
          class="hvr-underline-reveal d-table-cell {{activeBlockName ==='SKIPPED_0' ? 'alert-secondary' : ''}}"
          (click)="setActiveBlockName('SKIPPED_0')">
          {{blocks.SKIPPED_0.label}}
          <h2>{{blocks.SKIPPED_0.rows.length}}</h2>
        </td>
        <td style="width: 14%"
          class="hvr-underline-reveal d-table-cell {{activeBlockName ==='SKIPPED_MANUAL' ? 'alert-secondary' : ''}}"
          (click)="setActiveBlockName('SKIPPED_MANUAL')">
          {{blocks.SKIPPED_MANUAL.label}}
          <h2>{{blocks.SKIPPED_MANUAL.rows.length}}</h2>
        </td>
        <td class="hvr-underline-reveal d-table-cell {{activeBlockName ==='SKIPPED_ERROR' ? 'alert-secondary' : ''}}"
          (click)="setActiveBlockName('SKIPPED_ERROR')">
          {{blocks.SKIPPED_ERROR.label}}
          <h2 class="text-danger">{{blocks.SKIPPED_ERROR.rows.length}}</h2>
          Acknowledged
          <h5 class="text-success">43</h5>
        </td>
      <tr>
    </tbody>
  </table>

  <div *ngIf="activeBlock">
    <h2 class="text-center">
      {{activeBlock.label}}
    </h2>
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th><button (click)="sort('name')" class="btn btn-link p-0">Name</button></th>
          <th>Invoice</th>
          <th><button (click)="sort('balance')" class="btn btn-link p-0">Balance</button></th>
          <th>Error</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of activeBlock.rows">
          <td>{{row._id.slice(-5)}}</td>
          <td><a routerLink="/restaurants/{{row._id}}" target="_blank">{{row.name}}</a></td>
          <td><a routerLink="/invoices/{{row.invoice?._id}}" target="_blank">{{row.invoice?._id}}</a></td>
          <td><span *ngIf="row.invoice?.balance">{{row.invoice?.balance | currency:'USD':'symbol'}}</span></td>
          <td class="text-danger">{{row.error | json}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>