<div *ngIf="!restaurant">
  <label>Prepopulate from Restaurant:</label>
  <q-restaurant-picker #myRestaurantPicker [restaurants]="restaurantList" (select)="select($event)"></q-restaurant-picker>
</div>

<div class="clearfix alert alert-info" *ngIf="restaurant">
  <div class="media float-left">
    <q-restaurant-media-object [restaurant]="restaurant"></q-restaurant-media-object>
  </div>
  <div class="float-right">
    <button class="btn btn-link" (click)="resetRestaurant()">Reset</button>
  </div>
</div>
<app-email-code-reader [email]="qmenuPop3Email" [host]="qmenuPop3Host" [password]="qmenuPop3Password" (retrieve)="retrieveEmailCode($event)"
  [gmbBiz]="gmbBiz"></app-email-code-reader>