<div class="card-group">
  <div class="card mb-2">
    <h3 class="card-title text-center pt-4 pb-2">
      <i class="far fa fa-car"></i> Delivery Settings</h3>

    <q-simple-radio [(ngModel)]="selectedCourierName" [equalWidth]="true" [values]="courierNames">
    </q-simple-radio>
    <ul class="list-group list-group-flush">

      <li class="list-group-item">
        <!--displaying-->
        <div *qIf="!editing">
          <app-restaurant-delivery-closed-hours [restaurant]="restaurant">
          </app-restaurant-delivery-closed-hours>
          <table class="app-table w-100">
            <tr>
              <th class="text-left">External Delivery:</th>
              <td class="pl-1">
                <div *ngIf="restaurant.externalDeliveryEnabled">
                  <img src="./assets/images/postmates.png" style="height: 2rem">
                </div>
                <div *ngIf="!restaurant.externalDeliveryEnabled">
                  No
                </div>
              </td>
            </tr>
            <tr>
              <th class="text-left">Taxable:</th>
              <td class="pl-1">{{restaurant.taxOnDelivery ? 'Yes' : 'No'}}</td>
            </tr>
            <!--add block-->
            <tr *ngIf="restaurant.blockedCities && restaurant.blockedCities.length > 0">
              <th class="text-left">Blocked Cities:</th>
              <td class="pl-1">{{restaurant.blockedCities}}</td>
            </tr>
            <!--end add bolck-->
            <!--add block-->
            <tr *ngIf="restaurant.blockedZipCodes && restaurant.blockedZipCodes.length > 0">
              <th class="text-left">Blocked Zip Codes:</th>
              <td class="pl-1">{{restaurant.blockedZipCodes}}</td>
            </tr>
            <tr *ngIf="restaurant.allowedCities && restaurant.allowedCities.length > 0">
              <th class="text-left">Allowed Cities:</th>
              <td class="pl-1">{{restaurant.allowedCities}}</td>
            </tr>
            <tr *ngIf="restaurant.allowedZipCodes && restaurant.allowedZipCodes.length">
              <th class="text-left">Allowed Zip Codes:</th>
              <td class="pl-1">{{restaurant.allowedZipCodes}}</td>
            </tr>

            <!--end add bolck-->
            <tr *ngIf="restaurant.deliveryFromTime">
              <th class="text-left">Start Time:</th>
              <td class="pl-1">
                {{restaurant.deliveryFromTime | shortTime: restaurant.offsetToEST}}
              </td>
            </tr>
            <tr>
              <th class="text-left">End Time:</th>
              <td class="pl-1">{{getDeliveryEndString()}}</td>
            </tr>
            <tr>
              <th class="text-left">Delivery Serve Hours:</th>
              <td>
                <div class="text-center">
                  <q-hours-viewer [offsetToEST]="offsetToEST"
                    [hours]="restaurant.deliveryHours ? restaurant.deliveryHours : []"></q-hours-viewer>
                </div>
              </td>
            </tr>
          </table>

          <table class="table app-borderless w-100"
            *ngIf="restaurant.deliverySettings && restaurant.deliverySettings.length > 0">
            <thead>
              <tr>
                <th class="text-center">Distance (mile)</th>
                <th class="text-center">Order Minimum</th>
                <th class="text-center">Charge</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ds of restaurant.deliverySettings">
                <td class="text-center">{{ds.distance}}</td>
                <td class="text-center">{{(ds.orderMinimum || 0) | money}}</td>
                <td class="text-center">{{(ds.charge || 0) | money}}</td>
              </tr>
            </tbody>
          </table>
          <div class="form-group row" *ngIf="restaurant.deliveryArea">
            <label class="col-4 col-form-label pt-0">Delivery Area</label>
            <div class="col-8 text-left">
              <div class="form-group">
                <textarea class="form-control" rows="5" [(ngModel)]="restaurant.deliveryArea" disabled></textarea>
              </div>
            </div>
          </div>
        </div>

        <!--editing-->
        <div *qIf="editing">
          <table class="w-100">
            <tr>
              <th class="text-left">Use External Delivery</th>
              <td class="pl-1">
                <label class="switch">
                  <input type="checkbox" (click)="toggleExternalDeliveryEnabled()" [checked]="externalDeliveryEnabled">
                  <div class="slider round"></div>
                </label>
              </td>
            </tr>

            <tr>
              <th class="text-left">Taxable</th>
              <td class="pl-1">
                <label class="switch">
                  <input type="checkbox" (click)="toggleTaxOnDelivery()" [checked]="taxOnDelivery">
                  <div class="slider round"></div>
                </label>
              </td>
            </tr>
            <tr>
              <th class="text-left">Blocked Cities</th>
              <td class="pl-1">
                <input type="text" [(ngModel)]="blockedCities" class="form-control">
              </td>
            </tr>
            <tr>
              <th class="text-left">Blocked Zip Codes</th>
              <td class="pl-1">
                <input type="text" [(ngModel)]="blockedZipCodes" class="form-control">
              </td>
            </tr>
            <tr>
              <th class="text-left">Allowed Cities</th>
              <td class="pl-1">
                <input type="text" [(ngModel)]="allowedCities" class="form-control">
              </td>
            </tr>
            <tr>
              <th class="text-left">Allowed Zip Codes</th>
              <td class="pl-1">
                <input type="text" [(ngModel)]="allowedZipCodes" class="form-control">
              </td>
            </tr>
            <tr>
              <th class="text-left">Start Time</th>
              <td class="pl-1">
                <select [(ngModel)]="deliveryFrom" class="form-control">
                  <option *ngFor="let t of deliveryFromTimes" [ngValue]="t">{{t.text}}</option>
                </select>
              </td>
            </tr>
            <tr>
              <th class="text-left">End Time</th>
              <td class="pl-1">
                <select [(ngModel)]="deliveryEndMinutesBeforeClosing" class="form-control">
                  <option *ngFor="let t of deliveryEndTimes" [ngValue]="t.value">{{t.text}}</option>
                </select>
              </td>
            </tr>
            <tr>
              <th class="text-left">Delivery Serve Hours</th>
              <td class="pl-1">
                <div *ngFor="let hour of deliveryHours">
                  <div class="pull-xs-left">{{hour.toDayString(offsetToEST)}} {{hour.fromTime | shortTime :
                    offsetToEST}}
                    - {{hour.toTime | shortTime
                    : offsetToEST}}
                  </div>
                  <div class="pull-xs-right">
                    <button type="button" class="btn btn-link text-danger pt-0 pb-0"
                      (click)="deleteHour(hour)">X</button>
                  </div>
                </div>
                <div class="pull-xs-right">
                  <button type="button" class="btn btn-link" (click)="clickedAddHour = !clickedAddHour">+ Add
                    Hour</button>
                </div>

                <div *qIf="clickedAddHour" style="font-size: smaller">
                  <div class="card card-block">
                    <q-hours-picker (cancel)="clickedAddHour = false" (submit)="doneAddingHour($event)">
                    </q-hours-picker>
                  </div>
                </div>
              </td>
            </tr>

          </table>

          <table class="table app-borderless w-100">
            <thead>
              <tr>
                <th class="text-center">Distance (mile)</th>
                <th class="text-center">Order Minimum</th>
                <th class="text-center">Charge</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ds of deliverySettingsInEditing">
                <td class="text-center">
                  <input type="number" class="form-control" [(ngModel)]="ds.distance">
                </td>
                <td class="text-center">
                  <input type="number" class="form-control" [(ngModel)]="ds.orderMinimum">
                </td>
                <td class="text-center">
                  <input type="number" class="form-control" [(ngModel)]="ds.charge">
                </td>
              </tr>
              <tr>
            </tbody>
          </table>

          <div class="form-group row">
            <label class="col-4 col-form-label pt-0">Delivery Area</label>
            <div class="col-8 text-left">
              <div *qIf="editing" class="form-group">
                <textarea class="form-control" rows="5" [(ngModel)]="deliveryArea"></textarea>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li class="list-group-item text-right" *ngIf="!editing">
        <button (click)="toggleEditing()" class="btn btn-primary" role="button">Edit</button>
      </li>
      <li class="list-group-item text-right" *ngIf="editing">
        <button class="btn btn-secondary" (click)="toggleEditing()" style="min-width: 6rem">Cancel</button>
        <button class="btn btn-primary" (click)="update()" style="min-width: 6rem">OK</button>
      </li>
    </ul>
  </div>
</div>