<div class="text-center">
  <h3>Restaurants by Courier({{filteredRestaurants.length}})</h3>
</div>
<div *ngIf="!restaurants || restaurants.length === 0">
  Restaurants by Courier list is empty.
</div>
<div class="float-left form-inline mt-2 mb-2 ml-2">
  <label class="mr-2"> Courier:</label>
  <select class="mr-5 form-control" [(ngModel)]="courier" (change)="filter()">
    <option value="All">All</option>
    <ng-container *ngFor="let courier of couriers">
      <option *ngIf="courier != 'None'" [value]='courier.name'>{{courier.name}}</option>
    </ng-container>
  </select>
</div>
<q-table [rows]="filteredRestaurants" [tableColumnDescriptors]="restaurantsColumnDescriptors" [compact]="true">
  <tr *tableRowTemplate="let restaurant;">
    <td>{{filteredRestaurants.indexOf(restaurant) + 1}}</td>
    <td>
      <a href="#/restaurants/{{restaurant.restaurantId}}" target="_blank">{{restaurant.name}}</a>
      <br>
      {{restaurant.address}}
    </td>
    <td>{{restaurant.courier?.name || 'None'}}</td>
    <td>{{restaurant.timeZone}}</td>
    <td>{{restaurant.score | number : '1.0-1' || 0}}</td>
  </tr>
</q-table>
