<button
  type="button"
  class="btn btn-primary rowButton text-nowrap btn-sm"
  data-toggle="modal"
  data-target="#exampleModal"
>
  Upload RT
</button>

<div class="modal" tabindex="-1" role="dialog" id="exampleModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Upload CSV</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-footer">
        <div class="container">
          <div class="row">
            <a [href]="fileUrl" download="file.txt">DownloadFile</a>
            <div class="col-sm-4">
              <input
                class="hidden"
                type="file"
                #fileInput
                id="upload-file"
                name="upload-file"
                accept=".csv"
                ngf-max-size="2MB"
                (change)="addFileList($event.target.files)"
              />
            </div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <button (click)="reset()">Reset</button>
            </div>
          </div>
        </div>
        <br />
        <div class="container">
          <div class="row">
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="exampleCheck1"
                (click)="designatePostcardFlag()"
              />
              <label class="form-check-label" for="exampleCheck1"
                >Send Postcard to Every Added Restaurant</label
              >
            </div>
            <br />
            <br />
            <p>Columns should be "rt_name", "rt_zip_code" & "language".</p>
          </div>
          <br />
          <br />

          <div class="row">
            <div *ngIf="currentlyUploading" class="col-sm-4">Loading...</div>
            <div
              *ngIf="currentlyUploading"
              class="spinner-border text-center"
              role="status"
            >
              <span class="sr-only">Loading...</span>
            </div>

            <div *ngIf="invalidFormat" class="text-center">
              Invalid format, please follow instructions
            </div>
            <div *ngIf="showOutput && !invalidFormat">
              <div class="alert alert-secondary text-center" role="alert">
                Reload the page to see the updated list of restaurants!
              </div>

              <hr />

              <div class="alert alert-success text-center">
                We successfully processed
                {{ successRestaurants.length }} restaurants
              </div>
              <table *ngIf="successRestaurants.length > 0" class="table">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">RT Name</th>
                      <th scope="col">RT Address</th>
                      <th scope="col">RT Language</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of successRestaurants">
                      <th scope="row">{{ item.name }}</th>
                      <td>{{ item.address }}</td>
                      <td>{{ item.language }}</td>
                    </tr>
                  </tbody>
                </table>
              </table>

              <hr />

              <div
                *ngIf="successLobRestaurants.length > 0"
                class="alert alert-success text-center"
              >
                We successfully sent postcards to
                {{ successLobRestaurants.length }} restaurants
              </div>

              <table *ngIf="successLobRestaurants" class="table">
                <table class="table">
                  <tbody>
                    <tr *ngFor="let item of successLobRestaurants">
                      <th>{{ item }}</th>
                    </tr>
                  </tbody>
                </table>
              </table>

              <hr />

              <div
                *ngIf="failedRestaurants.length > 0"
                class="alert alert-danger text-center"
              >
                We failed to add these restaurants
              </div>

              <table *ngIf="failedRestaurants.length > 0" class="table">
                <hr />

                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">RT Name</th>
                      <th scope="col">RT Address</th>
                      <th scope="col">RT Language</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of failedRestaurants">
                      <th scope="row">{{ item.name }}</th>
                      <td>{{ item.address }}</td>
                      <td>{{ item.language }}</td>
                    </tr>
                  </tbody>
                </table>
              </table>
              <hr />

              <div
                *ngIf="failLobRestaurants.length > 0"
                class="alert alert-danger text-center"
              >
                We failed to sent postcards to these restaurants:
              </div>

              <table *ngIf="failLobRestaurants" class="table">
                <table class="table">
                  <tbody>
                    <tr *ngFor="let item of failLobRestaurants">
                      <th>{{ item }}</th>
                    </tr>
                  </tbody>
                </table>
              </table>

              <hr />

              <div
                *ngIf="alreadyWorkWithUs.length > 0"
                class="alert alert-danger text-center"
              >
                These restaurants already work us
              </div>

              <table class="table">
                <table class="table">
                  <tbody>
                    <tr *ngFor="let item of alreadyWorkWithUs">
                      <th>{{ item }}</th>
                    </tr>
                  </tbody>
                </table>
              </table>
            </div>
          </div>
          <br />
          <br />
          <button
            (click)="addAttachment()"
            class="row text-center btn btn-primary"
          >
            Submit
          </button>
          <br />
          <br />

          <br />
        </div>
      </div>
    </div>
  </div>
</div>
