<h1 class="text-center">{{startDate | date:'MMMM y' }}</h1>
<div>
  <ng-container *ngFor="let state of invoiceStates">
    <label class="{{state.css}}" for="inlineFormCustomSelect">{{state.label}}</label>
    <select [(ngModel)]="state.value">
      <option value="any">any</option>
      <option value="yes">yes</option>
      <option value="no">no</option>
    </select> &nbsp;
  </ng-container>
  <label class="checkbox-inline">
    <input type="checkbox" [(ngModel)]="showCanceledRestaurant"> Show Canceled Restaurant</label> |
  <label class="checkbox-inline">
    <input type="checkbox" [(ngModel)]="showRestaurantWithInvoiceOnly"> Show Restaurant With Invoice</label>
  <label class="checkbox-inline">
    <input type="checkbox" [(ngModel)]="showQmenuInvoiceOnly"> Show Qmenu Invoice</label>
</div>
<div class="row my-2">
  <div class="col form-inline">
    Search Filter:
    <input type="text" class="form-control ml-2" placeholder="Restauran Name" [(ngModel)]="nameFilter">

  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th role="button" class="text-primary" (click)="sort('name')">Restaurant
        <i class="fas fa-sort"></i>
      </th>
      <th>Date Range</th>
      <th class="text-right">Total</th>
      <th class="text-right">Commission</th>
      <th class="text-right">Balance</th>
      <th class="text-right"></th>
      <th role="button" class="text-right" (click)="sortByOrderCount()">Orders
        <i class="fas fa-sort"></i>
      </th>
      <th role="button" class="text-primary text-right" (click)="sort('creditCardProcessingMethod')">Credit Card
        <i class="fas fa-sort"></i>
      </th>
      <th colspan="3" class="text-right">Action</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let record of restaurantInvoices;">

      <ng-container *ngIf="shouldShowQmenuRow(record)">
        <ng-container *ngIf="shouldShowInvoiceRow(record)">
          <!--display records-->
          <ng-container *ngFor="let invoice of getFilteredInvoices(record); let i = index">
            <tr *ngIf="shouldShowSubrow(invoice)" class="{{record.restaurant.disabled ? 'app-strike' : ''}}">
              <td *ngIf="i === 0" style="color: #292b2c" [attr.rowspan]="getFilteredInvoices(record).length">
                <a routerLink="/restaurants/{{record.restaurant._id }}">{{record.restaurant.name}}</a>

                <button class="btn btn-link py-0" (click)="record.showContact = !record.showContact">
                  <!-- <i class="far fa-address-card"></i>&nbsp; -->
                  <i class="fas {{record.showContact ? 'fa-caret-up' : 'fa-caret-down'}} "></i>
                </button>
                <div *ngIf="record.showContact">
                  <div>Email: {{record.restaurant.email}}</div>
                  <div>Fax: {{getFax(record.restaurant) | tel}}</div>
                  <div>Text: {{getText(record.restaurant) | tel}}</div>
                  <div>{{getLine1(record.restaurant.googleAddress)}}</div>
                  <div>{{getLine2(record.restaurant.googleAddress)}}</div>
                </div>
              </td>
              <td class="text-nowrap" routerLink="/invoices/{{invoice._id}}" class="{{getCssClass(invoice)}}">&#9632; {{invoice.fromDate | date:'MMM d'}} - {{invoice.toDate | date:'MMM d'}}</td>
              <td class="text-right">{{invoice.total | currency:'USD':'symbol'}}</td>

              <td class="text-right">{{invoice.commission | currency:'USD':'symbol'}}</td>
              <td class="text-right">{{invoice.balance | currency:'USD':'symbol'}}</td>
              <td class="text-right"></td>

              <td class="text-right text-nowrap">
                {{(record.orders || []).length}}
              </td>
              <td class="text-right">
                {{record.restaurant.creditCardProcessingMethod}}
              </td>
              <td class="text-right text-nowrap">
                <a routerLink="/invoices/{{invoice._id}}" target="_blank">Details</a> |
                <a class="text-primary" role="button" style="cursor: pointer;" (click)="createClicked(record.restaurant._id)">Create</a>
              </td>
            </tr>
          </ng-container>

          <!--there is no invoice, we still list the restaurant name-->
          <tr *ngIf="record.invoices.length === 0" class="{{record.restaurant.disabled ? 'app-strike' : ''}}">
            <td>
              <a routerLink="/restaurants/{{record.restaurant._id }}">{{record.restaurant.name}}</a>
              <button class="btn btn-link py-0" (click)="record.showContact = !record.showContact">
                <!-- <i class="far fa-address-card"></i>&nbsp; -->
                <i class="fas {{record.showContact ? 'fa-caret-up' : 'fa-caret-down'}} "></i>
              </button>
              <div *ngIf="record.showContact">
                <div>Email: {{record.restaurant.email}}</div>
                <div>Fax: {{getFax(record.restaurant) | tel}}</div>
                <div>Text: {{getText(record.restaurant) | tel}}</div>
                <div>{{getLine1(record.restaurant.googleAddress)}}</div>
                <div>{{getLine2(record.restaurant.googleAddress)}}</div>
              </div>
            </td>
            <td colspan="4"></td>
            <td class="text-right"></td>
            <!--invoice setting-->
            <td class="text-right text-nowrap">
              {{(record.orders || []).length}}
            </td>
            <!--td class="text-right"><a class="text-primary" role="button" (click)="invoiceClicked(record.restaurant.id)">InvoiceDelivery</a></td-->
            <td class="text-right">
              {{record.restaurant.creditCardProcessingMethod}}
            </td>
            <td class="text-right">
              <a class="text-primary" role="button" style="cursor: pointer;" (click)="createClicked(record.restaurant._id)">Create</a>
            </td>
          </tr>
        </ng-container>
      </ng-container>
    </ng-container>
    <tr>
      <th></th>
      <th>SUM</th>
      <th class="text-right">{{getTotal() | currency:'USD':'symbol'}}</th>
      <th class="text-right">{{getCommission() | currency:'USD':'symbol'}}</th>
      <th></th>
      <th></th>
    </tr>
  </tbody>
</table>

<q-modal #invoiceModal>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>
  <h4 class="text-center">Create Invoice</h4>
  <hr>

  <app-invoice-editor #myInvoiceEditor (onNewInvoice)="createNewInvoice($event)" (onCancel)="invoiceModal.hide()"></app-invoice-editor>
</q-modal>

<q-modal #invoiceOptionModal>
  <button type="button" class="close" data-dismiss="modal" arial-label="Close">
    <span aria-hidden="true">×</span>
  </button>
  <h4 class="text-center">Invoice Delivery Method</h4>
  <hr>

  <app-invoice-option-editor #myInvoiceOptionEditor (onInvoiceOption)="createInvoiceOption($event)" (onCancel)="invoiceOptionModal.hide()"></app-invoice-option-editor>
</q-modal>