<ng-container *ngIf="restaurant">
  <label>Send to: </label>
  <select (change)="onChangeSendTo()" [(ngModel)]="sendToType" class="form-control">
    <ng-container *ngFor="let type of sendToTypes">
      <option *ngIf="type === 'All'">{{type}}</option>
      <option *ngIf="type != 'All' && type != 'Other'">{{type | tel}}</option>
      <option *ngIf="type === 'Other'">{{type}}</option>
    </ng-container>
  </select>
  <div *ngIf="sendToType === 'Other'" class="form-group mt-3">
    <input id="profile-phone-number" [(ngModel)]="phoneNumber" type="tel" class="form-control {{isPhoneValid(phoneNumber)? '' : 'is-invalid'}} mt-1"
      placeholder="Enter another phone #">
  </div>
  <div class="mt-3">
    <label>Send what: </label>
    <select (change)="onChangeSendWhat()" [(ngModel)]="sendWhatType" class="form-control">
      <option>Custom</option>
      <option>QR Biz link</option>
      <option>QR promo vid (中)</option>
      <option>QR promo vid (Eng)</option>
      <option>QR tutorial vid (中)</option>
      <option>QR tutorial vid (Eng)</option>
      <option>5x7 Signholder link</option>
      <option>QR promo pamphlet (中)</option>
      <option>QR promo pamphlet (Eng)</option>
    </select>
  </div>

  <textarea rows="4" class="form-control mt-3" type="text" [(ngModel)]="message"></textarea>
  <button (click)="sendText()" [disabled]="!isValid()" class="btn btn-primary btn-block mt-3">Send</button>
  <div class="mt-1 alert-success" *ngIf="textedPhoneNumber">
    <small>Text was sent to {{textedPhoneNumber | tel}}. Thank you!</small>
  </div>
  <hr>
</ng-container>
<ng-container *ngIf="!restaurant">
  <label>Send to: </label>
  <div class="form-group mt-3">
    <input id="profile-phone-number" [(ngModel)]="phoneNumber" type="tel" class="form-control {{isPhoneValid(phoneNumber)? '' : 'is-invalid'}} mt-1"
      placeholder="SMS number">
  </div>
  <div class="mt-3">
    <label>Send what: </label>
    <select (change)="onChangeSendWhat()" [(ngModel)]="sendWhatType" class="form-control">
      <option>Custom</option>
      <option>QR Biz link</option>
      <option>QR promo vid (中)</option>
      <option>QR promo vid (Eng)</option>
      <option>QR tutorial vid (中)</option>
      <option>QR tutorial vid (Eng)</option>
      <option>5x7 Signholder link</option>
      <option>QR promo pamphlet (中)</option>
      <option>QR promo pamphlet (Eng)</option>
    </select>
  </div>

  <textarea rows="4" class="form-control mt-3" type="text" [(ngModel)]="message"></textarea>
  <button (click)="sendText()" [disabled]="!isValid()" class="btn btn-primary btn-block mt-3">Send</button>
  <div class="mt-1 alert-success" *ngIf="textedPhoneNumber">
    <small>Text was sent to {{textedPhoneNumber | tel}}. Thank you!</small>
  </div>
  <hr>
</ng-container>
