<h1 class="text-center">Users ({{getTableUserCount()}})</h1>
<div class="text-right pb-2">
  <label class="checkbox-inline mr-2"><input type="checkbox" [(ngModel)]="showNotes"> Show notes</label>
  <label class="checkbox-inline" *ngIf="isAdmin() && getDisabledUsers().length > 0"><input type="checkbox"
      [(ngModel)]="showDisabled"> Show disabled
    ({{getDisabledUsers().length}})</label>
  <button class="btn btn-primary" (click)="edit(null)">+ Add New User</button>
</div>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">IVR</th>
        <th scope="col">Roles</th>
        <th scope="col">Manager</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let user of users">
        <tr *ngIf="showDisabled || !user.disabled" class="{{user.disabled ? 'disabled' : ''}}">
          <th scope="row">{{user.username}}
            <div class="text-tiny">{{(user.languages || []).join(' ')}}</div>
          </th>
          <th scope="row">
            {{user.ivrUsername}}
          </th>
          <td>{{(user.roles || []).join(', ')}}
            <div class="text-tiny text-muted">
              {{user.lastLog}}
            </div>
            <div class="text-tiny text-info" *ngIf="showNotes && user.notes">
              NOTES: {{user.notes}}
            </div>
          </td>
          <td>{{user.manager}}</td>
          <td class="text-right">
            <button class="btn btn-link pr-0" (click)="edit(user)">Edit</button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<h3>Roles</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Role</th>
      <th scope="col">Users</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ru of roleUsers">
      <th>{{ru.role}}</th>
      <td>{{ru.users.join(', ')}}</td>
    </tr>
  </tbody>
</table>


<q-modal [title]="userInEditing._id ? 'Edit User: ' + userInEditing.username : 'Create New User' " #editingModal>
  <q-form-builder [object]="userInEditing" [showDelete]="userInEditing._id && isAdmin()"
    [fieldDescriptors]="formFieldDescriptors" (submit)="formSubmit($event)" (remove)="formRemove($event)"
    (cancel)="editingModal.hide()">
    <button class="btn btn-link form-group" (click)="showMore=!showMore">Show More
    </button>
    <textarea *ngIf="showMore" class="form-control form-group" rows="10" [(ngModel)]="userInEditing.notes"
      placeholder="You can include information such as: Paypal username, Role, Email, Phone, Skype, and other notes. (limit 1000 characters)."></textarea>
  </q-form-builder>
</q-modal>
