<h1 class="text-center">Users</h1>
<div class="text-right pb-2">
  <label class="checkbox-inline" *ngIf="getDisabledUsers().length > 0"><input type="checkbox"
      [(ngModel)]="showDisabled"> Show disabled
    ({{getDisabledUsers().length}})</label>
  <button class="btn btn-primary" (click)="edit(null)">+ Add New User</button>
</div>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Roles</th>
        <th scope="col">Manager</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let user of users">
        <tr  *ngIf="showDisabled || !user.disabled" class="{{user.disabled ? 'disabled' : ''}}">
          <th scope="row">{{user.username}}
            <div  class="text-tiny">{{(user.languages || []).join(' ')}}</div>
          </th>
          <td>{{(user.roles || []).join(', ')}}
            <div class="text-tiny text-muted">
              {{user.lastLog}}
            </div>
          </td>
          <td>{{user.manager}}</td>
          <td class="text-right">
            <button class="btn btn-link pr-0" (click)="edit(user)">Edit</button>
          </td>
        </tr>
    </ng-container>
    </tbody>
  </table>
</div>

<h3>Roles</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Role</th>
      <th scope="col">Users</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ru of roleUsers">
      <th>{{ru.role}}</th>
      <td>{{ru.users.join(', ')}}</td>
    </tr>
  </tbody>
</table>


<q-modal [title]="userInEditing._id ? 'Edit User: ' + userInEditing.username : 'Create New User' " #editingModal>
  <q-form-builder [object]="userInEditing" [showDelete]="userInEditing._id" [fieldDescriptors]="formFieldDescriptors"
    (submit)="formSubmit($event)" (remove)="formRemove($event)" (cancel)="editingModal.hide()"></q-form-builder>
</q-modal>