<h1 class="text-center">Orders in Past 24 Hours</h1>
<div class="text-right mb-2">
  <div class="pb-2">
    <button class="btn btn-primary" (click)="refresh()">
      <i class="fas fa-sync"></i> refresh</button>
    <button class="btn btn-primary" (click)="downloadStats()">
      <i class="fas fa-chart-line"></i> Download Stats</button>
  </div>
</div>
<div class="text-right">
  Total:
  <span class="badge badge-info">{{totalOrders}}</span>
  (last week: <span class="badge badge-secondary">{{lastWeekTotalOrders}}</span>)
  Standalone:
  <span class="badge badge-info">{{standaloneOrders}}</span>
  HTTPS:
  <span class="badge badge-success">{{httpsOrders}}</span>

  qMenu Direct:
  <span class="badge badge-success">{{qmenuDirectOrders}}</span>

  Restaurant Having Orders:
  <span class="badge badge-success">{{restaurantsWithOrders}}</span>
  No Orders:
  <span class="badge badge-warning">{{restaurantsWithoutOrders}}</span>
</div>
<div class="text-right">
  USA Orders/Published:
  <span class="badge badge-info">{{usaOrders}}/{{usaPublished}}</span>
  Canada Orders/Published:
  <span class="badge badge-info">{{canadaOrders}}/{{canadaPublished}}</span>
</div>
<table class="table">
  <thead>
    <tr>
      <!-- <th scope="col">Agent</th> -->
      <th><button class="btn btn-link px-0" (click)="sort('restaurant')">Restaurant</button></th>
      <th><button class="btn btn-link px-0" (click)="sort('score')">Score</button></th>
      <th><button class="btn btn-link px-0" (click)="sort('web')">Web</button></th>
      <th><button class="btn btn-link px-0" (click)="sort('app')">App</button></th>
      <th><button class="btn btn-link px-0" (click)="sort('change')">Change</button></th>
      <th><button class="btn btn-link px-0" (click)="sort('gmb')">GMB</button></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of rows;">
      <!-- <td>
        {{row.restaurant.rateSchedules && row.restaurant.rateSchedules.length > 0 ? row.restaurant.rateSchedules[0].agent : ''}}
      </td> -->
      <td>
        <span (click)="row.expanded = !row.expanded"></span>

        <a href="#/restaurants/{{row.restaurant._id}}" target="_blank">{{row.restaurant.name}}
        </a>
        <button *ngIf="row.orders.length > 0" class="btn btn-link py-0" (click)="row.expanded = !row.expanded">
          <i class="fas {{row.expanded ? 'fa-caret-up' : 'fa-caret-down'}} "></i>
        </button>

        <div *ngIf="row.expanded">
          <ng-container *ngFor="let order of row.orders">
            <span class="badge badge-info">{{order.orderNumber}}</span>
          </ng-container>
        </div>
      </td>
      <td>{{(row.restaurant.score || 0) | number : '1.0-0'}}</td>
      <td>{{row.orders.length - row.standaloneOrders.length}}</td>
      <td>{{row.standaloneOrders.length}}</td>
      <td>
        <span *ngIf="row.orders.length > row.lastWeekOrders.length" class="text-success">+{{row.orders.length -
          row.lastWeekOrders.length}}</span>
        <span *ngIf="row.orders.length === row.lastWeekOrders.length">-</span>
        <span *ngIf="row.orders.length < row.lastWeekOrders.length" class="text-danger">{{row.orders.length -
          row.lastWeekOrders.length}}</span>
      </td>
      <td>
        <span class="text-success" *ngIf="row.ownedGmb">✔</span>
        <span class="text-danger" *ngIf="!row.ownedGmb">✘</span>
      </td>
    </tr>
  </tbody>
</table>