<ng-container *ngIf="task && action">
    <h6 class="card-title">{{action.name}}</h6>

    <p class="card-text text-muted">{{task.description}}</p>
    <p class="card-text">{{action.confirmationText}}</p>

    <div class="text-right">
        <a class="btn btn-link mr-2" (click)="clickCancel()">Cancel</a>
        <button class="btn btn-primary btn-sm" (click)="clickConfirm()" [qLoading]="confirming">{{confirmError ? 'Retry' : 'Confirm'}}</button>
        <div class="text-danger" *ngIf="!confirming">
            <small>{{confirmError}}</small>
        </div>
    </div>

</ng-container>