<pre>
  [Log Phone Call]
  Phone Number
  Date Time
  [Busy] [Left Message] [Connected]
      - 


  [Submit Log]
</pre>>
  
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <button class="btn btn-link text-secondary" (click)="cancelClicked()">Cancel</button>
    <button class="btn btn-primary" (click)="submitClicked()"><i class="fas fa-check"></i> Submit</button>
  </div>

</div>
