<h1 class="text-center">Restaurants ({{ filteredRows.length }})</h1>

<div class="row d-flex align-items-center">
  <div class="col-md-2 d-flex align-items-center">
    <div class="clearfix my-2">
      <select class="form-control mr-2 mb-1" [(ngModel)]="restaurantStatus" (change)="filter()">
        <option>All</option>
        <option>Open</option>
        <option>Unclaimable</option>
        <option>Reclaimable</option>
        <option>Unknown</option>
        <option>Error</option>
      </select>
    </div>
    <!-- <div [qLoading]="refreshing"></div> -->
  </div>
  <div class="col-md-10 d-flex align-items-center justify-content-end">
    <button class="btn btn-link" (click)="refresh()" [qLoading]="refreshing"><i class="fas fa-sync-alt"></i> Reload</button>
  </div>
</div>


<q-table [rows]="filteredRows" [tableColumnDescriptors]="myColumnDescriptors" [compact]="true" [pageSize]="pagination ? 100 : 100000">
  <tr *tableRowTemplate="let rt;">
    <!-- count -->
    <td>{{filteredRows.indexOf(rt) + 1}}</td>
    
    <!-- restaurant name -->
    <td>
      <a routerLink="/restaurants/{{ rt._id }}">{{ rt.name }}</a>
      <div class="text-muted">
        <small>{{ rt.googleAddress?.formatted_address.replace(', USA', '') }}</small>
      </div>
      <div class="text-muted">
        <small class="text-primary">{{ getYelpFormattedAddress(rt.yelpListing?.location) }}</small>
      </div>
    </td>
    
    <!-- qmeni rt id -->
    <td>
      {{ rt._id }}
    </td>

    <!-- score -->
    <td>
      {{ rt.yelpListing.rating }}
    </td>

    <!-- agent -->
    <td>
      {{ rt.rateSchedules && rt.rateSchedules[0] ? rt.rateSchedules[0].name : "-" }}
    </td>

    <!-- yelp account -->
    <td>
      <app-gmb-account-hotlink [email]="rt.gmb_email"></app-gmb-account-hotlink>
    </td>

    <!-- yelp yid -->
    <td>
      <a href="{{ rt.yelpListing.url }}" target="_blank">{{
        rt.yelpListing.yid
      }}</a>
      <div *ngIf="rt.name !== rt.yelpListing.name">
        {{ al?.location?.name }}
      </div>
    </td>

    <!-- yelp status -->
    <td>
      <div *ngIf="((rt.yelpListing.claimedStatus === 'Reclaimable') || (rt.yelpListing.claimedStatus === 'Open') && canTaskBeDone(rt.yelpListing.yid)); else noStatus" >
        <button *ngIf="isTaskAssigned(rt.yelpListing?.yid); else noStatus"class="btn btn-link fix-v-align px-0 {{ muted ? 'text-muted' : '' }}" (click)="claim(rt, rt.yelpListing?.yid)">{{ rt.claimedStatus }}</button>
      </div>
      <ng-template #noStatus>
        <div>{{ rt.claimedStatus }}</div>
      </ng-template>
    </td>

    <!--  websites  -->
    <!-- TODO: Make it editable and save changes to db -->
    <td>
      <small>
        <div>Q: {{ rt.qmenuWebsite }}</div>
        <div>R: {{ rt.website }}</div>
      </small>
    </td>

    <td>
      <div *ngIf="isTaskAssigned(rt.yelpListing.yid); else notTaskAssigned">
        <span>Assigned</span>
      </div>
      <ng-template #notTaskAssigned class="d-flex align-items-center">
        <button *ngIf="(rt.yelpListing?.claimedStatus === 'Open') || (rt.yelpListing?.claimedStatus === 'Reclaimable')" class="btn btn-small btn-primary" (click)='assignYelpTask(rt._id, rt.name, rt.yelpListing.yid)'>Take this task</button>
      </ng-template>
    </td>

  </tr>
</q-table>

