<h1 class="text-center">Restaurants ({{ filteredRows.length }})</h1>

<div class="row d-flex align-items-center">
  <div class="col-md-7 d-flex align-items-center">
    <div class="clearfix my-2 float-left form-inline limit-width-height">
      <label class="mr-2"> Status:</label>
      <select class="form-control mb-1" [(ngModel)]="restaurantStatus" (change)="filter()">
        <option>All</option>
        <option>Published</option>
        <option>Unmatched</option>
        <option>Claimable</option>
        <option>Unclaimable</option>
        <option>Unknown</option>
      </select>
    </div>
    <div class="clearfix my-2 float-left form-inline ml-3 limit-width-height">
      <label class="mr-2"> Q / Y website:</label>
      <select class="form-control mb-1" [(ngModel)]="Q_Y_WebsiteStatus" (change)="filter()">
        <option>All</option>
        <option>Q=Y</option>
        <option>Q!=Y</option>
      </select>
    </div>
    <input [qDebounce]="2000" (debounce)="search($event)" type="text" [(ngModel)]="searchText"
        class="form-control col-md-5 ml-4" placeholder="Search By ID">
  </div>
  <!--
  <div class="col-md-10 d-flex align-items-center justify-content-end">
    <button class="btn btn-link" (click)="populate()" [qLoading]="refreshing"><i class="fas fa-sync-alt"></i> Reload All</button>
  </div>
   -->
</div>

<q-table [rows]="filteredRows" [tableColumnDescriptors]="myColumnDescriptors" [compact]="true" [pageSize]="pagination ? 100 : 100000">
  <tr *tableRowTemplate="let rt" class="w-100 {{(filteredRows.indexOf(rt) + 1) % 2 !== 0 ? 'table-row-bg': ''}}">

    <!-- count -->
    <td>
      <div class="h-100 d-flex flex-column justify-content-center">
        {{ filteredRows.indexOf(rt) + 1 }}
      </div>
    </td>

    <!-- restaurant name -->
    <td>
      <div class="h-100 d-flex flex-column justify-content-center">
        <a href="{{ rt.url }}" target="_blank">{{ rt.yelpName }}</a>
        <div class="text-muted">

          <!-- <div>Yelp Id : {{ rt.yid }}</div> -->
          <small *ngIf="rt.yid">YID: {{ rt.yid }}</small>
          <div *ngIf="!rt.url">
            <div class="text-danger">NO MATCHING URL YET ({{rt.qMenuName}})</div>
          </div>
          <div><span>Yelp URL:</span><q-edit-label [value]="rt.url" (edit)="onAssignYelpUrl($event, 'url', rt)"></q-edit-label></div>
          <div *ngIf="rt.url && !rt.yid" class="text-danger">WAITING TO BE CRAWLED</div>
          <div><a routerLink="/restaurants/{{ rt._id }}" target="_blank"><i class="fas fa-external-link-alt"></i> qMenu restaurant page</a></div>
          <div>{{rt._id}}</div>
        </div>
        <div class="text-muted">
          <small>{{ rt.googleFormattedAddress }}</small>
        </div>
        <div class="text-muted" *ngIf="!rt.isSameAddress">
          <small class="text-primary">{{getYelpFormattedAddress(rt.location)}}</small>
        </div>
      </div>
    </td>

    <!-- time zone -->
    <td>
      {{rt.timezone | timezoneOffset}}
    </td>

    <!-- score -->
    <td >
      <div class="h-100 d-flex flex-column justify-content-center">
        {{ rt.rating }}
      </div>
    </td>

    <!-- account -->
    <td >
      <div class="h-100" class="d-flex flex-column">
        <div *ngIf='rt.isRTPublished; else rtNotPublished'>
          <div>
            <button class="btn btn-link fix-v-align p-0 m-0" (click)="loginYelp(getPublishedAccount(rt.yid), rt.yid)"><i class="fab fa-yelp mr-1" aria-hidden="true"></i> {{getUsername(getPublishedAccount(rt.yid))}}</button>
          </div>
        </div>
        <ng-template #rtNotPublished>
          <div *ngIf="getUsername(rt.yelpEmail)">
            <button class="btn btn-link fix-v-align p-0 m-0" (click)="loginYelp(rt.yelpEmail, rt.yid)"><i class="fab fa-yelp mr-1" aria-hidden="true"></i> {{getUsername(rt.yelpEmail)}}</button>
          </div>
        </ng-template>
        <div *ngIf="rt.yelpEmail || getUsername(getPublishedAccount(rt.yid))">
          <button class="btn btn-link btn-sm p-0 m-0" (click)="login(rt.yelpEmail)"><i class="fab fa-google mr-1"></i> (Open GMail)</button>
        </div>
      </div>
    </td>

    <!-- yelp status -->
    <td >
      <div class="h-100 d-flex flex-column justify-content-center">
        <div class="h-100 d-flex flex-column justify-content-center">
          <div *ngIf="rt.isRTPublished; else notPublished">
            <span class="text-success">Published ✓</span>
          </div>
          <ng-template #notPublished>
            <div *ngIf="(rt.claimedStatus === 'Reclaimable' || rt.claimedStatus === 'Open'); else nonClaimableStatus">
              <button class="btn btn-link fix-v-align p-0" (click)="claim(rt)">{{ rt.claimedStatus === "Open" ? "Claim" : "Reclaim" }}</button>
            </div>
            <ng-template #nonClaimableStatus>
              {{rt.claimedStatus}}
            </ng-template>
          </ng-template>
        </div>
      </div>
    </td>

    <!-- Website -->
    <td>
      <div class="d-flex flex-column">
        <div class="small">Q: <a href="http://{{rt.qmenuWebsite}}" target="_blank">{{rt.qmenuWebsite}}</a></div>
        <div class="small">Y: <a href="http://{{rt.website}}" target="_blank">{{rt.website}}</a></div>
        <div *ngIf="rt.isRTPublished">
          <button class="btn btn-link p-0 mt-1" (click)="injectWebsite(rt)"> Inject Desired Website </button>
        </div>
      </div>
    </td>

    <!-- Logs -->
    <td>
      <div *ngIf="rt.isRequested" class="h-100 d-flex flex-column justify-content-center mr-3">
        <div>
          <small class="font-italic" *ngIf="(rt.logs || []).length === 0">No logs yet.</small>
        </div>
        <div *ngFor="let log of (rt.logs || [])">
          <div>
            <span class="font-weight-bold">{{log && log.user}}</span><small class="font-italic"> {{log && log.date | adjustedDate : 'MMM dd' : rt.timezone}}</small>
            <div>{{log && log.content}}</div>
          </div>
        </div>
        <div class="d-flex pt-1">
          <input type="text" class="form-control" placeholder="Add a new log ..." (keydown.enter)="addLogButton.click()" [(ngModel)]="rt.currentLog" >
          <button type="button" class="btn btn-outline-success btn-sm ml-2" style="width: 80px;" #addLogButton (click)="addLog(rt.yid, rt.currentLog)" [disabled]="!rt.currentLog">Add</button>
        </div>
      </div>
    </td>

    <!-- Reload Single -->
    <td >
      <div *ngIf="rt.isRequested" class="h-100 d-flex flex-column justify-content-center">
        <div class="h-100 d-flex flex-column justify-content-center">
          <button class="btn btn-link" (click)="refreshSingle(rt._id, rt.yid, rt.yelpEmail)" [qLoading]="refreshing"><i
              class="fas fa-sync-alt"></i> Reload</button>
        </div>
      </div>
    </td>
  </tr>

</q-table>
