/* we need this to solve popup over popup problem, lousy cdk */
::ng-deep .cdk-overlay-container {
    z-index: 100000;
}

.my-btn-narrow {
    min-width: 1rem !important;
}

div .my-btn-narrow:not(:first-child) {
    border-left: 1px solid rgba(255, 255, 255, 0.25)
}