<div *ngIf="promotion">
  <label>Display Title:</label>
  <div class="{{promotion.name ? '' : 'has-danger'}}">
    <input type="text" class="form-control" [(ngModel)]="promotion.name" placeholder="eg. $5 off $50">
  </div>
  <label class="mt-1">Code:</label>
  <div class="{{promotion.code ? '' : 'has-danger'}}">
    <input type="text" class="form-control" [(ngModel)]="promotion.code" placeholder="eg. spring5">
  </div>

  <label class="mt-1">Fixed Amount($):</label>
  <div>
    <input type="tel" class="form-control" [(ngModel)]="promotion.amount" placeholder="eg. 2">
  </div>

  <label class="mt-1">Percentage(%):</label>
  <div>
    <input type="tel" class="form-control" [(ngModel)]="promotion.percentage" placeholder="eg. 10">
  </div>

  <label class="mt-1">Order Minimum ($):</label>
  <div>
    <input type="tel" class="form-control" [(ngModel)]="promotion.orderMinimum" placeholder="eg. 50">
  </div>

  <label class="mt-1">Expiration Date:</label>
  <div>
    <input type="date" class="form-control" [(ngModel)]="promotion.expiry">
  </div>
  <div>
    <label class="mt-1">
      <input type="checkbox" [(ngModel)]="promotion.public"> Publicly displayed</label>
  </div>

  <div>
    <label class="mt-1">
      <input type="checkbox" [(ngModel)]="promotion.newCustomerOnly"> Only for new customers</label>
  </div>

  <label class="mt-1">Excluded Platforms:</label>
  <div *ngFor="let platform of ['APP', 'Web']" class="pl-4">
    <label class="mt-1">
      <input type="checkbox" [checked]="!isPlatformIncluded(platform)" (change)="togglePlatform(platform)">
      {{platform}}</label>
  </div>

  <label class="mt-1">Excluded Order Types:</label>
  <div *ngFor="let orderType of ['Pickup', 'Delivery', 'Dine-in']" class="pl-4">
    <label class="mt-1">
      <input type="checkbox" [checked]="!isOrderTypeIncluded(type)" (change)="toggleOrderType(orderType)">
      {{orderType}}</label>
  </div>

  <label class="mt-1">Excluded Menus:</label>
  <div *ngFor="let menu of (menus || [])" class="pl-4">
    <label class="mt-1">
      <input type="checkbox" [checked]="!isMenuIncluded(menu)" (change)="toggleMenu(menu)">
      {{menu.name}}</label>
  </div>

  <div class="mt-1 text-right">
    <button *ngIf="promotion.id" class="btn btn-link text-danger" (click)="remove()">Delete</button>
    <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
    <button class="btn btn-primary" (click)="done()" [disabled]="!isPromotionValid()">OK</button>
  </div>

  <hr>
  <h4>Preview</h4>
  <app-promotion-viewer [promotion]="promotion" [offsetToEST]="offsetToEST" [hideEditButton]="true">
  </app-promotion-viewer>
  <!-- because of viewer having float left -->
  <div class="clearfix"></div>
</div>