<button class="btn btn-primary" (click)="findPhaxioFailedNumbers()">Execute</button>

<q-table [rows]="rows" [tableColumnDescriptors]="myColumnDescriptors" [compact]="true">
    <tr *tableRowTemplate="let row;">
        <td>
            <a target="_blank" href="#/restaurants/{{row.restaurant?._id}}">{{row.restaurant?.name}}</a>
            <div><small>{{row.restaurant?._id}}</small></div>
        </td>
        <td>
            {{row.customized ? 'Yes' : ''}}
        </td>
        <td>
            {{row.phone}}
        </td>
        <td>
            <div *ngFor="let error of row.errorList">
                {{error}}
            </div>
        </td>
        <td></td>
    </tr>
</q-table>