<div class="card">
  <h1 class="text-center mt-2">Fax Health Monitoring </h1>
  <div class="ml-2">
    <small> Note that total error occurrences may be greater than number of failed jobs. A job may have one or more
      errors and go to on ultimately succeed. A job is only considered Failed if it never successfully sends after all
      re-tries.
    </small>
  </div>

  <div class="w-25 m-1">
    <label> Select Date Range to Display:</label>
    <select class="form-control" [(ngModel)]="queryDate" (change)="queryJobs()">
      <option>Last hour</option>
      <option>Last 6 hours</option>
      <option>Last 24 hours</option>
      <option>Last 3 days</option>
      <option>Last 5 days</option>
    </select>
  </div>

  <div class="card-body">
    <q-table [rows]="rows" [tableColumnDescriptors]="myColumnDescriptors" [compact]="true">
      <tr *tableRowTemplate="let row;">
        <td>
          {{row.providerName}}
        </td>
        <td>
          {{row.successfulJobs}}
        </td>
        <td>
          {{ row.failedJobs}}
        </td>
        <td>
          {{ row.failureRate}}
        </td>
        <td>
          <q-table [rows]="row.errorCodes" [tableColumnDescriptors]="errorColumnDescriptors" [compact]="true">
      <tr *tableRowTemplate="let errorRow">
        <td>
          {{errorRow.message}}
        </td>
        <td>
          {{errorRow.number}}
        </td>
      </tr>
    </q-table>
    </td>

    </tr>
    </q-table>
  </div>
</div>