<div class="card">

  <h1 class="text-center">Fax Health Monitoring </h1>
  <h4 class="text-center">

    Displaying fax events since {{displaySinceDate | date : 'short'}}
  </h4>

  <div class="card-body">
    <q-table [rows]="filterRows" [tableColumnDescriptors]="myColumnDescriptors" [compact]="true">
      <tr *tableRowTemplate="let row;" class="{{!row.succeededOnce ? 'text-danger' : ''}}">
        <td>
          <a target="_blank" href="#/restaurants/{{row.restaurant?._id}}">{{row.restaurant?.name}}</a>
          <div><small>{{row.restaurant?._id}}</small></div>
        </td>
        <td>
          <ng-container
            *ngIf="row.restaurant?.googleAddress && row.restaurant?.googleAddress?.timezone;else elseBlock;">
            {{getTimezoneCity(row.restaurant.googleAddress.timezone)}}
            ({{getTimeOffsetByTimezone(row.restaurant.googleAddress.timezone)}})
          </ng-container>
          <ng-template #elseBlock>
            N/A
          </ng-template>
        </td>
        <td>
          {{row.phone}}
        </td>
        <td>
          {{ getErrorsCount(row)}}
        </td>
        <td>
          <div *ngFor="let error of row.errorList">
            {{error}}

          </div>
        </td>
        <td>{{row.succeededOnce}}</td>
      </tr>
    </q-table>
  </div>
</div>