<div class="text-center">
    <h3>List of Restaurants with QR Dine-In ({{qrFilterRestaurantListRows?.length || 0}})</h3>
</div>
<div class="pb-2 text-left">
  <div class="float-left form-inline ml-2 mr-2">
    <label class="form-check-label mr-2">Show</label>
    <select [(ngModel)]="filterType" class="form-control ml-1"  (change)="filterQrFullyConfigured()">
        <option *ngFor="let type of filterTypes" [value]="type">{{type}}</option>
    </select>
  </div>
  <div class="float-left form-inline ml-2 mr-2">
    <label class="form-check-label mr-2">QR Salesperson</label>
    <select [(ngModel)]="qrSalesperson" class="form-control ml-1"  (change)="filterByQRSalesperson()">
      <option value="All">All</option>  
      <ng-container *ngFor="let person of qrSalespeople">
        <option *ngIf="person != 'None'" [value]="person">{{person}}</option>
      </ng-container>
    </select>
  </div>
  <button class="btn btn-primary" (click)="populateQrRestaurant()"><i class="fas fa-sync"></i> Rescan</button>
</div>

<div class="card-body text-left">
  <div *ngIf="!qrRestaurantListRows || qrRestaurantListRows.length === 0">
    Qr Restaurant list is empty.
  </div>
  <q-table [rows]="qrFilterRestaurantListRows" [tableColumnDescriptors]="restaurantsColumnDescriptors" [compact]="true"
    [pageSize]="pagination ? 100 : 100000">
    <tr *tableRowTemplate="let restaurant;">
      <td>{{qrFilterRestaurantListRows.indexOf(restaurant) + 1}}</td>
      <td>
        <a href="#/restaurants/{{restaurant._id}}" target="_blank">{{restaurant.name}}</a>
        <br>
        {{restaurant.googleAddress?.formatted_address}}
        <br>
        <br>
       <div>
        QR Salesperson : {{restaurant.qrSettings.agent}}
       </div>
      </td>
      <td>
        {{restaurant.qrOrderNumber}}
      </td>
      <td>
        <div *ngIf="restaurant.feeSchedules">
          <app-restaurant-fee-schedules [restaurant]="restaurant" [users]="knownUsers"></app-restaurant-fee-schedules>
        </div>
        <div *ngIf="!restaurant.feeSchedules">
          <app-restaurant-rate-schedules [restaurant]="restaurant" [users]="knownUsers"></app-restaurant-rate-schedules>
        </div>
      </td>
    </tr>
  </q-table>
</div>
