<h3>List of Restaurants with QR Dine-In</h3>
<div class="pb-2 text-right">
  <div class="float-right form-inline mt-2 ml-2">
    <input class="form-check-input" type="checkbox" [(ngModel)]="pagination" id="paginationCheck">
    <label class="form-check-label mr-5" for="paginationCheck">
      Pagination
    </label>
  </div>
  <button class="btn btn-primary" (click)="populateQrRestaurant()"><i class="fas fa-sync"></i> Rescan</button>
</div>

<div class="card-body text-left">
  <div *ngIf="!qrRestaurantListRows || qrRestaurantListRows.length === 0">
    Qr Restaurant list is empty.
  </div>
  <q-table [rows]="qrRestaurantListRows" [tableColumnDescriptors]="restaurantsColumnDescriptors" [compact]="true"
    [pageSize]="pagination ? 100 : 100000">
    <tr *tableRowTemplate="let restaurant;">
      <td>{{qrRestaurantListRows.indexOf(restaurant) + 1}}</td>
      <td>
        <a href="#/restaurants/{{restaurant.restaurantId}}" target="_blank">{{restaurant.name}}</a>
        <br>
        {{restaurant.googleAddress?.formatted_address}}
      </td>
      <td>
        <div *ngIf="restaurant.feeSchedules">
          <app-restaurant-fee-schedules [restaurant]="restaurant" [users]="knownUsers"></app-restaurant-fee-schedules>
        </div>
      </td>
    </tr>
  </q-table>
</div>
