<h1 class="text-center">Transactions</h1>
<div class="text-center">Total: {{getTotal() | currency : 'USD' : 'symbol'}}</div>
<div class="clearfix">
  <div class="float-left form-inline" *ngIf="!editing">
    Payer:
    <select class="form-control mx-2" [(ngModel)]="selectedPayer" (change)="changeFilter()">
      <option></option>
      <option *ngFor="let payer of payers" value="{{payer}}">{{payer}}</option>
    </select> &nbsp;
    Payee:
    <select class="form-control mx-2" [(ngModel)]="selectedPayee" (change)="changeFilter()">
      <option></option>
      <option *ngFor="let payee of payees" value="{{payee}}">{{payee}}</option>
    </select> &nbsp;
  </div>
  <div class="float-right">
    <div class="pb-2">
      <button class="btn btn-primary" (click)="toggleEditing()">
        <i class="fas fa-plus"></i> Add New Transaction</button>
    </div>
  </div>
</div>

<div class="clearfix" *qIf="editing">
  <div class="card text-left bg-light mb-4 float-right w-40-rem">
    <div class="card-body">
      <h5 class="card-title">Add New Transaction</h5>

      <q-form-builder [object]="transactionInEditing" [showDelete]="false" [fieldDescriptors]="fieldDescriptors"
        (submit)="formSubmit($event)" (cancel)="toggleEditing()">
      </q-form-builder>

    </div>
  </div>
</div>

<q-table [rows]="getFilteredTransactions()" [tableColumnDescriptors]="myColumnDescriptors" [compact]="true">
  <tr *tableRowTemplate="let transaction;">
    <th>{{transactions.indexOf(transaction) + 1}}</th>
    <td>{{transaction.time | date : 'shortDate'}}</td>
    <td>{{transaction.payer}}</td>
    <td>{{transaction.payee}}</td>
    <th>{{(transaction.amount / transaction.exchangeRate) | currency: 'USD' :'symbol'}}</th>
    <td>{{transaction.amount | currency: transaction.currency :'symbol-narrow'}}</td>
    <td>{{transaction.currency}}</td>
    <td>{{transaction.exchangeRate}}</td>
    <td>{{transaction.means}}</td>
    <td class="text-truncate">
      <pre>{{transaction.description}}</pre>
    </td>
    <td>{{transaction.inputUsername}}</td>
    <td>{{transaction.inputTime | date : 'shortDate'}}</td>
  </tr>
</q-table>