/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

/* INSERT bootstrap variable override here, eg.
$primary: red;
*/

$primary: #CC0000;
$secondary: darkgray;
$success: #349A04;
$info: #349A9C;
$warning: darken(#FCCE34, 20%);
$danger: #FC3204;
// $primary : 	#FC9A04;
// $secondary : darkgray;
// $success : #049A64;
// $info : #5bc0de;
// $warning : #f0ad4e;
// $danger : #d9534f;
// $gray-100: #f8f9fa !default;
// $gray-200: #e9ecef !default;
// $gray-300: #dee2e6 !default;
// $gray-400: #ced4da !default;
// $gray-500: #adb5bd !default;
// $gray-600: #868e96 !default;
// $gray-700: #495057 !default;
// $gray-800: #343a40 !default;
// $gray-900: #212529 !default;
// $light : $gray-100 !default;
// $dark : $gray-800 !default;
$border-width: 1px;
// $border-color:                $gray-300;
$border-radius: 1px;
$border-radius-lg: 2px;
$border-radius-sm: 0px;
$font-size-base: 0.9375rem;
// $grid-gutter-width:           20px;
// $input-btn-padding-y:         .25rem;
// $input-btn-padding-x:         .5rem;
// $input-btn-focus-width:       .2rem ;
// $input-btn-padding-y-sm:      .2rem ;
// $input-btn-padding-x-sm:      .4rem ;
// $input-btn-padding-y-lg:      .375rem ;
// $input-btn-padding-x-lg:      0.75rem ;
@import '~bootstrap/scss/bootstrap';
a {
  color: $info;
}

a:hover {
  color: darken($info, 10%);
}

@import "~ng-pick-datetime/assets/style/picker.min.css";