<!-- class="col-sm-12 col-md-6 col-lg-4 mb-2" -->

<div class="card" style="height:100%;" *ngIf="gmbAccount">

  <div class="card-body">
    <div class="clearfix">
      <div class="float-left">
        <h2>{{gmbAccount.email | emailName}}</h2>
        <div *ngIf="gmbAccount.pagerSize !== 100" class="alert alert-danger">Bad Pager Size: {{gmbAccount.pagerSize}}. Please login the account and change the pager size to 100!</div>
        <div *ngIf="gmbAccount.comments">
          <small>{{gmbAccount.comments}}</small>
        </div>
        <span class="{{gmbAccount.allLocations > 95 ? 'bg-danger text-light' : ''}}" *ngIf="gmbAccount.allLocations">Total {{gmbAccount.allLocations}}, </span>
        <span>Published: {{gmbAccount.published}}, Suspended: {{gmbAccount.suspended}} <span *ngIf="gmbAccount.suspendedInPastDay" class="text-danger">({{gmbAccount.suspendedInPastDay}} recently)</span></span>
        <button class="btn btn-link fix-v-align" (click)="expandBizLis = !expandBizLis">Details...
          <i class="fas {{expandBizLis ? 'fa-caret-up' : 'fa-caret-down'}} "></i>
        </button>

        <div *ngIf="expandBizLis">
          <table class="table table-sm">
            <tr *ngFor="let loc of gmbAccount.locations">
              <td>{{loc.status}}</td>
              <td [ngClass]="{'app-strike': loc.status ==='Removed', 'text-success' : loc.status === 'Published', 'text-warning' : loc.status === 'Suspended'}">
                <b>{{loc.name}}</b>
              </td>
              <td>
                <small class="text-muted">{{loc.address}}</small>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="float-right">

        <button *ngIf="isAdmin()"class="btn btn-link" [disabled]="scanningBizList || disabled" (click)="clickScanBizList()">
          <i class="fas fa-lock"></i> Scan Published Locations
          <div *ngIf="gmbAccount.gmbScannedAt" class="text-muted">
            <small>{{gmbAccount.gmbScannedAt | ago: now}}</small>
          </div>
        </button>
        <button *ngIf="isAdmin()" class="btn btn-link" [disabled]="scanningRequests || disabled" (click)="clickScanRequests()">
          <i class="far fa-envelope "></i> Scan Email
          <div *ngIf="gmbAccount.emailScannedAt" class="text-muted">
            <small>{{gmbAccount.emailScannedAt | ago: now}}</small>
          </div>
        </button>

        <button class="btn btn-link align-top" (click)="clickLogin()">
          <i class="fas fa-key"></i> Open
        </button>
        <button class="btn btn-link align-top" [disabled]="disabled" (click)="clickEdit()">
          <i class="far fa-edit"></i> Edit</button>
      </div>
    </div>

  </div>
</div>