<!-- class="col-sm-12 col-md-6 col-lg-4 mb-2" -->

<div class="card" style="height:100%;" *ngIf="gmbAccount">

  <div class="card-body">
    <div class="clearfix">
      <div class="float-left">
        <h2>{{gmbAccount.email | emailName}}</h2>
        <div *ngIf="gmbAccount.pagerSize !== 100" class="alert alert-danger">Bad Pager Size: {{gmbAccount.pagerSize}}. Please login the account and change the pager size to 100!</div>
        <div *ngIf="gmbAccount.comments"><small>{{gmbAccount.comments}}</small></div>
        <span class="{{gmbAccount.allLocations > 95 ? 'bg-danger text-light' : ''}}" *ngIf="gmbAccount.allLocations">Total
          {{gmbAccount.allLocations}}, </span>
        <span *ngIf="gmbAccount.suspended >= 0">Suspended: {{gmbAccount.suspended}}, </span>
        <button class="btn btn-link fix-v-align">Published: {{gmbAccount.bizList.length}} <i class="fas {{expandBizLis ? 'fa-caret-up' : 'fa-caret-down'}} "
            (click)="expandBizLis = !expandBizLis"></i></button>

        <div *ngIf="expandBizLis">
          <div *ngFor="let biz of gmbAccount.bizList" class="mt-1">{{biz.name}} <small class="text-muted">{{biz.address}}</small></div>
        </div>
      </div>
      <div class="float-right">

        <button class="btn btn-link" [disabled]="scanningBizList || disabled" (click)="clickScanBizList()">
          <i class="fas fa-lock"></i> Scan Published Locations
          <div *ngIf="gmbAccount.gmbScannedAt" class="text-muted">
            <small>{{gmbAccount.gmbScannedAt | ago: now}}</small>
          </div>
        </button>
        <button class="btn btn-link" [disabled]="scanningRequests || disabled" (click)="clickScanRequests()">
          <i class="far fa-envelope "></i> Scan Email
          <div *ngIf="gmbAccount.emailScannedAt" class="text-muted">
            <small>{{gmbAccount.emailScannedAt | ago: now}}</small>
          </div>
        </button>
        <button class="btn btn-link" [disabled]="disabled" (click)="clickEdit()">
          <i class="far fa-edit"></i> Edit</button>
      </div>
    </div>

  </div>
</div>