<div *ngIf="menu && editingMis < 0" class="{{menu.disabled ? 'app-muted' : ''}}">
  <!--header of menu-->
  <div (click)="edit()" class="app-category-header-container app-jumbo"
    [ngStyle]="{ 'background-image': 'url(' + getMenuImageUrl() + ')'}" role="button">
    <div class="app-category-masking-layer"></div>
    <div class="app-category-text-layer">

      <h2 class="text-center">{{menu.name}}</h2>
      <h4 *ngIf="menu.nontaxable" class="text-center  text-danger">NO TAX</h4>

      <!-- only when we have qr dine-in settings, the following makes sense to show -->
      <div *ngIf="restaurant.qrSettings" class="text-center">
        <span class="badge badge-danger text-uppercase">{{targetWording[menu.targetCustomer || 'ONLINE_ONLY']}}</span>
      </div>

      <small>
        <div *ngIf="menu.description" class="card-subtitle">{{menu.description}}</div>
        <div class="text-center">
          <lib-hours-viewer [timezone]="restaurant?.googleAddress.timezone" [hours]="menu.hours || []">
          </lib-hours-viewer>
        </div>
      </small>
    </div>
  </div>
  <div *ngIf="menu.mcs && menu.mcs.length > 1" class="text-center">
    <button class="btn btn-link" (click)="showMcSortingModal(menu.mcs)">Adjust Category Orders
      (调整分类次序)</button>
  </div>
  <div *ngIf="isShowBeverageButton(menu)" class="text-center">
    <button class="btn btn-link" (click)="addBeverageCategory(menu)">Add Standard Beverage Section
      (添加标准饮料区)</button>
  </div>

  <q-modal #beverageSectionModal>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
    <h4 class="text-center">Beverages section exists</h4>
    <hr>
    <p class="text-left">
      There is already one or more menu categories in this menu called "Beverages",
      so a new "Beverages" won’t be added.Would you like to move the existing "Beverages"
      section to the top if it’s not at the top already?
    </p>
    <div class="d-flex justify-content-end p-4">
      <button class="btn btn-secondary mr-2" (click)="beverageSectionModal.hide()">Leave in place</button>
      <button class="btn btn-primary" (click)="doBeverageSectionReorder(menu)">Yes, move up</button>
    </div>
  </q-modal>

  <!--category cards-->
  <app-menu-category *ngFor="let cat of menu.mcs" [mc]="cat" (onEditAllMenuItems)="editAllItems($event)"
    (onSortMis)="showMiSortingModal($event)" [menuOptions]="restaurant.menuOptions" (onMcClicked)="editMc($event)"
    (onMiClicked)="editMi($event)" [menu]="menu" [restaurant]="restaurant" [isShowMenuItemStats]="isShowMenuItemStats">
  </app-menu-category>

  <!--add category section-->
  <div class="row mt-1 ml-0 mr-0">
    <button (click)="editMc(null)" class="btn btn-primary btn-block">Add Category</button>
  </div>
  <div class="row mt-1 ml-0 mr-0">
    <small class="text-muted">* click item to edit</small>
  </div>
</div>

<div [hidden]="editingMis < 0">
  <app-menu-items-editor #misEditor [translations]="restaurant.translations" (onDone)="misDone($event)" (onCancel)="misCancel($event)"></app-menu-items-editor>
</div>

<q-modal #mcModal>
  <app-menu-category-editor #mcEditor [restaurantId]="restaurant['_id']" (onDone)="mcDone($event)"
    (onCancel)="mcCancel($event)" (onDelete)="mcDelete($event)" (onVisitMenuOptions)="visitMenuOptions()">
  </app-menu-category-editor>
</q-modal>
<q-modal #miModal>
  <!--size names: if use get method, it keeps changing detection-->
  <app-menu-item-editor #miEditor [translations]="restaurant.translations" (onDone)="miDone($event)" (onCancel)="miCancel($event)" (onDelete)="miDelete($event)"
    (onVisitMenuOptions)="visitMenuOptions()"></app-menu-item-editor>
</q-modal>

<q-modal #miSortingModal>
  <app-item-sorter *ngIf="mcOfSortingMis" [items]="mcOfSortingMis.mis" [labelField]="'name'" (sort)="sortMis($event)"
    (cancel)="hideMiSortingModal()"></app-item-sorter>
</q-modal>

<q-modal #mcSortingModal>
  <app-item-sorter *ngIf="menu && menu.mcs" [items]="sortMcItems" [labelField]="'name'" (sort)="sortMcs($event)"
    (cancel)="hideMcSortingModal()"></app-item-sorter>
</q-modal>

