<div *ngIf="menu && !editingMis" class="{{menu.disabled ? 'app-muted' : ''}}">
  <!--header of menu-->
  <div (click)="edit()" class="app-category-header-container app-jumbo"
    [ngStyle]="{ 'background-image': 'url(' + getMenuImageUrl() + ')'}" role="button">
    <div class="app-category-masking-layer"></div>
    <div class="app-category-text-layer">

      <h2 class="text-center">{{menu.name}}</h2>
      <h4 *ngIf="menu.nontaxable" class="text-center  text-danger">NO TAX</h4>

      <!-- only when we have qr dine-in settings, the following makes sense to show -->
      <div *ngIf="restaurant.qrSettings" class="text-center">
        <span class="badge badge-danger text-uppercase">{{targetWording[menu.targetCustomer || 'ONLINE_ONLY']}}</span>
      </div>

      <small>
        <div *ngIf="menu.description" class="card-subtitle">{{menu.description}}</div>
        <div class="text-center">
          <q-hours-viewer [offsetToEST]="offsetToEST" [hours]="menu.hours ? menu.hours : []"></q-hours-viewer>
        </div>
      </small>
    </div>
  </div>
  <div *ngIf="menu.mcs && menu.mcs.length > 1" class="text-center">
    <button class="btn btn-link" (click)="showMcSortingModal()">Adjust Category Orders
      (调整分类次序)</button>
  </div>

  <!--category cards-->
  <app-menu-category *ngFor="let cat of menu.mcs" [mc]="cat" (onEditAllMenuItems)="editAllItems($event)"
    (onSortMis)="showMiSortingModal($event)" [menuOptions]="restaurant.menuOptions" (onMcClicked)="editMc($event)"
    (onMiClicked)="editMi($event)" [menu]="menu" [restaurant]="restaurant">
  </app-menu-category>

  <!--add category section-->
  <div class="row mt-1 ml-0 mr-0">
    <button (click)="editMc(null)" class="btn btn-primary btn-block">Add Category</button>
  </div>
  <div class="row mt-1 ml-0 mr-0">
    <small class="text-muted">* click item to edit</small>
  </div>
</div>

<div [hidden]="!editingMis">
  <app-menu-items-editor #misEditor (onDone)="misDone($event)" (onCancel)="misCancel($event)"></app-menu-items-editor>
</div>

<q-modal #mcModal>
  <app-menu-category-editor #mcEditor [restaurantId]="restaurant['_id']" (onDone)="mcDone($event)"
    (onCancel)="mcCancel($event)" (onDelete)="mcDelete($event)" (onVisitMenuOptions)="visitMenuOptions()">
  </app-menu-category-editor>
</q-modal>
<q-modal #miModal>
  <!--size names: if use get method, it keeps changing detection-->
  <app-menu-item-editor #miEditor (onDone)="miDone($event)" (onCancel)="miCancel($event)" (onDelete)="miDelete($event)"
    (onVisitMenuOptions)="visitMenuOptions()"></app-menu-item-editor>
</q-modal>

<q-modal #miSortingModal>
  <app-item-sorter *ngIf="mcOfSortingMis" [items]="mcOfSortingMis.mis" [labelField]="'name'" (sort)="sortMis($event)"
    (cancel)="hideMiSortingModal()"></app-item-sorter>
</q-modal>

<q-modal #mcSortingModal>
  <app-item-sorter *ngIf="menu && menu.mcs" [items]="menu.mcs" [labelField]="'name'" (sort)="sortMcs($event)"
    (cancel)="hideMcSortingModal()"></app-item-sorter>
</q-modal>