<h1 class="text-center">Customer Service Portal</h1>
<div class="text-right mb-2">
  <div class="pb-2">
    <button class="btn btn-primary" (click)="setAction('NEW')">
      <i class="fas fa-plus"></i> Add New Log</button>
  </div>

  <div class="card text-left bg-light" *qIf="currentAction === 'NEW'">
    <div class="card-body">
      <h5 class="card-title">Add New Log</h5>
      <!-- <app-new-log (success)="onSuccessCreation($event)" (cancel)="onCancelCreation()"></app-new-restaurant> -->
    </div>
  </div>

</div>

<div class="row my-2">
  <div class="col form-inline">
    Search Filter:
    <input type="text" class="form-control ml-2" placeholder="Restauran Name" [(ngModel)]="nameFilter">
    <input type="tel" class="form-control ml-2" placeholder="Restauran Phone" [(ngModel)]="phoneFilter">

  </div>
  <div class="col-auto form-inline text-right"><div style="width: 100%">Total: {{getEnabledCount()}} / {{restaurantList.length}}</div></div>
</div>



<ul class="list-group">
  <ng-container *ngFor="let r of restaurantList">
    <li *ngIf="isVisible(r)" class="list-group-item d-flex justify-content-between align-items-center {{r.disabled ? 'line-through' : ''}}">
      <span>
        <span class="thumb-container">
          <img src="{{r.logo}}" alt="{{r.name}}" class="thumb-img" *ngIf="r.logo">
          <i class="fas fa-coffee" *ngIf="!r.logo"></i>
        </span>
        <a routerLink="/restaurants/{{r._id }}">{{r.name}}</a>
      </span>
      <span class="text-muted">{{r.alias}}</span>
    </li>
  </ng-container>
</ul>