<div>
  Keys: &#9632;<span class="text-white bg-dark"> Invoice Sent</span> | <span class="text-info">&#9632; Payment Sent</span>
  | <span class="text-success">&#9632; Payment Completed</span>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Date Range</th>
      <th>Rolled From</th>
      <!-- <th class="text-right">Subtotal</th> -->
      <!--<th>Tax</th>
      <th>Delivery</th>
      <th>Tip</th>-->
      <th class="text-right">Total</th>
      <th class="text-right">Collected By Restaurant</th>
      <th class="text-right">Collected By qMenu</th>
      <th class="text-right">Commission</th>
      <th>Balance</th>
      <!--<th>Agent</th>-->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let invoice of invoices" routerLink="/invoices/{{invoice._id}}" class="{{getCssClass(invoice)}}" role="button">
      <td>{{invoice.fromDate | date: 'MMM dd'}} - {{invoice.toDate | date: 'MMM dd'}}</td>
      <td><small *ngIf="getPreviousInvoice(invoice)">{{getPreviousInvoice(invoice).fromDate | date: 'MMM dd'}} - {{getPreviousInvoice(invoice).toDate | date: 'MMM dd'}}</small></td>
      <!-- <td class="text-right">{{invoice.subtotal | currency:'USD':'symbol'}}</td> -->
      <!--<td class="text-right">{{invoice.getTax() | currency:'USD':'symbol'}}</td>
      <td class="text-right">{{invoice.getDeliveryCharge() | currency:'USD':'symbol'}}</td>
      <td class="text-right">{{invoice.getTip() | currency:'USD':'symbol'}}</td>-->
      <td class="text-right">{{invoice.total | currency:'USD':'symbol'}}</td>
      <td class="text-right">{{invoice.restaurantCcCollected + invoice.cashCollected | currency:'USD':'symbol'}}</td>
      <td class="text-right">{{invoice.qMenuCcCollected | currency:'USD':'symbol'}}</td>
      <td class="text-right">{{invoice.commission | currency:'USD':'symbol'}}</td>
      <td class="text-right">{{invoice.balance | currency:'USD':'symbol'}}</td>
      <!--<td class="text-right">{{order.total | currency:'USD':'symbol':'1.2-2'}}</td>-->
    </tr>
  </tbody>
</table>