<div class="card mb-2" *ngIf="restaurant">
  <h3 class="card-title text-center pt-4 pb-2">
    <i class="fas fa-bell"></i>&nbsp;Order Notifications
  </h3>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <table class="table table-borderless table-sm">
        <thead>
          <!-- we have so many columns, so let's just selectively show columns to reduce clutter -->
          <tr *ngIf="orderNotifications.length > 0">
            <th scope="col">Target Channel</th>
            <th scope="col" class="text-nowrap" *ngIf="havingOrderTypes()">Order Types</th>
            <th scope="col" *ngIf="havingTemplateName()">Template</th>
            <th scope="col" *ngIf="havingMenuFilters()">Menu Filters</th>
            <th scope="col" *ngIf="havingNonEnglishLanguages()">Languages</th>
            <th scope="col" *ngIf="havingCopies()">Copies</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody class="my-text-small">
          <tr *ngFor="let n of orderNotifications || []">
            <td class="text-nowrap">
              <i class="fas {{faClassMap[n.channel.type]}}"></i>
              <span *ngIf="['SMS', 'Phone', 'Fax'].indexOf(n.channel.type) >= 0">
                {{n.channel.value | tel}}
              </span>
              <span *ngIf="n.channel.type === 'Email'">
                {{n.channel.value}}
              </span>
              <span *ngIf="['phoenix', 'longhorn', 'fei-e'].indexOf(n.channel.type) >= 0">
                {{n.channel.type}}: {{n.channel.value}}
                <div>
                  {{n.channel.guid}}
                </div>
              </span>
            </td>
            <td *ngIf="havingOrderTypes()">
              {{n.orderTypes.join(', ')}}
            </td>
            <td *ngIf="havingTemplateName()">
              {{n.templateName}}
            </td>
            <td *ngIf="havingMenuFilters()">
              <app-menu-filters-editor [viewOnly]="true" [menuFilters]="n.menuFilters"></app-menu-filters-editor>
            </td>
            <td *ngIf="havingNonEnglishLanguages()">
              {{n.languages.join(', ')}}
            </td>
            <td *ngIf="havingCopies()">
              {{n.copies ? n.copies + 'X' : ''}}
            </td>
            <td>
              <button class="btn btn-link p-0" (click)="editNotification(n)">Edit</button>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <button class="btn btn-link px-0" (click)="editNotification()">+ Add Notification</button>
            </td>
          </tr>
        </tbody>
      </table>
    </li>
  </ul>
</div>
DEBUG: current notifications:
{{orderNotifications | json}}

<q-modal #modalNotification>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>
  <h4 class="text-center">{{removable ? 'Edit Notification' : 'Define New Notification'}}</h4>
  <q-form-builder [object]="notificationInEditing" [showDelete]="removable" (change)="updateFormEditor()"
    [fieldDescriptors]="notificationFieldDescriptors" (submit)="submit($event)" (cancel)="cancel($event)"
    (remove)="remove($event)">

    <div class="form-group pb-3" *ngIf="notificationInEditing.channel?.type === 'phoenix'">
      <label>(optional) Add Applicable Menus</label>
      <app-menu-filters-editor [menus]="restaurant.menus" [menuFilters]="menuFilters"></app-menu-filters-editor>
    </div>
  </q-form-builder>
</q-modal>