<app-ivr-widget *ngIf="ivrEnabled"></app-ivr-widget>
<app-header [menuItems]="getMenus()" [user]="getUser()" (logout)="logout()"></app-header>
<div class="container-fluid" style="position:relative; min-height: 600px">
  <div class="toast-wrapper" *ngIf="fraudOrderIds.size > 0">
    <div class="toast show bg-danger text-white" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body text-nowrap">
          <strong>{{fraudOrderIds.size}}</strong> fraud orders find.<a class="text-warning ml-2" routerLink="/fraud-detection" target="_blank">Check now!</a>
        </div>
        <button type="button" class="btn text-light m-auto" (click)="fraudOrderIds.clear()">
          <i class="fa fa-times"></i>
        </button>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>

<footer class="container-fluid text-muted text-center pt-2 pb-2 bg-dark" id="footer">
  <small>
    <p>&copy; 2016-{{getFullYear()}}
      <a href="http://qmenu360.com" class="text-light">qMenu Inc.</a> |
      <a href="http://qmenu360.com/privacy.html" class="text-light">Privacy Policy</a> |
      <a href="http://qmenu360.com/term.html" class="text-light">Terms of Use</a>
    </p>
    <p>
      version: {{appVersion}}
    </p>
  </small>
</footer>

<!--display a spinning image if in requesting something-->
<div *ngIf="apiRequesting" class="app-loading text-muted">
  <i class="fas fa-4x fa-spinner fa-spin fa-fw"></i>
</div>

<!-- notifications -->
<div class="fixed-bottom container-fluid" *ngIf="getAlerts().length > 0" style="opacity: 0.9; z-index: 9999">
  <div *ngFor="let alert of getAlerts()" class="alert alert-dismissible {{'alert-' + alert.type}}" (click)="dismissAlert(alert)">
    <i class="fas {{alert.type === 'danger' || alert.type === 'warning' ? 'fa-exclamation-triangle' : 'fa-info-circle'}}"></i>
    {{alert.message}}
    <button type="button" class="close">&times;</button>
  </div>
</div>

<!-- a quick (ugly) implementation of global hot items. should be replaced by dynamic component later -->
<q-modal #hotItemModal>
  Hot item
</q-modal>
