@import '../../../styles';

$animationTime: 0.2s;

.mobile-menu {
    background-color: darken($primary, 10%);
    transition: transform $animationTime ease-in-out;
    transform-origin: 0 0;
    position: absolute;
    top: 100%;
    left: 0px;
    right: 0px;
}

.mobile-menu a {
    cursor: pointer;
}

.menu-closed {
    transform: scaleY(0);
}

.menu-open {
    transform: scaleY(1);
}


.q-menu {
    position: relative;
    font-size: 1.2rem;
    cursor: pointer;
}

.q-menu * {
    transition: all $animationTime ease-in-out;
}

.q-menu #bar1,#bar3,#cross {
    position: absolute;
}

.q-menu #bar1,#bar2,#bar3 {
    transform: rotate(-45deg);
}

.q-menu-closed #bar1 {
    top: -25%;
}

.q-menu-closed #bar3 {
    top: 25%;
}

.q-menu-closed #bar2 {
    top: 0;
}

.q-menu-closed #bars {
    opacity: 1;
}

.q-menu-open #bar1 {
    transform: rotate(-45deg);
    // top: -25%;
    top: 0;
}

.q-menu-open #bar2 {
    transform: rotate(-45deg);
    top: 0;
}

.q-menu-open #bar3 {
    transform: rotate(-45deg);
    // top: 25%;
    top: 0;
}

.q-menu-open #bars {
    // opacity: 0;
    // transform: scale(0, 0);
    // top: 25%;
}
