
@import '../../../styles';

$animationTime: 0.2s;


.menu-closed {
    background-color: darken($primary, 10%);
    transition: transform $animationTime ease-in-out;
    transform-origin: 0 0;
    transform: scaleY(0);
    position: absolute;
    top: 100%;
    left: 0px;
    right: 0px;
}

.menu-open {
    background-color: darken($primary, 10%);
    transition: transform $animationTime ease-in-out;
    transform-origin: 0 0;
    transform: scaleY(1);
    position: absolute;
    top: 100%;
    left: 0px;
    right: 0px;
}

.q-menu {
  position: relative;
  cursor: pointer;
}

.q-menu * {
  transition: opacity $animationTime;
  transition: transform $animationTime ease-in-out;
}

.q-menu-closed #bar1 {
  transform: rotate(-45deg);
  position: absolute;
  top: -25%;
}

.q-menu-closed #bar2 {
  transform: rotate(-45deg);
}

.q-menu-closed #bar3 {
  transform: rotate(-45deg);
  position: absolute;
  top: 25%;
}

.q-menu-closed #cross {
  transform: scale(0, 0);
  bottom: 0px;
  position: absolute;
}

.q-menu-open #bar1 {
  transform: rotate(-45deg);
  position: absolute;
  top: -25%;
}

.q-menu-open #bar2 {
  transform: rotate(-45deg);
}

.q-menu-open #bar3 {
  transform: rotate(-45deg);
  position: absolute;
  top: 25%;
}

.q-menu-open #bars {
  transform: scale(0, 0);
  top: 25%;
}

.q-menu-open #cross {
  transform: scale(1, 1);
  bottom: 0px;
  position: absolute;
}

