<div *ngIf="!restaurant">
  No restaurant data.
</div>

<div *ngIf="restaurant">
  <h1 class="text-center">Invoices for {{restaurant.name}}</h1>

  <div *ngIf="isAccountant()" class="text-right mb-2">
    <div class="pb-2">
      <button class="btn btn-primary printPageButton" (click)="showInvoiceAnual = !showInvoiceAnual;" ><i class="fas fa-eye"></i> {{!showInvoiceAnual ? 'Show Anual Invoices': 'Show Invoices per Month'}}</button>
      <button class="btn btn-primary printPageButton" (click)="showInvoiceCreation = !showInvoiceCreation"><i class="fas fa-plus"></i> Create New Invoice</button>
    </div>
  </div>

  <div *qIf="showInvoiceCreation">
    <div class="card card-body bg-light mb-4">
      <app-invoice-editor [restaurantId]="restaurant._id" (create)="createNewInvoice($event)" (cancel)="showInvoiceCreation = false"></app-invoice-editor>
    </div>
  </div>

  <div *ngIf="!showInvoiceAnual">
    <app-invoices-table [invoices]="invoices"></app-invoices-table>
  </div>

  <div *ngIf="showInvoiceAnual">
    <app-invoices-anual [invoices]="invoices"></app-invoices-anual>
  </div>

</div>