<!-- <pre>
    Service Status: 
        API/DB (hourly)
        Email (hourly)
        SMS (hourly)
        Voice (hourly)
        Fax (hourly)
    Customer Portal Ordering Status (hourly)
    Restaurant Portal Status (hourly)
    Company Websites (daily)
    Restaurant Orders (daily)
        Orders are abnormally low
    Data Health
        Restaurant data checking (daily)

</pre> -->
<p>Select item:</p>
<q-simple-radio [(ngModel)]="monitoredItem" [equalWidth]="true" [values]="items">
</q-simple-radio>
<ng-container *ngIf="monitoredItem === 'Dashboard Items'">

    <!-- row has negative margins and we need to remove them! -->
    <div class="row ml-0 mr-0">
        <div *ngFor="let item of dashboardItems" class="col-sm-12 col-md-6 col-lg-4 app-pl-025 app-pr-025 mb-1">
            <div class="card alert-{{item.status}} p-2">
                <ng-container>
                    <app-dashboard-item [item]="item"></app-dashboard-item>
                </ng-container>
            </div>
        </div>
    </div>

</ng-container>
<app-monitoring-restaurants *ngIf="monitoredItem === 'Diagnostics'"></app-monitoring-restaurants>
<app-monitoring-printers *ngIf="monitoredItem === 'Cloud Printers'"></app-monitoring-printers>
<app-monitoring-gmb-tasks *ngIf="monitoredItem === 'GMB Tasks'"></app-monitoring-gmb-tasks>
<app-monitoring-db *ngIf="monitoredItem === 'DB'"></app-monitoring-db>
<app-event-dashboard *ngIf="monitoredItem === 'Events'"></app-event-dashboard>
<app-monitoring-script *ngIf="monitoredItem === 'Scripts'"></app-monitoring-script>
<app-monitoring-gmb *ngIf="monitoredItem === 'Restaurant GMBs'"></app-monitoring-gmb>
<app-monitoring-domain *ngIf="monitoredItem === 'Restaurant Domains'"></app-monitoring-domain>