<!-- <pre>
    Service Status: 
        API/DB (hourly)
        Email (hourly)
        SMS (hourly)
        Voice (hourly)
        Fax (hourly)
    Customer Portal Ordering Status (hourly)
    Restaurant Portal Status (hourly)
    Company Websites (daily)
    Restaurant Orders (daily)
        Orders are abnormally low
    Data Health
        Restaurant data checking (daily)

</pre> -->
<p>Select item:</p>
<!-- <q-simple-radio [(ngModel)]="monitoredItem" [equalWidth]="true" [values]="['Cloud Printers', 'Restaurant GMBs']"> -->
<q-simple-radio [(ngModel)]="monitoredItem" [equalWidth]="true" [values]="['Cloud Printers','Restaurant Domains', 'Restaurant GMBs']"></q-simple-radio>
<app-monitoring-printers *ngIf="monitoredItem === 'Cloud Printers'"></app-monitoring-printers>
<app-monitoring-gmb *ngIf="monitoredItem === 'Restaurant GMBs'"></app-monitoring-gmb>
<app-monitoring-domain *ngIf="monitoredItem === 'Restaurant Domains'"></app-monitoring-domain>